[2020-09-02 21:39] terracoda commented on #219
@jessegreenberg, are the pictures above clear enough to move the menu over to the left "bounds"?

[2020-09-02 22:13] terracoda commented on #219
![Screen Shot 2020-09-02 at 7 12 03 PM](https://user-images.githubusercontent.com/1902116/92042264-696cdf80-ed54-11ea-8b8e-f331e2e0aaac.png)
<img width="333" alt="Screen Shot 2020-09-02 at 7 39 44 PM" src="https://user-images.githubusercontent.com/1902116/92042272-6d98fd00-ed54-11ea-8c2d-c52ec843f1ee.png">

Maybe put the green plus in lower right corner.

[2020-09-02 22:15] terracoda commented on #219
Very rough sketch in the previous comment.
Maybe the pop-out can be the same height as the icon. Not sure if that will be tall enough to accommodate the buttons.

But don't worry too much about it as this is just a prototype.

[2020-09-03 19:00] terracoda commented on #206
@zepumph, I am going to assign @jessegreenberg, too, since he is working on this sim now for self-voicing. Perhaps, @jessegreenberg can address this issue?

[2020-09-03 19:03] terracoda commented on #196
@jessegreenberg, can you save me a version and post the link in this issue.
I'll copy the link to the Design Benchmarks document.

[2020-09-04 00:44] zepumph commented on #206
Noting here that this is an issue in the published version, and it needs to be MR'd because the fix in https://github.com/phetsims/gravity-force-lab/issues/265 broken the description. Sorry I haven't gotten to this yet.

[2020-09-04 13:22] terracoda commented on #206
No apologies necessary :-)

[2020-09-04 15:46] terracoda commented on #219
Self-Voicing Content for this menu, assuming this is the pattern of an Accordion Box, we could try:

Self-Voicing Quick Menu (collapsed)
Self-Voicing Quick Menu (expanded)
Hint Please!
Sim Overview
Current Details
Stop Speech
Mute Speech

Use aria-expanded attribute to communicate the state. Ratio and  Proportion should have an implemented example.

[2020-09-04 15:48] terracoda commented on #219
Over to you @jessegreenberg.
If these additional changes can't be done for Monday's interview, not to worry. Just get to it when you can.

[2020-09-05 01:45] terracoda commented on #219
No aria in self-voicing...so let me re-think previous comment

Show Self-Voicing Quick Menu (when collapsed)
Hide Self-Voicing Quick Menu (when expanded)
Hint Please!
Sim Overview
Current Details
Stop Speech
Mute Speech

[2020-09-06 22:08] jessegreenberg commented on #219
It seems like that would work pretty well for focus (read before interaction) but may not work for mouse.  For instance, user would click the button to open the panel and it would say "Hide Self-Voicing Quick Menu". Is that intended?

[2020-09-06 22:11] jessegreenberg commented on #219
Ah, maybe it was assumed that all of those would only be read on focus. Because the behavior of the button would be to speak its hint/details/overview content, not its name.

[2020-09-06 23:47] jessegreenberg commented on #219
OK, the above commits adds this. The button names are spoken. The behavior for the expand/collapse button is

- On Focus:
  - "Show Self-Voicing Quick Menu" (when closed)
  - "Hide Self-Voicing Quick Menu" (when open)

- On Button Press:
  - "Self Voicing Quick Menu hidden" (when closed)
  - "Self Voicing Quick Menu shown" (when open)

Layout and focus order was changed so that the ExpandCollapseB

[2020-09-16 18:17] terracoda commented on #220
@jessegreenberg, any update on this?

[2020-09-16 18:21] terracoda commented on #219
@jessegreenberg, could you swap the order of the buttons so Current Details comes after Sim Overview?

[2020-09-16 18:25] terracoda commented on #212
Decided in Sept 2 meeting that this approach could be confusing for some interactions where a learner needs to press and hold to operate the object- like draggable objects and some buttons (e.g. eye droppers).

[2020-09-16 18:25] #212 closed

[2020-09-16 18:47] terracoda opened #228 "(Self-Voicing) Add size of arrow descriptin to force reading blocks"
As discussed in Sept 16 meeting
- Force .... ,  force arrow tiny.

[2020-09-16 18:57] jessegreenberg commented on #211
Discussed today, with mouse and touch input we should hear 'closer'/'farther' on end of drag after changing position of mass, just like form keyboard input.

[2020-09-16 19:08] jessegreenberg opened #229 "The self-voicing quick control should be available even when all options dialog checkboxes are unchecked"
INstead, there shuld be a checkbox that controls its visibility directly. The checkbox label is
"Show Self Voicing Quick Menu"

[2020-09-16 19:23] jessegreenberg opened #230 "(Self-Voicing) Investigate differences in language"
A few users have reported that the default language for self-voicing has not been english, and this has caused confusion for english speakers. We know it happened once for an iPhone user, but possibly happened for others. Assigning to myself to investigate, trying to produce the issue. If I can get it to happen I will see if I can find another default voice that would work better.

[2020-09-16 19:24] jessegreenberg commented on #230
High priority to investigate before an interview on friday.

[2020-09-16 19:46] jessegreenberg opened #231 "Change "Visual Options" to "General Options" in self-voicing options"
Then it will also get the "Show Self-Voicing Quick Menu", when that is added in #229

[2020-09-17 02:28] jessegreenberg commented on #219
The order of these buttons has been changed.

@terracoda should this issue stay open or do you think this can be closed now? For further requests we could open new issues.

[2020-09-17 02:48] jessegreenberg commented on #229
A separate checkbox has been added to control visibility of the quick menu, with the label above.

[2020-09-17 02:48] #229 closed

[2020-09-17 02:48] jessegreenberg commented on #231
This was done in #229

[2020-09-17 02:48] #231 closed

[2020-09-17 03:06] jessegreenberg commented on #228
Done in the above commit. @terracoda this was added for both self voicing-version 1 and self-voicing version 2, meaning that this string now deviates from the PDOM string in self-voicing version 2.

[2020-09-17 03:06] #228 closed

[2020-09-17 03:19] jessegreenberg commented on #211
@terracoda with mouse interaction, should we also be getting things like "Track end right" and other boundary things? These are coming through with keyboard and I can't remember if it was an explicit design choice to not have these as well when using a mouse.

[2020-09-17 15:26] jessegreenberg commented on #211
From the design document:

[2020-09-17 15:42] jessegreenberg commented on #211
OK, the reason it isn't coming through on mouse input is because of the original implementation. this.forceDescriber.getVectorChangeText which includes the direction change assmumes discrete motion with a keyboard and motion with a mouse is registered too quickly - the function thinks that the mass has been moving in the same direction every time it is called because the mass positions change fast

[2020-09-17 15:47] jessegreenberg commented on #211
The function uses a flag `this.lastMovedCloser` which is updated every mass position change. I wonder if it would work better if it were updated when drag ends? Objects have a `dragging` field. Could that be turned into a Property to update this.lastMovedCloser instead?

[2020-09-17 16:30] terracoda commented on #211
Re:
**Question for Meeting:** We could consider dropping orientation cues which were specifically added for non-visual access (e.g. “right side of track” and “Closer”, “Last stop right”) to make them slightly shorter.

I think I asked that question to myself before I got the feedback from the Team Survey.

After the team survey, I feel that these cues may be very good for mouse users as well.

[2020-09-17 16:31] jessegreenberg commented on #211
Thanks @terracoda - I also noticed that question was in a Paradigm 1 section, so may not be related anymore.

[2020-09-17 16:40] terracoda commented on #211
Yes, I think that question is not relevant anymore.

[2020-09-17 17:22] jessegreenberg commented on #211
Over slack, @terracoda  mentioned that these ARE coming through with mouse input, so this is not an issue.

[2020-09-17 19:42] terracoda commented on #211
@jessegreenberg, it's only the progress phrases "Closer" and "Farther away" that seem to be missing with mouse interaction.  You can work on that as you can. I don't expect that for tomorrow.

[2020-09-17 19:43] terracoda commented on #219
Verified. Thanks!

[2020-09-17 19:43] #219 closed

[2020-09-24 19:18] terracoda opened #232 "(Self-Voicing) Feasibility: Display content of read-me buttons on the screen somewhere"
I started this question on Slack, and transferring the question here:

@jessegreenberg, how hard or easy do you think it would be to make some a box of text pop up when a learner pressed the read me buttons? I am trying to get a sense if we would have time to explore the idea of providing visual access to the read me button content on the screen.

Displaying voiced text on the screen is the only t

[2020-09-24 19:21] terracoda commented on #232
Based on @jessegreenberg response, I will think about the visual design, and possibly include this idea in the design of the option menu and tool menus which are happening in https://github.com/phetsims/joist/issues/652

[2020-09-25 15:02] terracoda opened #233 "(Self-Vocing) When Distance is unchecked, reading block appears on hover"
During an interview, I noticed that when Distance was unchecked and the arrow and kilometers were not shown, the learner still got a reading highlight on the blank space between the centers of the spheres.

In that blank space, 4 kilometers will voice if one clicks on the reading block.

Please remove reading block when Distance is not checked.

Reading access to the qualitative information is not

[2020-09-25 21:13] jessegreenberg commented on #230
I fixed this by only including english voices in the available list. I noticed that some of the voices have different names, but sound identical. Perhaps these could be excluded in the future. But we no longer have default voices that are non-english for prototyping.

[2020-09-25 21:13] #230 closed

[2020-09-25 22:08] jessegreenberg opened #234 "branch: selfVoicingParadigm1"
This one-off branch holds our first prototype for the self-voicing. It speaks a lot of content on `over` events, and does not include
any highlighting. The self-voicing feature has deviated from this prototype substantially. But we would like to keep this prototype as a record and may come back to reference it. The one-off branch keeps the SHAs for this build in case we ever want to come back to t

[2020-09-25 22:54] jessegreenberg commented on #196
The above commits should address the problems you identified @terracoda. Here is a version with these changes that we can reference in the future:

https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-selfVoicingParadigm1.1/phet/gravity-force-lab-basics_en_phet.html?selfVoicing

Once you have this version documented where you want it I think this can be closed @terracoda.

[2020-09-25 22:55] jessegreenberg commented on #234
A build was prepared with these SHAs at https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-selfVoicingParadigm1.1/phet/gravity-force-lab-basics_en_phet.html, and that is likely sufficient for reference/documentation. This branch can probably be deleted in the near future.

[2020-09-30 18:41] jessegreenberg opened #235 "Re-implement self-voicing in this sim"
I am working on another iteration of the implementation for self-voicing. The first pass was pretty clumsy, and had several pretty bad limitations.  This issue will track commits related to this.

[2020-09-30 19:47] jessegreenberg commented on #196
Discussed today - good to have this version documented and we can close this issue and save to delete branches.

[2020-09-30 19:47] jessegreenberg commented on #196
Assigning to myself to delete branches and then close.

[2020-09-30 22:52] jessegreenberg commented on #235
Mostly done in the above commits, I would like to go through the walkthroughs in the design document before closing.

[2020-10-01 19:41] terracoda opened #236 "(Self-Voicing) Minor content updates for GFLB's Read-Me buttons"
Inspired by changes needed for the Sim Overview in John Travoltage, I decided to review the Sim Overview for this sim.

@jessegreenberg, for GFLB, I have done 3 things:

1. removed references to the Play Area and Control Area
2. made very minor wording changes to surrounding text to make things continue to flow, and
3. added a comma in the Hint content which hopefully will make the synthetic speec

[2020-10-01 22:36] jessegreenberg commented on #233
The above commits fix this problem

[2020-10-02 17:14] jessegreenberg opened #237 "Assertion error: Trail to active highlight required"
[code]

I think this is happening because focus doesn't update the active trail for the speakerHighlighter

[2020-10-02 17:51] jessegreenberg commented on #237
Fixed.

[2020-10-02 17:51] #237 closed

[2020-10-02 19:32] jessegreenberg commented on #235
I reviewed the sim against the design doc I think everything is wrking well. CLosing.

[2020-10-02 19:32] #235 closed

[2020-10-02 19:36] jessegreenberg opened #238 "Self voicing should work well with pan and zoom feature"
It currently works pretty well, but often things are spoken in reponse to trying to initiate a zoom or pan. I suspect that SelfVoicingInputListener needs better interruption support, and should have things trigger speech more on up so that we wait until after a gesture to see whether something should be spoken.

[2020-10-02 22:23] jessegreenberg commented on #238
This is done.

[2020-10-02 22:23] #238 closed

[2020-10-02 23:58] jessegreenberg commented on #236
Done in the above commits @terracoda, can you please review?

[2020-10-05 14:54] KatieWoe opened #239 "CT perennial task failed"
[code]

<details>

[code]

</details>

[2020-10-05 18:35] zepumph commented on #239
@jessegreenberg has been in this repo for self-voicing.

[2020-10-08 13:05] terracoda commented on #236
I hear "Control Area" at the end of the Sim Overview. It must have got left in by accident.

Other than that, it sounds great. The hint sounds much better with the comma in place, too.

Back over to you @jessegreenberg,. You can close after "Control Area" is removed from the "Sim Overview"

[2020-10-08 13:20] terracoda commented on #211
@jessegreenberg, I hear the "closer" and "farther away" when using a mouse if I move the sphere a tiny bit (likely the same size as a default key press).

In the original design I think these phrases are meant for changes in direction.

Is it possible, to make that also true for Mouse interaction, or is it possible to make the threshold for it it to fire with a mouse or touch event a little wider?

[2020-10-08 14:11] terracoda opened #240 "(Self-Voicing general) Issue with visibility/hiding of Self-Voicing Quick Menu"
![Screen Shot 2020-10-08 at 11 43 17 AM](https://user-images.githubusercontent.com/1902116/95470587-88feb580-095b-11eb-9f25-4e6641f0bb89.png)
@jessegreenberg, I just noticed that unchecking "Show Self Voicing Quick Menu" only hides the open/close button.
If I have the menu open before I hide it, the menu stays on the screen.

![Screen Shot 2020-10-08 at 11 40 05 AM](https://user-images.githubuserc

[2020-10-09 18:17] terracoda commented on #240
And @jessegreenberg , I just noticed that the menu is not there if no content is checked.
![Screen Shot 2020-10-09 at 3 15 31 PM](https://user-images.githubusercontent.com/1902116/95617879-b07e7c80-0a46-11eb-8d87-ab01fedff365.png)

[2020-10-14 20:29] terracoda commented on #240
@jessegreenberg, just pinging you in case you missed this issue. Sorry, I did not bring it up in meeting today.

[2020-10-14 20:32] terracoda commented on #211
@jessegreenberg, any thoughts on feasibility of making the threshold for the progeess reponse a little wider for mouse/touch?

[2020-10-14 20:34] terracoda commented on #220
I think this issue has been resolved, so closing.

[2020-10-14 20:34] #220 closed

[2020-10-14 21:13] terracoda commented on #224
The highlights are no longer showing through @jessegreenberg. Can we close this issue?

[2020-10-15 19:01] terracoda commented on #232
I feel that "surfacing the text of the Read-Me" button content will be valuable, but it will have to be part of future design work. Putting this issue on hold for now.

[2020-10-18 00:28] samreid commented on #239
Looking at the failure case and the strings in gravity-force-lab, I made an educated guess at what this should be.  But I was confused about whether `secondaryDescription` and `secondaryDescriptionPattern` are both needed.  I marked as "blocks-sim-publication" so it won't be published with these unreviewed changes.

[2020-10-21 15:47] jessegreenberg opened #241 "Add swipe gestures to this sim for upcoming interviews"
We need the SwipeListener to be used in this sim to support non-visual access when used in combination with self-voicing and vibration features.

[2020-10-21 17:27] terracoda commented on #236
@jessegreenberg, we still need some changes to the read-me button content.

Hint is good.
Current Details are good.

**Sim Overview should be:**
Gravity Force Lab: Basics is an interactive sim. It changes as you play with it.
There are two mass spheres, a blue sphere labeled mass 1 and a red sphere labeled mass 2. A force arrow starts at the center of each sphere and points directly at the opposit

[2020-10-21 17:28] jessegreenberg commented on #241
A version was produced with swipe gestures, closing.

[2020-10-21 17:28] #241 closed

[2020-10-21 18:22] jessegreenberg opened #242 "swipe gesture for number pickers"
Currently, you can swipe up or down to incremement/decrement the values of the number spinner. Instead, we would like to try a continuous press and hold to drag operation. You should be able to double tap to drag, then drag up/right to continuously increase the value and down/left to continuously decrease the value.

[2020-10-21 19:52] terracoda opened #243 "Add "Enable Swipe Gesture" to options menu"
Opening this issue, so the idea of swipe gesture with Self-Voicing is not forgotten.

It will be interesting to see if enabling swipe gesture has any specific or general impacts on the self-voicing content.

[2020-10-26 17:52] terracoda commented on #241
Related to research on haptics and non-visual access, we want the gesture to allow for the finger to be on the screen.

[2020-10-26 19:31] terracoda commented on #242
@jessegreenberg, thus far, we are trying to keep the instructions for grabbable draggables the same.

The general interaction pattern goes like this:
1. Swipe to focus
2. On focus, learner hears object name and current value of object (slider under the hood)
3. Learner double taps to get instructions
4. General instructions: “Tap and hold to grab and drag.”
    - It’s nice to have a general patter

[2020-10-26 19:51] terracoda commented on #242
@jessegreenberg, I have a feeling we are going to need some options for how we describe draggable slider interactions in a self-voicing context where a learner may or may not have vision.

[2020-10-26 19:53] terracoda commented on #242
My specific concern is the very similar names and the identical instructions for the mass spheres and the mass controls.

[2020-10-26 19:57] terracoda commented on #242
@jessegreenberg, ponderings and possible learner confusion aside, should we just implement the default situation (described above) and then see where we need to go from there.

I have a feeling, if we were to customize any instructions, it would be better to customize the mass sphere position instructions.

[2020-10-26 20:02] terracoda opened #244 "(Self-Voicing) Not hearing anything when focus falls on either mass sphere"
I was just testing the Self-Voicing feature on PhET Marks and I do not hear any thing when focus is moved to a mass sphere.

Mass controls seem to be working fine.

Maybe something happened when we moved to using utterance queue?

[2020-10-26 20:11] terracoda commented on #236
@jessegreenberg, some content in the middle is missing. I am bolding that content for you:

"Gravity Force Lab: Basics is an interactive sim. It changes as you play with it.
There are two mass spheres, a blue sphere labeled mass 1 and a red sphere labeled mass 2. A force arrow starts at the center of each sphere and points directly at the opposite sphere. **Spheres can be moved closer or farther f

[2020-10-26 23:03] jessegreenberg commented on #244
Sorry about that, silly mistake - fixed in https://github.com/phetsims/gravity-force-lab-basics/commit/0fed28b763f7fa2fc002812a60ada0ae5ae14208.

[2020-10-26 23:03] #244 closed

[2020-10-26 23:12] jessegreenberg commented on #243
The option has been added to the options dialog @terracoda, currently enabled by default for interviews coming up in November. Would you like to keep this open or can it be closed?

[2020-10-26 23:59] jessegreenberg commented on #242
In the above commit I implemented the new gesture control so that press and hold -> drag will change the mass values.

I agree with all your above statements @terracoda, this could be confusing.

In the PDOM the labels are "Move Mass 1" for the sphere and "Mass 1" for the mass control. Were they given different labels to resolve this exact issue? Could we use different labels for self-voicing as w

[2020-10-27 01:32] jessegreenberg commented on #240
Thanks @terracoda - in the above commit I made sure to close the menu when "Show Self Voicing Quick Menu" is unchecked.

I think this was actually purposeful, I had thought that if self-voicing was disabled the menu should be invisible. But I can see it being valuable to still have the quick controls still work when object/context/hint responses are disabled.

In https://github.com/phetsims/scener

[2020-10-27 18:53] jessegreenberg commented on #239
Thanks for stepping in @samreid and sorry it took so long.

In the above commit I removed the added string and its references in code, and replaced it with the secondaryDescriptionPattern so that is the only one needed. Closing.

[2020-10-27 18:54] #239 closed

[2020-10-28 17:08] jessegreenberg commented on #236
Sorry, I think this was fixed in #239. I am not hearing it anymore.

Thanks, should be added now after the above commit. Should be able to verify on master, can you please check it sounds OK?

[2020-10-28 19:27] jessegreenberg opened #245 "Make sure there isn't pile up of self-voicing alerts after switching to utterance-queue"
@terracoda mentioned that alerts are piling up now that we are using utterance queue. I need to make sure that this isn't happening.

[2020-10-28 19:28] jessegreenberg opened #246 "Make position alerts happen during drag for self-voicing"
They are currently only happening on drag end, they need to happen during drag for non-visual access.

[2020-10-28 20:02] terracoda commented on #236
@jessegreenberg, you got it. It all sounds good now.
Thanks! Closing!

[2020-10-28 20:02] #236 closed

[2020-10-29 00:03] jessegreenberg commented on #245
Unfortunately, this seems like a platform specific issues. Not happening on Chrome, but it is happening on iOS safari

[2020-10-29 00:22] jessegreenberg commented on #245
OK, using utterance-queue I was able to resolve this. Actually, I am not sure why there wasn't a pile up on Chrome. Anyway, the pile up is gone now.

[2020-10-29 00:22] #245 closed

[2020-10-29 00:29] jessegreenberg opened #247 "(self-voicing/gesture) Alert for successful start interaction with mass number control"
When you pick up the masses with gesture control you hear "grabbed". Will it be OK to say "grabbed" when you successfully start to change the mass number controls? Or do we need a different term?

[2020-10-29 00:52] jessegreenberg commented on #246
This was done in the above comits.

[2020-10-29 00:52] #246 closed

[2020-10-29 00:52] jessegreenberg commented on #234
Yes, this branch can be deleted.

[2020-10-29 00:55] jessegreenberg commented on #234
Removed.

[2020-10-29 13:04] jessegreenberg commented on #247
Closing, this is actually a duplicate of comments in https://github.com/phetsims/gravity-force-lab-basics/issues/242

[2020-10-29 13:04] #247 closed

[2020-10-29 14:27] terracoda commented on #242
Apologies @jessegreenberg, this was my number 1 issue for our meeting yesterday and when I clicked on the issue during the meeting, I thought it was something else that was resolved and we didn't discuss it. Apologies for my confusion.

One option, is indeed to change the labels.

In the context of the entire SVing content that is available, I want to remind myself that the learner has the option

[2020-10-29 14:40] terracoda commented on #242
@jessegreenberg, I am wondering if would be easier to parameterize these instructions, for example:
- Tap and drag to {{change mass}}.

And would this pattern be more generalizable?
- Tap and drag to move sphere.
- Tap and drag to move hand.
- Tap and drag to swing leg/rub foot/move foot.
- Tap and hold to move balloon.
- Tap and hold to move ruler.
- Tab and hold to rub book.

[2020-10-29 15:29] KatieWoe opened #248 "CT converting circular structure to JSON"
[code]

[2020-10-29 16:08] terracoda commented on #242
Might be related to https://github.com/phetsims/john-travoltage/issues/364

[2020-10-29 16:56] jessegreenberg commented on #248
Sorry about that, path fixed in above commit and sim is building again.

[2020-10-29 16:56] #248 closed

[2020-10-30 20:08] terracoda commented on #242
- Tap, hold and drag to move sphere.
- Tap, hold and drag to move hand.
- Tap, hold and drag to swing leg/rub foot/move foot.
- Tap, hold and drag to move balloon.
- Tap, hold and drag to move ruler.
- Tap, hold and drag to rub book.

[2020-11-02 14:29] terracoda opened #249 "(Self-Voicing) Reconsider delivery of object and context responses now that we have utterance queue"
From our sprint meeting on John Travoltage on Friday, October 30th and @emily-phet's follow-up comments in this doc https://phetsims.slack.com/files/U6DER46F3/F01DZ4WP22Y/jt-and-gflb-notes.docx

We need to reconsider the delivery of object and context responses now that we have finer control with the utterance queue, and we are using the Self-Voicing feature with non-visual users.

There are a cou

[2020-11-02 14:51] terracoda opened #250 "(Self-Voicing general) Consider providing role information"
At the beginning of the Self-Voicing design process we were not considering full access for non-visual learners. In other  words we were not trying to design an experience equivalent to using screen reader software.

Based on @emily-phet's  notes in [JT & GFLB Notes](https://phetsims.slack.com/files/U6DER46F3/F01DZ4WP22Y/jt-and-gflb-notes.docx), we may want to reconsider if and how we delivery rol

[2020-11-02 14:51] terracoda commented on #250
@Matthew-Moore240, feel free to chime in, and I have added the meeting label so we can discuss more on Wednesday.

[2020-11-02 15:59] terracoda commented on #242
See also John Travoltage issue https://github.com/phetsims/john-travoltage/issues/364

[2020-11-02 18:26] terracoda commented on #242
**Changes for the sphere sliders**
- Tap, hold, and drag to move mass 1, blue sphere
Grabbed/ Released

- Tap, hold, and drag to move mass 2, red sphere
Grabbed/ Released

**Changes for the mass number spinners**
- Tap, hold, and drag to change mass
Draggable/ Released

- Tap, hold, and drag to change mass
Draggable/ Released

[2020-11-02 18:45] jessegreenberg opened #251 "Changes during "self-voicing sprint" meeting"
Meeting today to make rapid changes in preparation for upcoming interviews. Issue to collect comments and related comments.

[2020-11-02 19:27] jessegreenberg opened #252 "Remove unused strings"
Build warning:
![image](https://user-images.githubusercontent.com/6396244/97910241-79cf1580-1d17-11eb-89cf-cffbc69548fe.png)

[2020-11-02 20:07] jessegreenberg opened #253 "Different way to add the 'grabbed' utterance"
The first 'drag' utterance needs to be assertive so that it interrupts other content during interaction. But we do not want it to interrupt the 'Grabbed' alert. The 'Grabbed' portion likely needs to be added as part of the initial movement alert itself to fully control.

[2020-11-02 20:16] jessegreenberg opened #254 "Add vibration for this sim"
@liquatics has designed some vibration for this sim to be used in interviews coming up in about a week. It needs to be added to the sim.

[2020-11-02 20:34] jessegreenberg commented on #224
Yes, thanks - this issue has been solved.

[2020-11-02 20:34] #224 closed

[2020-11-02 20:34] jessegreenberg commented on #240
This has been fixed for a while, going to go ahead and close this.

[2020-11-02 20:34] #240 closed

[2020-11-02 20:35] jessegreenberg commented on #254
This needs to be done quickly for upcoming interviews.

[2020-11-02 20:48] jessegreenberg commented on #243
THis has been added, closing.

[2020-11-02 20:48] #243 closed

[2020-11-02 20:49] jessegreenberg commented on #249
We addressed these considerations in changes made during #251.

[2020-11-02 20:49] #249 closed

[2020-11-02 20:52] jessegreenberg commented on #211
In #251 we added directional content during change with mouse/touch. This can be closed.

[2020-11-02 20:52] #211 closed

[2020-11-02 23:09] jessegreenberg commented on #251
The above commit messages summarize the changes made pretty well. This can be closed.

[2020-11-02 23:09] #251 closed

[2020-11-04 03:30] jessegreenberg commented on #242
Done in the above commit.

[2020-11-04 03:30] jessegreenberg commented on #254
Initial pass at vibration has been added.

[2020-11-04 03:30] #254 closed

[2020-11-04 13:42] terracoda commented on #242
@jessegreenberg, re-opening this issue because in the latest test flight, I am hearing neither:
- the new gesture instruction nor,
- the new "Draggable" response for when a mass control is activated for dragging.

I am assuming since "Draggable" might be a totally new thing, and you might still be working on it. Possibly, even in a different issue?

The mass spheres are fine. It is the mass contro

[2020-11-04 13:51] jessegreenberg commented on #242
Thanks @terracoda, sorry about that. Just totally forgot to change the content for the masses controls.

[2020-11-04 14:32] jessegreenberg commented on #242
OK, change to mass controls made in above commit. Keeping open for review, hopefully during meeting today.

[2020-11-04 20:16] terracoda commented on #242
Discussed at meeting.
We will change the general hint to 2 different hints:
**Mass 1**
- Tap, hold, and drag to change mass of Mass 1.
- Draggable/ Released

**Mass 2**
- Tap, hold, and drag to change mass of Mass 2.
- Draggable/ Released

[2020-11-04 21:11] jessegreenberg commented on #242
Change made in above commit, ready for review @terracoda.

[2020-11-05 13:22] terracoda commented on #242
@jessegreenberg, the descriptions of the gesture interaction for the mass number spinner is correctly implemented. and sounds good to me. Thanks!

Closing this issue.

[2020-11-05 13:22] #242 closed

[2020-11-05 13:28] terracoda opened #255 "(Self-Voicing) Gesture and Touch - repeat responses"
**When moving mass spheres**
It seems when I move and do a quick release (gesture) or lift my finger (touch) I often get back to back object and context responses with the latest one not interrupting the stale one.

Also when I do a slow release, like I pause before I release, I feel like I can easily get a duplicate response. That is as I release the sphere (lift my finger) the same object and co

[2020-11-11 21:26] jessegreenberg opened #256 "Design requests form 11/11/20 meeting"
We want a vibration paradigm for each of these:
 - [x] One where intensity is set to 0.6 and sharpness should increase as force increases.
 - [x] One where intensity is set to 0.6 and sharpness should decrease as force increases.
 - [x] One where intensity is set to 0.3 and sharpness should increase as force increases.
 - [x] One where intensity should increase as force increases, and sharpness sh

[2020-11-12 02:46] jessegreenberg commented on #256
This was done, closing.

[2020-11-12 02:46] #256 closed

[2020-11-13 00:19] jessegreenberg opened #257 "Unable to grab sphere with custom gestures if finger is on the shere"
If you tap and hold to grab a sphere in other places of screen it works OK. But if you happen to tap on the sphere itself it doesn't work.

[2020-11-18 18:31] terracoda opened #258 "(Self-Voicing) Got stuck in Options/Preferences dialog"
While testing latest version of GFLB with haptics & self-voicing, I went to the "Preferences" button to open the dialog.

While in the dialog, I checked a check box and then tried to uncheck it, but my focus highlights disappeared.
I could get a focus highlight on the Close button, the X button, but I was not able to close the dialog with a double tap.

Since I couldn't close the dialog, I wasn't

[2020-11-18 22:44] jessegreenberg commented on #257
OK, this is working much better after the above commits.

[2020-11-18 22:44] #257 closed

[2020-11-18 22:45] jessegreenberg commented on #258
This was fixed in https://github.com/phetsims/scenery-phet/commit/3b5c7bfb5cf0e399f3f37fdb30423ca031474805.

[2020-11-18 23:15] jessegreenberg commented on #255
This part was fixed in the above commit, I am hopeful it will improve repetition in many of the cases @terracoda listed above. I am going to try to fix #253 before publishing a version for review.

[2020-11-19 00:00] jessegreenberg commented on #253
This part is done, closing.

[2020-11-19 00:00] #253 closed

[2020-11-19 00:03] jessegreenberg commented on #255
@terracoda here is a version with this change, can you please review the self-voicing while dragging with gesture?

https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.29/phet/gravity-force-lab-basics_en_phet.html?supportsGestureControl&supportsSelfVoicing

[2020-11-19 16:15] terracoda commented on #255
Everything fixed for regular touch input with Self-Voicing.
Everything fixed for custom gesture input with Self-Voicing.
Nice work.
I found a weird focus issue when using keyboard with Self-Voicing. I'll create a new issue for that.

[2020-11-19 16:16] terracoda commented on #255
@jessegreenberg, I think it is safe to close this issue from my perspective, though I haven't tested in Test Flight yet.

[2020-11-19 16:17] terracoda commented on #255
Assigning to you for closing :-)

[2020-11-19 16:23] terracoda opened #259 "(Self-Voicing) Reading block got highlighted when using home/end function keys on sphere sliders"
Reading block git highlighted when using home/end function keys on sphere sliders.
I can't re-produce this issue.
It might have been a fluke.

Oh, I see it happens when I have the supportsGestureControl query parameter on, and when I am using the keyboard.

This was a fluke, closing.

[2020-11-19 16:23] #259 closed

[2020-11-19 16:29] jessegreenberg commented on #255
Great, ok thanks for checking!

Sounds good, thanks.

Closing.

[2020-11-19 16:29] #255 closed

[2020-11-19 16:31] jessegreenberg commented on #255
@terracoda, no worries, it won't be fixed in TestFlight until I publish a new version of the app. But if it is fixed in the sim it should be fixed there too.

[2020-11-20 13:21] terracoda opened #260 "(Haptics/ Self-Voicing) Possible inconsistency in single tap, hold & drag to activate force vibration"
I haven't tested the latest version (1.1.0-dev.29) in Test Flight, but in the previous version on my iPhone8 iOS 13.5.1 I consistently get vibrations when I double tap & hold (then drag) a sphere. When I do a single tap & hold (then drag), I sometimes do not get vibrations on grab.

This inconsistency only happens with "supportsGestureControl" is enabled.

Since I am the only person noticing this

[2020-11-20 13:31] terracoda commented on #260
Using the question label:
Is this is an actual bug or possible feature?

[2020-11-20 19:00] jessegreenberg commented on #260
OK, I was able to reproduce this on my phone as well. This is a bug, vibration should start in this case.

[2020-11-20 19:07] jessegreenberg commented on #260
When this happens I can see the request to start vibration and change its intensity reaching the phone, but it isn't vibrating.

[2020-11-20 19:48] jessegreenberg commented on #260
I am not seeing anywhere in code that is stopping vibration from happening in this case. I think it may be related to the finger movement. If my finger moves ever so slightly while holding down, vibration occurs consistently. But if I try hard to keep my finger as still as possible, that is when the bug seems to happen.

[2020-11-20 20:00] jessegreenberg commented on #260
OK, I have a theory that there is a bug where vibration won't start if requested before the Safari "single-tap and hold" vibration, for that gesture specifically. Double tap and hold doesn't cause that default vibration, nor does "press and slight drag". So I am wondering if we can fix this by either preventing that default vibration or by making the hold time for "press and hold" gesture longer t

[2020-11-20 20:04] jessegreenberg commented on #260
Yes, I think thats it! After increasing the hold time to 1 second, I haven't been able to get it to start dragging without vibrating.

[2020-11-20 22:38] jessegreenberg commented on #260
A new version was deployed to TestFlight with the fix, @terracoda can you please verify it is fixed there?

[2020-11-21 12:22] terracoda commented on #260
@jessegreenberg, I just tested the updated version on Test Flight. It's working nicely now. I consistently get vibrations on single tap & hold and vibrations continue as I drag.

Nice work. I'm closing this issue.

[2020-11-21 12:22] #260 closed

[2020-11-21 12:54] terracoda commented on #171
@zepumph, re-opening due to further visual changes to the keyboard dialog. As mentioned in the design doc, I think it would be great to have 3 common code options for providing instructions for sliders:

The three common-code options I see are:
1. include all functionality of the slider in the instructions
2. for pedagogical reasons only provide horizontal instructions
3. for pedagogical reason on

[2020-11-23 23:06] zepumph commented on #171
I'm not sure I understand what you would like to do here. Likely it deserves an new issue. Do you want to try to convert out custom keyboard help section ("Move Spheres") to be a general one?

[2020-11-24 13:44] terracoda commented on #258
I thought I was having issues, but I realized that I had accidentally unchecked gestures! Closing again.

[2020-11-24 13:44] #258 closed

[2020-11-24 13:52] terracoda opened #261 "(Self-Voicing) The Close button on the dialogs do not self-voice"
@jessegreenberg, this is likely not a priority for interviews. I noticed that the X (close) button for the  Gestures dialog and the Preferences dialog do not self-voice, "Close".

Since these dialogs are temporary in nature, we might want to just inform @liquatics about that so she can watch for this if participants need to close these dialogs.

The Gestures dialog has the "Continue to Simulation"

[2020-11-24 13:59] terracoda commented on #261
@jessegreenberg, if the Close button lives in the joist repo, I think it is safe to assume we can leave the button as silent for now, and @liquatics will watch for this in interviews.

[2020-11-24 14:00] terracoda commented on #261
Un-assigning you both. You are both tagged and will be made of the issue.

[2020-11-25 01:02] terracoda commented on #171
I think I put this issue in the wrong repo.

[2020-11-25 01:03] terracoda commented on #171
I think this is supposed to be in the RaP repo.

[2020-11-25 18:37] jessegreenberg commented on #261
Thanks @terracoda I will take a look - this button is in joist but I had thought that I added something that would read the label anway. It isn't clear to me why it is working in one dialog but not others.

[2020-11-25 18:54] jessegreenberg commented on #261
I just tested on master and I hear self-voicing for the "Web Speech!" dialog, the "Gestures" and "Preferences" dialog. @terracoda can you let me know what version of the sim you were using and on what platform/browser?

[2020-11-27 15:59] terracoda commented on #261
@jessegreenberg, the general self-voicing of all content is working great.
I was listening in Test Flight, and I hear nothing if I put focus on the close buttons.
I just listened to 1.1.0-dev.30 on phettest and in both cases I don't hear "Close" when I put focus on the X in any dialogs.

Maybe it is an iOS problem?

[2020-11-27 16:01] terracoda commented on #261
I have iOS 13.5.1 on the iPhone8.

[2020-11-30 17:58] jessegreenberg commented on #261
Thanks @terracoda, yes it looks like it is something platform specific. I am also not hearing "Close" on those dialogs on an iPhone.

[2020-11-30 18:10] jessegreenberg commented on #261
Hmm, I cannot get this to happen in iOS Safari, but it is happening in the app. So something about the TestFlight app is causing this to happen.

[2020-11-30 18:53] terracoda commented on #261
@jessegreenberg, maybe the way forward is to just make @liquatics aware of this issue. These dialogs are implemented to support use of the sims with haptics in upcoming interviews. The dialogs in their current form will likely not be part of a published sim.

[2020-11-30 19:01] jessegreenberg commented on #261
Yea sounds good - it doesn't seem like this is critical. But even more strange is that it is not happening off of master, but is happening in the latest version published for test flight. There is a chance this has just been fixed in master, but I don't know what has changed to to cause that.

[2020-12-23 16:19] KatieWoe opened #262 "CT cannot read property copy of null"
[code]

[2020-12-23 18:25] zepumph commented on #262
I just assume that this is from self voicing work, please reassign if not.

[2021-01-14 16:40] terracoda opened #263 "(Self-Voicing) Remove "grabbed" when interacting with the mass spheres"
During my review of Self-Voicing for GFLB, I'd like to revisit my decision on providing the word "grabbed" when the dragging of a mass sphere starts.

I added it for non-visual access, but I feel it gets in the way for non-visual users.
I'd like to review with the team. Maybe visual and non-visual learners can live without this tiny string.

[2021-01-14 20:24] terracoda opened #264 "(Voicing) Design of reading block highlight - change little speech bubble"
This is a general Self-Voicing issue, but currently, reading blocks are only in the GFLB sim.

We would like to adjust the R to match the T in the Self-Voicing icon.

![Screen Shot 2021-01-13 at 4 29 41 PM](https://user-images.githubusercontent.com/1902116/104644746-c2e10580-5688-11eb-9300-51c8436ebc46.png)
![Screen Shot 2021-01-13 at 4 26 15 PM](https://user-images.githubusercontent.com/1902116/1

[2021-01-25 16:54] jessegreenberg commented on #262
Error was related to ShapeHitDetector which is no longer used so I removed it. Closing.

[2021-01-25 16:54] #262 closed

[2021-01-27 14:13] terracoda commented on #263
Details coming soon. I am pretty sure we can remove the grabbed and release states for all input on sliders.

[2021-02-09 17:40] terracoda commented on #263
@jessegreenberg, I can't get custom gestures to work for GFLB or JT.

[2021-02-09 17:57] jessegreenberg commented on #263
It looks like gesture control requires self-voicing to work at the moment. Are you able to get it to work with `?supportsSelfVoicing&supportsGestureControl`?

[2021-02-09 17:58] terracoda commented on #263
ok :-)

[2021-02-09 17:59] terracoda commented on #263
Double tapping is not working.
I'll mark for meeting.

[2021-02-09 19:27] jessegreenberg commented on #263
OK I found the issue, thanks @terracoda! Hopefully fixed above, can you please try again after updating the scenery repo?

[2021-02-09 22:41] terracoda opened #265 "(Voicing) Design change on force arrow description when Force Values not checked"
When forces is not checked, the self-voicing description is not at all similar to the on screen text.

- On screen text:
    - Force on mass 2 by mass 1
    - Force on mass 1 by mass 2
- Self-voiced content (same as PDOM)
    - Force arrow is tiny and points directly at mass 1
    - Force arrow is tiny and points directly at mass 2

I didn't have force described in my initial interview. I added it

[2021-02-09 23:00] terracoda opened #266 "(Voicing) Tweaking of progress indicators"
In my review of Self-Voicing I found I might need to tweak the way the progress indicators are working.

I'd like to review the design after #263 is completed.

[2021-02-09 23:23] emily-phet commented on #265
@terracoda
My first thought - regarding what we might want the self-voicing to stay - is:
- The text on the screen (or something very similar). So "Force on mass 2 by mass 1" and "Force on mass 1 by mass 2) or just the slightest variant fo these. This would be good for the least verbose preference setting.
- In a more verbose preference setting, the addition of a description of the vector arrow.

[2021-02-11 19:32] terracoda commented on #265
Note to self:
Object changes & on-screen text
 - optimized for reading
 - optimized for concepts

[2021-02-19 21:24] terracoda opened #267 "(Self-Voicing) Keyboard Shortcuts dialog?"
Keyboard Shortcuts Dialog. What to do about this for Self-Voicing?

**Questions:**
1. Is it desirable to include KB Shortcuts dialog in SVing?
2. Is it feasible?
3. If feasible, would large reading blocks like the example work?
4. If large blocks would work, I propose the following for GFLB.

**Example content for highlighted block “Move Spheres” block (same as PDOM):**
Move sphere left and right

[2021-02-20 22:44] emily-phet commented on #267
This sounds great to me. It breaks up the text some, but not into lots of small chunks. Let's give this a try.

[2021-02-21 11:15] terracoda commented on #267
@jessegreenberg, you'll see that I intentionally did not include the heading for the blocks on the left because the heading is included in the first line of the instructions.

For the group of Basic Actions, that is not the case, so that's why the heading is included there. So, for the "Basic Actions" block, you need to add a period after the heading, like this:

Basic Actions.
Move to next item o

[2021-02-21 11:18] terracoda commented on #267
I am not sure how it would sound with out a period, like this:

Basic Actions
Move to next item or group with Tab key.
Move to previous item or group with Shift plus Tab key.
Move between items in a group with Left and Right arrow keys or Up and Down arrow keys.
Press buttons with Space key.
Toggle checkboxes with Space key.
Exit a dialog with Escape key.

We could try that first to see how it sou

[2021-03-02 18:24] jessegreenberg opened #268 "branch: preferences"
The one-off branch for preferences, testing support for the Preferences dialog and toolbar in https://github.com/phetsims/joist/issues/694.

[2021-03-06 13:57] terracoda opened #269 "(Preferences) Mouse exploration breaks keyboard navigation"
While using Preferences menu in GFLB, an interview participant would switch back and for the between using keyboard and mouse exploration, and keyboard navigation would stop working.

During interview we determined that mouse exploration in Preferences dialog would break keyboard navigation in Preferences dialog.

This may be a general issue.

System: MacOS 10.15.7
Browser: Safari

[2021-03-08 16:06] terracoda commented on #250
After first interview with a person who has low vision but who also often uses a screen reader role information could be useful, but I feel that more context that can be provided through help text might be enough.

We'll see in upcoming interviews this month (March).

[2021-03-08 17:37] terracoda commented on #233
In my most recent interview (March 5th), this issue reappeared.
With distance not checked the reading highlight still showed up where the distance and distance arrow would be.

[2021-03-09 21:02] terracoda opened #270 "(Self-Voicing Preferences) Voice Tabs in Preferences menu"
If possible, it would be great of the Tabs in the Preferences menu could voice by Thursday March 11.

- General Preferences
- Visual Preferences
- Audio Preferences
- Input Preferences

See Preferences design doc:
https://docs.google.com/document/d/1Qu3U8IsFYn486oJUzQ71BXs_lBKZTVS5NVdLJlTK7gw/edit

But if it is not possible, we will carry on.

[2021-03-09 21:06] terracoda opened #271 "(Self-Voicing Navbar) Voice buttons in Navbar"
If possible, please voice buttons in navbar for next interviews.
If not possible we will carry on.

- Preferences
- All Audio
- Keyboard Shortcuts
- PhET Menu

[2021-03-09 21:11] terracoda commented on #271
This is common code, so not sure this is the correct repo. Also, @zepumph might be helping with this issue as he starts self-voicing for ratio and proportion.

[2021-03-10 18:15] terracoda commented on #269
I just reviewed the interview data for some extra details:
- The learner opened the dialog with a mouse click, and could use the tab key when first opened, but was having trouble because there was very little self-voicing.
- Then he switches to mouse, clicks Visual tab, clicks interactive highlights checkbox, clicks Audio tab. Learner is now getting highlights on mouse hover  but is not getting vo

[2021-03-10 20:44] jessegreenberg commented on #269
Thanks for the detailed walkthrough @terracoda, that is really helpful. I have been trying for a while and haven't been able to get it to break yet. Ive been trying on a Windows 10 device with Chrome and on macOS 11.2 Big Sur with Safari. Note that user was testing with 10.15.7 (an older version now) and I am not able to test on that.

Also, I am testing in a version that *does* have self-voicing

[2021-03-10 20:45] jessegreenberg commented on #270
During a zoom call today @terracoda requested that the content be
Preferences, General tab
Preferences, Visual tab
Preferences, Audio tab
Preferences, Input tab

for each tab button.

[2021-03-10 20:51] terracoda commented on #269
@jessegreenberg, that's all good news that you can't reproduce the bug.
Let's move on.

It could be something that was part of the initial implementation that has now changed. It could be platform specific.

I'll close this issue for now and re-open if it pops up again.

I also cannot reproduce on my system MacOs 10.13.6

[2021-03-10 20:51] #269 closed

[2021-03-10 22:52] jessegreenberg commented on #271
I have a working change that ins't ready for a commit but is potentially ready for interviews starting tomorrow. @terracoda can you please verify this is working in
https://phet-dev.colorado.edu/html/jg-tests/gravity-force-lab-basics_en_phet.html?supportsSelfVoicing
https://phet-dev.colorado.edu/html/jg-tests/john-travoltage_en_phet.html?supportsSelfVoicing

[2021-03-10 22:53] jessegreenberg commented on #270
I have a change for this that isn't ready for commit but is potentially ready for interviews starting tomorrow, @terracoda can you please verify
https://phet-dev.colorado.edu/html/jg-tests/gravity-force-lab-basics_en_phet.html?supportsSelfVoicing
https://phet-dev.colorado.edu/html/jg-tests/john-travoltage_en_phet.html?supportsSelfVoicing

[2021-03-11 13:29] terracoda commented on #206
I need to get this region description issue addressed for the Self-Voicing design of GFLB.

In recent interview a learner described the reference to "a track" a little strange, that it would be useful for the sim to just say "Farthest from mass 1."

I would like to see how the presence of this region affects possible other changes to the design.

I am going to mention @jessegreenberg so he is awar

[2021-03-11 13:45] terracoda commented on #270
The Tabs are working great with both keyboard and mouse for both GFLB and John Travoltage.

@jessegreenberg, I feel comfortable closing this issue. We have a working feature that will need further refinement as the design and code implementation advances.

Does that sound good @jessegreenberg, if so, please close.

[2021-03-11 13:51] terracoda commented on #271
Like #270, this is working as requested for both GFLB and JT. We are ready for next interviews this week (today and tomorrow).

We can close this issue as immediate voice access is available for the navbar buttons.
Work on this will continue as we gather information, but the immediate issue is resolved.

[2021-03-11 13:51] #271 closed

[2021-03-11 13:52] terracoda commented on #270
@jessegreenberg, I'll go ahead and close since the immediate issue is addressed. Further work will continue as we gather more information from learners.

[2021-03-11 13:52] #270 closed

[2021-03-11 16:23] jessegreenberg commented on #199
The a11y strings look great, thanks. A bunch of the old self-voicing strings are unused I used this issue as an opportunity to remove them.

[2021-03-11 16:23] #199 closed

[2021-03-24 21:33] oliver-phet opened #272 "User request: 3 decimal places"
This might be something to consider in a query parameter for GFL:B?

[2021-03-24 23:26] arouinfar commented on #272
This is an interesting request. I tested a few different scenarios in GFLB to (a) calculate G from the shown m, r, and F values and (b) calculate F using a textbook value of G (6.67E-11) and the values of m and r shown in the sim. I'm not seeing any major precision issues in this data set.

| Scenario | Calculated G (m^3/kg*s) | Calculated F (N) |
| --- | --- | --- |
| <img src="https://user-image

[2021-03-25 15:47] oliver-phet commented on #272
Thanks for digging into this, @arouinfar. I've replied to the user!

[2021-03-25 15:47] #272 closed

[2021-04-07 17:09] terracoda commented on #267
Actually, thinking more long term, a colon might be better, like this:

Basic Actions:
Move to next item or group with Tab key.
Move to previous item or group with Shift plus Tab key.
Move between items in a group with Left and Right arrow keys or Up and Down arrow keys.
Press buttons with Space key.
Toggle checkboxes with Space key.
Exit a dialog with Escape key.

[2021-04-07 17:52] terracoda commented on #267
Assigning to you @jessegreenberg, and note that I created a similar issue for John Travoltage as that sim will be published first, see https://github.com/phetsims/john-travoltage/issues/400

If you need anything for either issue let me know.

[2021-04-08 18:01] zepumph opened #273 "Publish with PhET-iO when publishing with Voicing"
From quarterly planning today, it seems like it would be nice to publish this with PhET-iO as well since it is going through the QA process. It already has PhET-iO implementation, and (I believe) would only need client guides and a minor review to get this ready for publication. With recent PhET-iO versions already going through QA, phet-io is relatively stable on master right now, so I don't see

[2021-04-08 20:30] terracoda opened #274 "(Voicing) Voiced newton value does not always match visual newton value"
Something in the model is off because the voiced value for newtons does not always match the visually displayed value. I think this only happens when an increase in mass also results in a change in distance. This can happen when the spheres are "touching" and an increase in mass happens.

@jessegreenberg, you might what to check in with @zepumph on this one as I think we had to do some special wor

[2021-04-08 21:14] terracoda commented on #261
I think this issue might be stale as the Preferences Menu has seen many updates.

[2021-04-08 21:15] terracoda commented on #261
I will close and open new issues re Preferences Menu in the joist repo.

[2021-04-08 21:15] #261 closed

[2021-04-13 23:05] arouinfar opened #275 "Create PhET-iO Client Guide"
For #273

Since this sim doesn't have any specific client requests, it'll only need phet-io-guide.md.

[2021-04-13 23:20] arouinfar opened #276 "PhET-iO Design Review"
In #273 we decided to include the phet-io-brand in the upcoming publication for the Voicing feature (goal 5/30/2021).

@kathy-phet and I should review the tree and decide on what should be phetioFeatured.

[2021-04-13 23:20] arouinfar commented on #273
I've created issues for the PhET-iO design review and client guide, so back to @zepumph.

[2021-04-13 23:31] zepumph commented on #273
@jessegreenberg, presumably this will get dev tested with Voicing, can you please include PhET-iO brand in that test?

[2021-04-14 14:38] jessegreenberg commented on #273
Sure, sounds good. That will presumably happen in 3-4 weeks, is that timeline OK?

[2021-04-15 18:47] terracoda commented on #265
I have thought about this description.

Here is the full dynamic state descriptions of mass spheres in the PDOM with Force Values not checked:
**mass 1, Blue Sphere**
- Force arrow is tiny, and points directly at mass 2.
- mass 1 is 2 billion kilograms, half the size of mass 2, and also 4 kilometers from mass 2.

**mass 2, Red Sphere**
- Force arrow is tiny, and points directly at mass 1.
- mass 2

[2021-04-15 19:17] terracoda commented on #266
Changes to how the Progress and Landmark strings should work is now documented in the design doc.
Please see the tables for mass spheres:
- [Distance checked](https://docs.google.com/document/d/1XFTD2HTcGCEOP2yQ9_2SkEeXmCceZYUCmNeyiJfcCHs/edit#heading=h.eqtuhm8zcsy), and
- [Distance not checked](https://docs.google.com/document/d/1XFTD2HTcGCEOP2yQ9_2SkEeXmCceZYUCmNeyiJfcCHs/edit#heading=h.ovgzcntw

[2021-04-20 22:47] zepumph commented on #234
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:48] zepumph commented on #160
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-23 16:52] zepumph commented on #234
Deleted

[2021-04-23 16:52] #234 closed

[2021-04-23 16:52] zepumph commented on #160
Deleted

[2021-04-23 16:52] #160 closed

[2021-05-10 22:38] zepumph commented on #273
This is no longer a Q2 goal.

[2021-05-17 04:09] arouinfar commented on #276
This is no longer a Q2 goal, so updating tags.

[2021-05-26 17:16] terracoda commented on #206
Will these percentage ranges work for all ISLC sims?

From the Design Doc:
**Table: (1.3 - 10 km) Distance Region Names & Ranges - Described distance between centers of spheres**
- We still have 7 multi-value regions and 2 single-value regions (the edges)
- The maximum distance between centers = 10 km with or without Constant Size checked
- The minimum distance between centers varies between 1.3 k

[2021-05-26 21:03] terracoda commented on #206
@jessegreenberg, I am marking this for Friday's meeting or forthe next meeting when we discuss GFLB Voicing design.

[2021-06-15 13:02] terracoda opened #277 "(PDOM & Voicing) Static Scene/Screen Summary Change"
Based on feedback from interviews, I feel it will benefit some learners to explicitly indicate that the track described in the scene/screen summary is actually invisible.

I would like this change to be in both the PDOM and in Voicing.
![Screen Shot 2021-06-15 at 10 27 19 AM](https://user-images.githubusercontent.com/1902116/122056577-4a5fab80-cdc4-11eb-9855-ffa4b8c87d01.png)

In PDOM and Voicing

[2021-06-15 13:12] terracoda opened #278 "(PDOM & Voicing) Change word in dynamic part of scene/screen summary"
Continuing from  #277, please change "pointing" to "points" so that the dynamic part of the scene/screen summary and the Voicing "Play Details" button reads as:

- "Currently, force on mass 1 by mass 2 is of equal size and points directly opposite to the force on mass 2 by mass 1."

In addition, for the Voicing Details button, please ensure that bullet points have their commas and periods as shown

[2021-06-15 13:24] terracoda opened #279 "(PDOM & Voicing) Simplify wording of edge landmarks"
In the original Interactive description design for non-visual access, I felt that the outside and inside edges (or landmarks) of the sphere positions needed to be described differently. These landmark descriptions did not result in any negative comments from blind learners.

Original strings for edge landmarks:
- Track end left/right (for outside edges), and
- Last stop left/right (for inside edge

[2021-06-15 13:32] terracoda opened #280 "(Voicing) Name change to sphere position sliders"
With improvements to the Voicing API, I'd like to revert the sphere position slider names back to be the same as the action-oriented names used in the PDOM.

In Voicing, please change
- mass 1
- mass 2

To be:
- Move mass 1
- Move mass 2

[2021-06-29 02:03] BLFiedler opened #281 "GFLB version with voicing for survey"
For our second voicing survey, we would like to re-run the first survey using another simulation with a distinct interaction scheme from JT. This will give us a good comparison to run against each other.

We will need a version of GFLB that is ready to go to participants, but not necessarily completely bug free. The plan will be to tack on the same three query parameters from (https://github.com/p

[2021-06-30 17:39] BLFiedler commented on #281
Additionally, we will need to have the simulation open with the Preferences menu visible and opened to the Audio tab! (thanks for the catch @jessegreenberg )

[2021-06-30 18:00] terracoda commented on #281
@jessegreenberg, when you have a version, I'd like to test it, if possible.

[2021-07-01 15:41] KatieWoe opened #282 "CT build failed with status code 1"
[code]

[2021-07-02 19:43] terracoda opened #283 "(Voicing) Distance issue - only moved sphere updates its distance value"
I'm reviewing the version to be used in the next survey.

Both spheres' distance value needs to update when one sphere is moved, so that the next interaction with the other sphere provides the correct distance value on focus, click, tap, etc.

[2021-07-02 19:57] terracoda opened #284 "(Voicing) - Not getting changes distance during mouse drag?"
@jessegreenberg, did we have a system for intermittent distance updates during mouse drag before this version?

Currently, I only get an object and context response (with progress) upon end of drag when I stop clicking the mouse.

That means, I don't hear any intermittent progress during drag and I get the "closer" string after I stop moving.

What we had before sounded better. Is there are way to

[2021-07-02 19:59] terracoda commented on #284
Marking this as both design and dev a11y labels, and I will look at the design doc to see if what I want is feasible.

[2021-07-02 20:07] terracoda opened #285 "(Voicing) Is the focus order correct? I think it changed."
The keyboard focus order changed. It used to start from the visual top of the sim with the Force Arrow reading blocks. It now starts with Move mass 1/2 position sliders.

Old keyboard focus order order:
- Force Arrow reading blocks
- Sphere position sliders
- Mass controls

Now keyboard focus order is :
- Sphere position sliders
- Force Arrow reading blocks
- Mass controls

I don't remember reques

[2021-07-02 20:09] terracoda commented on #285
Added bug and question labels because I am not sure if we intentionally changed the focus order or not.

[2021-07-02 20:11] terracoda commented on #283
This is an issue for all inputs.

[2021-07-02 20:12] terracoda commented on #284
This issue is less important than #283

[2021-07-02 20:17] terracoda commented on #233
The highlight is not showing now in the latest version
https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.31/phet/gravity-force-lab-basics_en_phet.html

Marking as resolved.

[2021-07-02 20:17] #233 closed

[2021-07-02 21:15] jessegreenberg commented on #284
@terracoda and I met over zoom to discuss this. We changed the behavior so that it speaks the alert every drag instead of just on release. Done in the above commit.

[2021-07-02 21:21] jessegreenberg commented on #283
Should be fixed in the above commit.

[2021-07-02 21:30] jessegreenberg commented on #285
This has been fixed in the above commit.

[2021-07-02 22:34] jessegreenberg commented on #285
Here is a new version with this, @terracoda can you please verify? https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.32/phet/gravity-force-lab-basics_en_phet.html?voicingSurvey=true

[2021-07-02 22:35] jessegreenberg commented on #284
Here is a new version with this fix, @terracoda can you please verify? https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.32/phet/gravity-force-lab-basics_en_phet.html?voicingSurvey=true

[2021-07-02 22:35] jessegreenberg commented on #283
This should be fixed in this version, @terracoda can you please review? https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.32/phet/gravity-force-lab-basics_en_phet.html?voicingSurvey=true

[2021-07-03 14:56] terracoda commented on #285
Fixed :-)

[2021-07-03 14:56] #285 closed

[2021-07-03 14:56] terracoda commented on #284
This sounds good now. I like it.

[2021-07-03 14:56] #284 closed

[2021-07-03 14:59] terracoda commented on #283
This is good, except when you switch between distance checked and not checked. You need to move the spheres before you hear the new mode.

Can you fix that, too. The distance is updating. You just need to update the description mode (kilometers or qualitative distance) when the checkbox gets checked.

[2021-07-03 15:00] terracoda commented on #283
If you can't fix this before survey time, it's not a show stopper. The information is not incorrect, it just isn't in the right mode.

[2021-07-04 20:50] terracoda commented on #280
The names are good now! Thanks. Closing.

[2021-07-04 20:50] #280 closed

[2021-07-05 17:53] jessegreenberg commented on #283
This has been resolved, and I checked with @terracoda over slack who confirmed that the problem was fixed. Closing this issue.

[2021-07-05 17:53] #283 closed

[2021-07-05 18:01] jessegreenberg commented on #281
@BLFiedler here is a link to the latest version for the survey. Version was reviewed and issues double checked by @terracoda, this version is much improved from the version shown on Friday.  Sorry it is coming to you a bit last minute. Reassigning the issue to you.

https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.33/phet/gravity-force-lab-basics_en_phet.html?voicingSurvey=tru

[2021-07-05 18:32] BLFiedler commented on #281
Implemented. Thanks, Jesse! I'll leave this open until the end of the survey, but nothing more is currently needed.

[2021-07-06 16:25] KatieWoe opened #286 "CT required tandems must be supplied"
[code]

[2021-07-13 02:09] jessegreenberg commented on #286
This was fixed in the above commit.

[2021-07-13 02:09] #286 closed

[2021-07-13 20:00] jessegreenberg commented on #281
In the above commits I removed the sim specific code that was added for this survey.

[2021-07-13 20:10] jessegreenberg commented on #279
Done in the above commit.

[2021-07-13 20:17] jessegreenberg commented on #278
Done.

Here is the full string used when pressing the "Details" button:
![image](https://user-images.githubusercontent.com/6396244/125518830-33cb448c-9b75-48f7-b3d8-24563f0c34f7.png)

Punctuation looks like it matches.

[2021-07-13 20:21] jessegreenberg commented on #277
Done in the above commit. Here is the content spoken from "Details" buton
![image](https://user-images.githubusercontent.com/6396244/125519346-a4564739-23b4-49d1-ba82-5a4772a80467.png)

And in the PDOM:
![image](https://user-images.githubusercontent.com/6396244/125519455-9a309ade-ab56-4a59-a23f-3d69cc072dc7.png)

[2021-07-13 20:28] jessegreenberg commented on #274
I just played with the sim for a few minutes changing mass and constant size frequently. I tested the case where increasing the mass also increased the distance between spheres when they push each other away. I never heard a case where the force value did not match the visual text.

I am hoping that this has been fixed since this was reported in April, the Voicing has been fully re-implemented sin

[2021-07-13 20:28] jessegreenberg commented on #268
This branch can now be deleted.

[2021-07-13 20:30] jessegreenberg commented on #268
Deleted, closing.

[2021-07-13 20:30] #268 closed

[2021-07-13 20:30] jessegreenberg commented on #264
The bubble has been removed, and we are moving forward with that currently. @terracoda OK to close this older issue?

[2021-07-13 20:32] jessegreenberg commented on #263
These parts of the utterances have not been in use for some time, closing this issue.

[2021-07-13 20:32] #263 closed

[2021-07-13 20:33] jessegreenberg commented on #266
@terracoda is this issue something that still requires work or was this reflected in the updated voicing design document?

[2021-07-13 20:34] jessegreenberg commented on #265
@terracoda does this issue still require work, or were these things in the updated Voicing design doc?

[2021-07-13 20:36] jessegreenberg commented on #196
Branch was deleted, closing.

[2021-07-13 20:36] #196 closed

[2021-07-13 20:39] jessegreenberg commented on #195
This is pretty old and nothing like this is showing up on CT currently.

[2021-07-13 20:39] #195 closed

[2021-07-13 20:48] jessegreenberg commented on #252
Done in the above commit. There was also an unused image asset that was added for Voicing but is no longer being used, removing that in the following commit.

[2021-07-13 20:49] jessegreenberg commented on #252
Removed, and no more errors/warnings in build. Closing.

[2021-07-13 20:49] #252 closed

[2021-07-13 20:50] jessegreenberg commented on #279
@terracoda can you please verify this is done correctly in https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.34/phet/gravity-force-lab-basics_en_phet.html?

[2021-07-13 20:50] jessegreenberg commented on #278
@terracoda can you please verify this issue was done correctly in https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.34/phet/gravity-force-lab-basics_en_phet.html?

[2021-07-13 20:50] jessegreenberg commented on #277
@terracoda can you please verify this was done correctly in https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.34/phet/gravity-force-lab-basics_en_phet.html?

[2021-07-13 20:52] jessegreenberg commented on #206
@terracoda is this something that still requires work?

[2021-07-13 20:53] jessegreenberg commented on #171
@terracoda can this be re-closed? Was this moved to ratio-and-proportion?

[2021-07-13 21:03] terracoda commented on #279
The last stop landmarks are working correctly.

I was hoping we could remove the "Left side of track" and "Right side of track", but that string is part of `aria-valuetext. `

Is it the case that it would be a pain to remove that string only from the Voicing feature?

[2021-07-13 21:07] terracoda commented on #278
Yes, this sounds great. Thanks.

[2021-07-13 21:07] #278 closed

[2021-07-13 21:08] terracoda commented on #277
Yes, this sounds great, too, in both Voicing and the PDOM. Thanks @jessegreenberg.

[2021-07-13 21:08] #277 closed

[2021-07-13 22:15] jessegreenberg commented on #279
Might not be a pain. Were you envisioning that "Left side of track"/"Right side of track" would just be removed entirely from Voicing? Or that it would be replaced with some other content?

[2021-07-14 12:03] zepumph commented on #171
Yes rap was taken care of.

[2021-07-14 14:50] terracoda commented on #171
Ok, sounds good closing.
I think I originally put it in this common code repo, so we could have a common shared set of possible options for for defining slider interactions in the keyboard help dialog. We tend to do different things depending on the actual sim and slider (show only left/right arrows, show only up/down arrows, or show all arrows).

[2021-07-14 14:50] #171 closed

[2021-07-14 16:13] KatieWoe opened #287 "CT update should only be necessary if node already has focus"
[code]

[2021-07-16 15:08] terracoda commented on #279
It already says, "Left side of track" and "Right side of track" when a sphere passes the center mark. I think this is done in aria-valuetext.

I was thinking...removing it from "Voicing" if it is straight forward to do so.

[2021-07-16 15:19] terracoda commented on #274
This looks fixed :-) Thanks @jessegreenberg. Closing.

[2021-07-16 15:19] #274 closed

[2021-07-16 15:43] terracoda opened #288 "(PDOM) Home and End shortcuts on macOS moves values to max and min and can move focus, too"
I think this issue might be related to https://github.com/phetsims/a11y-research/issues/164

When using VoiceOver I jump the sphere to max using the End (function right arrow) shortcut, the sphere jumps to end, and my focus moves to the next focusable item. For the spheres this only happens with function and right arrow.

With the mass controls the behaviour is different. For the Mass 1 control, t

[2021-07-16 15:47] terracoda commented on #288
Not this movement of focus also happens in John Travoltage, so maybe it is a known bug.

[2021-07-16 15:49] terracoda commented on #266
I think this has been resolved during re-implementation with name response, etc., but I will check.

[2021-07-16 15:53] terracoda commented on #266
The progress indicators are working well. Closing.

[2021-07-16 15:53] #266 closed

[2021-07-16 15:56] terracoda commented on #265
This was indeed in the design doc and has been taken care of.

[2021-07-16 15:56] #265 closed

[2021-07-16 16:07] jessegreenberg commented on #288
Yes, it sounds like this is the same issue as https://github.com/phetsims/a11y-research/issues/164. In that issue we found that Home/End moves the virtual cursor AND changes the slider value. We submitted a bug report to Apple about it.

[2021-07-16 16:13] terracoda commented on #206
Yes, @jessegreenberg, this was a bug introduce with a maintenance release that changed the distance from 9.6 to 10 km. I think the issue was that the qualitative distance scale was hard coded.

It am hoping the precentages I worked out in https://github.com/phetsims/gravity-force-lab-basics/issues/206#issuecomment-848960764 will fix the issue.

You might need to check with @zepumph about how or is

[2021-07-16 16:23] terracoda commented on #288
This is a duplicate issue. Closing.

[2021-07-16 16:23] #288 closed

[2021-07-16 16:31] terracoda commented on #264
Oh, I didn't realize we had decided to remove it all together. One of the reasons it is there is so we are not using color alone to indicate the different kinds of highlights.

The speech bubble wasn't the best design, so I'll mark this as on hold and for our next meeting.

[2021-07-16 17:11] terracoda opened #289 "(PDOM) - Consider benefits of new list design pattern that doesn't read bullets"
In https://github.com/phetsims/a11y-research/issues/158, we identified a potentially nice way to code lists.

This sim has a lot of lists.

For the upcoming re-release of this sim with Voicing, would it be too much trouble to try this list style for this sim's PDOM?

[2021-07-16 17:16] terracoda commented on #250
Based on interviews, design research, API changes, etc. thus far, I think we are doing pretty well without the need for role information.

I am going to close this issue.

[2021-07-16 17:16] #250 closed

[2021-07-20 17:55] jessegreenberg commented on #289
Discussed 7/20/21:

The fix proposed in https://github.com/phetsims/a11y-research/issues/158 should be quick to apply, I will go ahead with it. The hope is that it will sound at least as good as what we have now.

[2021-07-20 17:59] jessegreenberg commented on #279
Discussed 7/20/21 - @jessegreenberg will remove the "Left side of track" and "Right side of track" strings only in the case of Voicing.

[2021-07-20 18:06] jessegreenberg commented on #264
Discussed 7/20/21:

We agreed that it is OK that using color alone to convey this state. The icon is useful, but there are cases where it could occlude important content. CLosing.

[2021-07-20 18:06] #264 closed

[2021-07-20 22:21] jessegreenberg commented on #267
This was done in the above commits and can be heard at https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.35/phet/gravity-force-lab-basics_en_phet.html if you would like to have a listen @terracoda.

I went ahead with this one because it is related to cleanup I wanted to do for john-travoltage.

[2021-07-21 15:58] #281 closed

[2021-07-21 19:07] terracoda commented on #267
This is great @jessegreenberg, but I noticed that X-close button, does voice. I'll check John Travoltage, and open a new issue for that.

[2021-07-21 19:07] #267 closed

[2021-07-22 16:43] zepumph commented on #273
Since @arouinfar removed the blocking label in https://github.com/phetsims/gravity-force-lab-basics/issues/276, let's do that here too.

[2021-07-23 19:01] jessegreenberg commented on #206
@zepumph and I discussed this issue today and we reviewed the issue and the proposal in https://github.com/phetsims/gravity-force-lab-basics/issues/206#issuecomment-848960764. I will work on updating the ranges to be normalized and use the percentages provided.

Once working I will assign to @terracoda and @zepumph to review. @zepumph might see through a maintenance release of GFL (regular) with t

[2021-07-23 19:26] terracoda opened #290 "(Voicing) Changes to the voicing of checkboxes"
I have reviewed the checkbox interactions.

I have two changes that affect all 3 checkboxes in GFLB.
- [x] Please remove the hint responses when toggling the checkbox sates.
**Reasoning:**
Since the checkbox interaction is successful when it is toggled between a visually checked and unchecked state with any input, it's not necessary to provide an hint response when activated between checked and un

[2021-07-23 19:45] terracoda commented on #206
I am not sure this bug is in GFL regular because there is no distance checkbox in that sim, so no qualitative distance.

[2021-07-23 20:07] zepumph commented on #206
Yes thanks, I see you are totally right. Although the bug is in GFL, and should be fixed in https://github.com/phetsims/gravity-force-lab/blob/5993821a779f528e92dbf2634dc8dba8b6a83aea/js/view/describers/GravityForceLabPositionDescriber.js#L39-L70

(or maybe deleted?)

. . . it seems like it isn't used, I see that the only PositionDescriber that switches `useQuantitativeDistance` to false is in GFL

[2021-07-26 18:03] terracoda opened #291 "(Voicing & PDOM) Go beyond-edge-responses - need some clarity"
In Interactive Description when a user presses an Arrow key when they are at the max or min position, they receive a response that describes the current state information rather than a resulting change.

When moving the mass spheres this means:
- qualitative distance, and qualitative and quantitative force information
    - Far from mass 2, force arrows tiny, forces 10.9 newtons.
- just qualitativ

[2021-07-27 15:09] terracoda commented on #291
Questions for design meeting:
1. Do we all agree, we do not need go-beyond-edge responses in the Voicing feature for this sim?

[2021-07-28 14:00] terracoda commented on #291
We discussed the go-beyond-edge responses at yesterday's Voicing Design meeting. Here are the decision to the questions above:
1. Voicing: Do we need go-beyond-edge responses in the Voicing feature for this sim? Decided we do not need go-beyond-edge responses for the Voicing feature in GFLB. It was also noted that these responses are somewhat bespoke - part object state information/part context st

[2021-07-28 14:12] terracoda opened #292 "(Voicing) - Please remove repetition of last stop responses at ends of position/distance sliders"
In https://github.com/phetsims/gravity-force-lab-basics/issues/291#issuecomment-888333627, we noted a voicing issue for the move spheres slider interactions.

When a learner hits the edge, and tries to go beyond the min or max position, the last-stop-changing-force response repeats.

**Please make it so, nothing voices after a learner hits the last stop.**

Note that this is not an issue for the m

[2021-07-28 17:28] terracoda opened #293 "(Interactive Description) - Update go-beyond-edge response for mass controls"
In https://github.com/phetsims/gravity-force-lab-basics/issues/291#issuecomment-888333627, we noted an issue for the change mass number spinner interactions.

In interactive description we have go-beyond-edge responses that deliver mainly qualitative current state information when a learner tries to go beyond a min or max value.

The go-beyond-edge responses for the position/distance **mass sphere

[2021-07-29 15:42] terracoda commented on #291
@terracoda will close this issue soon, once she makes sure all long-term issues have been created. Short-term issues already created.

[2021-08-04 14:03] terracoda commented on #206
Yes, I would like this to be fixed for the re-deploy of GFLB with Voicing.

As for GFL regular, the qualitative distance region parameters which include "farthest" are only used in the scene summary. This sim does not have an explicit qualitative distance exploration mode, the values for the distances between the spheres is described quantitatively in meters everywhere else in this sim.

The dynam

[2021-08-14 21:07] jessegreenberg commented on #293
Here is the function that generates this string, and it is currently only used in this case so seems safe to change:
[code]

We should be able to remove force and units when not force values are not checked.

[2021-08-14 21:20] jessegreenberg commented on #293
Done in the above commit, will prepare a version to review shortly.

[2021-08-14 21:35] jessegreenberg commented on #292
Done in the above commit. Will prepare a new version for review shortly.

[2021-08-14 22:00] jessegreenberg commented on #290
Done in the above commits, will have a version built for review shortly.

[2021-08-14 22:09] jessegreenberg commented on #289
Work was done in scenery to support this, we are ready to try it out in the sim.

[2021-08-14 22:14] jessegreenberg commented on #289
Done in the above commit, I confirmed that `list-style` was set to `none` on the list items. I also confirmed that it removed the semantic information from the items when using NVDA, NVDA no longer says "bullet" when going through the list items.

@terracoda would you like to review this in VoiceOver?

[2021-08-14 23:22] jessegreenberg commented on #206
Change made in the above commits. I tested it in GFL and GFL:B and I am seeing"...farthest from..." in both now. @zepumph could you please review the code change, is this in line with what we discussed?

@terracoda would you like to review the behavior?

[2021-08-15 01:55] jessegreenberg commented on #279
Currently, the object response for the object node is just the aria-valuetext
[code]

The aria-valuetext for the object is created by this in ISLCObjectNode:
[code]

So we need to create a new function for voicing that returns the content of `getPositionAriaValueTextCreator` without the region information.

[2021-08-15 01:57] jessegreenberg commented on #279
Or maybe it would be better to factor out the portion of `getPositionAriaValueTextCreator` that does not include the region information. Then that could be used by voicing AND the original function.

[2021-08-15 02:05] jessegreenberg commented on #279
Done in the above commit, "Left side of track"/"Right side of track" removed for Voicing.

[2021-08-15 02:13] jessegreenberg commented on #279
@terracoda can you please review in this version? https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.36/phet/gravity-force-lab-basics_en_phet.html

[2021-08-15 02:13] jessegreenberg commented on #293
@terracoda can you please review in this version? https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.36/phet/gravity-force-lab-basics_en_phet.html

[2021-08-15 02:13] jessegreenberg commented on #292
@terracoda can you please review in this version? https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.36/phet/gravity-force-lab-basics_en_phet.html

[2021-08-15 02:14] jessegreenberg commented on #290
@terracoda can you please review in tis version? https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.36/phet/gravity-force-lab-basics_en_phet.html

[2021-08-16 18:46] zepumph commented on #206
Your implementation assumes that we will want to keep the exact same regions for Coulombs Law, which when we were designing and implementing things originally, I wasn't confident about. I'm happy to proceed if you and @terracoda decided that both GFL sims would be good using the same regions, and also as it is likely that CL will come along for free when its time comes. I like that the change mean

[2021-08-17 01:17] terracoda commented on #206
@zepumph, can you clarify what you mean by

Is it because they are not mathematically the same:
- GFL regular has a range of 1.1 meters (closest to) - 10 meters (farthest from)
- GFLB has a range from 1.3 km (closest to) to 10 km (farthest from)?

I'd like to clarify that it is the words used in the qualitative scale from "closest to" through "farthest from" that are the same in both sims, I a not

[2021-08-17 16:41] terracoda commented on #293
This sounds great. Thanks @jessegreenberg.

[2021-08-17 16:41] #293 closed

[2021-08-17 16:47] terracoda commented on #292
Sounds great @jessegreenberg.
No repetition of force response, that is nothing after last stop. Thanks!

[2021-08-17 16:47] #292 closed

[2021-08-17 16:51] terracoda commented on #290
The checkboxes sound great now. Thanks @jessegreenberg !

[2021-08-17 16:51] #290 closed

[2021-08-17 16:54] terracoda commented on #291
#292 and #293 have been verified, so closing.

[2021-08-17 16:54] #291 closed

[2021-08-17 16:55] terracoda commented on #289
Yes, reviewing :-)

[2021-08-17 17:01] terracoda commented on #289
@jessegreenberg, the lists under the mass sphere headings sound different than the list in the scene summary.

In both cases I no longer hear "bullet, bullet" which is awesome.
I hear the number of list items in the mass description lists, but not in the scene summary.

Is something different in the code?

[2021-08-17 21:46] jessegreenberg commented on #289
Ah yes, only the list in the scene summary is using this new pattern. Will apply to the new lists too.

[2021-08-17 22:00] jessegreenberg commented on #289
Done in the above commit. @terracoda can you please have another listen? I would expect all to sound as they did in the scene summary now.

If this sounds good to you we can make a new common code component for list items with this fix so that this is applied to all sims. If you think it doesn't sound as good we can revert the change.

[2021-08-17 22:03] jessegreenberg commented on #206
I had thought the intent behind the design in https://github.com/phetsims/gravity-force-lab-basics/issues/206#issuecomment-848960764 was that it would apply to all ISLC sims

And that meant that the change in regions for both GFL and GFL:B were acceptable. I am hopeful this will work for CL as well when the time comes. If it doesn't we can either change this again or override the method of Positio

[2021-08-18 00:35] terracoda commented on #279
The simplified wording for the landmarks is working as requested for both Voicing and the PDOM.
We still have the "Left/Right side of track" in PDOM aria-valuetext and we don't hear that middle indicator in Voicing.

The edge responses have been simplfilied to "Last stop left/right" for both inner and outer edges for both PDOM and Voicing.

Thanks @jessegreenberg. Closing.

[2021-08-18 00:35] #279 closed

[2021-08-18 01:21] terracoda commented on #289
Sorry @jessegreenberg, it was the lists in the Play Area that still had their counting semantics, and the list in the Scene Summary that did not.

Now none of the lists have their counting semantics.

Before the last commit, the mentioning of the bullets had been removed from all lists, and  the counting semantics were still on the list items in the Play Area.

VO would say:
heading level 3, mass

[2021-08-18 02:35] jessegreenberg commented on #289
Ah thanks for the reminder! No, I hadn't used `role=list` for any of the attempts in this issue so far.

Before the last commit there was no change made to the Play Area lists. Does that mean that Apple fixed this issue and this work is no longer necessary?? I would be curious to try with role=list applied and also with these changes reverted. If it sounds good without, I would prefer to remove th

[2021-08-18 03:50] jessegreenberg commented on #289
In this version, we have `role="list"` and `list-style=none;` on the `ul`s.
https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.40/phet/gravity-force-lab-basics_en_phet.html

In this version we have all this work removed.
https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.39/phet/gravity-force-lab-basics_en_phet.html

@terracoda can you please have a listen to

[2021-08-18 09:22] terracoda commented on #289
Oh, interesting, let’s revert then and have another listen.

[2021-08-18 14:32] terracoda commented on #289
OK, I have listened to both versions 1.1.0-dev.39 (no fix applied) and 1.1.0-dev.40 (with special fix applied.

I tested in VO using 3 browsers Safari, Firefox and Chrome.

While each browser does something slightly differently (and Chrome sounds the best), they each do their thing consistently with either version. There is no difference in the versions, and thus no need for the special fix.

Appl

[2021-08-18 14:33] terracoda commented on #289
Oh, sorry @jessegreenberg, you probabaly have to get rid of some unnecessary code. Leaving this for you to clean up and close.

[2021-08-18 14:54] terracoda commented on #289
Oh, I just tested on MacOS High Sierra, and the above fix in version 1.1.0-dev.40 does indeed remove the "bullet", and keeps the list counting semantics.

So this fix does INDEED improve the experience on older systems.
I'm not sure how PhET normally would handle an improvement that improves things on older OS's.

In our case, since Apple has fixed this problem naturally in their latest OS, I woul

[2021-08-18 15:35] jessegreenberg commented on #289
Great news, thanks @terracoda!

Yep, I will go through and remove the changes made in this issue.

Good to know, I guess that confirms that this would have been a good fix if we needed it. I agree that we shouldn't include this code, making sure that Interactive Description works on the latest AT is in line with what we have done historically.

[2021-08-18 15:48] terracoda commented on #289
I closed phetsims/a11y-research#158, too and referenced this issue.

[2021-08-18 16:00] #289 closed

[2021-08-19 14:18] zepumph commented on #206
It seems like the path forward is for @terracoda to confirm this design. I didn't realize that was the goal at all. I thought we would normalize for each individual sim's needs, keeping the abstract method.

@terracoda please take a look at the two tables I linked to in https://github.com/phetsims/gravity-force-lab-basics/issues/206#issuecomment-899737036. They show different ranges for the same r

[2021-08-19 15:20] jessegreenberg commented on #287
Was able to produce locally in a case of multitouch, which makes sense from the CT query

To reproduce, enable "Interactive Highlights", then start dragging a mass with one finger while increase the mass of the grabbed sphere with another. This will cause the mass size to change and therefore the focus highlight to change. But the dragged object does not have focus, causing the assertion.

[2021-08-19 15:21] jessegreenberg commented on #287
I think the proper fix for this is to be able to set multiple different highlights, which is also required for friction.

[2021-08-23 21:25] jessegreenberg commented on #287
This should be fixed by https://github.com/phetsims/scenery/issues/1274

[2021-08-23 21:25] #287 closed

[2021-08-25 16:41] zepumph commented on #206
@jessegreenberg I think the best path forward is to revert what was implemented, and to normalize each individual sim's implementation of the ranges.

[2021-08-30 15:47] jessegreenberg commented on #206
Sounds good. I noticed that the GFL design doc was updated so I think this can be closed. Feel free to reopen if there is anything else for this issue.

[2021-08-30 15:47] #206 closed

[2021-08-30 15:48] jessegreenberg commented on #201
This has not shown on CT for a very long time and this issue is pretty old. I am guessing this is no longer an issue, closing.

[2021-08-30 15:48] #201 closed

[2021-08-30 15:49] jessegreenberg commented on #232
This is not a sim-specific consideration, would you like to move this to a design document or a11y-research @terracoda?

[2021-08-30 15:50] jessegreenberg commented on #273
We are getting ready to republish this sim with Voicing and it will not include PhET-iO. @zepumph OK to close this issue?

[2021-08-30 16:47] zepumph commented on #273
Yes thanks.

[2021-08-30 16:47] #273 closed

[2021-08-31 15:41] Nancy-Salpepi opened #294 "interactive highlight outside dev bounds"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/702

In the iFrame, the interactive highlight for Mass Sphere 2 goes outside of dev bounds. This is not seen with Mass Sphere 1.

**Steps to reproduce**
1. In the iframe version of sim, turn on interactive highlights in preferences
2. Move Mass Sphere

[2021-08-31 18:50] Nancy-Salpepi opened #295 "VO doesn't work properly with home/end keyboard shortcuts"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/702

When VO is on, the home/end (fn + left/right arrow) keys don't work properly. Instead of changing the mass values to min/max, the VO focus moves off of the vertical spinner.  This is also seen in the published sim.

**Steps to reproduce**
1. Turn

[2021-08-31 20:16] Nancy-Salpepi opened #296 "When moving 2 objects at once, should both have interactive highlights?"
**Test device**
iPad Air 2

**Operating System**
14.7.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/702

On the iPad, when moving both spheres at the same time, only one is highlighted. Is that correct, or should both be highlighted at the same time?

**Steps to reproduce**
1. On an iPad, turn on interactive highlights in preferences
2. Move both spheres at t

[2021-09-01 18:29] Nancy-Salpepi opened #297 "Should reading highlights appear different on iPad?"
**Test device**
iPad air 2

**Operating System**
14.7.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/702

When Voicing is enabled on the iPad, the Reading Highlights do not have the black outline around them. There is only the yellow highlight fill (on a pale yellow background). This is different than on the MacBook, where Reading Highlights have both the blac

[2021-09-01 19:17] stemilymill opened #298 "(Voicing) Voice does not match text in Keyboard Shortcuts menu"
https://github.com/phetsims/qa/issues/702
Win10 Firefox

Voicing reads the heading of the "Change Mass" section of the Keyboard Shortcuts menu as "Change Massachusetts"

There is also no pause in between this utterance and the next.

![change mass reads change massachussetts](https://user-images.githubusercontent.com/85511101/131729749-ff8e1c86-0fa9-4548-87ed-2f1a250d1e70.jpg)

[2021-09-01 19:29] stemilymill opened #299 "(Keyboard Nav) Hitting [Esc] does not exit the Keyboard Shortcuts Menu"
https://github.com/phetsims/qa/issues/702
Win10 Firefox and Chrome

Hitting [Esc] does not exit the Keyboard Shortcuts Menu.

The only exception I have found is:
Open sim
[tab] until keyboard shortcut icon on nav bar
[space] to select
Without doing anything else, [Esc] to exit menu

One example to recreate the bug:
Click keyboard shortcuts icon on nav bar
Hit [Esc]
nothing will happen

Another exa

[2021-09-01 19:51] Nancy-Salpepi opened #300 "Voicing stops with end/home keyboard nav"
**Test device**
chromebook

**Operating System**
92.0.4515.157

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/702

Similar to https://github.com/phetsims/gravity-force-lab-basics/issues/295 but this is occurring with voicing, not a screen reader.
When using the home/end keys to jump to min/max mass, there is either a very long delay in the voicing or it doesn't

[2021-09-01 20:03] Nancy-Salpepi commented on #299
To add on to what @stemilymill was reporting, the esc key works to exit out of the preferences tab ONLY if you haven't manipulated anything after it is opened. Once you click on anything, the esc key no longer works.

[2021-09-01 20:19] Nancy-Salpepi commented on #297
Actually--Using the Mac,I can see that if I move focus off of a reading highlight, the black outline goes away. Closing this issue.

[2021-09-01 20:19] #297 closed

[2021-09-01 22:39] stemilymill commented on #300
Unable to reproduce on win10 chrome, firefox, or edge.

[2021-09-01 23:21] stemilymill opened #301 "Screen Reader says "10 Billion" as "one zero billion""
For https://github.com/phetsims/qa/issues/702

Test device : Dell laptop
Browser/screen reader combos:  Firefox & NVDA, Chrome and JAWS

When using the Change Mass spinner, if the mass is set to 10 billion kg, the screen reader says "one zero billion kilograms" instead of "ten billion kilograms."

This did not happen in the published version.

(I'm still learning terminology, please correct me so

[2021-09-02 13:03] Nancy-Salpepi opened #302 "Voicing statement does not match available options"
**Test device**
Chromebook

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/702

When Mass Sphere 2 is on last stop right and Mass Sphere 1 is moved to last stop right, if you then click on Sphere 2, Voicing says "Move Mass 2" even though that is not possible. This also occurs in the opposite situation (mass sphere 1 at last stop left).

**Steps to reproduce**
1.

[2021-09-02 18:20] Nancy-Salpepi opened #303 "Voicing delayed or absent with Chromebook"
**Test device**
Chromebook

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/702

Voicing is delayed or requires more than 1 click sometimes to work. Once it starts working, the delay is lessened.

**Steps to reproduce**
Here is one example: Using a chromebook--turn on voicing in preferences. You should get a delay here.

**Visuals**

https://user-images.githubuser

[2021-09-03 16:07] Nancy-Salpepi commented on #295
I noticed that this issue is on the known bugs list so I am closing.

https://github.com/phetsims/resistance-in-a-wire/issues/163

[2021-09-03 16:07] #295 closed

[2021-09-07 13:02] Nancy-Salpepi commented on #299
When testing this morning on the iMac + safari, the escape key was working as it should. I went back and tested on the MacBook + chrome (where the issue was occurring last week) and it is also working there as it should (with and without voicing on). Not sure if issue still occurs with Windows.

[2021-09-07 14:33] stemilymill commented on #299
I just tested on WIn10 chrome and the escape key was working properly.

[2021-09-07 17:05] Nancy-Salpepi opened #304 "VO mobile moves from sim description to bottom toolbar"
*Test device**
iPad. Air 2
iPadOS 14.7.1

**Problem description**
https://github.com/phetsims/qa/issues/702

Sometimes, when I first enter the sim using VO, the descriptions are read and then the VO moves to the preferences button. I have to then swipe left to be able to actually interact with the sim itself.

**Steps to reproduce**
1. open the sim
2. turn on VO by pressing the home button 3 times

[2021-09-07 23:55] Nancy-Salpepi opened #305 "VO focus jumps after interacting with an object/control"
**Test device**
iPad Air 2

**Operating System**
14.7.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/702

After interacting with an object/control such as a spinner or a checkbox, on the next swipe of my finger, VO sometimes jumps to a completely different area. Some examples include to the sim description or to the preferences button. This does not always occ

[2021-09-08 01:08] Nancy-Salpepi commented on #305
I have also seen this occur after a spinner is manipulated.
In general, VO works correctly for several minutes and then one of these inconsistencies will occur.

[2021-09-08 16:25] jessegreenberg commented on #305
Hmm, I am not sure why this is happening. I noticed in the video recording that at around 5 seconds there is a single tap and VO makes a low beep sound. It could be related, I will try it on my device.

[2021-09-08 16:27] Nancy-Salpepi commented on #305
Yes @jessegreenberg please do. Sometimes I'm not sure if it is because I'm just new at using VO with the iPad or if it is a real issue.

[2021-09-08 16:29] jessegreenberg commented on #304
Interesting, it could be related to #305 but I am not sure. If you tap on the Preferences button, I would expect the virtual cursor (black highlight) to move there, but the video is clearly swiping gestures. Perhaps the end of the gesture is too close to the preferences button and VO thinks focus should go there. Ill try to do gestures that look similar to what @Nancy-Salpepi was doing in this vid

[2021-09-08 16:29] jessegreenberg commented on #305
Understood! What you have shown is not what I would expect so Im glad you made an issue.

[2021-09-08 16:32] jessegreenberg commented on #303
Thanks @Nancy-Salpepi - would you be able to see if this is happening in the published version of john-travoltage too? I don't have access to a chromebook so I need to think about how I can investigate further.

[2021-09-08 16:37] jessegreenberg commented on #301
Thanks @stemilymill. Normally I would say this kind of screen reader output is out of our control but since it isn't happening in the published version maybe something has changed. Ill try to get it to happen myself and then look for anything that might have changed in the formatting of the value.

[2021-09-08 16:38] jessegreenberg commented on #301
Confirmed with NVDA + Firefox.

[2021-09-08 16:39] Nancy-Salpepi commented on #305
Here is another example (I didn't do any accidental taps in this one).

https://user-images.githubusercontent.com/87318828/132549727-73909b33-a901-4d6d-91a4-5501e9e28f77.mov

[2021-09-08 16:39] jessegreenberg commented on #300
Thanks @Nancy-Salpepi and @stemilymill. It is starting to look like there are performance problems with Voicing and Chromebooks. And I am starting to wonder if #303 is similar to this issue, voicing is just being slow.

[2021-09-08 16:42] jessegreenberg commented on #305
Thanks @Nancy-Salpepi - I also hear the same low beep sound in that video recording at the 15 second mark, wondering if it could be related.

[2021-09-08 16:46] jessegreenberg commented on #299
I am guessing that what is happening in this issue is that "esc" to close the dialog is only happening if focus is in the dialog. Focus is in the dialog when you first open it, or while you are tabbing through focusable dialog components. But as soon as focus leaves the dialog (by tabbing out of it, or clicking anywhere inside of it) focus goes away and you cannot close it with the "esc" key.

@Na

[2021-09-08 16:46] Nancy-Salpepi commented on #305
Yeah that sound happens when I swipe and VO focus doesn't change. It makes that noise instead.

[2021-09-08 16:50] jessegreenberg commented on #298
Thanks for making an issue, this is kind of funny. But certainly not what we want. I was able to see this in Firefox as well. There isn't a way to change the voicing interpretation of the string. I am not sure why Voicing is interpreting "Massachusetts" for the bold and not for other strings. "Change Mass" label next to the arrow keys is read correctly by speech synthesis.

[2021-09-08 16:53] jessegreenberg commented on #296
This is a really good question @Nancy-Salpepi, one that I would like to discuss with @emily-phet and @terracoda. Currently, our Highlight system supports only one highlight at a time. This came from the fact that the highlight system initially assumed focus highlights. It seems like it should be improved to support multiple highlights at once for cases of multitouch.

But I would like to see if ot

[2021-09-08 16:56] jessegreenberg commented on #294
Thanks @Nancy-Salpepi - also true for the focus highlight:
![image](https://user-images.githubusercontent.com/6396244/132551926-78c98328-3f27-41e1-acb8-f80da30296fd.png)

I am seeing it with mass1 as well, depending on the mass value.

@emily-phet @terracoda I am curious if this is of concern to you or if you want to make any changes?

[2021-09-08 17:12] jessegreenberg commented on #300
@emily-phet mentioned that for sound there were cases where certain components more readily enabled/supported sound than others. That could be happening here.
@terracoda mentioned that if there are no issues with keyboard input, it could be more of an input bug than a performance bug.

[2021-09-08 17:18] jessegreenberg commented on #302
Reviewed in meeting today with @terracoda - @terracoda said that one thing we could consider is adding dynamic help text that describes how to unblock the mass when it is stuck in this case and cannot be moved. @terracoda and @emily-phet both said that we should hold off on this for now and maybe come back to this later.

Was a good point @Nancy-Salpepi, thanks for pointing out. Closing.

[2021-09-08 17:18] #302 closed

[2021-09-08 17:20] jessegreenberg commented on #301
@terracoda said that maybe in the published version we were spelling out numbers like "ten". Ill check into that. If we cannot find why this is happening or if something changed in the formatting @terracoda and @emily-phet suggested we could spell out the numbers.

[2021-09-08 17:22] jessegreenberg commented on #298
@terracoda suggested that we make sure there is no punctuation that could trigger this. @emily-phet suggested to see what happens when we do not capitalize the "M".

[2021-09-08 17:28] zepumph commented on #301
I confirmed in https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.0.3/phet/gravity-force-lab-basics_a11y_view.html that the published version is using real numbers, not words:

![image](https://user-images.githubusercontent.com/6856943/132555761-518f1938-8870-4ebb-a20c-a2b39c4ffe61.png)

There are the two items copied from each sim:

[code]

[2021-09-08 17:28] Nancy-Salpepi commented on #303
@jessegreenberg I saw 2 things with the published John Travoltage sim:

1. If I move between the quick info options while one is being read aloud, voicing does not tell me what option I am now on. If I interrupt the voicing after moving the arm or leg and switch focus between them, voicing works as it should.

2. When turning on voicing for the first time, it takes 2 seconds for voicing to actuall

[2021-09-08 17:31] jessegreenberg commented on #296
Discussed with Voicing team:

@emily-phet mentioned that enabling multiple Interactive Highlights at once, it could create complications when working with other types of highlights.

@terracoda suggested that there are sims coming up (like ratio-and-proportion and quadrilateral) that have multitouch fundamentally part of the intended interaction. When we work on those that would be a good time to

[2021-09-08 17:38] jessegreenberg commented on #294
Discussed with Voicing team:

All agreed that this behavior is OK for now. In the future if we notice excess white space for the highlights we can trim things up but generally it is OK for highlights to extend beyond dev bounds.

We quickly looked into trimming up the extra space that is shown in the above images, but nothing was obvious to change quickly.

Closing this issue.

[2021-09-08 17:38] #294 closed

[2021-09-08 18:40] stemilymill commented on #298
This is kind of unrelated but I don't know who to tell separately- the "Change Mass" label next to the arrow keys should not have "Mass" capitalized, in order to match the rest of the dialog.

[2021-09-08 19:00] jessegreenberg commented on #298
Thanks @stemilymill , Ill make a new issue for that.

[2021-09-08 19:04] jessegreenberg opened #306 "Update capitalization of "Move Mass" label to "Move mass""
Suggested by @stemilymill in https://github.com/phetsims/gravity-force-lab-basics/issues/298.

[2021-09-08 19:06] jessegreenberg commented on #306
Done in the above commit. Needs a cherry pick for https://github.com/phetsims/qa/issues/702

[2021-09-08 19:14] jessegreenberg commented on #301
Thanks @zepumph, thats helpful! I just confirmed that published version does not have this bug. The biggest difference I see is the min, max, and step attributes though I am not sure why that would cause this. Ill try to isolate in an example HTML case.

[2021-09-08 19:41] stemilymill commented on #299
I first noticed it when I was using nav keys to go through the keyboard shortcuts menu with voicing- I think that means the focus was still in the dialog? But it also happened after clicking inside of the dialog. However, this issue doesn't seem to be happening anymore for me or Nancy.

[2021-09-08 20:28] brooklynlash opened #307 "VO does not end reading when exiting any menu"
**Test device**
MacBook Pro

**Operating System**
Mac 10.15.7

**Browser**
Chrome

**Problem description**
When reading a list on any menu (keyboard shortcuts, about menu, etc.) and exiting while the voice is still talking, the voice will not stop. The only way that the voice will stop is if you click something else to override it or change browser tabs.

**Visuals**
Let me know if you need any an

[2021-09-08 20:49] Nancy-Salpepi opened #308 "Voicing says "Maller" instead of "Smaller"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/702

When the mass is decreased, Voicing says "As mass gets smaller, force arrows get maller"

**Steps to reproduce**
1. Enable voicing
2. Select the first 2 voicing options
3. Go to either spinner and decrease the mass.

**Visuals**

https://user-imag

[2021-09-08 21:00] brooklynlash opened #309 "When using Command + up/down keys, arrows on-screen stick and stay at either 1 or 10"
**Test device**
Macbook Pro

**Operating System**
Mac 10.15.7

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/702
I tried using Command + up/down to increase or decrease the size of the mass balls on the mass sliders while on keyboard navigation, but once you click a combo once, the arrow sticks at that position and will not allow you to change the size of ma

[2021-09-09 17:40] KatieWoe opened #310 "Mobile VO bullets no longer read out after changes are made"
For https://github.com/phetsims/qa/issues/702. Mobile VO on iPadOS 14. May be related to other Mobile VO issues that have been showing up.
When reading through the scene description, the bullet points describing the scene seem to disappear if you have made changes.
Steps:
1. Swipe two fingers up to read through the scene description
2. Adjust the positions and masses of the objects
3. Swipe up aga

[2021-09-09 17:44] jessegreenberg commented on #310
Thanks @KatieWoe - seems really similar to the issue in john-travoltage: https://github.com/phetsims/john-travoltage/issues/449

[2021-09-14 21:34] jessegreenberg commented on #299
OK thanks @stemilymill - If you were using nav keys, I think that means you were using VoiceOver, not Voicing. In that case it is possible you were reading thorugh the dialog while focus was still outside of it.

But since it doesn't seem to be happening anymore I don't think there is anything else to check, closing this issue.

[2021-09-14 21:34] #299 closed

[2021-09-14 21:45] jessegreenberg commented on #308
Thanks @Nancy-Salpepi, it really does sound like "maller" in your recording. I just tried on Windows 10 Chrome and you can really hear the "S" in "smaller", so it is not a missing character in the string. And there are no cases of "maller" (matching word) in any of the ISLC sims. I think it is an issue with the synth.

[2021-09-14 21:55] jessegreenberg commented on #308
This is not happening for me in macOS 11.4 Firefox 90.0.2. I am using voice "Alex" with default settings. @Nancy-Salpepi can you please comment which voice you were using? I think it sounds like "Alex" in your recording.

@terracoda @emily-phet what would you like to do about this issue? In general, what should our policy be when the synth has erroneous output? Maybe we just need to handle it on a

[2021-09-14 21:56] jessegreenberg commented on #307
Thanks @brooklynlash. I expected this case to be handled, checking to see why this is happening.

[2021-09-14 21:58] jessegreenberg commented on #296
This has been noted by the team, but the result from the above discussion is that there is nothing to do for now or for this release of GFL:B. This issue can be closed and if we may want to support multiple highlights in the future we will create a new issue in scenery.

[2021-09-14 21:58] #296 closed

[2021-09-14 22:03] jessegreenberg commented on #304
I am quite sure this is the same as #305 now closing this and moving to that one since there are already more comments there.

[2021-09-14 22:03] #304 closed

[2021-09-14 22:03] Nancy-Salpepi commented on #308
@jessegreenberg I am using "Alex" at a rate of 1.25x in the video. I can hear the "s" of "smaller" pronounced using safari. It is with chrome that I am hearing "maller."

[2021-09-14 22:08] jessegreenberg commented on #308
Oh thanks! Sorry, I am not sure why I misread that it was happening in Firefox. I just tried it out in macOS 11.4 with Chrome using "Alex" at 1.25x. I still was not able to produce what your synth created, I am still clearly hearing the "s" in the second "smaller".

[2021-09-14 22:10] Nancy-Salpepi commented on #308
@jessegreenberg I think we already know that my computer has a mind of its own! Do you want me to check on my iMac?

[2021-09-15 14:38] terracoda commented on #308
I think miss-pronunciations will be a problem sometimes.

In this case, we know there is no such thing as "maller than" so the mispronunciation should not cause a confusion in terms of learning. It's just not ideal.

I don't think we need to try and fix this one. We need to watch for things that cause completely incorrect utterances. A good example of a bad one was when we heard "Massachusetts" in

[2021-09-15 14:43] jessegreenberg commented on #308
OK thanks @terracoda, sounds good.

@Nancy-Salpepi thanks but that is OK, I think that is sufficient for this issue. Closing.

[2021-09-15 14:43] #308 closed

[2021-09-15 14:54] jessegreenberg commented on #305
OK, I played around with the sim on my iPad Air 2 and I think I see what is happening. I don't think this is a bug but just a result of the gesture shown in the video capture in https://github.com/phetsims/gravity-force-lab-basics/issues/305#issuecomment-915394908.

The Preferences button in the navigation bar uses `positionInPDOM: true`, which means if you tap on it VO will move the virtual curso

[2021-09-15 15:47] jessegreenberg commented on #301
I verified that this is happening in the RC. I verified that this is NOT happening in the last published version. I have not been able to find a way to reproduce this in a basic HTML example. I tried adding attributes up to the slider that is in master. Then I tried copying the exact HTML in the PDOM into a different HTML page and didnt' see this happen.

More surprising is that I just notice this

[2021-09-15 15:52] jessegreenberg commented on #301
One difference I see between unbuilt and built is that in the built version there are directional embedding marks:
![image](https://user-images.githubusercontent.com/6396244/133466905-4bd2f164-4336-42c8-abb5-f3870dde7339.png)

[2021-09-15 19:25] Nancy-Salpepi commented on #305
Thanks for the video @jessegreenberg. Things are working much better now. You have been helpful as always. I figured it was me, which is why I was hesitant to open up an issue in the first place. When you swipe up with 2 fingers to start from beginning, does VO start from the beginning of the sim or from the header above the sim? Mine starts at the back arrow. Does that mean I'm not swiping correc

[2021-09-15 20:19] jessegreenberg commented on #301
I just confirmed that removing the directional marks fixes this issue.

[2021-09-15 20:28] jessegreenberg commented on #301
Resolved in the above commit. This has been cherry picked into the scenery gravity-force-lab-basics-1.1 release branch for GFL:B.

[2021-09-15 20:32] jessegreenberg commented on #298
It is broken up into sentences for Voicing. So It looks like "Change Mass." which I could see being interpreted as an abbreviation for the state.

[2021-09-15 20:39] jessegreenberg commented on #298
Yes, changing to a comma fixes this.

[2021-09-15 21:02] jessegreenberg commented on #306
Cherry pick done.

[2021-09-15 21:13] jessegreenberg commented on #298
Change committed and cherry-picked to the 1.1 SHAs.

[2021-09-16 12:21] terracoda commented on #298
Good catch @jessegreenberg. We'll have to keep this capitalization and punctuation in mind for auditory description displays :-)

[2021-09-16 16:33] jessegreenberg commented on #305
Hooray, so glad to hear it @Nancy-Salpepi! Always very helpful to have issues to investigate, I appreciate you finding them and creating them (including this one!).

To be honest mine starts at the "Heading level 1" of the simulation, not the back arrow. But I doubt you are doing anything wrong, maybe it is just a setting or difference in iOS version. Since you are generally able to move the curso

[2021-09-16 17:24] Nancy-Salpepi commented on #305
I never would have thought I would fail at swiping! Haha.
I didn't have any issues when using a shortened flick gesture yesterday and just tried again today..so I do think it is OK to close.

[2021-09-16 17:24] #305 closed

[2021-09-17 19:26] arouinfar opened #311 "`audio=disabled` hides navbar icon but doesn't disable audio"
For https://github.com/phetsims/qa/issues/702

This is identical to the problem described in https://github.com/phetsims/balloons-and-static-electricity/issues/543.

Steps to reproduce:
1. Run 1.1.0-rc.2 with `audio=disabled`
2. Open Preferences dialog and select Audio tab
3. Turn on Audio Features toggle
4. Sim now makes sound and there is no way to mute it (short of muting the browser tab)

In m

[2021-09-17 19:37] arouinfar commented on #311
The bug in master has been logged in https://github.com/phetsims/joist/issues/746.

[2021-09-22 15:53] jessegreenberg commented on #311
There are some improvements still to be made in https://github.com/phetsims/joist/issues/746 but this is fixed by the commits there which can be cherry picked into 1.1.

[2021-09-22 22:05] jessegreenberg commented on #303
@Nancy-Salpepi helped me remote access into a chromebook. I cannot hear output with remote access but I can see when the voicing responses are coming out with `?printVoicingResponses`. `?printVoicingResponses` puts the output text in the console when the actual utterance from the browser starts speaking, so it is a good indication of the output. Using this I can confirm that it is very delayed the

[2021-09-22 22:55] jessegreenberg commented on #303
Just noting some thoughts about things we could improve (or not):
1) Can we reuse the `speechSynthesisUtterance` so that we don't recreate one every speech? Maybe this will be faster, maybe not.
2) What if on the first input to the sim we trigger some empty speech so our first speech synthesis isn't the one used to say that voicing is enabled. This would kind of be like "revving the engine".
3) I

[2021-09-22 23:22] jessegreenberg commented on #303
Here is the patch to try:

[code]

The `focus`  event (from scripting focus on the screen div) is triggering `Display.userGestureEmitter`, so I had to prevent that from happening to get the input gesture from actual input.

[2021-09-24 00:06] jessegreenberg commented on #309
Thanks @brooklynlash. I was curious if this was introduced in a recent change of how we determine which keys are pressed, but I just noticed that this issue is in the published version as well so it has likely been an issue for longer than that.

[2021-09-24 15:31] jessegreenberg commented on #309
It appears that we do not get the keyup event when the meta key is down:
https://stackoverflow.com/questions/11818637/why-does-javascript-drop-keyup-events-when-the-metakey-is-pressed-on-mac-browser

[2021-09-24 15:43] jessegreenberg commented on #309
The same is sort of true for Windows, but the meta key for windows removes focus from the document so this isn't possible. I think the best thing we can do is prevent any keydown behavior when a meta key is down so that we cannot get in this state.

[2021-09-24 15:48] jessegreenberg commented on #309
We have encountered this before in KeyboardDragListener and handled it with
https://github.com/phetsims/scenery/blob/d73d6fc643306e149c3eede8706e6d107c978397/js/listeners/KeyboardDragListener.js#L265-L271

[2021-09-24 16:59] jessegreenberg commented on #309
A fix for this has been made in the above commit for both AccessibleValueHandler and AccessibleNumberSpinner. I tested myself on Windows Chrome and Firefox and MacOS Chrome and Firefox and the behavior is fixed.

[2021-09-24 17:02] jessegreenberg commented on #309
Cherry pick done.

[2021-09-29 15:39] KatieWoe opened #312 "CT No voices available to provided a prioritized list"
[code]

[2021-09-29 16:18] zepumph commented on #312
Likely this is common code, and not specific to GFL voicing

[2021-10-20 13:56] jessegreenberg commented on #311
Cherry pick has been done and dependencies.json has been updated.

[2021-10-20 15:43] jessegreenberg opened #313 "Keyboard Nav doesn't work properly when zoomed in"
The fix for the issue that was caught in https://github.com/phetsims/balloons-and-static-electricity/issues/546 should be cherry-picked into the 1.1 release of GFL:B as wel.

[2021-10-20 15:44] jessegreenberg opened #314 "Issues from"
The solution for https://github.com/phetsims/balloons-and-static-electricity/issues/541 should be cherry-picked into the 1.1 release  of GFL:B as well.

[2021-10-20 20:04] #313 closed, assigned to jessegreenberg

[2021-10-20 22:49] jessegreenberg commented on #303
This is really good information, next is to decide the best way to apply it.

[2021-10-27 20:29] #300 closed, assigned to jessegreenberg

[2021-11-01 20:44] Nancy-Salpepi commented on #309
On Mac + chrome, pressing command + arrow keys no longer changes the value in the vertical spinner.

[2021-11-01 20:44] #309 closed

[2021-11-02 18:51] KatieWoe commented on #310
This does seem to be fixed in rc.3 when looking at iPadOS 15

[2021-11-02 19:25] KatieWoe commented on #301
Looks ok on Win 11

[2021-11-02 19:25] #301 closed

[2021-11-02 19:44] KatieWoe commented on #298
Looks ok on Win 11 Firefox+NVDA

[2021-11-02 19:44] #298 closed

[2021-11-02 19:52] stemilymill commented on #306
Looks fixed in win10 chrome and firefox

[2021-11-02 19:52] #306 closed

[2021-11-02 20:06] jessegreenberg commented on #310
OK thanks for verifying @KatieWoe. Ill close this issue but I imagine we may run into this in other sims still since it is still a problem for john-travoltage. Ill make a general issue in a11y-research and probably submit an apple bug report about this.

[2021-11-02 20:06] #310 closed

[2021-11-11 21:15] terracoda opened #315 "Update ScreenShots to include preferences navbar icon"
This sim needs screenshots on the website. It now has the "Preferences" menu in the navbar. We forgot to this before publication with Voicing.

@arouinfar, who would normally take care of this? Is this something I should know how to do?

[2021-11-11 22:57] arouinfar commented on #315
@terracoda screenshots on the website get updated when the sim is built/deployed. It will require a maintenance release to update the screenshots on the website post-publication. Generally, you can ask QA to retake screenshots while a sim is in RC testing. If you want to make any changes to the screenshots, you can include a screenshot in the issue for them to recreate at the correct size/aspect r

[2021-11-16 21:50] arouinfar commented on #315
I updated the screenshots in master and the 1.1 branch in the commits referenced above.

@terracoda please let me know if you would like an additional screenshot that demonstrates the Voicing feature or the Preferences dialog in action.

Assigning to @terracoda @jessegreenberg and responsible-dev @zepumph to decide on the priority of a maintenance release.

[2021-11-16 22:02] jessegreenberg commented on #315
Looks good to me, I am happy to do a MR with the screenshot changes when ready. Would probably be me since I saw through the 1.1 publication let me know if you feel differently @zepumph.

@terracoda handing over to @terracoda for https://github.com/phetsims/gravity-force-lab-basics/issues/315#issuecomment-966683686, feel free to reassign to me when published.

[2021-11-18 01:47] terracoda commented on #315
I think a screen shot that shows the voicing feature is a great idea.

[2021-11-18 18:51] terracoda commented on #315
@jessegreenberg, please include one screen shot of the voicing, like the one in [comment](https://github.com/phetsims/gravity-force-lab-basics/issues/315#issuecomment-966683686)

[2021-11-18 18:54] arouinfar commented on #315
@jessegreenberg I can take care of the screenshot. I'll get it committed shortly.

[2021-11-18 19:07] arouinfar commented on #315
@jessegreenberg I added an additional screenshot that shows the Voicing feature. The commits to master and 1.1 are referenced above.

<img width="768" alt="gravity-force-lab-basics-screenshot-alt3" src="https://user-images.githubusercontent.com/8419308/142480475-fec9dec7-b616-4eb9-9f24-74a41d924b62.png">

[2021-11-23 17:10] KatieWoe opened #316 "CT the requested module does not provide an export named default"
[code]

[2021-12-02 18:48] zepumph commented on #316
phetsims/chipper#1156 has fixed this.

[2021-12-02 18:48] #316 closed

[2021-12-13 19:56] zepumph opened #317 "VoicingNumberPicker should be put into common code"
I came about this because of https://github.com/phetsims/scenery/issues/1283#issuecomment-992800551, but think that the full solution should wait on @jessegreenberg and my work in https://github.com/phetsims/sun/issues/730. I will commit a work around that passes only non-voicing options to super, and then passes voicing options through later.

[2021-12-13 20:02] zepumph commented on #317
I think that this issue should be put on hold until https://github.com/phetsims/sun/issues/730 is progressed further, and we have a more common-code centric solution for AccessibleValueHandler. sound good @jessegreenberg?

[2022-01-28 18:09] KatieWoe opened #318 "Update QA credits"
Thanks to @Nancy-Salpepi for catching this. When https://github.com/phetsims/qa/issues/729 there were some QA testers that should have been added to the credits. These include: Emily Miller, Nancy Salpepi, and Brooklyn Lash.

[2022-01-28 23:26] jessegreenberg commented on #318
I updated QA credits in https://github.com/phetsims/gravity-force-lab-basics/commit/2f3f317e0f384e314a91cf62df0614445376437b and @KatieWoe confirmed over slack that they look good. There is a batch MR in progress right now and I am not sure if that blocks publications. I already committed the change to the branch. I will deploy either when the batch MR is done or I hear from the responsible dev.

[2022-01-31 23:41] jessegreenberg commented on #318
The MR was completed and the republication picked up this change. This is now done, closing.

[2022-01-31 23:41] #318 closed

[2022-02-04 20:59] terracoda opened #319 "Issues related to object and context responses for mass sphere sliders"
**Voicing Issue (GFLB Only)**
- [ ] Not hearing distance changes or force changes when using keyboard when Voicing is enabled. I do hear distance value on keyboard focus, just not when moving the spheres with any step size (default, small, large, home and end keys).

**Interactive Description Issues (GFLB and GFL):**
- I hear object and context responses when using the keyboard with VoiceOver and

[2022-02-04 22:48] zepumph commented on #319
Fixed, see https://github.com/phetsims/scenery/issues/1340#issuecomment-1030410527

[2022-02-04 22:48] #319 closed

[2022-03-11 19:03] zepumph opened #320 "MassControl voicing should run on Voicing trait in NumberPicker"
I made [this commit](https://github.com/phetsims/gravity-force-lab-basics/commit/aa60ff35c871eeda5b2a6cfc0dcd8088ce750230) over in https://github.com/phetsims/scenery-phet/issues/725, which @terracoda used to report that context responses were lost in https://github.com/phetsims/scenery-phet/issues/725#issuecomment-1059757907.

I think we should have all voicing covered by the trait.

[2022-03-11 19:05] zepumph commented on #320
@jessegreenberg, can you take a look, does this seem acceptable to you?

[2022-04-12 15:18] jessegreenberg opened #321 "Not hearing object responses when activating checkboxes"
While on a call today with @terracoda we noticed that the context responses are not being spoken while activating checkboxes.

[2022-04-14 23:41] jessegreenberg opened #322 "Implementation changes after https://github.com/phetsims/scenery/issues/1403"
After https://github.com/phetsims/scenery/issues/1403 changes are coming to Alerter.ts and Voicing.ts which may require implementation changes in the sim. This issue is to track and review.

[2022-04-16 00:00] jessegreenberg commented on #322
OK, I think thats it for this issue, most other voicing responses are made with `voicingSpeak*` functions.

[2022-04-16 00:00] #322 closed

[2022-04-25 16:16] terracoda commented on #320
The Mass number pickers in GFLB and the Left and Right Value number pickers in RaP are working well, and seem to be working in the exact same way as well.

The reading blocks are different, but that is intentional. The Mass Control reading blocks in GFLB are not keyboard accessible (this is intentional) whereas the Current Challenge reading block is keyboard accessible (this is intentional).

[2022-04-25 16:17] terracoda commented on #320
Leaving open for @jessegreenberg.

[2022-04-25 16:19] terracoda commented on #320
My comment was supposed to go in the related phetsims/scenery-phet#725 issue, copying it over there.

[2022-06-06 16:56] KatieWoe opened #323 "CT Assertion failed: cannot set state while setting state"
[code]

[2022-06-09 15:56] zepumph commented on #323
See https://github.com/phetsims/phet-io-wrappers/issues/441

[2022-08-26 18:42] terracoda opened #324 "No longer hearing voiced context responses on checkboxes"
I think something happened in Voicing common code. I am no longer hearing context responses on the checkboxes.

[2022-08-26 18:44] terracoda commented on #324
Maybe this is a known issue?

[2022-09-23 21:07] jessegreenberg commented on #320
Code changes look good and @terracoda confirmed that the behavior is good, closing.

[2022-09-23 21:07] #320 closed

[2022-09-23 21:21] jessegreenberg commented on #317
This issue can be closed, VoicingNumberPicker no longer exists and GFLBMassControl implements Voicing through its parent options (eventually AccessibleValueHandler). I just tested the spinner and it is working well. Closing.

[2022-09-23 21:21] #317 closed