[2019-04-29 20:02] zepumph commented on #114
I updated the regions to the table. In my opinion I still feel like the "tiny" region occupies too large a percentage of the "normal use"  play possibilities, but I understand why (because of the curve of the inverse square relationship). I think it is fine now. I'm also happy to tweak wording, just tell me when and how.

[2019-04-29 20:39] zepumph commented on #123
Added in the above commits @samreid please review.

[2019-04-29 20:49] samreid commented on #123
Looks good, thanks!  I made minor text updates and var => const.  I would also recommend assigning to the responsible dev to make sure the value change didn't disturb any overt behavior, for this repo and probably a new issue for GAO.

[2019-04-29 21:42] zepumph commented on #120
Yes! That is correct from my calculations.

I think the way to proceed is to remove these "constants" because the usages of these should really be looking at the inputs (mass and distance) instead of assuming that the force (output) is always within that range. I haven't totally looked at usages of these, but hopefully we can use the model to output the min/max force based on constants like "MIN_M

[2019-04-29 22:48] zepumph commented on #123
Thanks for the cleanup! I've been working in this repo and already tested here, and will continue to be on the look out. I also created https://github.com/phetsims/gravity-and-orbits/issues/279. Closing

[2019-04-29 22:48] #123 closed

[2019-04-30 08:44] terracoda commented on #121
@zepumph, I was wondering if I should reopen phetsims/scenery-phet#491 , but I'll let you assess and and re-open as necessary.

[2019-04-30 16:42] terracoda commented on #119
@zepumph, I mentioned in https://github.com/phetsims/a11y-research/issues/138#issuecomment-487534714 that I reviewed the design of the `aria-valuetext` and I assigned you a couple of questions to you from the design doc. We can discuss at our next meeting.

And with changing the Mass number spinners to sliders with `aria-roledescription` should mean we shouldn't have any mobile issues with this si

[2019-04-30 17:40] terracoda commented on #114
@zepumph, what I put in the table was the current implementation when I made the changes.
I'll review before our meeting. I think we might need a hard visual maximum for tiny.

[2019-04-30 20:14] zepumph commented on #121
@terracoda I would like to discuss this tonight together and to hear what you are experiencing. I think that will be the easiest step forward.

[2019-04-30 20:15] zepumph commented on #109
@terracoda is this now fixed from work done in https://github.com/phetsims/sun/issues/497

[2019-04-30 20:44] zepumph commented on #118
In the above commit I reordered things, and I also refactored GeneralKeyboardHelpSection to be more explicit and easy to tell what the final order is. I also converted to es6. @terracoda please review, and also note that all the work done for this is in common code, and that this is now an option anywhere (I think you already knew that).

[2019-04-30 20:58] zepumph commented on #121
Good idea

[2019-04-30 21:13] terracoda commented on #118
@zepumph, the content looks and sounds great.

I think there might be an extra ` aria-labelledby` because I am hearing an end of group announcement after the starting heading block of the dialog.

I have heard this before, and I just looked in  the code to see why...
<img width="938" alt="Screen Shot 2019-04-30 at 10 54 35 PM" src="https://user-images.githubusercontent.com/1902116/56993534-0043ed8

[2019-04-30 21:16] terracoda commented on #118
Oh duh, I see the commit was in scenery-phet. I'll move the comment to scenery-phet.

[2019-04-30 21:23] terracoda commented on #118
@zepumph, please close this issue when https://github.com/phetsims/scenery-phet/issues/494 is addressed.

[2019-04-30 21:28] terracoda commented on #121
@zepumph, we can discuss tonight, but I basically hear zero `aria-live` alerts, and only hear `label` content and `aria-valuetext` when interacting with anything (sliders, checkboxes, buttons).

[2019-04-30 23:25] zepumph commented on #120
What if something like `ISLCModel.calculateForce` was static and public so that in the constants file we could use the ranges of distance/mass to actually calculate the correct constants for force within that file?

[2019-05-01 05:23] zepumph opened #124 "Redesign - Remove on focus listener that changes aria-valuetext on position sliders"
Because of a lack of support discovered as part of https://github.com/phetsims/gravity-force-lab-basics/issues/119 and https://github.com/phetsims/a11y-research/issues/138

From talking with @terracoda during our  meeting tonight:

**Possible option 1:**
Only provide "left/right side of track" a single time immediately after other landmarks like "last stop" and "track end". Also we can make sure "

[2019-05-01 05:48] zepumph commented on #121
After discussing with @terracoda, we reverted some of the changes in https://github.com/phetsims/scenery-phet/issues/491

like https://github.com/phetsims/scenery-phet/commit/7a6c7c9936cb7178dc3088836a241ddffb959291

We also noticed that we need to increase the alertStableDelay for the position sliders and mass number spinners. I wonder if we should do this by increasing the default (reverting the

[2019-05-01 06:49] terracoda opened #125 "Redesign to address focus/blur listeners - Mass slider's (number picker) dynamic aria-valuetext"
@zepumph, apologies, maybe more detail than you need...

Due to the lack of focus and blur events with VoiceOver on iOS, @zepumph and @terracoda discussed two possible design changes for providing the comparative size/density descriptions for the masses.

For reference, currently, the third bullet for both mass 1, Blue sphere and mass 2, Red Sphere do not change when Constant Size is checked as no

[2019-05-01 07:05] terracoda commented on #125
@zepumph, actually you might only have time to do a single option, so just do option 2.

I need a version for May 7th in the morning, (see #122), I'll need the change ported to the sonification wrapper, too. So this might be tight.

[2019-05-01 07:11] terracoda commented on #124
@zepumph, I am still liking option 1, and I will update the design doc asap, before Monday morning, and hopefully before.

[2019-05-01 07:52] terracoda commented on #125
This issue is related to https://github.com/phetsims/a11y-research/issues/138

[2019-05-01 21:58] jessegreenberg commented on #89
Using the new ValueChangeUtterance may help.

[2019-05-01 22:16] jessegreenberg commented on #121
Solution proposed and ready for review in https://github.com/phetsims/scenery-phet/issues/491

[2019-05-02 01:30] zepumph commented on #121
@terracoda will you please review.

[2019-05-02 08:46] terracoda commented on #118
@zepumph, I will close this issue as it is common to all sims and any needed work will be done in phetsims/scenery-phet#494

[2019-05-02 08:46] #118 closed

[2019-05-02 08:50] terracoda commented on #109
Yep, you fixed it! Sounds great! And utterance queue is not piling up; nicely jumping to latest value after quick changes!

Closing!

[2019-05-02 08:50] #109 closed

[2019-05-02 09:06] terracoda commented on #121
@zepumph, the alerts are working well.
A couple of times I didn't hear the mass value in kilograms, but I haven't isolated that.
I am going to close this issue as things are working very well, and will keep watching for mass alert misses and see if I can isolate it.

And I checked the A11y View, too. The alerts are working well, there. I still get the normal repetition of aria-live alerts that I h

[2019-05-02 09:06] #121 closed

[2019-05-02 09:17] terracoda commented on #125
This issue address requirements for a11y mobile issues #119.

[2019-05-02 09:39] terracoda commented on #122
**Confirmed Time for next interview**
- Tuesday May 7th, 4:00 am AKDT / 7:00 am CT / 14:00 CET

Need ported sonified versions that hopefully have #124 and #125 redesigns included.
@zepumph, just do what you can. I can also discuss these changes with the consultant to get feedback.

[2019-05-02 09:40] terracoda commented on #124
Tagging issue #122

[2019-05-02 10:47] terracoda commented on #84
**Final list of things to do**
- [ ] #114 - @terracoda to review before Monday May 6th
- [ ] #116 - assigned to @zepumph , med priority
- [ ] #119 - mobile a11y, coming along nicely
- [ ] #120 - min force bug? assigned to @zepumph
- [ ] #122 - consultant interviews scheduled for March 7th and maybe 10th (high priority)
- [ ] #124 - redesign of position sliders, @terracoda to make clear before Mond

[2019-05-03 12:26] terracoda commented on #124
@zepumph, I have update the big table as if Option was implemented.
Handing over to you.

[2019-05-03 13:50] terracoda commented on #124
@zepumph, please note that I haven't yet cleaned up all the places in the document where I was explaining when & what position regions/landmarks to use. The tables have reliable information, so just stick to the tables and the text for option 1 in https://github.com/phetsims/gravity-force-lab-basics/issues/124#issue-439072224

Here are direct links to the updated tables:
- [Table: Position Regions

[2019-05-03 20:34] zepumph commented on #124
Above is the change to the aria-valuetext, next is adding the close/far to the alert.

[2019-05-03 22:16] zepumph commented on #124
Above the alerts were moved over. @terracoda please review. I think this is good enough for feedback though it may not be perfect yet.

[2019-05-03 22:34] zepumph commented on #125
Option 2 has been implemented above, let me know what you think!

[2019-05-03 22:37] zepumph commented on #125
I noticed that right now the aria-valuetext doesn't update when the constant-size checkbox is toggled. That can mean a buggy value read out on focus.

[2019-05-06 10:11] terracoda commented on #124
@zepumph, apologies for not getting to this on the weekend. I found some issues. **If at all possible** could you please address by end of your day Monday:
1. Missing the word "**force**" (my emphasis) in two _progress alert_ phrases.
  a. I would like the _progress alert_ phrases (i.e. phrases starting with "Closer" and "Farther away") to include the word "**force**" (bolded for emphasis only):

[2019-05-06 10:19] terracoda commented on #125
@zepumph, I like hearing the comparisons for size or density after the value for mass. I think this will work.

Yes, I hear the stale `aria-valuetext` upon focus of a mass control just after the Constant Size checkbox has been checked or unchecked. I'll, mention this to the consultants of they notice this issue.

@zepumph, is it reasonable to assume, we could handle this bug by forcing a reset on

[2019-05-06 10:21] terracoda commented on #125
@zepumph, and just to follow-up on that last idea, we already have to swap the help text paragraph when the Constant Size checkbox is checked or unchecked, so maybe we refreshing the `aria-valuetext` on teh mass controls at the same time would be ok?

[2019-05-06 10:24] terracoda commented on #125
@zepumph, any further changes to the mass controls can wait until after this weeks interviews, so changing the priority to medium.

[2019-05-06 11:16] terracoda opened #126 "Sound design question: spatial audio for position sliders?"
@Ashton-Morris and @jbphet, due to the lack of focus and blur events available on mobile platforms, we can't use some of the position-orientation phrases as I designed them. These phrases are meant to provide users with some indication of where the mass sphere (that they are currently focused on) is a long the track. Specifically these phrases: "Left side of track", "Right side of track, "Last sto

[2019-05-06 13:34] terracoda commented on #89
@zepumph, alerts are no longer piling up.  I think this issue can be closed.

[2019-05-06 16:09] jbphet commented on #126
It's somewhere in between easy and really difficult.  Web Audio has good support for panning, and I did some experimentation with it early on, but we largely decided not to do much with it because we couldn't always count on users wearing headphones, and the stereo imaging is a bit too subtle to rely on when coming from laptop speakers.  Because of this, tambo (the sound library) doesn't currently

[2019-05-06 20:14] zepumph commented on #124
(1) and (2) should be fixed by the above commit. (1) just needed me to change a string, and (2) was a stupid bug where there was one flipped if statement, so basically everything was backwards, position alerts when there shouldn't be, and no position alerts when it was appropriate to.

[2019-05-06 21:41] terracoda commented on #124
@zepumph, thanks! It sounds much better now, please make dev link and port to sonification wrapper for issue #122, and you are awesome!

[2019-05-07 00:10] zepumph commented on #125
Yes that is sim specific, though that isn't necessarily a deal breaker. I just wish there was a better way to handle edge cases like these. Let's discuss more at our meeting.

[2019-05-07 00:10] #89 closed

[2019-05-07 00:12] zepumph commented on #124
(3) is just like https://github.com/phetsims/gravity-force-lab-basics/issues/125#issuecomment-489831657 and above comments about the Mass Control's value text and the constant size checkbox. It may be nice to think through solutions together.

[2019-05-07 01:59] zepumph commented on #122
@terracoda  here you are! https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.113/phet-io-wrapper-sonification/gravity-force-lab-basics/html/gravity-force-lab-basics-sonification.html?sonificationFile=sonificationOptions&massSound=0&forceSound=0&massBoundaryLimitSound=2&accessibility

[2019-05-07 07:42] terracoda commented on #124
@zepumph, yes, I figured it was a similar problem. Now, that we will not use a blur event to reset it the `aria-valuetext`.

[2019-05-08 04:39] zepumph opened #127 "Remove on focus force alerts for position and mass control sliders"
@terracoda found this from the consultant interview. Basically we can remove them for 2 reasons:

1. Information overload, note that the size of the arrow is already in the screen summary and on each of the descriptions for the mass spheres.
2. Thiss force alert relies on a focus event, which isn't cross platform enough.

@terracoda asked the consultant what's expected when a control gains focus,

[2019-05-08 05:07] zepumph commented on #124
"Last stop right" should never be in an alert with "Closer". Instead it should overwrite that piece, so if at the last stop, then moved in a step, then moved out back to the last stop, the alert would say:
"Last stop right, force arrows small, forces now 184.7 ‪newtons‬."

@terracoda would ideally like to keep the "Track end left" in the aria-valuetext. It is nice to have them when focusing that e

[2019-05-08 05:39] zepumph commented on #125
@terracoda will take a look at this from a design perspective. From our meeting, we are leaning on removing the comparisons from the aria valuetext (since they can become out of sync when moving the other mass), and instead move that perhaps to the sphere descriptions. @terracoda also thought though that that may be too verbose, because that info is already in the screen summary. She will have a l

[2019-05-08 05:41] zepumph commented on #125
The other option would be keep the "verbose" comparison valuetext in the mass controls, and to update the aria-valuetext each time (1) this mass control changes, (2) the other mass control changes, (3) the constant size checkbox changes. Thus treating this aria-valuetext more like a dynamic description than a value dependent on the aria-valuetext. We will only go down this road if we need to.

[2019-05-08 10:11] terracoda commented on #127
@zepumph, specifically we are talking about the short aria-live alert that describes the size of the arrows when either a move mass or change mass control gains focus. This issue is not related to `aria-valuetext`.

[2019-05-08 11:02] terracoda commented on #124
@zepumph, your comment above looks good. I think you understand this, but just for clarity, I'll add that due to the spheres horizontal positioning, "Last stop right" would never be in an alert with "Farther away" and "Last stop left" would never be in an alert with "Closer".

Imagine the user is starting an interaction with the Move mass 1 slider and is 1 key press away from mass 2. They get thei

[2019-05-08 16:52] jbphet commented on #126
I just realized that I made a bit of an assumption in my previous comment.  I assumed that "positional audio" means left and right panning, and this thinking was influenced by the use of the term 'spatial audio' in the title.  If that sort of panning of the audio is not what is being discussed, please let me know.

[2019-05-08 19:20] Ashton-Morris commented on #126
I had previously asked John if he thought panning the sounds would help certain users. But we weren't sure how noticeable it would be to most users or what listening environment they would be in.

That type of work would be main on Johns end though if you are talking about L R panning.

[2019-05-08 19:22] Ashton-Morris commented on #111
@arouinfar @ariel-phet We ended up editing the force sound in response to your comments. We looked at the ending duration of the force sound and altered it to be shorter but still longer than the duration of the mass sound, so they both can be distinguishable.

Since the concept of force is the most important aspect of the sim we feel the sound should be on by default. Since the beginning we have

[2019-05-08 19:22] #111 closed

[2019-05-08 19:33] terracoda commented on #126
@jbphet and @Ashton-Morris, yes, I think I am talking about L R panning. I agree that it would not be available in all situations, but I wanted to reach out to see if it was hard or easy to see if it was worth doing to compensate for some environments.

Thanks for your comments. I'll discuss with @emily-phet.

[2019-05-08 22:54] jessegreenberg commented on #119
phetsims/sun#499 got us most of the way there to mobile VO working with NumberPicker. But the values in GFLB are creating problems in mobile VO because the `step` attribute is so much smaller than the mass range (1/1000000000).  https://github.com/phetsims/sun/issues/509 was made for that issue.

[2019-05-09 05:30] terracoda commented on #119
@jessegreenberg, I am confused, can't the step be 1, and the range be 1 to 10?

[2019-05-09 12:24] terracoda opened #128 "The updating of all aria-valuetext?"
In light of issues #125 and #124 should we consider more deeply the idea that @zepumph mentioned on Wednesday that allow for a 1 to many relationship for controls? Or more simply having all aria-valuetext update when there's a model change.

Discuss pros and cons with @emily-phet.

[2019-05-09 12:28] terracoda commented on #126
We'll put it on the wish list for Tambo, but no worry about it right now.

[2019-05-09 12:29] #126 closed

[2019-05-09 15:25] jessegreenberg commented on #119
@terracoda for sure, that would also solve the issue. The current implementation of this sim has both the physical model and NumberPicker units in kg so the range goes from 1000000000 - 10000000000. Only the display of the value is in billions of kg. Ideally, alternative input should well for any range and step size, so https://github.com/phetsims/sun/issues/509 was to see if it could be improved

[2019-05-09 21:27] jessegreenberg commented on #119
I just tested on an iPad Air 2 with VoiceOver and the sim works well. @zepumph @terracoda is there anything remaining for this issue?

[2019-05-10 10:14] terracoda commented on #119
@jessegreenberg, perhaps not. We do have some general design changes that we are working on to not rely on focus events. I think these will be handled generally, though, so maybe not effect this issue.

[2019-05-10 12:56] jessegreenberg commented on #128
This issue may be related: https://github.com/phetsims/sun/issues/507

[2019-05-10 13:09] jessegreenberg commented on #128
Also, Accessibility.js currently has a setter for aria-valuetext, would it be too tricky to use that? AccessibleValueHandler could update the aria-valuetext when its valueProperty changes while in other situations the client can set ariaValuetext directly through the Accessibility trait.

[2019-05-14 14:11] terracoda commented on #125
@zepumph, due to issues with stale `aria-valuetext`, I think it is best to remove the comparative descriptions all together from the mass 1 and mass 2 number spinners.

To get this sim into dev testing as close to on time as possible, @emily-phet and I decided it is less problematic to implement option 1 as described below and in  in https://github.com/phetsims/gravity-force-lab-basics/issues/125#

[2019-05-14 17:37] terracoda commented on #125
@zepumph, my solution in the previous comment doesn't work if distance is not checked.
Assigning back to myself!!! Arrgh!

[2019-05-16 10:22] terracoda commented on #125
@zepumph, ok after much toil and trouble I couldn't re-work the third-bullet phrase to not mention the second mass twice and also not create a need to change the parameter strings.

I feel that the simplest and best solution is to add the word “_**also**_” (emphasis mine) to the unchanging part of the second half of the phrase. When we do this, I think it sounds ok, and most importantly, there is

[2019-05-16 10:24] terracoda commented on #122
I did two sessions with screen reader consultants with the above version (May 7th and May 10th).

[2019-05-16 10:24] #122 closed

[2019-05-16 11:05] terracoda opened #129 "Change alerts when Distance checkbox is unchecked and checked"
Currently, when a user unchecks the Distance checkobox, the hear:
- Distance hidden.

In my May 10th session, the consultant was unsure of what "Distance hidden" meant. She was unsure what she would hear instead of values in kilometers. She seemed hesitant to explore with Distance no checked.

**Suggested options for a clarity:**
1. Distance relative, kilometers hidden.
2. Kilometers hidden, dista

[2019-05-16 11:31] terracoda commented on #114
@zepumph, I am deciding to leave the ranges as they are.

[2019-05-16 11:31] #114 closed

[2019-05-16 12:01] terracoda commented on #129
Actually, we will go with changes to both alerts:
- Distance measured in kilometers.
- Distance measurement hidden.

[2019-05-16 22:41] terracoda commented on #129
@zepumph , just adding the state changes for clarity
**When Distance checkbox becomes unchecked**
- Distance measurement hidden.

**When Distance checkbox becomes checked**
    Distance measured in kilometers.

[2019-05-16 23:52] zepumph commented on #129
Updated above, closing

[2019-05-16 23:52] #129 closed

[2019-05-17 11:55] terracoda opened #130 "Orientation for customized number spinner"
For optimal accessibility and cross-platform usability, the number spinner's in this sim are implemented as sliders with the `aria-roledescription="number spinner"`

The number spinners are visually vertical, and this should be explicitly set on the slider to indicate that the Up Down Arrow keys are the keys of choice.

Interestingly, on May 10th our VoiceOver consultant indicated some confusion a

[2019-05-17 17:50] zepumph commented on #130
Makes sense to me! I made the number spinner default to vertical, since I think that that is what most NumberSpinner and NumberPickers look like at phet. The mass controls are now vertical in orientation. Closing

[2019-05-17 17:50] #130 closed

[2019-05-17 18:48] zepumph commented on #127
@terracoda all 4 on focus alerts have been removed. Please review.

[2019-05-17 19:06] zepumph commented on #119
I'm going to unassign for now, but keep the blocking label on it. That will guarantee that we can have one more test either before or during dev testing.

[2019-05-17 20:52] zepumph commented on #125
Implemented above. Now the mass control aria-valuetext is just the mass and unit (for both GFLB and REGULAR). Also in GFLB the PDOM Node's third bullet has been updated to your spec (not in REGULAR).

Please review @terracoda.

[2019-05-17 20:56] zepumph commented on #116
@terracoda, I also only see this in the aria-valuetext. This was fixed for the mass controls in https://github.com/phetsims/gravity-force-lab-basics/issues/125, and will be handled for the position sliders in https://github.com/phetsims/gravity-force-lab-basics/issues/124. Closing this issue.

[2019-05-17 20:56] #116 closed

[2019-05-17 21:38] zepumph commented on #92
Much has been converted in the last few months, though not linked here. The rest of the sim was converted in the above commit. Closing

[2019-05-17 21:38] #92 closed

[2019-05-17 21:55] zepumph commented on #120
There are 2 places where these constants are used in REGULAR and BASICS:

1. Force describers
2. For linear mappings of the puller images in PullerNode.js

[2019-05-17 23:17] zepumph commented on #120
`ISLCModel` already had two prototype methods: `getMaxForce`/`getMinForce`.

Everywhere we were using the force constants we were able to easily access an instance of the ISLCModel, so we could just use those methods instead.

Also while I was add it, I converted the left/right boundary constants into a range also, for clarity.

I'm happy with how much duplicated, assuming code I just removed. I t

[2019-05-17 23:17] #120 closed

[2019-05-17 23:33] zepumph commented on #128
Though I think that is close, I am worried about that solution because I don't like the idea of duplicating complicated aria-valuetext creation logic in AccessibleValueHandler and spiratically whereever you need to link to another Property. Instead I was looking into calling over to AccessibleValueHandler to update accordingly. See `AccessibleValueHandler.updateOnFocusAriaValueText` which does thi

[2019-05-18 02:45] zepumph opened #131 "CONSTANT_RADIUS_ALERT does adjust labels for BASICS"
This is  a place where `m1` and `m2` have still leaked into BASICS.

[2019-05-18 02:47] zepumph commented on #131
Tagging @terracoda so she is aware. Closing

[2019-05-18 02:47] #131 closed

[2019-05-18 06:06] terracoda commented on #124
@zepumph, FYI, I have been working on this and am almost ready to summarize. Apologies for the delay.

[2019-05-18 06:06] terracoda commented on #124
Oops wrong issue!

[2019-05-18 06:09] terracoda commented on #124
Nope, correct issue. I'm working on this ;-)

[2019-05-19 22:11] terracoda commented on #124
@zepumph, I've updated the table. I'll add a summary of details here in the morning to make sure this issue (and any remaining questions I have) are clear.

[2019-05-20 11:39] terracoda commented on #124
@zepumph, apologies this has taken so long.
I also updated the summary section on Position & Distance and added a description of the pseudo-logic for special cases.
- [Summary logic for position/distance](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.l8i3vsko1d7c)

I updated and split the tables for the cognitive walk-through.  There are now two gro

[2019-05-20 11:53] terracoda commented on #127
Beautiful. Verified and closing.

[2019-05-20 11:53] #127 closed

[2019-05-20 12:22] terracoda opened #132 "Mass Control Alerts says masses are moving when they are not"
Just noticed when changing mass, I got the moving mass alerts incorrectly.

The description of moving the other sphere on a mass change also fires incorrectly, but I didn't take a screen shot of the other one.

I can't seem to easily reproduce the incorrect alerts.
<img width="707" alt="Screen Shot 2019-05-20 at 1 55 33 PM" src="https://user-images.githubusercontent.com/1902116/58020066-602c1500-7

[2019-05-20 12:28] terracoda commented on #125
@zepumph, the mass control `aria-valuetext` and the content of the third bullet sound good.
While verifying this issue I noticed a bug in the `aria-valuetext`. I heard movement of masses described when a change was not cause movement. Opening a new issue for that.

[2019-05-20 12:28] #125 closed

[2019-05-20 12:29] terracoda commented on #132
I noticed this while verifying #125, but as I said this bug also appeared on May 19th with a previous version.

[2019-05-20 12:32] terracoda commented on #119
@jessegreenberg and @zepumph, I think we have addressed this issue, so unassigning myself, too.

[2019-05-20 12:36] terracoda commented on #132
@zepumph, I think these edge-case alerts were originally verified in https://github.com/phetsims/gravity-force-lab-basics/issues/90

I'm not sure when issues crept back in, but I don't think I heard them before May 10th.

[2019-05-20 12:52] terracoda opened #133 "Screen Summary: tweak to static description of screen summary"
Based on a comment from my May 10th session, I think it might be a good idea to add the idea of the existence of a track into the static part of the screen summary.

**Currently, the second paragraph in the static intro reads:**

**Please change to:**

[2019-05-20 12:53] terracoda commented on #133
@zepumph, not sure you can notice it, but I bolded the new words in previous comment.

[2019-05-20 22:59] terracoda commented on #124
@zepumph
Re my comment

**To be more clear:**
- Step 11 ("Left/right side of track") if it is easier to leave as currently implemented, please do so.
- Step 16 ("Track end left/right") leave in `aria-valuetext` if easier, or implement as `aria-live alert` just like "Las stop left/right", whichever is easier (or more elegant).

[2019-05-20 23:03] terracoda commented on #47
@zepumph, adding priority to this issue, so it's on your radar.
I had trouble accessing the sim today, so I don't actually know what credits are missing.

[2019-05-20 23:08] terracoda commented on #128
@zepumph, I am not sure of priority for this issue.
But if we need to solve this issue to solve issue noted in https://github.com/phetsims/gravity-force-lab-basics/issues/124#issuecomment-490443573, then I would mark it as high priority.

[2019-05-21 00:18] zepumph commented on #132
@terracoda I made two changes here.
1. The state of the mass alert is now reset (it wasn't before). Likely the weirdness had to do with this if you were trying to read the alert after reset.
2. I made the alert more "in sync" with the mass Property changing. Before there was a delay because the position wasn't updated until after the mass change listeners had already changed. I tried to summarize

[2019-05-21 00:22] zepumph commented on #133
Implemented above, thanks for the bolding!

[2019-05-21 00:22] #133 closed

[2019-05-21 20:24] zepumph opened #134 "Code Review after a11y implementation prep work"
There have been previous code reviews brought to my attention in https://github.com/phetsims/inverse-square-law-common/issues/30 and https://github.com/phetsims/gravity-force-lab-basics/issues/49 by @jessegreenberg. Still I think that enough has changed in the last year to warrant a second one. If for no other reason than to focus on the a11y specific code.

Steps to complete before code review is

[2019-05-21 20:55] terracoda commented on #132
@zepumph, the mass alerts sound good, unassigning myself. @jessegreenberg, please close after you review.

[2019-05-21 23:58] ariel-phet commented on #134
@zepumph I think @jessegreenberg would still be in the best position for this review considering his familiarity with these sims.

[2019-05-22 01:12] zepumph commented on #124
@terracoda I hope that everything is done in the above commit. I went through both walk throughs and things are looking pretty good. In general I made comments in line in the walkthrough, but I will mention the stuff I noticed here too for clarity:

* "Left/right side of track" regions are only stated through valuetext when crossing the center line.
* "Track end left/right" along with "last stop l

[2019-05-22 04:40] zepumph commented on #124
@terracoda and I discussed, and we are alright with the way it currently is.

[2019-05-22 04:48] zepumph commented on #128
- [ ]  Note, on reset, the aria-valuetext isn't being updated correctly with "left/right side of track" if the object was on its starting side, and then is reset to that same side (because there is no change, so it doesn't explicitely say it.

[2019-05-22 05:03] zepumph commented on #99
@terracoda and I think that this small discrepancy is fine for now. It's an issue with the visual design and how it used the snap-to locations. In this case we think that the the descriptions are actually more correct, although it doesn't align with the visual display. Closing for now, and we can revisit this if we find that this is an issue in interviews with users using auditory descriptions and

[2019-05-22 05:03] #99 closed

[2019-05-22 05:59] terracoda opened #135 "Final Tweak: Punctuation and Capitalization"
Due to the fact that VO reads out `aria-valuetext` first and then adds it's own punctuation (usually a comma) before reading the label name and function name, @terracoda thinks it is best to remove capitalization and periods from strings that appear in `aria-valuetext`. ARIA-live alerts are more independent, so when crucial, it we could consider managing sentence capitalization and punctuation mor

[2019-05-22 06:52] terracoda commented on #135
@zepumph, I think https://github.com/phetsims/inverse-square-law-common/commit/f93f99d933cd7975f37575e3a02e735f98ecdb98 addresses this issue.

Please review, locally, I still see bracketed parameter in some alerts, but that shouldn't be related to my changes.

[2019-05-22 07:14] terracoda commented on #124
@zepumph, I am just following up on your last comment and our discussion.
From a description perspective where I am assuming the user is not seeing the arrows, I was asking myself when is the best time for them to find out about the actual size of the arrows. I thought that the last stop/the track end (an early cue) was a good time to reveal this state-info about the size of the arrows.

I am comf

[2019-05-23 08:08] terracoda opened #136 "Keyboard dialog columns and content"
@zepumph, at our last meeting I asked about rearranging the Keyboard Shortcuts dialog content. We decided not to make any changes.

However, I think I wasn't clear on what I actually wanted. I want the PDOM reading order to stay the same, but for the second column to be the long one.

The layout would be similar to the dialog in Molarity, having both **Change Mass** instructions and **Basic Action

[2019-05-23 21:17] zepumph commented on #135
Those changes look great. I linked the commit to this issue via a comment on the commit. Looks like you linked with `#{number}` which will just link to the issue in the repo fo that commit, so in this case phetsims/inverse-square-law#135 (which doesn't exist). You can link it directly in the commit message across repos by adding something like `phetsims/graivty-force-lab-basics#135` to the end of

[2019-05-23 21:21] zepumph commented on #136
Ahh! That makes more sense. And it is very easy. Implemented above, please review.

[2019-05-24 08:10] terracoda commented on #135
Regarding, the third checkbox, I will just play a little and then comment.
Will re-assign then.

[2019-05-24 09:34] terracoda commented on #136
Beautiful!
Could you verify that the first 2 headings, "Move Spheres" and "Change Mass" are starting at the same spot? "Move Spheres" looks a tiny bit higher to me, but maybe it is an optical illusion.

In addition, to reduce vertical height of the entire dialog, you could reduce some of the space above "Basic Actions" heading, but only if possible. I am assuming this chunk is from common code, so

[2019-05-24 09:36] terracoda commented on #136
@zepumph, if this spacing is too nit-picky, it is not a blocking issue. We can just as easily close this issue.

[2019-05-24 10:07] terracoda commented on #135
@zepumph, I would indeed like to have these "going-beyond-the-edge" alerts to have proper sentence case with a capital letter at the start.

In addition, could you append the **other** mass's name to the described distances, so they look like this:

**Random examples for mass 1:**
- **F**arthest **from mass 2**, force arrows tiny, forces 0.7 ‪newtons‬.
- **C**losest **to mass 2**, force arrows tin

[2019-05-24 10:32] terracoda commented on #135
@zepumph, since this is a new request, I think it requires a new issue. I will do that.

In this issue, just capitalize the alerts ;-) I moving my last comment to a new issue.

**Random examples for mass 1:**
- **F**arthest, force arrows tiny, forces 0.7 ‪newtons‬.
- **C**losest, force arrows tiny, forces 39.5 ‪newtons‬.
- **E**xtremely close, force arrows very small, forces 144.2 ‪newtons‬.
- **V

[2019-05-24 10:37] terracoda opened #137 "Add other mass name to "go-beyond-edge" alerts"
In following up to issue #135, if there is time please add the other mass's name, so these "go-beyond-edge" alerts so they would look like this:

**Random examples for mass 1:**
- **F**arthest **from mass 2**, force arrows tiny, forces 0.7 ‪newtons‬.
- **C**losest **to mass 2**, force arrows tiny, forces 39.5 ‪newtons‬.
- **E**xtremely close **to mass 2**, force arrows very small, forces 144.2 ‪ne

[2019-05-25 00:48] zepumph commented on #136
In the code they are both "top aligned" and I actually thought that "Change Mass" was higher when looking at it with a ruler (lol). I think it is an optical illusion.

I think that the spacing is based on the default of Dialog in general, and would probably be best to keep it.

I'm going to close. Let me know if you feel strongly about these two things.

[2019-05-25 00:48] #136 closed

[2019-05-28 19:42] zepumph commented on #128
After discussing this with @jessegreenberg, we decided to add a list of dependencies to `AccessibleValueHandler` so that the valuetext can update whenever any of them change.

It was also important to support this through an option and a setter for convenience, so I will add that too.

[2019-05-28 22:42] zepumph commented on #124
@terracoda, now because of work in https://github.com/phetsims/gravity-force-lab-basics/issues/128 some of this is fixed. I still haven't been able to get the reset to work correctly. I'll keep working on it soon. Here is the patch for that work in progress:

<details>

[code]

</details>

[2019-05-28 23:54] zepumph commented on #128
I added `a11yDependencies` above. This seemed to fix the issues in GFLB, though not the ones related to reset. @jessegreenberg can you please review. @terracoda I'll assign you to review over in https://github.com/phetsims/gravity-force-lab-basics/issues/124 once some edge cases for GFLB are more sorted out.

[2019-05-28 23:55] zepumph commented on #128
Note @jessegreenberg I'm most worried about how I'm handling "oldValue." Although it worked in JT, I'm not confident in the long term strength of that logic.

[2019-05-30 20:27] jessegreenberg commented on #132
This seems like a valid use case of Utterance `alertStableDelay`, my only concern is that this in this usage seems like it works around a model implementation detail.

Could the strategy be changed to only generate the correct description when we detect one of the two cases? What I am wondering about is if ISLCObjects had something like
`valueChangedPositionConstantEmitter` and `valueChangedPositi

[2019-05-30 20:52] jessegreenberg commented on #128
Changes to AccessibleValueHandler look great @zepumph, very nice. `oldValue` looks very reasonable, I can't think of cases where that will break. One question regarding a code comment:

Do you think this could be changed/improved somehow? I am having a hard time remembering why they were mutually exclusive.

[2019-05-31 11:13] terracoda opened #138 "Remove list structure on Mass Controls"
In light of https://github.com/phetsims/ohms-law/issues/148#issuecomment-497514617, it is likely best to remove the list structure around the Mass controls.

Hopefully, this is quite easy to do.
@zepumph, I'd keep the `aria-labelledby` on the parent `div`.

**Possible pseudo-code**
[code]

[2019-05-31 19:15] zepumph commented on #132
Yes that makes a lot of sense. An emitter cleaned things up nicely in the alert manager, though it added some code to the model step function. Please review with the following thoughts:
* I needed to add a conditional around each positionProperty/valueChangedPositionEmitter pair because before one was being called each frame, and Property.set() was providing the no-op. Adding the Emitter meant I h

[2019-05-31 19:20] zepumph commented on #128
Sounds good. Please let me know what you think about it now, feel free to close or recommend.

[2019-05-31 19:41] zepumph commented on #135
This capitalization was actually easier than I thought. The regions in question weren't used anywhere else, so I could just capitalized them in line, and didn't need to create a new `DISTANCE_REGIONS_CAPITALIZED` list or something like that. @terracoda please review.

[2019-05-31 19:51] zepumph commented on #138
I ended up replacing the `UL` with a div, and the `LI` with a div. The resulting output has more divs, but keeps the aria-valuetext in the a11y view more inline:

![image](https://user-images.githubusercontent.com/6856943/58730970-08f53280-839a-11e9-9c18-b9669624934f.png)

When the `LI` tags are just removed, we get this:

![image](https://user-images.githubusercontent.com/6856943/58731003-1d392f8

[2019-05-31 19:56] zepumph commented on #47
How's that @terracoda ?

[2019-05-31 20:56] zepumph commented on #124
@terracoda I ended up only setting it on region change, meaning only when crossing the center line. This simplified the code, and also the reset case.

@jessegreenberg I added reset methods to `AccessibleSlider` and `AccessibleValueHandler`.

Overall I'm happy with these changes. We will see what dev testing/code review brings.

@terracoda please review the aria-valuetext for the positions as a wh

[2019-05-31 20:58] zepumph commented on #119
I will make sure to mention this in the dev testing issue I create today. Closing

[2019-05-31 20:58] #119 closed

[2019-05-31 21:05] zepumph commented on #132
The above commit fixes the alerts, Now we know (a) which object's value changed AND (b) which object's position changed. The alert changes for all 4 cases there.

[2019-05-31 21:08] zepumph commented on #132
The above commit fixes the alerts, Now we know (a) which object's value changed AND (b) which object's position changed. The alert changes for all 4 cases there.

[2019-05-31 21:29] jessegreenberg commented on #132
Cool, looks great! I am personally OK with the points in https://github.com/phetsims/gravity-force-lab-basics/issues/132#issuecomment-497829426 and given how they make it easier to observe the model changes we are interested in.

[2019-05-31 23:15] jessegreenberg commented on #128
👍

[2019-05-31 23:15] #128 closed

[2019-06-02 08:47] terracoda commented on #138
@zepumph, the goup of mass controls sounds great on VoiceOver! Closing this issue.

[2019-06-02 08:47] #138 closed

[2019-06-02 08:49] terracoda commented on #135
Capitalization on the alerts great. Thanks @zepumph. Closing.

[2019-06-02 08:49] #135 closed

[2019-06-02 08:55] terracoda commented on #124
@zepumph, I realy like how this is working! We get a sense of the track in the scene summary, and then if the side of the track changes, we hear that we have crossed over to a different side.

The `aria-valuetext` goes nice with edge alerts as well.

I think this is just the right balance. I am pleased the results as well. Closing.

[2019-06-02 08:55] #124 closed

[2019-06-02 09:01] terracoda commented on #47
@zepumph, I think names are supposed to be alphabetical order by last name. Could you double check that? I think the devs  are not listed that way. I am not sure of all the conventions.

[2019-06-03 06:47] terracoda commented on #47
@zepumph, the names all look good though, so if the dev order is good, you can close this issue.

[2019-06-03 20:04] #47 closed

[2019-06-03 21:24] zepumph opened #139 "Memory test"
From code review in #134

[2019-06-03 22:25] zepumph commented on #139
requirejs mode fuzzing

|snapshot|time|heap|
|---|----|----|
| 1 |1:00| 25.9 |
| 2 |2:00| 28.7|
| 3 |3:00| 29.4|
| 4 |7:45| 30.3|
| 5 |9:00| 30.3|
| 6 |11:30| 30.5|
| 7 |15:30| 30.8|
| 8 |20:30| 30.9|
| 9 |25:00| 30.9|
| 10 |30:00| 31.2|
| 11 |48:00| 31.6|

built sim fuzzing

|snapshot|time|heap|
|---|----|----|
| 1 |1:20| 23.1 |
| 2 |2:20| 24.5|
| 3 |3:40| 25.4|
| 4 |6:00| 25.8|
| 5 |10:10| 26.3|

[2019-06-03 22:26] zepumph commented on #139
This doesn't look like anything worth looking into. When comparing heaps, there is a lot of churn, and most of the deltas are scenery internal. I am not worried about these.

[2019-06-03 22:27] zepumph commented on #139
Closing

[2019-06-03 22:27] #139 closed

[2019-06-04 09:10] terracoda opened #140 "What's the "Shadow Content"?"
Just curious about something called the "Shadow Content" that I see when I inspect the PDOM?

What is it, and is it needed?
I am curious if it has any effect on the Accessibility Tree?

Assigning to @jessegreenberg, but @zepumph, feel free to comment if you know about it.

[2019-06-04 09:19] terracoda opened #141 "Not using label elements on Mass Controls"
<img width="581" alt="gflb-pdom" src="https://user-images.githubusercontent.com/1902116/58866838-acf01e00-86b9-11e9-932f-4aef6549ca1c.png">

I just noticed while inspecting the PDOM of GFLB that the `label` for each of the mass controls is actually a `p` element. Ideally, these should be `label` elements - just like for the position sliders.

@zepumph, the implementation does sound ok with VoiceOv

[2019-06-04 13:44] terracoda opened #142 "Add Challenges & Lessons Learned for this sim in design doc"
I have listed out several design [challenges and lessons learned](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.4t4p8jfg9z9) in the design document.

@jessegreenberg, @zepumph, and @arouinfar, please review and add anything you think that is note-worthy and that is good to keep in mind for future or past designs.

[2019-06-04 13:58] terracoda commented on #142
Please un-assign yourselves after you have had a look and added any comments.

[2019-06-04 15:14] jessegreenberg commented on #140
Hmm, we aren't doing anything special with the shadow DOM so I am honestly not sure. Perhaps it is just native shadow DOM stuff that comes with native elements? I am honestly not sure @terracoda,  can you past a screenshot of what you are seeing?

[2019-06-04 15:24] jessegreenberg commented on #142
I read through it, content looks good to me @terracoda.

[2019-06-04 18:57] etwa4650 opened #143 "Screen reader only works with keyboard nav"
For https://github.com/phetsims/QA/issues/333

<b>Test Device</b>

  JORDAN

  <b>Operating System</b>

Mac OS 10.14.5

  <b>Browser</b>

  Safari 12.1.1

  <b>Problem Description</b>

When moving the weights around using a mouse, VoiceOver does not read anything.

Works fine when editing mass weights and checking/unchecking boxes.

Also occurs with Windows 10: NVDA & JAWS

  <b>Steps to Reproduce

[2019-06-04 20:09] zepumph commented on #143
@jessegreenberg and I discussed this, and we are already aware of this. We don't support this currently. The reasoning is that a lot of the screen reader verbage is coming from the PDOM, not from the sim model. We have not worked on this mouse/screen reader use case at all to this point. Tagging @emily-phet to make sure that she agrees. Marking as won't fix. @etwa4650 please update the appropriate

[2019-06-04 20:11] zepumph commented on #143
assigning to @etwa4650, feel free to close when understood and documented. Let me know if you have any questions.

[2019-06-04 22:39] KatieWoe opened #144 "Scene descriptions have similar words"
For https://github.com/phetsims/QA/issues/333
Discussed in a call with @zepumph.  I noticed that, when listening to the screen description, several similar words one right after the other could cause confusion.  Specifically, the list describes the magnitude of the force, mass 1, and mass 2 and these same words repeat several times.  Nothing there is wrong, but more careful wording may make things

[2019-06-05 07:00] terracoda commented on #144
@KatieWoe, can you be more specific?

What part of the screen summary could be confusing?

This is how things are chunked up:
**Static parts (non-changing parts)**
1. Tell users it is an interactive sim
2. Describe what's in the Play Area
3. Describe what's in the Control Area

**Dynamic part (changing parts)**
4. Current-state-of-the-sim: Describes a big-picture view of the spheres together in re

[2019-06-05 07:09] terracoda commented on #143
@etwa4650, if you want to use the trackpad to interact with a slider (move a sphere or change mass) on MacOS, there is a special interaction command when u sing VoiceOver. VoiceOverr will announce changes while using the "interaction command" and the track pad.

**To start interacting:**
- Press VO-Shift-Down Arrow. If you’re using VoiceOver gestures, flick right with two fingers on the trackpad.

[2019-06-05 07:11] terracoda commented on #143
VO = control + option keys

[2019-06-05 07:14] terracoda commented on #143
Also, note that when "interacting" with or using sliders it might be easy to push yourself into "Quick Nav" mode. Make sure Quick Nav is off. With Quick Nav on, your arrow keys only navigate/read the content, they don't change values.

[2019-06-05 07:19] terracoda commented on #140
Yes, a screenshot. I forgot to post that. This is what I see with Safari's inspector.
<img width="549" alt="Screen Shot 2019-06-03 at 6 28 45 PM" src="https://user-images.githubusercontent.com/1902116/58937458-c73a0280-8772-11e9-84db-ac9dd73da1c5.png">

To me the chunk of code just looks like empty `div`s, but it is not clear to me that they are really there. The grey box around the block is diffe

[2019-06-05 14:48] KatieWoe commented on #144
These are the sections that tripped me up when going at a fast speed:

‪>mass 1‬ and ‪mass 2‬ are close to each other, centers exactly 4 kilometers apart.

[2019-06-05 15:32] jessegreenberg commented on #140
Thanks for the screenshot! OK, it looks like just the browser's native shadow DOM for the slider. Here is some info I found about the shadow DOM for sliders in particular:
https://glazkov.com/2011/01/14/what-the-heck-is-shadow-dom/

In order for it to show up for me in Chrome I had to check "Show user agent Shadow DOM" in settings, there may be a way to disable it in Safari if it is bothersome @te

[2019-06-05 16:22] arouinfar commented on #142
@terracoda this looks great! It was also helpful in understanding how/why the descriptions have evolved since the initial draft we worked on.

[2019-06-05 17:28] etwa4650 commented on #143
@terracoda @zepumph Thank you. Ill go ahead and close this issue.

[2019-06-05 17:28] #143 closed

[2019-06-06 07:08] terracoda commented on #144
Yep, ok, thanks for your comments. The difference between these 2 descriptions is the first one provides a description of the spheres in relation to each other, and the second is just a description of mass 1.

I've had positive responses from blind users on this approach, so I won't change it at this point.

[2019-06-06 07:10] #144 closed

[2019-06-06 08:00] terracoda commented on #140
Thanks @jessegreenberg, it seems that it's just something the browser does. I've never seen a screen reader user run into it, so I an only assume it does not affect the Accessibility Tree.

Closing this issue.

[2019-06-06 08:00] #140 closed

[2019-06-06 08:04] terracoda commented on #142
@zepumph, no rush, and once you comment, we can close this issue. I am particularly interested in your thoughts around having multiple repos to manage. Are there challenges, lessons learned there?

[2019-06-06 09:28] terracoda opened #145 "Wrap-up: Complete interview spreadsheet"
In an effort to consolidate access to interview data across multiple teams and protocols, we need to provide brief details in the sim-specific interview spreadsheet for this sim, located here:
https://docs.google.com/spreadsheets/d/1b63z-1QDC9uaU_szffuEsayJhVGxJfAlMMhB8NRh47k/edit#gid=0

@terracoda has started to fill it out, and needs help finding interview dates and protocol numbers from @briann

[2019-06-06 14:03] briannatomlinson commented on #145
Ok! I added the interview information that I had about GFLB. To my knowledge those are all of the interviews that we completed.

[2019-06-06 19:19] zepumph commented on #141
@terracoda I made the mass controls have a label for the input. How does that look and sound?

[2019-06-07 08:30] terracoda commented on #141
@zepumph, sounds great, looks good in the a11y view, and one improvement needed ;-) ... Now, that you are using native HTML - a `label` element with a `for` attribute - there is not need for the `aria-labelledby` attribute on the `input` element, the `label` and the `input` are associated through the `label`'s `for` attribute.

Please remove the `aria-labelledby` attribute underlined here in pink,

[2019-06-07 08:50] terracoda commented on #145
@briannatomlinson, thanks. Now, I just need to know if we did any other interviews with sighted kids, regarding the sound design. I'll reach out to @arouinfar.

[2019-06-07 08:55] terracoda commented on #145
@arouinfar, do you know if any interviews were done by you or @amanda-phet on Gravity Force Lab Basics? I'm thinking about recent interviews, perhaps with sound.

I am assuming you likely did some interviews for the initial visual design as well. I'll check with @emily-phet if I need to make note of those interviews, too.

[2019-06-10 16:11] arouinfar commented on #145
@terracoda there have been 3 GFLB interviews conducted under our K-12 interview protocol with 8th graders with no visual impairments. Two of the interviewees used a version with sonification, and one interview predated the sound design. I've added all three to the spreadsheet.

[2019-06-10 17:23] etwa4650 opened #146 "Screen reader not reading out adjusted force if mass moved twice"
For  https://github.com/phetsims/QA/issues/333

<b>Test Device</b>

Jordan

  <b>Operating System</b>

Mac OS 10.14.5

  <b>Browser</b>

  Safari 12.1.1

  <b>Problem Description</b>

  If either mass if moved more than once in either direction, the screen reader will read the new distance of the two masses, but it will not read out the new adjusted force.

  <b>Steps to Reproduce</b>

  1: Go to

[2019-06-10 17:57] terracoda commented on #146
Nice find etwa4650.

@zepumph, I can reproduce this, and after 1 step VoiceOver recovers, and also three quick steps does not seem to cause the alerts to stop. I have no idea why the alerts would stop only after two quick steps.

Any ideas?

[2019-06-10 18:01] terracoda commented on #146
This does not happen on the Mass number-spinner-sliders.

[2019-06-10 22:03] terracoda commented on #145
@arouinfar, you are amazing! Thanks!

[2019-06-10 22:05] terracoda commented on #145
I think we can close this issue now that all interviews are recorded in the spreadsheet.

[2019-06-10 22:05] #145 closed

[2019-06-10 22:10] terracoda commented on #146
@jessegreenberg and @zepumph, just an FYI that this might nit be a new bug. VoiceOver recovers quite easily, so it is not something that really sticks out. That said, I can reproduce it easily.

[2019-06-11 15:36] jessegreenberg commented on #146
Thanks for reporting. I am not able to reproduce with NVDA. @zepumph I will have access to a mac on Friday, I can take a look then.

It sounds like we are missing the alert content. I can see the alerts in the a11y-view. My initial guess would be to increase the `alertStableDelay` of ValueChangeUtterance (unfortunate because it is already quite long).

[2019-06-11 19:10] zepumph opened #147 "ISLCObjectEnum should be `Enumeration`"
From https://github.com/phetsims/gravity-force-lab-basics/issues/134, this really feels right, and it would make small bugs like passing in undefined instead of an enum a bit easier. For example a method like this is sloppy:

[code]

[2019-06-11 20:15] zepumph commented on #147
@jessegreenberg please review this as part of the code review at large. I tried to move as much static content into the Enumeration as possible.

[2019-06-11 20:27] zepumph commented on #141
That makes a lot of sense! How about now?

[2019-06-12 01:55] zepumph commented on #134
Summation of work so far:
* The above "bug fix to update mass bullet" was likely a bug for a long time, where the screen summary bullet wasn't being updated when constant radius was checked. As a result I added test item for qa.
* Thus far I have looked at:
  * Model
  * Beginnings of the GFLBScreenView
  * The position describer inheritance stack
  * `MassPDOMNode` and inheritance
  * GFL screen

[2019-06-13 08:22] terracoda commented on #146
@jessegreenberg, I agree, I am not sure we want to increase the delay, but we can see if that has something to do with it.

[2019-06-13 08:49] terracoda commented on #141
Thanks @zepumph! Code looks good! And everything sounds good.
I noticed in the A11y View, that the interactive elements are no longer getting highlights. I am not sure when that happened and it is likely not related to this issue, so I will open a new issue for that, and close this one.
**Screen shot of new label/input code**
<img width="673" alt="mass-label-for" src="https://user-images.githubuse

[2019-06-13 08:49] #141 closed

[2019-06-13 09:45] terracoda opened #148 "Missing red keyboard focus styles in A11y View on sim specific controls"
@zepumph and @jessegreenberg, I can't say when the highlights stopped or if they were ever present (sorry). I don't think this issue should block publication or even an RC. I just would like to put it on th radar in case it is a general issue.

**Sim specific controls are not getting keyboard focus highlights**
<img width="940" alt="Screen Shot 2019-06-13 at 11 32 52 AM" src="https://user-images.g

[2019-06-13 09:46] terracoda commented on #148
@zepumph, I put a priority 4 on this issue to indicate that it should not be a blocking issue. Please feel free to label this one as you see appropriate.

[2019-06-13 10:23] terracoda commented on #142
@arouinfar, re your comment on the evolution of the descriptions, please comment if anything sound not quite right. It is possible that we could address any strangeness in the descriptions for this sim as we wrap-up on Gravity Force Lab Regular.

[2019-06-13 14:39] jessegreenberg commented on #148
Thanks for reporting @terracoda, this issue is likely not sim specific so I am going to move it to chipper to look into there.

[2019-06-13 22:00] arouinfar commented on #142
@terracoda thanks for asking! I looked over the a11y design doc, and spent some time playing with dev.39 using the a11y view. Generally, things are looking great!

I had one minor question about the Interactive Alerts. I noticed that there are alerts when the mass spinners are changed, but not when the distance between the masses is changed. Both of these interactions lead to a change in the force

[2019-06-14 05:26] terracoda commented on #142
@arouinfar, thanks for your review. There should indeed be alerts about the force when the mass spheres are moved. Were already beyond dev.113, so dev.39 may not have had the force alerts yet for position changes.

I'll start a new issue where you have access to the latest version, and we can discuss your concerns about wording for density.

[2019-06-14 09:25] terracoda opened #149 "Reconsider descriptions referring to density"
Based on comments from @arouinfar's https://github.com/phetsims/gravity-force-lab-basics/issues/142#issue, we may need to adjust how we are describing density in help text and alerts.

**Note** @arouinfar, I said that you did not experience the latest version of the sim's descriptions, but in fact you may have. Did you use this link from the Dev Test issue:
 https://phet-dev.colorado.edu/html/grav

[2019-06-14 09:27] terracoda commented on #149
**Part 1 of issue, the help text:**
Please consider all descriptions that are trying to support the idea of density without literally describing how density is represented visually (i.e., with shades of Red and Blue).

**Note** that when a user checks or unchecks the Constant Size checkbox, there are two different alerts:
- Upon checking Constant Size: Mass 1 and mass 2 set to same size.
- Upon UN

[2019-06-14 09:48] terracoda commented on #149
## Part 2 of issue, the alert phrasing
Do we need to adjust the alert phrasing when Constant Size checkbox is checked?

**Current Examples from Design Doc:**
**Note:** For slider/number spinner interactions, typically the object response (the new current value) is delivered first (as part of `aria-valuetext`), and then immediately followed by a context response as an alert from a changed `ARIA liv

[2019-06-14 09:52] terracoda commented on #149
@arouinfar, if you would rather meet, just let me know. Once you have commented, please re-assign me ;-)

[2019-06-14 09:58] terracoda commented on #149
@arouinfar, I most concerned about this comment:

Note that the students we are trying to reach with the density/force alerts cannot see the color changes. And also note that the alert is delivered together with the changed mass value. This may not have been apparent when using the A11y View. It is much more clear when using an actual screen reader, or looking at the examples that I copied in from

[2019-06-14 15:01] arouinfar commented on #142
Thanks for opening #149 @terracoda.

On startup, I dragged the masses back and forth. The descriptions in the PDOM updated appropriately, but there weren't any interactive alerts. This was the latest dev:
https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.0.0-dev.39/phet/gravity-force-lab-basics_a11y_view.html

![image](https://user-images.githubusercontent.com/8419308/59518198-6ac99800

[2019-06-14 19:38] terracoda commented on #142
@arouinfar, I see. You have to use the keyboard. The alerts do not work with mouse alone ;-)

[2019-06-14 19:40] terracoda commented on #142
Try the Keyboard Shortcuts dialog for instructions on how to use the keyboard. We will see if the instructions work ;-)

[2019-06-14 20:17] arouinfar commented on #142
Thanks @terracoda. Using the keyboard to move the masses still doesn't produce any alerts in the a11y view. I do see alerts for the spinners, checkboxes, and resetAllButton, regardless of whether the interaction took place with the keyboard or mouse.

![image](https://user-images.githubusercontent.com/8419308/59535001-01ab4a00-8ead-11e9-9941-4dc7322c753d.png)

However, if I instead use dev.39 with

[2019-06-14 22:51] arouinfar commented on #149
@terracoda thank you so much for your detailed response! I think I have much better sense of what users will actually hear while interacting with the sim. I also spent some time today playing with dev.39 using VoiceOver. I'm not savvy enough to figure out how to access the help text and everything in the PDOM, but I do believe I was hearing the static descriptions and interactive alerts, including

[2019-06-14 23:25] zepumph commented on #146
@jessegreenberg thanks, let me know if there is anything I can do to help.

[2019-06-14 23:59] zepumph commented on #142
@terracoda I added two challenges to the document, in red. Let me know what else I can do.

[2019-06-15 07:00] terracoda commented on #142
@zepumph, awesome comments. Thanks.
@arouinfar and I are discussing "density" concerns in issue #149.
Closing this issue.

[2019-06-15 07:00] #142 closed

[2019-06-15 22:33] terracoda commented on #149
@arouinfar, thanks for your review and feedback. I'll make the changes clear in the design doc and assign them over to @zepumph in the morning!

[2019-06-16 12:07] terracoda commented on #149
@zepumph, in the end of this discussion we have one small string that needs to be added to the help text for the mass controls when the Constant Size checkbox is checked.  There isno change to the help text when the Constant Size checkbox is not checked.

### The New Additional String:
Please add the **bolded** string  to the end of the help text when the Constant Size check box is checked.
- Cons

[2019-06-17 16:01] jessegreenberg commented on #146
This doesn't happen every time you press arrow keys multiple times in a row, but it happens frequently. I still haven't been able to get it to happen for the mass spinners.

[2019-06-17 18:40] zepumph commented on #149
Sounds good. Anything else for this issue?

[2019-06-17 19:09] zepumph commented on #137
Implementing this simplified some of the code, so it was nice to do as part of the code review in https://github.com/phetsims/gravity-force-lab-basics/issues/134. @terracoda please review.

[2019-06-17 20:21] jessegreenberg commented on #146
OK, so I *think* this is related to the length of the text used in `aria-valuetext`. I was able to produce the issue in this example:
<details>

[code]
</details>

ValueChangeUtterance was added to work around this exact issue but assumed that the value-text would only be spoken once per interaction. In this case, the aria-valuetext is spoken twice or more to notify the user of each value change s

[2019-06-17 20:31] terracoda commented on #137
Awesome, I'll verify in the morning ;-)

[2019-06-17 21:55] jessegreenberg commented on #146
This diff is sort of what I was thinking, but I haven't tested it with GFLB yet.
<details>

[code]
</details>

@zepumph what do you think about this? It adds complexity to AccessibleValueHandler. It is brittle because it only works with certain user settings. That is true for ValueChangeUtterance, but this increases the investment into this workaround. It is an issue with VoiceOver and I don't kno

[2019-06-17 23:02] zepumph commented on #134
Today I got through MassDescriber and ForceDescriber, as well as all TODOs worthy of addressing right now (some were in CL only).

[2019-06-17 23:58] zepumph opened #150 "GFLBMassNode to extend MassNode?"
Discovered as part of https://github.com/phetsims/gravity-force-lab-basics/issues/134. This will save code (a real commodity these days) and complexity, especially duplication in `updateGradient`.

[2019-06-18 00:10] zepumph commented on #150
@jessegreenberg @twant and I feel pretty good about this. Could you please review for regression, as well as two new points:

* Does the way of using options to support inheritance here make sense?
* Notice that the updateGradient has a conditional about if constantRadius is checked or not. That was not in GFLB. Is it alright that it is now in GFLB? I couldn't see any changes, but you are the resp

[2019-06-18 00:29] zepumph commented on #146
@jessegreenberg let's talk about this tomorrow! @twant and I noticed the following thoughts:

* multiplying by 1000 seems like a large coefficient, perhaps there is a better number we can find.
* I don't yet see how `timesChangedBeforeAlerting` correlates to the length of the alert itself. Isn't the length of the alert the factor that changes how VO ignores some alerts?

[2019-06-18 08:40] #132 closed

[2019-06-18 08:52] terracoda opened #151 "Mass getting bigger, but VO says Force Arrows are getting smaller."
This issue could be related to #132, but maybe not.

When mass spheres are closest to each other and you increase the mass, the alert is:

However, the _force_ is getting bigger, so the _force arrows_ should also be getting bigger.

**Here are some screen shots:**
<img width="487" alt="2-billion" src="https://user-images.githubusercontent.com/1902116/59667202-9fa55a00-91b6-11e9-874d-831a59ae3256.p

[2019-06-18 09:19] terracoda commented on #151
Also happens sometimes when one mass sphere has a maxxed position and the same sphere is moving as mass is changed.
<img width="523" alt="Screen Shot 2019-06-18 at 10 54 04 AM" src="https://user-images.githubusercontent.com/1902116/59667834-b1d3c800-91b7-11e9-8eaa-f8aa5fe15e23.png">
<img width="539" alt="Screen Shot 2019-06-18 at 11 03 05 AM" src="https://user-images.githubusercontent.com/1902116/

[2019-06-18 09:25] terracoda commented on #137
Adding the mass name to these edge alerts sounds awesome to me! Thanks for adding this nice polish to the alerts. Closing.

[2019-06-18 09:25] #137 closed

[2019-06-18 09:44] terracoda commented on #149
@zepumph, I went to the commit, it looks like the change has been made in Gravity Force Lab **regular,** but I don't see it yet in Gravity Force Lab Basics where we have "billions" of kilograms.
<img width="791" alt="Screen Shot 2019-06-18 at 11 32 48 AM" src="https://user-images.githubusercontent.com/1902116/59671464-fbbfac80-91bd-11e9-849b-d438219877e0.png">

It will good to have both sims do th

[2019-06-18 16:21] emily-phet opened #152 "Should there be boundary sounds for spin buttons, similar to mass location sliders?"
@terracoda brought up (from consultant discussion) that the spin buttons don't have a boundary sound, but the mass location sliders do.

@Ashton-Morris suggested a solution (having a gentle 'error' sound if spin  buttons are pressed while inactive).

I think there is a deeper issue at play here - where visually the grab/drag of the mass objects and the press of the number spinner feel very differe

[2019-06-18 17:22] jessegreenberg commented on #146
There definitely could be, it just seemed like a reasonable starting place. 1000 was determined to be a decent workaround value for this issue when there is only one aria-valuetext to read. So the thought was to multiply this by the number of times we expect aria-valuetext to be read when keys are pressed multiple times.

From what I have seen, it is the length of the aria-valuetext, not the lengt

[2019-06-18 17:27] jessegreenberg commented on #146
I was preparing a bug report for Apple when I realized that the example HTML where this is happening is still pretty complicated.  And when I removed the window.setTimeout in https://github.com/phetsims/gravity-force-lab-basics/issues/146#issuecomment-502835994 the problem went away.

So this isn't as straight forward as I thought, its more like there is a window of time where sending an alert to

[2019-06-18 17:36] zepumph commented on #149
Sorry I didn't check my work thoroughly. I noticed while making this new change that these BASICS strings were in the REGULAR strings file. I moved them to GFLB for clarity. Back to you for a sanity check.

[2019-06-18 17:40] zepumph commented on #150
I changed my mind. I can tell a difference when the stroke is present. I think it looks good in GFLB. @jessegreenberg can you think of a reason that it was purposefully omitted?

[2019-06-18 17:47] jessegreenberg commented on #146
This HTML does resolve the issue.
<details>

[code]
</details>

As @zepumph and @twant mentioned, this delay is probably much longer than it needs to be. VO reads at most 2 aria-valuetext updates when keys are pressed multiple times, so maybe we just need to delay by 1000 * 2 ms in this case.

[2019-06-18 17:59] zepumph commented on #151
Ugh this is such a good bug!! The issue is that we recently set up Utterances to overwrite their previous alerts, and only alert the last item once it has become "stable." This is to help with the spamming of the queue. Here we are doing just that:

*  Move the masses to touch (no alert)
*  Increase one of the masses
* This increases the force
* this sends an alert to the queue like "forces get bi

[2019-06-18 18:52] zepumph commented on #151
@jessegreenberg helped me out greatly with this. It turns out that we can pass an override through in the case where the model/position causes the alert. In that case we ALWAYS know that the mass got bigger, so we can hard code that to use the "gets bigger" string. @terracoda please review. Does it seem fixed to you?

[2019-06-18 20:57] terracoda commented on #149
Thanks! All looking good now when Constant Size is checked!
Closing.

[2019-06-18 20:57] #149 closed

[2019-06-18 21:01] zepumph commented on #146
@jessegreenberg and I worked on this, basically committing the diff that @jessegreenberg created in https://github.com/phetsims/gravity-force-lab-basics/issues/146#issuecomment-502865700. We found that it worked very well, and couldn't reproduce the bug with the changes, but there are a lot of factors at play here:
* Once we reverted changes, and tested phettest, it was particularly hard to reprod

[2019-06-18 21:02] zepumph commented on #146
@jessegreenberg refreshed phetdev (dev.39) and now the bug is much more reproduce-able. How strange!

[2019-06-18 21:05] terracoda commented on #151
That bug was such a surprise.
Awesome pairing work, all looks good to me. Thanks @jessegreenberg and @zepumph!

[2019-06-18 21:05] #151 closed

[2019-06-18 23:09] zepumph commented on #146
@terracoda I added some temporary code to GFLB so that we could test this out. If it seems like the direction we should go, then I can clean it up. Let me know what you think.

[2019-06-19 01:02] zepumph opened #153 "Are there any issues in GFL that should be done before publishing this sim?"
@terracoda does it look like any issues in https://github.com/phetsims/gravity-force-lab/issues block GFLB? I found a few in inverse square law that did, so I thought I would create an issue here for review. I'll so the same look through.

[2019-06-19 01:05] zepumph opened #154 "QA credits & A11y Team credits"
To make sure we don't forget.

[2019-06-19 01:10] zepumph commented on #134
My code review is completed. At the end I ended up just making a few issues in ISLC. @jessegreenberg I will create a code review issue for you now, and I can complete those issues as well as what you find during your code review. If you would rather see me complete those first, I'm also happy to do that. Just let me know.

[2019-06-19 01:15] zepumph opened #155 "Code review:"
@jessegreenberg it is time for a code review! Thanks for taking this on.

This code review is for the publication of GFLB, but that sim touches 3 repos.

In addition to the checklist, here are a few notes:

- [ ] Note that there are a few ISLC issues that I have not yet gotten to yet, if you would like to put this on hold until I get to them, let me know.
- [ ] Please as part of this code review,

[2019-06-19 01:15] zepumph opened #156 "Code review:"
@jessegreenberg it is time for a code review! Thanks for taking this on.

This code review is for the publication of GFLB, but that sim touches 3 repos. #134 was my first pass at it, it may be good to look through some of that work (sorry it isn't too organized).

In addition to the checklist, here are a few notes:

- [x] Note that there are a few ISLC issues that I have not yet gotten to yet, if

[2019-06-19 08:03] terracoda commented on #153
**These don't seem to be blocking:**
- https://github.com/phetsims/gravity-force-lab/issues/150 - the times symbol is not in GFLB
- https://github.com/phetsims/gravity-force-lab/issues/149 - is no longer relevant. We are going to use "force vectors" everywhere.
- https://github.com/phetsims/gravity-force-lab/issues/141 - about ruler, so not relevant
- https://github.com/phetsims/gravity-force-lab/

[2019-06-19 08:55] terracoda commented on #154
**Currently listed folks as of June 18, 2019**
<img width="638" alt="GFLB-credits-June18" src="https://user-images.githubusercontent.com/1902116/59751384-b617e800-9280-11e9-8f21-a73d7d163ec2.png">

[2019-06-19 09:02] terracoda commented on #154
**Updates to team list:**
- [ ] - Team list - change Emily Moore to Emily B. Moore, and add Brianna Tomlinson

[2019-06-19 16:01] terracoda commented on #146
@zepumph, I think you nailed it. The alerts are no longer stopping. Assigning back to you.

[2019-06-19 16:13] terracoda commented on #152
@emily-phet, I agree this is a deeper issue, and keep in mind for Gravity Force Lab regular, the position sliders and the mass sliders are exactly the same interaction (native HTML input type range).

We can explore this issue more deeply in that sim.

I would like to mention that for the position sliders, I also designed an alert that fires on the first try to go beyond an edge (beyond edge of tr

[2019-06-20 09:59] terracoda commented on #153
@zepumph, in my opinion, I don't think either https://github.com/phetsims/gravity-force-lab/issues/137 or https://github.com/phetsims/gravity-force-lab/issues/144 should block anything for GFLB.

[2019-06-21 12:16] terracoda commented on #154
@emily-phet could you verify my comment above https://github.com/phetsims/gravity-force-lab-basics/issues/154#issuecomment-503473793 , please?

[2019-06-21 13:46] emily-phet commented on #154
👍

[2019-06-24 17:47] KatieWoe commented on #146
May be related to this known issue:

If it is and the above solution is effective, it may be worth expanding to other sims.

[2019-06-24 21:04] terracoda commented on #146
Thanks @KatieWoe for tagging those issues. I'll let @zepumph comment, but I don't think either of those issues are related. The Ohm's Law issue was about information in `aria-valuetext` not being read out whereas this one is about information in an `aria-live` region not being read out.

I'll let @zepumph comment further about whether this issue is completed and ready to close.

[2019-06-25 08:51] terracoda commented on #154
@zepumph, for the A11y folks, you just need to change Emily's name and add Brianna Tomlinson.
Assigning issue to you.

[2019-06-25 18:48] zepumph commented on #155
Duplicate of #156, closing

[2019-06-25 18:48] #155 closed

[2019-06-25 18:50] #153 closed

[2019-06-25 18:52] zepumph commented on #134
See https://github.com/phetsims/gravity-force-lab-basics/issues/156 for peer code review.

[2019-06-28 01:24] jessegreenberg commented on #156
I noticed that the file size of this sim is 2731 KB while the file size of gravity-force-lab published is 1258 KB. But the published version of coulombs-law is 2721 KB. I don't think there is anything to worry about here, but thought I would mention the increase. I would guess that a lot of this is in the many new images for the pullers/pushers since gravity-force-lab was published.

[2019-06-28 01:40] jessegreenberg opened #157 "lint with sim_es6_eslintrc_review"
I noticed a handful of lint issues, mostly about line length. And the one for GFLBModel doesn't look wrong or worth fixing. Instead of a sim fix, I am wondering if this item should be removed or sim_es6_eslintrc_review changed.

![image](https://user-images.githubusercontent.com/6396244/60311067-92f5d400-9923-11e9-848e-93f104679f0d.png)

@zepumph what do you think?

[2019-06-28 01:41] jessegreenberg commented on #157
For #157.

[2019-06-28 01:45] jessegreenberg commented on #156
For memory testing I found the issue @zepumph made: https://github.com/phetsims/gravity-force-lab-basics/issues/139, thanks! I did some quick memory testing (not as thorough as that issue) and saw similar results and did not see any concerning leak.

[2019-06-28 02:00] jessegreenberg opened #158 "Disposal of PhET-iO objects"
From #156, I am not certain how to test this. This sim is listed as a phet-io sim so it should probably be considered.

@zepumph what should I be looking for for this?

[2019-06-28 02:01] jessegreenberg commented on #158
Oh, I just saw his documentation in implementation-notes.md

So maybe this can just be closed. But perhaps there are things to think about still, so would be helpful for @zepumph to comment.

[2019-06-28 02:07] jessegreenberg commented on #158
I ran fuzz/memory tests with this sim in studio and saw similar memory profiles to https://github.com/phetsims/gravity-force-lab-basics/issues/139, so I don't see evidence of a leak.

[2019-06-28 11:02] terracoda opened #159 "Screen Summary update: Add idea of track"
Like in Gravity Force Lab Basics, I want to add the idea that the mass spheres move a long a track to match the qualitative position information provided in aria-live alerts and aria-value-text.

**Change Paragraph 2 of Screen Summary**
**OLD**
- The Play Area has a blue sphere labeled m1 and a red sphere labeled m2. A force vector arrow starts at the center of each sphere and points directly at t

[2019-06-28 11:04] terracoda commented on #159
OOOPs wrong repo. Closing.

[2019-06-28 11:04] #159 closed

[2019-06-28 15:08] jessegreenberg opened #160 "branch: describer-temp"
From the code review checklist, https://github.com/phetsims/gravity-force-lab-basics/issues/156

@zepumph can this branch be removed now? If not, can you describe why it is useful to keep?

[2019-06-28 15:15] jessegreenberg opened #161 "Tyepdoc for describers"
@zepumph could you please add typedoc for the files under gravity-force-lab-basics/view/describers?

For #156

[2019-06-28 15:17] jessegreenberg commented on #161
Also GFLBAlertManager and the supertypes for a few of these are missing typedoc as well.

[2019-06-28 15:27] jessegreenberg commented on #147
Looks great, I agree making this an Enumeration is right. My only nit-pick is about formatting, I think it is atypical to create the Enumeration inline with the inverseSquareLawCommon.register call. Modified in the above commit, does this seem reasonable?

[2019-06-28 15:55] jessegreenberg opened #162 "How were the ranges for get*Index methods chosen?"
@zepumph can you add documentation for how these were chosen? The increments look like they are roughly the same but not quite. The set up for these seems a little bit fragile because if numberOfRegions or any of the region sizes change, all will likely need to be updated manually. I was trying to think if there was a way to calculate these empirically, but I don't know if that is possible if the

[2019-06-28 18:26] zepumph commented on #157
I think that has been discussed before. To me I normally just think of the review rules as guidelines. We can bring it up at a dev meeting though if you feel strongly.

[2019-06-28 18:29] zepumph commented on #158
I think of tandem references as similar to axon listeners in terms of managing disposal. I don't think there is anything left here.

[2019-06-28 18:36] zepumph commented on #147
No strong preference here, just note that a search for `, new Enumeration` yields 10 others. Ready to close if you are.

[2019-06-28 18:36] zepumph commented on #147
(also I don't see the commit in this issue)

[2019-06-28 19:01] jessegreenberg commented on #157
OK thanks, Ill create an issue in chipper because I don't really understand the purpose of sim_es6_eslintrc_review. Nothing is sim specific so I think this can be closed.

[2019-06-28 19:01] #157 closed

[2019-06-28 19:09] #158 closed

[2019-06-28 19:12] jessegreenberg commented on #147
Indeed, I sit corrected. I reverted the change. This issue can be closed.

[2019-06-28 19:12] #147 closed

[2019-06-28 19:45] jessegreenberg commented on #146
I think this is ready to be closed, but I did happen on one last todo from https://github.com/phetsims/gravity-force-lab-basics/issues/156:
[code]

Usages are already commented out so I think this can be removed, but I will let @zepumph comment for certain.

[2019-06-28 19:47] jessegreenberg commented on #146
Ah I see some other TODO code related to this so it may not be quite ready

[2019-06-28 21:36] jessegreenberg opened #163 "Possible uneccessary constants in GravityForceLabAlertManager"
For #156, and possibly part of #147, can this constant be deleted now?

[code]

[2019-06-28 21:54] zepumph commented on #146
I did the needed refactoring, and now the only things pointing to this issue are the warnings @jessegreenberg and I added purposefully. I think this is ready to close. @terracoda can you just give a once over to make sure the descriptions still sound as expected?

[2019-06-28 22:06] jessegreenberg commented on #162
That is actually not true, since the conditionals use >= for each, they are independent. And the assertions will ensure that this receives work if the numberOfRegions change. So perhaps all that is needed is documentation about why values were chosen.  For instance, getForceVectorIndex sections things in a linear way, but getDistanceIndex is non-linear when the masses are close together.

[2019-06-28 22:20] jessegreenberg commented on #113
I just found this issue during #156. If I understand correctly, alerts were missing because NVDA thought that alerts were identical and skipped the repeats. Previously, I had thought that we already had a workaround for this in ariaHerald
[code]
but perhaps this is not complete. @zepumph do you think this needs to be promoted to ariaHerald somehow?

[2019-06-28 22:37] jessegreenberg opened #164 "Unused param to GFLBMassControl"
I just noticed that alertManager was unused and removed it from GFLBMassControl constructor args, commit to follow. @zepumph can you verify this is OK?

For #156.

[2019-06-28 22:52] jessegreenberg commented on #150
Code looks really nice to me, thanks! I searched through commit history and repo issues in here, GFL, and ISLC and couldn't find anything about lack of stroke. I assume that this visual change is totally great. I actually think it looks better. Closing this issue.

[2019-06-28 22:52] #150 closed

[2019-06-29 00:09] jessegreenberg commented on #156
Code review is complete. This repo is in very good shape, nice work!

I really only skimmed files under /model/ (since they should have been previously reviewed), but spent more time in view files and describer files. Everything was very understandable and easy to follow. Issues made were mostly about clarification or potential renaming but I did not see any large issues.

Thanks for starting an a

[2019-06-29 10:03] terracoda commented on #146
@zepumph, all still sounds good on MacOS 10.13.6 with VoiceOver and Safari 12.1.1.

[2019-06-29 10:03] #146 closed

[2019-06-29 10:49] terracoda commented on #152
Marking on hold so it is clear we will explore this idea further in GFL Regular.

[2019-06-29 11:01] terracoda commented on #113
@jessegreenberg, good point. We will always need this kind of workaround for described values that span a range of actual slider values.

@zepumph could you comment the option in ariaHerald that already does this already?
@jessegreenberg, should this "clearing of the element" be a default option?

For current version of GFL Basics, everything is working as it should, so unassigning.

[2019-06-29 11:02] terracoda commented on #113
Please re-assign me if you need me to test anything.

[2019-07-01 18:09] jessegreenberg commented on #113
Currently it is not optional, the content is always cleared. This was done to prevent this exact problem but this issue indicates that this workaround may not be sufficient anymore.

[2019-07-01 19:24] zepumph commented on #113
Ugh yes @jessegreenberg, good catch. I can verify that the code in AriaHerald is not working for this case.

Here is the code that is the workaround in GFLBPositionDescriber:
[code]

To test, comment that if statement out, load the sim, uncheck the distance checkbox, and then move a mass position, notice that the valuetext is only spoken on NVDA on region change.

Note that I would LOVE to remove

[2019-07-01 19:38] zepumph commented on #160
This branch has been deleted in all three repos. Closing

[2019-07-01 19:47] zepumph commented on #161
How's that?

[2019-07-01 20:12] zepumph commented on #162
I actually added `numberOfRegions` to try to make sure that things would always fail loudly. We could remove that if the assertion is not really needed (because it may be obvious?).

Otherwise, note that all of these values were manually designed, and empirically determined, largely from @terracoda playing with the sim. I'll link the design doc in these comments.

Anything else here @jessegreenber

[2019-07-01 20:49] zepumph commented on #163
@jessegreenberg I was able to get rid of those constants through another access of the usage. I also added more assertions, which I think will help with maintainability. Anything else here?

[2019-07-01 20:51] #164 closed

[2019-07-01 20:52] zepumph commented on #152
Would it be helpful to transfer this issue to gravity-force-lab? Github makes that easy if we want to do that.

[2019-07-01 20:56] terracoda commented on #152
I think that would be fine.

[2019-07-01 20:57] terracoda commented on #152
@emily-phet, opened the issue. @emily-phet  are you ok with moving the other repo?

[2019-07-01 21:11] jessegreenberg commented on #163
Byoutiful.

[2019-07-01 21:11] #163 closed

[2019-07-01 21:16] jessegreenberg commented on #162
Great, I think failing loudly is a good thing. I think those lines of documentation are all that is needed, and the table in the design doc is nice to see! Thanks for adding this.

[2019-07-01 21:36] jessegreenberg commented on #161
Typedoc was truly added this day. I added author annotations to ensure those props. Thanks!

[2019-07-01 21:36] #161 closed

[2019-07-01 21:59] jessegreenberg commented on #113
Oh I am sorry, I misunderstood this issue completely, I thought this was related to aria-live alerts not aria-valuetext. The workaround in ariaHerald fixed this issue only for back-to-back duplicate aria-live alerts but wasn't related to aria-valuetext. In that case this is a new issue that we haven't seen yet. But it would still be good to move to common code somehow if possible.

[2019-07-02 07:25] terracoda commented on #162
@jessegreenberg and @zepumph, regarding:

Generally, I like to play with the sim to get a rough estimate of ranges, but if there is a way to calculate the ranges using the model, and the end result still matches visually what is one the screen, I would go with calculated ranges.

When I play with the sim for ideas, I am not able to account for all possibilities and all parameters.

Also, @zepumph

[2019-07-02 07:40] zepumph opened #165 "Hard coded accessibleNames for checkboxes in GFLBScreenView"

[2019-07-02 08:00] zepumph commented on #162
I haven't linked to the design doc often, but I think it is reasonable for a case like this because of how "arbitrary" the number are, at least in terms of the model.

[2019-07-02 08:18] terracoda commented on #162
@zepumph, ok good to know that there are not too many dead links to design docs ;-)
When there is "Holly Wooding" in the visuals, there will need to be a similar "Holly Wooding" in the description. At the beginning of the design of this sim, I was told that the "Holly Wooding" done on this sim was on the visual size of the force vectors.

Maybe it would be a good practice to more clearly define wh

[2019-07-02 17:50] zepumph commented on #162
I think this is relatively well understood by the a11y design team as a beneficial piece of information.

That sounds like a great thing to formalize.

Are either of these written down in a checklist of some sort? I'm not sure what there, but perhaps they could work well in the "design" section of the a11y master checklist.

[2019-07-02 18:43] zepumph commented on #113
After discussing with @jessegreenberg, we decided that moving the "workaround," where we add a space to the end of the string, into AccessibleValueHandler was a good solution. In addition we did a bit of research and are using a hairspace instead of a normal space. We found that NVDA didn't say "space" when going over it char by char.

[2019-07-02 18:50] zepumph commented on #113
From here I can go in and simplify the GFLBPositionDescriber code.

[2019-07-02 18:57] zepumph commented on #113
Thanks @jessegreenberg for the help. I really like this change. Closing

[2019-07-02 18:57] #113 closed

[2019-07-02 19:48] zepumph opened #166 "Add sound"
It was brought to my attention by @jbphet and @emily-phet that sound isn't implemented yet in this repo. This needs to be done before publication.

[2019-07-02 20:01] #165 closed

[2019-07-02 20:02] zepumph commented on #156
@jessegreenberg thanks for the quick turn around here. I went through all outstanding issues (some of which with you!). This is ready to close. We are very close to RC! I don't think another dev test is needed, since the changes from the code review were, like you said, largely minor.

[2019-07-02 20:02] #156 closed

[2019-07-02 21:04] terracoda commented on #162
@zepumph, great idea, I will add these 2 points to the lessons learned section and make note to add to the check list template I am working on

[2019-07-02 21:15] terracoda commented on #162
@zepumph, I updated the lessons learned and and made a TODO note for myself about the issue template. Please close this issue when ready.

[2019-07-02 21:18] terracoda commented on #154
@zepumph, this issue is still on your radar, right?

[2019-07-02 21:23] zepumph commented on #154
Definitely!

[2019-07-02 21:24] zepumph commented on #154
And https://github.com/phetsims/resistance-in-a-wire/issues/208

[2019-07-02 21:24] #162 closed

[2019-07-02 21:55] zepumph commented on #154
Alright. From here we will wait for final QA credits.

[2019-07-02 21:59] zepumph commented on #67
@arouinfar once this sim is published, is anything needed related to the sim primer? I noticed the checkbox in the master list about this is already checked and pointing to this issue.

[2019-07-03 09:03] terracoda commented on #154
A11y Team verified! Thanks @zepumph.
<img width="793" alt="credits-gflb" src="https://user-images.githubusercontent.com/1902116/60578787-209d4d80-9d82-11e9-841e-43da98b6a95a.png">

[2019-07-03 13:30] terracoda commented on #166
Thanks for posting this @zepumph. I just noticed yesterday that Molarity's repo does have sound, and I was going to ask why this repo doesn't.

[2019-07-03 17:01] arouinfar commented on #67
Thanks for checking in @zepumph. There is a place for the primer link on the sim admin page. Part of the process to make the sim visible will include adding the primer link.

I have some upcoming travel this summer, so in the event that someone else will be making the sim visible, I've added the primer link to the [Website Info](https://docs.google.com/document/d/1er1JLZLJGmvTkZNCIEAkEm8RhSm_xGAu2

[2019-07-03 17:01] #67 closed

[2019-07-09 20:47] jbphet commented on #166
The status of this was discussed in the 7/9/2019 sound design meeting, and the sound design document is not really finished.  The prototype sound design at the link below should be used as the specification.

https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.112/phet-io-wrapper-sonification/gravity-force-lab-basics/html/gravity-force-lab-basics-sonification.html?sonificatio

[2019-07-10 14:49] KatieWoe opened #167 "CT api mismatches present"
[code]

[2019-07-10 16:10] zepumph commented on #166
The addition of the resetInProgressProperty broke the phet-io version of this sim over in https://github.com/phetsims/gravity-force-lab-basics/issues/167. In addition, I had a few questions about the addition:
1. Why does this need to be instrumented?
2. Why is this not implemented in the ResetAllButton or ResetButton itself?
3. To me it feels like this pattern could easily be duplicated wherever

[2019-07-10 16:11] zepumph commented on #167
This was triggered because the phet-io api wasn't updated with changes in #166. Fixed in the above commit and discussed more over in that issue. Thanks @KatieWoe. Closing

[2019-07-10 16:11] #167 closed

[2019-07-10 20:57] jbphet commented on #166
The initial cut of sound has been added to the sim.  @Ashton-Morris and @emily-phet, please review (see dev link below).  I matched the volume levels of the prototype, so it might not need much mixing, but if needed the levels can be easily adjusted.

If you notice anything through Friday July 12th, please assign this back to me, and after that time assign it to @zepumph.

Link: https://phet-dev.c

[2019-07-12 15:05] terracoda commented on #166
Great work @jbphet.

I feel that all the sim-specific sounds need to be louder, more on the same level and the UI sounds.

I have my sound on max and with a screen reader on I do not hear the Las stop boomp at all, and the force sound is difficult to hear when changing mass.

[2019-07-12 15:28] jbphet commented on #166
Thanks @terracoda.  Once @Ashton-Morris has added his input, this issue should be assigned to @zepumph for followup.  I'm going to be out for a while, and he has been briefed on how to make volume adjustments.

[2019-07-23 15:26] Ashton-Morris commented on #166
I agree with @terracoda. I think that the reset stands out as much louder but the checkbox isn't too loud in comparison to the rest.

@zepumph Can we bring up all sim specific sounds 10% so they are closer to the reset volume.

Also, the audio file for mass has a popping sound each time I play it, in Safari and Chrome.

And on Safari only, the force sine wave sound has a popping sound most of the

[2019-07-23 19:00] zepumph commented on #166
After discussing with @emily-phet, we decided that it isn't worth my time in investigating these since it would largely be discovering knowledge that @jbphet already has. As a result I'm not going to work on any of this. I'm going to assign this back over  to @jbphet for when he returns.

[2019-07-24 13:16] terracoda opened #168 "Incorrect mass change alert when Constant Size is unchecked"
While reviewing, https://github.com/phetsims/inverse-square-law-common/issues/76#issuecomment-514611005 I noticed a bug in the descriptions when the Constant Size checkbox is toggled to notchecked and the spheres are closest.

I repeat what I said in the other issue for clarity:

Here are the screenshots:
<img width="685" alt="Screen Shot 2019-07-24 at 2 26 53 PM" src="https://user-images.githubus

[2019-07-24 14:42] terracoda commented on #168
I imagine this issue exists in GFL regular as well.

[2019-07-29 18:47] zepumph commented on #168
This alert is incorrectly being triggered because of logic around `ISLCModel.valueChangedPositionEmitter`.  That emitter is emitting not only when the value changes the position, but also when the constant checkbox changes the position. I'm not sure how to work around this just yet. Before this issue, I already felt like that emitter was an unfortunate solution to previous problems, and its incomp

[2019-07-29 18:55] zepumph commented on #168
Allow me to outline the issue a bit more completely, here are two cases where the position changes from indirect forces that we want to handle differently but the model can't differentiate.

Case 1:
* an Event in frame 1 triggers the mass to increase.
* in frame 2: the position is updated on step, moving the other mass over.

Case 2:
* In frame 1: the constant size checkbox is turned off, increasi

[2019-07-29 19:07] zepumph commented on #168
Here is a manual and hacky patch that fixes the problem. Before, in english, the definition of a mass change needing an alert was "if the position wasn't changed directly from the user, the you must have changed from a value change." Not the definition is basically, "if the position wasn't changed directly from the user OR from the constant size checkbox toggling, the you must have changed from a

[2019-07-30 17:12] jbphet commented on #166
In the 7/30/2019 sound design meeting, we decided to turn up all of the sim-specific sounds based on @terracoda's feedback and our own review.

[2019-07-31 21:07] KatieWoe opened #169 "CT report media task"
[code]

[2019-07-31 22:24] jbphet commented on #166
I ended up making quite a number of changes to the sound files (i.e. the `mp3` and `wav` files), the common code library, and the sim-specific sound generation code in order to get rid of the glitches and improve the volume balance. See the commits listed above for details.

I've published a dev version with these changes for review.  @Ashton-Morris and @zepumph - please review the sound behavior

[2019-08-01 15:06] terracoda commented on #166
@jbphet, I had a quick listen (with headphones) in Safari 12.1.2 on macOS High Sierra 10.13.6, MacBook Pro.

The levels sounded much better to me. I listened with and without a screen reader and could easily make out all the sounds.

I noticed a little crackle only if I listened hard, so that seems reduced, too - at least with my setup.

Nice work everyone!

[2019-08-01 15:30] terracoda commented on #168
@zepumph, I think we need a case 3 if that is possible??

Case 3:
- when Constant Size is checked, and spheres are close enough (at max mass the closest they can be is 2.5 km apart)
  - watch the Constant Size checkbox. A a toggle off will possibly cause an increase in distance
  - an increase in distance without a simultaneous change in mass will always be a decrease in the force.

Can we keep tr

[2019-08-01 15:34] terracoda commented on #168
Case 3:
- In frame 1: the constant size checkbox is turned on, and the combined potential radius is greater than the current distance
- In frame 2: the constant size checkbox is turned off, the radius of each sphere expands, and the distance between the spheres increases causing a special alert.

[2019-08-01 16:59] jbphet commented on #169
Fixed in https://github.com/phetsims/gravity-force-lab-basics/commit/0df8a61d204fce8a0a874325f9720a83d6e8ccdc, closing.

[2019-08-01 16:59] #169 closed

[2019-08-01 20:16] Ashton-Morris commented on #166
@jbphet The levels sound much better. Also I barely heard any clicking when I was changing the mass.

I did however hear some slight clicking when the force loop while in use. I don't think its something the average person will hear but I'll attach an image just so you can see what I mean.

![Screen Shot 2019-08-01 at 2 12 47 PM](https://user-images.githubusercontent.com/34492870/62324427-b9e57f80

[2019-08-01 20:37] jbphet commented on #166
@Ashton-Morris - did you only hear it on Safari?  If so, I think I know what it is, and I was hearing it too.  For some reason, Safari doesn't seem to handle loops as well as Chrome, and it inserts a small but audible discontinuity when starting the loop over.  We don't notices this in cases like the John Travoltage "charges in the body" sound because we made sure that the sound file wasn't produc

[2019-08-01 20:59] Ashton-Morris commented on #166
That spectrogram was taken off of a recording when I was using Chrome. I did hear it in safari a little as well.

[2019-08-08 18:14] jbphet commented on #166
We discussed the remaining sound artifact issue in the 8/6/2019 sound design meeting and decided that it's barely perceptible and there's not much we can do about it, so we're okay with it as is.

[2019-08-08 19:42] zepumph commented on #166
Sounds good to me. Is this issue ready to close then?

[2019-08-08 21:57] zepumph commented on #168
The case you outlined makes sense. I went with a similar implementation but opposite. There is only one case where we want the mass changed alert. . . when the mass changes. As a result I'm keeping track of when the position changes because of the mass changing, and I only alert that case when it is the case.

@terracoda I ended up implementing a similar commit to the patch above. Please review.

[2019-08-09 00:27] zepumph commented on #44
This is a duplicate of https://github.com/phetsims/gravity-force-lab/issues/172. Closing

[2019-08-09 00:27] #44 closed

[2019-08-09 00:29] zepumph opened #170 "Design PhET-iO"
Because of so much overlap from https://github.com/phetsims/gravity-force-lab/issues/76, this sim may be really close to a base instrumentation. We may not even need our own design meeting, instead just asking a few questions about differences from GFL.

[2019-08-09 00:43] zepumph commented on #170
- [ ] ISLC.valueProperty should only support the 10 values available from the number pickers. Instead Studio let's you use a slider to pick any value. I think the easiest way to handle this may be to add the values to `validValues` passed into the valueProperty constructor, but perhaps there is another way to discretize the range in the model.
- [ ] distanceArrowNode.labelText.textProperty was set

[2019-08-09 16:08] jbphet commented on #166
Yep.

[2019-08-09 16:08] #166 closed

[2019-08-10 18:10] terracoda commented on #168
@zepumph I added a note to https://github.com/phetsims/sun/blob/master/doc/Checkbox.md

[2019-08-10 18:51] terracoda commented on #168
@zepumph, do you get an alert at all with this solution?
I am not hearing a force change alert. I am only hearing the toggle checkbox alert.

Before this update, I heard two alerts.

[2019-08-10 19:00] terracoda commented on #168
I don't think silencing the force alert is the correct thing to do.
The force changes if the distance changes when going from Constant Size checked to unchecked.

Do you think the alerts in https://github.com/phetsims/gravity-force-lab-basics/issues/168#issue-472278028 make sense?
We should discuss when you return from vacation.

[2019-08-15 19:07] terracoda commented on #168
@zepumph, since I am away after you get back, if alerts in https://github.com/phetsims/gravity-force-lab-basics/issues/168#issue-472278028 make sense to you, you are welcome to implement. If you have questions for me, we can wait until I am back.

[2019-08-16 14:30] terracoda opened #171 "Update to Keyboard Shortcuts dialog's A11y Content due to visual design change"
For GFL regular, see issue https://github.com/phetsims/gravity-force-lab/issues/139, I  requested a design change that also affected GFLB.

Both new dialogs look fine, but the A11y content no longer matches the visual. Please see comment https://github.com/phetsims/gravity-force-lab/issues/139#issuecomment-521758304 for the requested content updates.

[2019-08-16 15:18] terracoda commented on #168
@zepumph, I am going to add @emily-phet to this issue since I will be away and we may not want to delay RC testing.

Since the incorrect alert is no longer firing, I feel comfortable removing the blocks publication label as long as @emily-phet or @arouinfar agree.

I still feel we will eventually want an alert like I mention in https://github.com/phetsims/gravity-force-lab-basics/issues/168#issue-

[2019-08-20 18:00] zepumph commented on #171
Completed over in https://github.com/phetsims/gravity-force-lab/issues/139. Closing

[2019-08-20 21:04] zepumph commented on #168
@terracoda I was able to implement the solution that you "could easily live with." This doesn't include the "farther away" piece. I tested this thoroughly, and as far as I can tell it is what you described above. I would love you to review the change, but I think we may want to go to RC before this can be reviewed. We can always maintenance release tweaks later if there are any.

-----------------

[2019-08-22 23:40] zepumph commented on #170
@samreid do you think there is value in adding a `step` option to NumberProperty, that Studio can use to discretize the slider on the wrapper side? Otherwise what do you think about using validValues?

[2019-09-04 00:13] jessegreenberg commented on #168
Thanks @zepumph I looked over  https://github.com/phetsims/inverse-square-law-common/commit/b0234acfc4b4852e41b38f752ab07208b0e41b8f and https://github.com/phetsims/gravity-force-lab/commit/e959191e9bc26910900dfe4ccab00b2a18f9e0fc, I don't see anything surprising from what we discussed last about this. Looks good to me and I have nothing to add.

[2019-09-04 16:24] terracoda commented on #168
@zepumph, I have reviewed.
The force alert is now correct, so awesome work there.

The one piece of information that I think is missing is the change in distance. It is the change in distance that is causing the force to get smaller.

In comment https://github.com/phetsims/gravity-force-lab-basics/issues/168#issue-472278028, I had also suggested and additional string to the Constant Size checkbox

[2019-09-04 18:56] zepumph commented on #168
Detecting if the change in constant radius causes distance to change is unfortunately a difficult change. I think that I could hack something out, as I have done about three times in this model in the last few months, but I would like to know how important you think it is first. Let me know what you and @emily-phet decide on tomorrow. I am happy to dive into it a bit. My guess (my hope) is an hour

[2019-09-04 19:24] terracoda commented on #168
@zepumph, thanks for clarifying that it is indeed the distance change that is difficult to detect.
I will check in with @emily-phet tomorrow to see how important how explicit this information needs to be.

Through investigation, the students can indeed deduce that the force got smaller because distance increased.

[2019-09-06 21:14] arouinfar opened #172 "Mass strings are tiny"
Latest dev (dev.43), published 7/31/19

![image](https://user-images.githubusercontent.com/8419308/64460834-bd4cd600-d0b8-11e9-92a7-794518039121.png)

master
![image](https://user-images.githubusercontent.com/8419308/64460868-d2296980-d0b8-11e9-9f59-99cbce26ab83.png)

My guess is that the shrunken strings are an unintended consequence of some other change to the code. The size in dev.43 is definit

[2019-09-09 20:11] zepumph commented on #172
Oops! This occurred because of work done in https://github.com/phetsims/gravity-force-lab/issues/76 to consolidate the label and its shadow into one PhET-iO instrumented item. Further design discussion in https://github.com/phetsims/gravity-force-lab/issues/175 will result in the removal of the shadow text, and the addition of a stroke. I'll commit the fix shortly.

[2019-09-09 20:44] zepumph commented on #172
This will be covered generally as part of https://github.com/phetsims/inverse-square-law-common/issues/79. Closing

[2019-09-09 20:44] #172 closed

[2019-09-09 23:29] zepumph commented on #170
@samreid I added support for NumberProperty.step in the above commits, would you mind reviewing those. Sorry I should have created another issue for it.

[2019-09-10 04:25] samreid commented on #170
One typo correction, everything else looks great.  I read the change sets and checked runtime behavior in studio for `gravityForceLabBasics.gravityForceLabBasicsScreen.model.mass1.valueProperty`.  The only other thing I noticed was that one spot said `valueUnits: 'kilograms'` instead of `valueUnits: 'kg'`, I thought we had a precedent to use the same units that are shown in the sim, but maybe this

[2019-09-10 18:38] zepumph commented on #170
I think the discussion is here https://github.com/phetsims/phet-io/issues/530 (my longest assigned issue; what fun). I thought it was more that we were heading towards using abbreviations across the board, but it seems like nothing is settled. No matter I think that changing it to `kg` makes sense. I'll do that.

[2019-09-11 16:46] zepumph commented on #170
- [ ] Checkboxes should be nested underneath the `parameterControlPanel`

[2019-09-13 22:27] zepumph opened #173 "double check descriptions before RC"
@terracoda sorry this issue is coming so late. I think we are now ready for an RC, and I wanted to have you double check the descriptions before going there. This is mainly just to double check that other work in ISLC hasn't changed anything. There has been PhET-iO and some common code work done in this suite of sims in the past month. I don't think much has changed, but I think it would be good f

[2019-09-13 22:39] terracoda commented on #173
@zepumph, I'll try to get to this over the weekend.

[2019-09-13 22:47] zepumph commented on #173
Thanks!

[2019-09-17 19:24] zepumph commented on #173
I discussed this with @terracoda, and we think that any changes that are found here can easily be propagated to the RC, and that this shouldn't hold up the creation of the RC task.

[2019-09-20 20:22] KatieWoe commented on #154
Add Logan Bray to QA

[2019-09-22 01:34] jaspearias opened #174 "Keyboard Nav isn't fully working on Mac 10.13"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

MacOS 10.13.6

<b>Browser</b>

Safari

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/429
When testing the Keyboard Nav the “Exit a dialog” and “Move to previous item” didn't work for me. All others worked just fine for the sim except those two. The “Move to previous item” goes to edit the URL instead of moving to the

[2019-09-22 21:06] zepumph commented on #174
Thank you for the bug report, and thank you for the visual. That was very helpful.

In general I feel like the "shift + tab" bug may be because of an atypical interaction where you clicked (with the mouse) on a later element, and then tried to shift tab back to a previous element. It does seem that an edge case bug is that clicking on an item in the middle of the sim, and the pressing `shift+tab`

[2019-09-23 15:29] KatieWoe commented on #174
I wasn't able to replicate this issue on Jordan, so I also wonder if this has something to do with the settings on a device?

[2019-09-23 16:05] arouinfar commented on #174
Thanks for reporting @jaspearias.

@KatieWoe @zepumph keyboard nav is behaving for me on macOS 10.14.5/Safari. If I click an element to shift my keyboard focus `shift+tab` still works.

Just to add to this, if you open the dialog with the mouse, you'll first need to press `tab` to move the keyboard focus to the close button before `esc` will work. However, focus will automatically be on the close

[2019-09-23 17:00] KatieWoe opened #175 "Closer/Farther Away not always given"
For https://github.com/phetsims/QA/issues/429.  Noticed in NVDA, but it occurs in the a11y view.  If this is intentional please close.
Sometimes, often when interrupting a previous movement, the screen reader will skip the "Closer" or "Farther Away" part of the following type of alert.  I also wondered if it would be a good idea to include the exact distance in the alert.

[2019-09-23 17:03] KatieWoe commented on #175
Edit: Never mind about including the exact distance.  It does, but it doesn't seem to show up in the a11y view for some reason.

[2019-09-23 17:27] terracoda commented on #175
@KatieWoe, nice that you noticed this. What is spoken out by the screen reader, the "alertive information" is actually a combination of two things:
1. the changed value on the slider, in this case the new value for distance, and
2. a description of other important contextual changes, a description of the size of the force arrows and the new force value. When there is a change is a change in direct

[2019-09-23 19:00] terracoda commented on #175
@KatieWoe, I'll add, by directional change, I mean if you change from getting closer to getting farther away and you don't hear "Closer/Farther away" then there is an issue.

Also at the edges, you get "Last stop left/right", and when distance is not checked you get qualitative descriptions of the distance, but you only get them when you cross a regional boundary. You don't get the qualitative cha

[2019-09-23 19:07] KatieWoe opened #176 "iPadOS 13 Checkboxes won't select/deselect with VO"
For https://github.com/phetsims/QA/issues/429
I was checking VO on iPadOS Beta since it will be coming out soon.  I was unable to check and uncheck boxes (Force Values, Distance, and Constant Size).  When attempting to double tap to do so, it would instead seem to activate the pink keyboard focus box and both it and the iPad's focus could be seen over the box.  Repeated attempts might cause it to

[2019-09-23 19:14] KatieWoe commented on #175
All looks good in that case.  Only thing I would note is that, if you change direction and continue moving, you won't hear "Closer/Farther away."  You only seem to hear it if you stop after changing direction.

[2019-09-23 19:15] zepumph commented on #174
Assigning over to @jaspearias for further investigation and specifics on when the bug occurs. Perhaps @KatieWoe can work with @jaspearias if needed.

[2019-09-23 19:44] terracoda commented on #175
@KatieWoe, I don't understand. You should only hear "Closer" on your first step closer to the other sphere, and you should only hear "Farther away" on your first step away from the other sphere.

And then again when you change from going closer or farther away.
It's that first step that matters, and that first step happens on literally the first step and in all subsequent changes in direction.

On

[2019-09-23 19:45] KatieWoe commented on #175
Basically, if you do step 2 before words from step 1 start or you do step 4 before words from step 3 start you don't hear closer, farther away.  Does that make sence?

[2019-09-23 19:54] terracoda commented on #175
@KatieWoe and I discussed and this is typical screen reader interruption.

[2019-09-23 19:55] KatieWoe commented on #175
Closing

[2019-09-23 19:55] #175 closed

[2019-09-23 19:55] terracoda commented on #175
No need to fix, it is not a bug. Removing label and closing.

[2019-09-23 20:14] KatieWoe commented on #174
Discussed with @jaspearias and determined that this was due to the setting where safari requires you to use option +tab/shift+tab unless you change the setting.  Not an issue.  Closing

[2019-09-23 20:14] #174 closed

[2019-09-23 20:35] zepumph commented on #174
Interesting! Thanks @KatieWoe. Does this setting belong documented in the QA book for a11y or somewhere else? I'm not sure if/how these sorts of "gotchas" are kept track of.

[2019-09-23 20:38] KatieWoe commented on #174
I can add it.

[2019-09-23 20:43] zepumph commented on #175
Thanks @terracoda! @KatieWoe is this a specific enough screen reader case to be documented as expected behavior somewhere?

[2019-09-23 20:44] KatieWoe commented on #175
I think it's fairly specific to this sim, but I could be wrong.

[2019-09-23 20:45] zepumph commented on #176
Assigning @jessegreenberg for assistance. Do you have a way to test this or reproduce it? I think we also may want to move this issue out of GFLB depending on its severity.

[2019-09-23 20:51] terracoda commented on #175
Good question @zepumph, this will happen more when we have really customized stepping descriptions like in this sim. It happens less so with the mass sliders as we do not describe directional changes.

Basically, it will happen when there are more than a few nuances trying to be conveyed. In previous sims, we used `aria-valuetext` to convey some of these nuances, but we will likely be using `aria-

[2019-09-23 20:55] terracoda commented on #173
@zepumph, I have found one issue with the descriptions which will need to also perhaps reference https://github.com/phetsims/QA/issues/429

1. when masses are the smallests (or set to fixed radius) and closest together, the description is "extremely close to mass 1 (or mass 2)", but I think it its supposed to say "closest to mass 1 (or mass 2)". Not that there is a "farthest from mass 1 (or mass 2

[2019-09-23 21:08] jessegreenberg commented on #176
I confirmed it is working as expected in iOS 12. Ill see if I can get iOS 13 to test.

[2019-09-23 21:21] jessegreenberg commented on #176
I have an iPad Air 2, https://www.apple.com/ipados/ says that will be compatible. iPadOS comes out tomorrow.

[2019-09-23 23:01] zepumph commented on #173
When I set both masses to be 1 billion KG, I do hear the "closet to mass to" clause on the alert. When I have the constant size checked, I don't hear that because the centers aren't 1.3 km away, it is bigger. I can add that in as a case if you would like, but I didn't know that was expected (since they technically can be closer.

What would you like me to do there?

[2019-09-23 23:05] terracoda commented on #173
Oh, apologies. I thought I tried both cases.
In GFL regular the he masses can get to 1.2 meters, but here in GFL:Basics the closest seems to be 1.3 km. Is it just a matter of that?

Again, I'll check again asap.

[2019-09-23 23:13] zepumph commented on #173
In GFL they can get all the way down to .6 meters by the looks of it. The min radius is much smaller in that sim. Likely we will need to reimplement those regions once we get back to GFL.

Anyways, again I am happy to implement whatever behavior you would like, just let me know what's best.

[2019-09-24 12:51] terracoda commented on #173
@zepumph, you are indeed correct.
The spheres can only reach their "closest" described position (1.3 km apart) with Constant Size unchecked.

With Constant Size checked the spheres can only get to "1.4 km" apart.

My main concern was that the "closest" description gives a nice indication that they can't move any farther (i.e., closer together in this case). That said, the learner's main indication

[2019-09-24 12:51] #173 closed

[2019-09-24 13:03] terracoda opened #177 "One last missing period."
While double checking description in issue https://github.com/phetsims/gravity-force-lab-basics/issues/173#issuecomment-534543641

I found one missing period in an aria-live alert (a context response), please see red arrow in screenshot below. This alert (context response) occurs when the Constant Size checkbox becomes unchecked.

Please be careful adding in the period. It is important to make sur

[2019-09-24 13:17] terracoda commented on #177
And this is an issue for GFL regular, too, so this string might live in some common strings place.
![Screen Shot 2019-09-24 at 10 46 12 AM](https://user-images.githubusercontent.com/1902116/65514761-8e0bd680-deb8-11e9-9aac-baf1afadab3f.png)

[2019-09-24 18:40] zepumph commented on #177
We got lucky here. Though that snippet was in three places in the descriptions, there was a string pattern that only applied to the alert, so I added the period there. Please review before I copy it over to the RC shas.

[2019-09-24 18:52] zepumph commented on #154
Credits have been updated in master and on the 1.0 branch. Closing

[2019-09-24 18:52] #154 closed

[2019-09-24 19:24] terracoda commented on #177
Awesome! Looks good @zepumph. Closing issue.
![period-fixed](https://user-images.githubusercontent.com/1902116/65543573-faec9400-deeb-11e9-9b96-cfaac6d99556.png)

[2019-09-24 19:24] #177 closed

[2019-09-24 19:26] zepumph commented on #176
Good luck!

[2019-09-24 19:46] terracoda commented on #176
Is the iOS on iPad different from iOS on the iPhone?
I can check and uncheck checkboxes on iPhone 7 with iOS 12.4.1
Unfortunately, I haven't upgraded yet, so not sure how useful my test is.

[2019-09-24 20:00] KatieWoe commented on #176
It is as of today's apple update.

[2019-09-24 20:01] KatieWoe commented on #176
Not sure what it looks like on iOS 13 on iPhone.

[2019-09-26 05:37] zepumph opened #178 "Use default LayoutBounds"
In `GFLBScreenView.js`. May be similar to https://github.com/phetsims/coulombs-law/issues/111 and https://github.com/phetsims/gravity-force-lab/issues/179.

[2019-09-26 17:12] zepumph opened #179 "Ready 1.0.0-rc.2"
https://github.com/phetsims/QA/issues/429 went very well! We are almost ready for the next rc. During this process, I applied a patch from https://github.com/phetsims/inverse-square-law-common/issues/79 which then caused a problem for @jonathanolson  doing some MRs. As a result I'm going to add MR patches myself for this release.

TODO:
- [x]  Make sure that https://github.com/phetsims/inverse-squ

[2019-09-27 20:37] jessegreenberg commented on #176
OK, I confirmed that the checkbox cannot be checked in iPadOS13 while the cursor is on the checkbox. However, if the cursor is on the checkbox label, the checkbox can be checked correctly. Ill see if this is true for native HTML

[2019-09-27 20:51] jessegreenberg commented on #176
https://jsfiddle.net/Lbnu98xq/ works OK.

It looks like the HTML checkboxes are not sized to overlap the entire Node with label:
![image](https://user-images.githubusercontent.com/6396244/65801139-603bc180-e146-11e9-946a-d78ed7636eab.png)

In chrome, the box takes up the entire text like this
![image](https://user-images.githubusercontent.com/6396244/65801179-7a759f80-e146-11e9-9b73-5a9c30e3900f.p

[2019-09-27 21:13] jessegreenberg commented on #176
The orange shows the dimensions of the HTML checkbox in Safari:
![image](https://user-images.githubusercontent.com/6396244/65802561-076e2800-e14a-11e9-94e6-7df6f302de7a.png)

But the interactive box isn't centered in this width.

[2019-09-27 22:20] jessegreenberg commented on #176
In a separate HTML context, I saw that checkboxes cannot be clicked with `pointer-events: none` but the label could still be clicked. For this reason I thought that maybe `pointer-events: none` was preventing the checkbox from being clicked. But I confirmed that we are still receiving `touch` events on the checkbox in this case. So scenery should be able to receive. Maybe the pointer event isn't a

[2019-09-30 17:23] megan-phet opened #180 "iOS 13 Screen shifts down after closing tab next to sim but pointer areas does't"
<b>Test Device</b>
- iPad (6th generation)

<b>Operating System</b>
- iOS 13.1

<b>Browser</b>
- Safari

<b>Problem Description</b>
For phetsims/QA#429

Screen shifts down after closing the tab next to it but pointer areas do not change.
(Need to click above the object or icon intended to select.)

Tried on iPad pro-OS 12.4.1 and the screen jumps back to the original place after closing the tab ne

[2019-10-01 13:25] terracoda commented on #176
In comment https://github.com/phetsims/scenery/issues/1001#issuecomment-536800772, @jessegreenberg has a solution, though it may be "fragile".

@zepumph, do we need to do another RC to test this out?

[2019-10-01 15:13] terracoda opened #181 "Investigate best min and max values for mass sliders"
From issue https://github.com/phetsims/QA/issues/429#issuecomment-537071949

JAWS screen reader reads out the `min `and `max` values for the mass sliders which sounds like 1 zero zero zero zero...

[code]
VoiceOver only seems to read out the `aria-valuetext` of the current value which sounds like "4 billion kilograms"

Is it possible to use simplified values instead?
[code]

Of course the `aria-va

[2019-10-01 19:58] zepumph commented on #181
This thought adds another layer of complexity to AccessibleValueHandler. Currently here are the supported options that involve mapping a value to something in the PDOM:

* **a11yValuePattern**: // {string} if you want units or additional content, add to pattern
* **a11yDecimalPlaces**: // number of decimal places for the value when formatted and read by assistive technology
* **roundToStepSize**:

[2019-10-01 20:07] terracoda commented on #181
@zepumph, I think you are correct, we need something that says:
- 1 in the PDOM mass slider == 1 000 000 000 in the sim's model

In the options above, my first guess would be the **a11yMapValue** option, just as you have pointed out.

So would that translate to:
- pdom number = sim number/1 000 000 000

[2019-10-02 01:38] zepumph commented on #181
Over in https://github.com/phetsims/sun/issues/530 we worked on a11yMapValue, and were able to get things working for this issue. This is now what the input looks like:

https://github.com/phetsims/sun/issues/530
![image](https://user-images.githubusercontent.com/6856943/66011584-27fef080-e470-11e9-9af8-6384ce94cd4a.png)

There is some concern that to get the `step` like this, we used a pretty sim

[2019-10-02 16:46] terracoda commented on #181
I hadn't actually experienced this read out (recently anyways) until today before I emptied my caches:
<img width="1161" alt="Screen Shot 2019-10-02 at 2 04 32 PM" src="https://user-images.githubusercontent.com/1902116/66063760-9ef2c280-e51e-11e9-8778-2f23423ee2c4.png">

Happily, after I emptied my caches and reloaded from master, I got the beautiful `aria-valuetext` and no more 2000000000:
<img w

[2019-10-02 17:57] terracoda opened #182 "Need to double check that Size of Arrows and Effort of Robots (cancel out)"
@zepumph, apologies for opening this issue so late. I do think there was an issue somewhere between GFL regular, GFLB and ISLC where I pointed out that the effort of robots needs to line up with the description of the size of the arrows.

I can't seem to find the issue where I posted the table, so I am posting it again.

Size of force arrows | Effort of the robots
-- | --
tiny | pull very little
v

[2019-10-02 19:27] zepumph commented on #182
This was due to the model bug found in https://github.com/phetsims/inverse-square-law-common/issues/76. Basically the range that these description values were based on doubled. I can look into fixing those values.

[2019-10-02 19:28] zepumph commented on #182
(this will apply to all ISL sims)

[2019-10-02 20:24] terracoda commented on #182
Thanks @zepumph for connecting the correct issue into this one.
The descriptions are aligned on sim start-up.
![Screen Shot 2019-10-02 at 5 51 30 PM](https://user-images.githubusercontent.com/1902116/66078855-6adaca00-e53d-11e9-84a8-d90e6ad23913.png)

I'll look at this more tomorrow.

[2019-10-02 20:27] terracoda commented on #182
@arouinfar, I think the main problem is that the arrows are shrinking, but that shrinking is still off screen, so you only see the change in the robots. Maybe the arrows can be described as very large or huge and be visually off screen?

Let em know your thoughts @arouinfar

[2019-10-02 20:59] zepumph commented on #182
Sorry I keep barging in here, but want to make sure that the different descriptions are being appropriately understood as they apply to the force. All forces are in newtons and from GFLB.

* The force range for the sim is ~.7 to ~3405. Min is smallest mass, farthest away. Max is largest mass constant size, closest to each other.
* force to pull effort "region" is mapped linearly, from the min forc

[2019-10-02 22:34] terracoda commented on #182
This is very helpful and it seems we may have tired some description hollywooding based on the old force values.

I will look at this more tomorrow, and no worries about barging in.

It seems if we want the descriptions to match up (or cancel out so-to-speak) for force and counter force, then we should be calculating them in the same way.

[2019-10-02 23:00] zepumph commented on #182
Furthermore, for the visuals both use linear functions,
* the pullers are mapped from the min for to the max force directly
* the arrows are mapped from the min magnitude (so they can't be negative in coulombs law), to the max force.

Both of these maxes are that 3405 value where they used to be 1098.

[2019-10-03 16:07] zepumph commented on #181
Yes I think there is more work to be done, but that will be over in https://github.com/phetsims/sun/issues/530.

[2019-10-03 16:07] terracoda commented on #181
Ok, closing ;-)

[2019-10-03 23:15] zepumph commented on #170
This issue lost steam, we moved forward with an RC just for a11y. Unassigning.

[2019-10-07 17:31] zepumph commented on #181
Sorry I'm a liar. We should keep this open for QA to ensure the fix makes it successfully into the release branch.

[2019-10-07 17:55] zepumph commented on #181
I will commit the following commits to branches over in phetsims/gravity-force-lab-basics#179, in order:

From https://github.com/phetsims/sun/issues/530:
ISLC:
https://github.com/phetsims/inverse-square-law-common/commit/1d370943cbb0546246564a8545a88ea32c70fc03
https://github.com/phetsims/inverse-square-law-common/commit/b2132e76060f58f52e729ca044c4671b9828b620

GFLB:
https://github.com/phetsims/

[2019-10-07 17:58] zepumph commented on #176
@terracoda we will definitely want another RC for this. The commits over in https://github.com/phetsims/scenery/issues/1001 will be cherry picked to the branch. Then we will have QA look at this.

[2019-10-07 19:26] arouinfar commented on #182
@terracoda I think it's important to keep the force arrow and effort descriptions parallel -- `tiny` always corresponds to `pull very little`, etc. The robot's pull is directly proportional to the force between the masses.

I'm not sure what range of force each size/effort description level corresponds to. However, I think the range needs to be equal for each level, save for the `huge`/`pull very

[2019-10-07 19:59] terracoda commented on #182
Thanks @arouinfar! That is what I thought, too.

@zepumph, I think what you will need from me is a new set of ranges for the 7 described sizes/efforts. The new set would start at the min force value, ~.7, and end at ~3405, the max force value.

If my understading is correct, the visuals are animated to map to this range in the desired way.

For me to map in the descriptions I need to play with the

[2019-10-07 20:31] terracoda commented on #182
@zepumph and I had a zoom call, and decided I will make a new value set for the ranges tomorrow morning, and he already made it so the size of the arrows and the effort of the robots will be mapped to the new value sets that I will come up with.

[2019-10-07 21:32] zepumph commented on #182
Now I did!

[2019-10-08 16:55] zepumph opened #183 "Should get "closest" alert when closest with a constant radius"
Will be needed for https://github.com/phetsims/gravity-force-lab-basics/issues/179

[2019-10-08 17:57] zepumph commented on #183
This was added to master in the above commit by making the constant sized radius the same as the min mass radius in GFLB. I should add this to the release branch.

QA when you get to this, the way to make sure that this made it into the rc is to make sure that when the masses are closest to each other, and you try to move one step closer (but you can't), the alert should start with "Closest" and n

[2019-10-08 17:57] zepumph commented on #179
Don't forget about https://github.com/phetsims/gravity-force-lab-basics/issues/183

[2019-10-11 16:29] terracoda commented on #182
@zepumph, apologies, I am late on this, making it priority now.

[2019-10-11 18:14] terracoda commented on #182
Size of Force Arrows | Current range values (approx. N range) | Effort  of Robots
-- | --
Tiny | 0.7 - 85.4(84.7 N)=< 40.6 N |
Very small | 92.7 - 181.6(88.9 N +gap) 40.7 - =< 250.3( 209.6 N) |
Small | 200.2 -  278.1(77.9 N +gap) 250.4 - =< 544.8( 294.6 N) |
Medium size | 295.8 - 386.1(90.3 N +gap)544.9 - =< 888.6(343.7 N) |
Large | 400.4 - 486.1(85.7 N +gap)888.7 - =< 1261.6(372.9 N) |
Very large

[2019-10-11 18:28] terracoda commented on #182
@zepumph, I played a lot with the sim and I hope these ranges will work out.
I am not sure I was supposed to use the max value for each `if` clause.

Back over to you.

[2019-10-14 18:42] zepumph commented on #182
The ranges you gave are perfect. I'll put those in now thanks.

[2019-10-14 19:24] terracoda commented on #182
@zepumph, I need to do something similar for GFL regular, too right?
I'll do that over in https://github.com/phetsims/gravity-force-lab/issues/178

And then we can discuss new strategies for this type of thing in
https://github.com/phetsims/a11y-research/issues/146

Apologies for confusing all these issues.

[2019-10-14 20:24] zepumph commented on #182
There was a discrepancy between ISLCModel.getMaxForce() and the highest value you could get in the sim. This was because the model function wasn't snapping to the grid of actual possibilities. Fixed https://github.com/phetsims/inverse-square-law-common/commit/c95130a2ea7817efccd25ff397df82824594ecca.

I also input the regions, and saw that they were changing well in the a11y view. I will move thes

[2019-10-14 20:24] zepumph commented on #182
QA, to test, please make sure that the force description regions are as described in the table in https://github.com/phetsims/gravity-force-lab-basics/issues/182#issuecomment-541169252

[2019-10-14 21:15] zepumph commented on #183
Cherrypick
https://github.com/phetsims/gravity-force-lab/commit/dbc5b5b2d7e31eaa58c4c7ee70ebabadf0e9fce2
https://github.com/phetsims/gravity-force-lab-basics/commit/f539a487c70a7662326b68f7f9f5ced108ad08f4
https://github.com/phetsims/inverse-square-law-common/commit/6c3c3a0289ab594aa586c7b24961239c356f11eb

[2019-10-14 21:52] zepumph commented on #183
QA: to test this, make the masses have a constant radius and the smallest mass, and then move them as close as possible. Afterward, try to move them one step closer, and the alert you get should start with "closest" instead of "extremely close" as would happen if the masses were  a bit larger (without constant size checked).

[2019-10-14 21:55] zepumph commented on #181
QA: to tests, the bug is described in https://github.com/phetsims/gravity-force-lab-basics/issues/181#issue-500964619, basically there shouldn't be many zeros read out for the min/max values. I think this was only present for JAWS.

[2019-10-14 22:54] zepumph commented on #179
Done. https://github.com/phetsims/QA/issues/438

[2019-10-14 22:55] zepumph commented on #179
Note this was pretty difficult. Especially for https://github.com/phetsims/gravity-force-lab-basics/issues/181 which had many sun commits, most were after a batch change from `var` to `const` in require statements, and so it took a while to realized I needed to add those commits in as well to avoid cherry-pick issues.

[2019-10-14 22:55] #179 closed

[2019-10-15 18:13] zepumph commented on #24
We are around that time, as RC.2 is in QA right now. I'm going to remove the on-hold label, though it may not be necessary just this second.

[2019-10-15 18:39] zepumph commented on #182
There were two bugs that I just committed fixes for on master and in the branch. This issue can still be closed.

[2019-10-15 20:12] KatieWoe commented on #24
Screenshots updated using https://github.com/phetsims/QA/issues/438.  @arouinfar please close if you are happy with results.

[2019-10-15 21:03] lmulhall-phet commented on #182
Seems to be working as described in https://github.com/phetsims/gravity-force-lab-basics/issues/182#issuecomment-541169252 in https://github.com/phetsims/QA/issues/438.

[2019-10-15 21:33] zepumph opened #184 "Ready rc.3"
It will be good to keep track of work done in between rc.2 and rc.3. I can do that here

* Over in https://github.com/phetsims/gravity-force-lab-basics/issues/182 there were two bug fixes committed to master and the branch. Nothing more should be needed for them.

[2019-10-16 17:45] jonathanolson commented on #184
It looks like the patch for https://github.com/phetsims/phet-core/commit/b9b67611be6138642d25b2c67cbc70ff432fd83d was not applied in the release branch. It should be included somehow.

[2019-10-16 17:52] zepumph commented on #178
This was a bit harder than I thought it would be. This is a patch that will inform my work next time. I couldn't get the model to recognize the new layout positions (there was overlap in the drawn nodes).

I also found that you could get pretty good sizing by applying a scale of 1.33 to all view elements, but that bypassed the model-view-transform. Also in general that felt like a code smell.

The

[2019-10-16 22:20] #182 closed

[2019-10-17 18:50] KatieWoe commented on #183
When testing at least NVDA that there could be a noticeable pause before the dialog was read out, but it seemed to work well beyond that.

[2019-10-17 18:56] loganbraywork commented on #181
Issue fixed

[2019-10-17 19:01] #181 closed

[2019-10-17 19:01] #176 closed

[2019-10-17 19:02] KatieWoe commented on #176
Issue seems solved.  Checked by @loganbraywork

[2019-10-17 20:28] zepumph commented on #183
That is expected and purposeful. We create that pause artificially to make sure there aren't too many alerts. This has be put in front of users and tested. We can open up new issues if we find that is problematic. Thanks @KatieWoe

[2019-10-17 20:28] #183 closed

[2019-10-17 20:43] zepumph commented on #184
Alright thanks @jonathanolson, I'll publish a new rc hopefully today with that in it.

[2019-10-17 21:07] zepumph commented on #184
So long as we get the all-clear on screen shot over in #24 we will be ready for this final (?) RC.

[2019-10-17 21:54] arouinfar commented on #24
Thanks @KatieWoe. Looks good.

[2019-10-17 21:54] #24 closed

[2019-10-18 00:13] zepumph commented on #184
https://github.com/phetsims/QA/issues/441

[2019-10-18 00:13] #184 closed

[2019-10-22 20:06] loganbraywork opened #185 "On IpadOS VO fails to read out "closest" alert or "extremely close" alert"
**Test device**
IPad 6th Gen
**Operating System**
IpadOS 13
**Browser**
Safari
**Problem description**
From https://github.com/phetsims/QA/issues/441

Looks like  https://github.com/phetsims/gravity-force-lab-basics/issues/183#issuecomment-541943443 and was missed on last RC test for IPad. Went back and checked last version and found same behavior.

When using VO on IPadOS 13, attempting to move t

[2019-10-22 20:57] zepumph commented on #185
@loganbraywork two questions:

* Does this happen on master?
* Does this happen with other devices?

[2019-10-22 21:02] loganbraywork commented on #185
It doesn't happen on MacOS VO as far as I can tell, but I will also check with another IOS version and master.

[2019-10-22 21:05] loganbraywork commented on #185
@KatieWoe Confirms it happens on IOS 12

[2019-10-22 21:07] loganbraywork commented on #185
Occurs on Master

[2019-10-22 21:57] jessegreenberg commented on #185
Was able to confirm on my iPad with iPadOS 13

[2019-10-22 22:18] zepumph commented on #185
After pairing with @jessegreenberg, we found that this is because on a mobile device, we aren't getting any events once the slider is at the end of the track. No `input` or `change` fires. On a keyboard, we still get the `keyup` event event if the value didn't change. So this alert will happen on devices that get the keyup, but not on iOS.

@jessegreenberg and I both this that this is alright beha

[2019-10-23 18:42] terracoda commented on #185
Yep, I agree. The go-beyond-edge alert is meant to provide helpful state information when there is no change and an addition key press is made after reaching an edge. The information is not essential and should be available in the PDOM in the dynamic state descriptions for each of the mass spheres or in the dynamic part of the screen summary.

This should not block publication of the sim and does

[2019-10-23 18:52] terracoda commented on #185
@zepumph, you can close this issue once you make the needed notation in `AccessibleValueHandler` . I have put a note in the Lessons Learned section of the Interactive Description design doc for GFLB.

[2019-10-23 19:27] zepumph commented on #185
Excellent! We are ready to publish.

[2019-10-23 19:31] #185 closed

[2019-10-24 04:13] phet-dev opened #186 "Maintenance patches applied to branch 1.0"
This branch (1.0) had changes related to the following applied:

- fix for iOS 13 Full Screen, see https://github.com/phetsims/phet-core/issues/64
- https://github.com/phetsims/scenery/issues/1006

Presumably one or more of these changes is likely to have been applied after the last RC version, and should be spot-checked by QA in the next RC (or if it was ready for a production release, an additio

[2019-10-25 19:52] loganbraywork commented on #186
Both issues seem to be fixed

[2019-10-25 20:50] #186 closed

[2019-10-25 22:05] zepumph commented on #16
I got an email my production build succeeded, over to you @arouinfar to take us home.

[2019-10-25 22:07] zepumph commented on #84
This sim has been published, anything else here @terracoda?

[2019-10-25 22:09] zepumph opened #187 "Hold a postmortem?"
@emily-phet @terracoda now that this simulation is published, would you like to hold a postmortem about anything?

[2019-10-25 22:17] arouinfar commented on #187
@zepumph we rarely hold postmortems these days. That said, the trajectory has been somewhat unusual for a simulation and it's also the first accessible sim with PhET-iO. There may be some value in holding a postmortem, so I'll also assign @ariel-phet to weigh-in.

[2019-10-26 02:50] arouinfar commented on #16
@ariel-phet the remaining items are yours.

[2019-10-26 11:05] terracoda commented on #84
On October 25, 2019 this sim was published with Alternative Input, Sonification, Interactive Description, and Interactive Description on Mobile.

@zepumph, I think that's a wrap, closing this issue!

[2019-10-26 11:05] #84 closed

[2019-10-27 12:58] emily-phet commented on #187
@zepumph Thanks for the reminder! Let's do it!

Since status is canceled for Nov. 7th, perhaps that's an opportune time to gather folks. I'll send out a calendar invite shortly.

[2019-10-29 13:38] terracoda commented on #187
For reference we noted a few things in the [lessons learned](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.q6eaeefw61wt) section of the design doc

[2019-10-31 21:54] emily-phet commented on #187
I just sent out a calendar invite for next Thursday during the status meeting time window. Please let me know if you didn't receive the calendar invite, or if others should be added to the invite list. Looks like Amy is out of town at that time, her invite was auto-declined. Let me know if should not meet without her.
@terracoda @zepumph @jessegreenberg @jbphet @Ashton-Morris

[2019-11-07 18:54] terracoda commented on #187
The note from the [Post Mortem meeting](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.c3ohqtxoywd) are in the design doc.

[2019-11-07 20:12] zepumph commented on #187
Thanks @terracoda. Here is a snapshot of what that section currently looks like for the issue:
History:
* October 2017 - Considered for a11y stuff
* Dec 2017 - Outfitted for PhET-io and consider for a11y stuff
* March 2018 - Github issue initiating static description work
* July 2018 - Mike Winters some initial setup
* Nov 2018 - Description Design Doc
* Nov 2018 - Producing prototypes
* January 1

[2019-11-07 21:45] emily-phet commented on #187
Looks good to me! I'll mention that we're doing postmortems in the next status meeting, as we talked about today. Closing.

[2019-11-07 21:45] #187 closed

[2019-11-13 21:07] loganbraywork commented on #185
For documentations sake, seems to occur in GFL a11y test as well

[2019-11-15 15:39] KatieWoe opened #188 "CT assertion failed"
[code]

[2019-11-15 20:18] jbphet commented on #188
My bad - I changed the API for the mass boundary sound generator in GFL and neglected to update it in GFLB.  Fixed, closing.

[2019-11-15 20:18] #188 closed

[2019-11-20 14:18] terracoda opened #189 "Scientific Notation checkable when Forces Values is not checked"
I thought we solved this issue already, however, I can't find the original issue.
**Issue:** I can check Scientific Notation checkbox when Force Values is not checked. This should not be possible because no force values are showing.

I am pretty sure there is artwork demonstrating these the greyed-out sates.
- Scientific Notation checkbox should be greyed-out AND disabled in the PDOM when Force Va

[2019-11-20 14:25] terracoda commented on #189
@zepumph, there are SImple Context Responses in the design doc for these scenarios here in the design doc:
https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#

[2019-11-20 14:34] terracoda commented on #189
@zepumph, the responses are all correctly implemented, it is is just the fact that the Scientific Notation checkbox is enabled (checkable and uncheckable) when Force Values is not checked. It should be disabaled in when Force Values is unchecked.

I would try the HTML5 `disabled` attribute rather than the `aria-disabled` attribute
https://www.w3.org/TR/2014/REC-html5-20141028/disabled-elements.htm

[2019-11-20 18:00] zepumph commented on #189
Moving to gravity force lab regular

[2019-12-10 23:55] terracoda opened #190 "Content check - description of force on mass spheres question"
@arouinfar, I was reviewing the descriptions of Gravity Force Lab Basics together with the visuals the other day, and I am wondering if I got things mixed up at some point, or perhaps only chose a phrase that results in an unnecessary change in word order that is opposite to the visual word order.

Notice the word order in the second bullet describing the size of the force on each of the mass sphe

[2019-12-11 00:05] terracoda commented on #190
I update the image so both descriptions are showing in the screen shot.

[2019-12-11 00:06] terracoda commented on #190
Apologies if this just a momentary laps in reason ;-)

[2019-12-11 00:08] arouinfar commented on #190
@terracoda good catch. It looks the 2nd bullet point for mass 1 and mass 2 are indeed flipped. We should be describing the force on that particular object. So for mass 1, the 2nd bullet should read:

* Size of force on mass 1 by mass 2 is 33.4 newtons.

The string should exactly match the one in the visual sim, but with a "size of" appended to the front (since this bullet point is describing the m

[2019-12-11 15:09] terracoda commented on #190
@arouinfar, so just to be clear the second bullets under the spheres should be like this:
‪
**mass 1‬, Blue Sphere**
_- Size of force **on ‪mass 1‬ by ‪mass 2**‬ is 33.4 ‪newtons‬._
‪
‪**mass 2‬, Red Sphere**
_- Size of force on ‪**mass 2‬ by ‪mass 1**‬ is 33.4 ‪newtons._‬

And this sim is already published, so could you advise how urgent this is for a maintenance release? Can it wait for January

[2019-12-11 17:06] arouinfar commented on #190
@terracoda yes, that all looks good to me.

With winter break coming up, there probably won't be much sim use in the coming weeks, so waiting until next month sounds reasonable. However, it also seems like a minor enough change (swapping 2 strings) to be done in a quick maintenance release. I'll defer to @emily-phet and @ariel-phet to decide the priority on this.

[2019-12-11 17:13] terracoda commented on #190
@zepumph, this is an issue in both Basics and Regular!

[2019-12-11 19:30] ariel-phet commented on #190
This issue seems worth a patch, my guess is it would be a fairly straightforward maintenance release with minimal testing required. @zepumph can let us know if otherwise.

[2019-12-30 22:13] zepumph commented on #190
This has been fixed on master in both sims. I can cherry-pick it into the GFLB branch next though right now my priority is GFL, trying to publish in the next two weeks. @emily-phet please let me know if you would rather me work on this that GFL. It will be likely ~one hour.

[2019-12-31 03:56] emily-phet commented on #190
@zepumph - yes, please go ahead with this.

[2019-12-31 19:15] zepumph commented on #190
This looks like it is only a bug with master, and not with published version of the sim. It has to do with a refactor done after GFLB shas were taken. Here is a picture of the PDOM on the published version:

![image](https://user-images.githubusercontent.com/6856943/71631665-5480f080-2bb6-11ea-893a-80d14a06343e.png)

And here is the published version's a11y view: https://phet-dev.colorado.edu/html

[2019-12-31 19:16] zepumph commented on #190
I'm ready to close this issue, but I also want to let everyone see and have a chance to comment.

[2019-12-31 19:20] terracoda commented on #190
Thanks for checking @zepumph.
Now, it makes sense why neither me nor QA caught this mistake before publishing. It wasn't there!
That's a relief?

[2020-01-03 15:53] KatieWoe opened #191 "CT phetioID already registered"
[code]

[2020-01-06 22:48] zepumph commented on #191
Thanks!

[2020-01-06 22:48] #191 closed

[2020-01-28 03:46] zepumph commented on #190
Alright, I'm going to close this.

[2020-01-28 03:46] #190 closed

[2020-01-28 03:47] zepumph commented on #16
Pinging @ariel-phet because I think this one will be quick.

[2020-02-07 16:50] BLFiedler opened #192 "GFL:B Sound Feature Video Script & Recording"
Make sound features video script and review with team

https://drive.google.com/open?id=1htkNZdHhXRW9xVZGoF_3gfzcnOSedYtR45SvVclNFmc

Recording will happen after.

[2020-02-26 16:59] #16 closed

[2020-02-28 21:40] terracoda opened #193 "Self-Voicing: Verbose and Brief Explore Modes"
@jessegreenberg, as I mentioned on slack:

The details are here in the Slef-Voicing draft design doc
https://docs.google.com/document/d/1XFTD2HTcGCEOP2yQ9_2SkEeXmCceZYUCmNeyiJfcCHs/edit#heading=h.5id9vnkzd67y

Note that sometimes I have 2 options. If there are two options for a mode, just go with option 1 for now.

Hopefully, I will have more for you by Monday.

[2020-02-28 21:45] terracoda commented on #193
The design ideas are a little different than what we discussed doing at last Tuesday meeting. I came up with a verbose version and a brief version.

In neither case do all the string perfectly match what is currently in the Interactive Descriptions. Some verbose ones match and some brief ones match.

The differences in strings are highlighted in red.

If we are not yet set up to a verbose mode and

[2020-03-05 16:29] KatieWoe opened #194 "CT testing not being done"
On 3/3/20 most of the CT tests for GFLB stopped being done. See bellow. White spaces are tests not done. Since so many go for such long time without being done consistently, this indicates that something is going wrong.
![notdone](https://user-images.githubusercontent.com/41024075/76002394-c5e56400-5ec3-11ea-980c-21d6f279c8dd.png)
![notdone2](https://user-images.githubusercontent.com/41024075/7600

[2020-03-05 17:19] jonathanolson commented on #194
Tested out a manual test link (https://bayes.colorado.edu/continuous-testing/aqua/html/sim-test.html?url=..%2F..%2Fsnapshot-1583409094243%2Fgravity-force-lab-basics%2Fgravity-force-lab-basics_en.html&simQueryParameters=brand%3Dphet%26ea%26fuzz%26memoryLimit%3D1000), and it looks like it failed with this:

<img width="1678" alt="Screen Shot 2020-03-05 at 10 15 03 AM" src="https://user-images.github

[2020-03-05 17:25] jonathanolson commented on #194
@jessegreenberg it looks like some incorrect imports were added in https://github.com/phetsims/gravity-force-lab-basics/commit/c580d82df4d146e057cbc200ecd0743c83fc8d7b, and I'm seeing more with inverse-square-law-common's webSpeaker.js. Can you look into this?

[2020-03-06 15:53] KatieWoe opened #195 "CT namespace phetCore already exists"
@jonathanolson since it may be related to https://github.com/phetsims/gravity-force-lab-basics/issues/194
[code]

[2020-03-06 16:19] jonathanolson commented on #194
I believe I fixed the imports issues, can you let me know if this problem continues for the future columns?

[2020-03-06 16:20] jonathanolson commented on #195
Possibly! I just applied some fixes, and I can't reproduce the errors locally now. Let me know if this continues in CT?

[2020-03-06 19:45] terracoda commented on #193
@jessegreenberg, I think I am done a first draft of the verbose and brief options for Interactive mode. Let me know if you have any questions.

[2020-03-06 19:46] terracoda commented on #193
Actually, I'll start a new issue.

[2020-03-06 19:46] terracoda commented on #193
oops didn't mean to close this.

[2020-03-06 19:48] terracoda opened #196 "Self-voicing: Verbose and brief options for Interactive Mode"
@jessegreenberg, I think I am done a first draft of the verbose and brief options for Interactive mode. Let me know if you have any questions.

Here's a link to the design doc:
https://docs.google.com/document/d/1XFTD2HTcGCEOP2yQ9_2SkEeXmCceZYUCmNeyiJfcCHs/edit#heading=h.6mboifb41tl8

[2020-03-06 20:30] jessegreenberg commented on #194
Thanks @jonathanolson, new columns have tests running and passing again.

[2020-03-06 20:30] #194 closed

[2020-03-06 20:31] jessegreenberg commented on #193
OK thanks! Commits for first pass at prototype made above. Closing this and I wil continue in new issue.

[2020-03-06 20:31] #193 closed

[2020-03-06 20:31] jessegreenberg commented on #196
Extension of https://github.com/phetsims/gravity-force-lab-basics/issues/193

[2020-03-09 15:20] KatieWoe opened #197 "CT Cannot read property removeInputListener of null"
[code]

[2020-03-09 21:45] KatieWoe opened #198 "Sim crashes on Active wrapper"
For ES6 Testing
In the Active wrapper, when you de-activate and try to reactivate the sim, it crashes and freezes. Console error bellow.
![reactivate](https://user-images.githubusercontent.com/41024075/76260197-e93e4500-621c-11ea-87f9-b38b236f3768.png)

[2020-03-11 14:32] terracoda commented on #196
@jessegreenberg, I added brief and verbose "density phrases" to the design doc for when Constant Size is checked.

[2020-03-12 18:39] BLFiedler commented on #192
Script completed including relevant updates to GFL script.

https://docs.google.com/document/d/1htkNZdHhXRW9xVZGoF_3gfzcnOSedYtR45SvVclNFmc/edit?usp=sharing

[2020-03-12 23:02] emily-phet commented on #192
Made a small tweak and a comment - looks good to go!

[2020-03-16 19:25] zepumph commented on #197
@jessegreenberg has been working on this sim, let me know if you need help!

[2020-03-16 19:26] zepumph commented on #198
This is a duplicate of #197, see the second error in the console. Closing

[2020-03-16 19:26] #198 closed

[2020-03-18 02:07] jessegreenberg commented on #197
Thanks @KatieWoe, fixed in https://github.com/phetsims/tappi/commit/05a8836ce48f2f101003fd2d89e3a0ade1dc73c0

[2020-03-18 02:07] #197 closed

[2020-03-22 22:50] zepumph opened #199 "move a11y strings into main strings json"
From phetsims/chipper#795

[2020-03-23 14:55] KatieWoe opened #200 "CT Failure to grunt"
[code]

[2020-03-23 16:48] zepumph commented on #200
I forgot to push a commit last night, it should be fixed now.

[2020-03-23 20:48] zepumph commented on #200
CT is clear. closing

[2020-03-23 20:48] #200 closed

[2020-03-23 21:33] zepumph commented on #199
@jessegreenberg I factored out all of the self voicing strings under a nested `selfVoicing` key. Please review.

[2020-03-30 21:19] BLFiedler commented on #192
Draft 1 complete (no intro/outro, might need some sound quality finesse): https://drive.google.com/file/d/1KGXuQwbWbaJ2gP6KVdws-yG2ZXZWwJzG/view?usp=sharing

[2020-04-16 20:33] emily-phet commented on #192
@BLFiedler - Very nice! I think it's good to go for publication.

[2020-04-21 12:48] terracoda commented on #196
Here's my evaluation notes of our initial design & implementation. We can chop these notes into new issues as needed.

# Issues for [1.1.0-dev.2](https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.2/phet/gravity-force-lab-basics_en_phet.html?selfVoicing)
## When set to Brief Explore mode & Brief Interactive mode
1. Brief explore strings seem correctly implemented.
2. Issues with

[2020-04-21 12:53] terracoda commented on #196
@jessegreenberg, I don't know how to make the bullets tidier. I did my best. We can break these issues up into separate issues as we decide to address them.

[2020-04-23 20:11] BLFiedler commented on #192
Re-recorded for audio and change to pitch language ( "deeper" similar to GFL). Next steps (by end of day tomorrow): Adding intro & outro, uploading to YouTube, Captions, and addition to For Teachers section of simulation webpage.

[2020-04-24 16:57] BLFiedler commented on #192
Published

https://www.youtube.com/embed/9KINQMwF2aA

[2020-04-24 16:57] #192 closed

[2020-05-07 16:21] terracoda commented on #196
@jessegreenberg, can you you give me an idea of when you can work on the issues in https://github.com/phetsims/gravity-force-lab-basics/issues/196#issuecomment-617157938I think they are small. Do you need me to split them up a bit?

[2020-05-18 21:46] jessegreenberg commented on #196
Hmm, I tried to get this to happen with brief interactive mode and haven't been able to observe it in about 10 minutes of trying. Its possible this has been fixed since https://github.com/phetsims/gravity-force-lab-basics/issues/196#issuecomment-617157938. @terracoda if you observe this on master please let me know, but checking off for now.

[2020-05-19 14:38] KatieWoe opened #201 "CT unrecognized force value, smaller than expected"
[code]

[2020-05-19 15:23] jessegreenberg commented on #196
For #6 I went with

Just because it was very easy to do. Custom alerts at the end of the track are possible however, if we want to explore that more.

[2020-05-19 20:11] jessegreenberg commented on #196
@terracoda here is an updated link with items in the list addressed:
https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.3/phet/gravity-force-lab-basics_en_phet.html?selfVoicing

This still doesn't include output from focus yet. Ill be working on that next but it doesn't seem related to this issue.

As I mentioned, I wasn't able to reproduce the bugs you reported. Code around tho

[2020-05-19 22:01] jessegreenberg commented on #196
Here is an updated version that includes output from focus:
 https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.4/phet/gravity-force-lab-basics_en_phet.html?selfVoicing

[2020-05-21 21:54] samreid commented on #134
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-22 12:18] terracoda commented on #196
@jessegreenberg, I have found a few additional issues
1. In Verbose/Verbose mode, I don’t always get mass movement description when a mass change moves the other mass. The strings are correct when I hear them.
- Would it be difficult to get this a little more regular in Verbose/Verbose mode?

2. In Brief/Brief mode, with Constant Size checked, I hear mass changes intermittently and almost never he

[2020-05-26 17:59] zepumph commented on #134
TODO promoted to https://github.com/phetsims/sun/issues/596. Closing

[2020-05-26 17:59] #134 closed

[2020-05-29 11:50] terracoda opened #202 "Self-Voicing Options for Layered Approach"
@jessegreenberg, I have fleshed out the input details, level options, and provided a walkthrough for the Basic Level (Level 0) in the design doc. The design plan starts here at [Self-Voicing Options for Layered Approach](https://docs.google.com/document/d/1XFTD2HTcGCEOP2yQ9_2SkEeXmCceZYUCmNeyiJfcCHs/edit#heading=h.or6pn8kfgkr)

I think the important implementation details are in these tables:
- [T

[2020-06-10 18:56] terracoda opened #203 "Self-voicing Options menu"
@jessegreenberg, when you get a chance, could you change the text in the options dialog?
I realized after our meeting that if we combine Level 0 and Level 1 into one level, the options would look more like this:

Speech Output Levels
- [ ] Voice Screen Text & Object Changes
- [ ] Voice Context Changes
- [ ] Voice Helpful Hints

We will find out in research if we need to split off object changes.

[2020-06-16 20:48] jessegreenberg commented on #203
Done in https://github.com/phetsims/gravity-force-lab-basics/commit/06d0f7feb7f4c6fb34742f63261fef9e7e2c9f6c and https://github.com/phetsims/inverse-square-law-common/commit/f7cd5f2cdfeab8b975e964047092ca6024fa964b

![image](https://user-images.githubusercontent.com/6396244/84826643-3cc8e780-aff1-11ea-8a25-19c170294550.png)

[2020-06-16 20:48] #203 closed

[2020-06-18 12:04] terracoda commented on #202
@jessegreenberg, the implementation of the Basic Reading Level that combines level 0/1 looks and sounds really good to me.

This version Voices Screen Text & Object Changes, and fully support mouse, touch, and keyboard access to readable objects and interactive objects.

The dev-version link is:
https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.7/phet/gravity-force-lab-basics_e

[2020-06-19 14:43] terracoda commented on #202
The above dev link is for what we are now calling Paradigm 2.
I will start a new git hub issue with a slight change (fewer readable blocks added to navigation order). We call this next version Paradigm 3.

[2020-06-19 14:53] terracoda opened #204 "Paradigm 3 Level 0-1 ready for implementation"
From #202 , @jessegreenberg I have a walk-through complete for Level 0-1 for Paradigm 3.

The design doc notes are now mostly in reverse chronological order with Paradigm 3 closer to the top. I hope this is not confusing.

Here's a link to [Paradigm 3 in the design document](https://docs.google.com/document/d/1XFTD2HTcGCEOP2yQ9_2SkEeXmCceZYUCmNeyiJfcCHs/edit#heading=h.5rzmyz3vgtza)

You will need

[2020-06-24 17:28] jessegreenberg commented on #204
OK, thanks @terracoda - A new paradigm was added with these changes called `minimalLevels`.

https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.1.0-dev.8/phet/gravity-force-lab-basics_en_phet.html?selfVoicing=minimalLevels

Ready for dicsussion today.

[2020-06-24 17:28] #204 closed

[2020-06-25 10:26] terracoda commented on #196
This Self-Voicing design is what we are calling Paradigm 1.

[2020-06-25 10:37] terracoda opened #205 "Self-Voicing, Paradigm 2 & 3 - Level 2 Example ready"
From #202 we have now have two similar Paradigm's for a Layered Self-Voicing approach.
Paradigm 2 and 3 essentially deliver the same content, though depending on the learner's input method, deliver it in different ways.

@jessegreenberg, I have a walk-through for adding Level 2 Context Responses ready for implementation.

Please see [Table P3 Level 2](https://docs.google.com/document/d/1XFTD2HTcGC

[2020-07-07 14:19] jessegreenberg commented on #202
THis paradigm is done, and we are moving on to #205. Im going to close this issue.

[2020-07-07 14:19] #202 closed

[2020-07-15 15:17] jessegreenberg commented on #205
In my review of the work so far, it looks like the "Farther away" or "Closer" portion of the self voicing content is missing:
With Distance checked:
4.5 kilometers from mass 1. **Farther away**, force arrows get smaller, forces now 26.4 newtons.

[2020-07-15 15:31] jessegreenberg commented on #205
It looks like the mass control is missing its help text on focus.

[2020-07-15 15:46] jessegreenberg commented on #205
Everything requested has been added to the sim, and I went through the examples/walkthroughs and tried to catch any mistakes. Closing this issue since first pass is done and we are ready for review.

[2020-07-15 15:46] #205 closed

[2020-07-15 20:56] terracoda opened #206 "No "Farthest from" region when distance is not checked"
I hear "Closest to", but I do not hear "Farthest from" when exploring with Distance not checked.
I know there was a change to the overall range from 9.6 km to 10 km shortly before or after publication. I am curious if that accidentally affected the single-value region for "Farthest from"?

Or am I missing something?

Region (qualitative- distance) | Farthest from {{mass 2}} | Extremely from {{mass

[2020-07-16 20:15] zepumph commented on #206
I think that recalculation may be required unfortunately. It would have been nice to have normalized these values into ranged percents from 0-1. Would you like me to convert them now that the max has increased to 10?

Please note that this is a problem with GFL as well. And it effects the recent MR I did, which is likely why we hear this issue in the published version.

[2020-07-16 20:15] jessegreenberg opened #207 "(Self-Voicing) Incorrect force value read"
@terracoda  mentioned that occasionally the incorrect force value is read. Seems to happen from all forms of input. Seems to be related to when mass changes and causes another mass to move.

Unclear if it is from new functions added for self-voicing, or if it is a potential issue with the existing PDOM descriptions.

[2020-07-16 20:19] terracoda commented on #207
Link to screen capture on google drive
https://drive.google.com/drive/folders/158Oh4eYGJCprqc7RdTD8Oeuws6rfHCFc

[2020-07-16 20:26] terracoda commented on #206
Oh yes, we should definitely be using percentages or whatever scales.

[2020-07-17 20:24] terracoda commented on #206
@zepumph, for the record, I just tested GFL regular on master and I hear "farthest from".

[2020-07-20 14:21] terracoda commented on #207
@jessegreenberg, the force value is only spoken incorrectly in the context response. The value read out in the reading block is read out correctly.

[2020-07-20 14:47] terracoda opened #208 "(Self-voicing) - need qualitative force information in reading block when Force Values not checked"
@jessegreenberg, sorry, I missed this detail. When Force Value is not checked, we will need qualitative details about the force arrows, rather than the raw value for newtons.

I don't think I should describe the size of the force. We explicitly did not do that in the non-visual experience. We described the size of the "force arrows" instead.

Given that background, I think we should go with the co

[2020-07-20 14:56] terracoda commented on #208
And here's another screenshot
![Screen Shot 2020-07-20 at 12 25 24 PM](https://user-images.githubusercontent.com/1902116/87952259-2dbbd600-ca84-11ea-881c-3923e70710be.png)

[2020-07-20 15:07] terracoda opened #209 "(Self-Voicing) Reading highlight a little too sticky"
After reading a block and then interacting, the reading highlight does not disappear and is not responsive tot eh new interaction.

It should likely disappear once something else is interacted with.

![Screen Shot 2020-07-20 at 12 32 25 PM](https://user-images.githubusercontent.com/1902116/87953123-382a9f80-ca85-11ea-8ead-24cea44bd2dd.png)

![Screen Shot 2020-07-20 at 12 36 27 PM](https://user-ima

[2020-07-20 15:31] terracoda opened #210 "(Self-Voicing) - when focus highlight is on item, mouse over voices content"
I am getting voiced text with mouse hover when the pink keyboard focus highlight is activated on some hovered items. The check boxes and the mass controls. This doe snot happen with the sphere's themselves.

To reproduce, activate highlight on a checkbox, then hover with the mouse.

@jessegreenberg, I don't remember this being an intentional design request. Is it possible to make sure a learner do

[2020-07-20 17:04] terracoda commented on #210
Actually, this happens on all interactive objects, including the mass spheres (distance/position sliders).

[2020-07-20 17:06] terracoda commented on #210
Reading blocks, self-voice as expected, it is the regular interactive items when keyboard highlight is activated that is the issue.

[2020-07-20 17:52] terracoda opened #211 "(Self-voicing) - are directional strings needed with mouse interaction"
Noticing with mouse interaction, I only get the orientational cues like , “Closer” and “Farther away” if I move a tiny bit using the mouse interaction.

Leave as-is for now. I am wondering if others will notice and if they find it ok, or strange?

[2020-07-20 18:18] terracoda opened #212 "(Self-voicing), possible alternative for help text delivery (mouse & touch)"
No easy way to deliver help text content for mouse and touch interactions on the actual interactive objects, so I decided to deliver it through the associated readable block.

Wondering if press & hold on the interactive element would work any better, be more intuitive?

I'll see what kind of feedback I get.

[2020-07-22 17:43] #210 closed

[2020-07-22 17:44] jessegreenberg commented on #210
This ended up being tricky but a fix has been pushed in the above commit. @terracoda

[2020-07-22 17:50] jessegreenberg commented on #209
Are you able to get this to happen consistently @terracoda? In general, the highlight disppears for me the moment I try to read something else.

[2020-07-22 17:54] jessegreenberg commented on #209
It is possible that changes for #210 have fixed this.

[2020-07-22 18:15] jessegreenberg commented on #209
I think this is further improved by the above commit. @terracoda can you please test to make sure?

[2020-07-22 18:18] jessegreenberg commented on #207
In the video the force value is larger than what it actually is, so I suspect it is reading the value that it would be if the masses were not pushed apart.

[2020-07-22 18:21] jessegreenberg commented on #207
I confirmed that this is NOT happening in the alerts in the a11y view:
![image](https://user-images.githubusercontent.com/6396244/88213308-8dea7d80-cc26-11ea-99b0-944e0dc7aca2.png)

But had self-voicing enabled during the above capture and it read a force that was too large.

[2020-07-22 18:47] jessegreenberg opened #213 "(Self Voicing) Performance during self voicing of certain content"
Performance bogs down sometimes when sending new utterances. This is particularly true in Firefox and Safari. Seems to be when sending multiple utterances at once to the web speech synth. Assigning to myself to investigate.

[2020-07-22 21:01] jessegreenberg commented on #207
OK, this should be fixed @terracoda, can you please verify?

[2020-07-22 21:30] jessegreenberg commented on #208
OK, I think this is done in the above commit @terracoda. The logic is like:
- for paradigm 2 and paradigm 3:
  - if showing force values
    - if selfVoicingVersion === 1
      -  "Force on mass 1 by mass 2 equals 33.4 newtons."
    - if selfVoicingVersion === 2
      - "Size of force on mass 1 by mass 2 is 33.4 newtons."
  - else
    - "Force arrow is tiny, and points directly at mass 2."

@terra

[2020-07-22 21:32] jessegreenberg opened #214 "Self voicing content frequently doesn't come through in Firefox"
While using the mass NumberSpinners, the associated self voicing content is frequenlty dropped.

[2020-07-22 21:44] jessegreenberg commented on #214
I suspect this is related to #213.

I noticed that for the NumberSpinners, these controls are the only ones that queue two utterances for the synth back to back, since a mouse hit goes down on both the panel and the number spinner itself.

![image](https://user-images.githubusercontent.com/6396244/88231642-8fc23a00-cc42-11ea-82cf-6ea6412b7793.png)

We assume that only the second utterance will be

[2020-07-22 21:51] jessegreenberg commented on #214
I tried something tricky like
[code]

to see if pausing, then resuming after cancel would make the next utterance come through after a cancel. But it didn't work.

[2020-07-22 21:55] jessegreenberg commented on #214
Interesting, I found this snippet from many years ago, I was thinking similar things back then!

[code]

[2020-07-22 22:02] jessegreenberg commented on #214
I tried something like that in the current web speaker:
[code]

But it didn't seem to fix the issue on Firefox.

[2020-07-22 22:06] jessegreenberg commented on #214
What is strange is that interruption seems to work in other cases. Like if you click rapidly on the mass spheres, it interrupts the current utterance and then reads the new one without skipping.

[2020-07-23 14:37] terracoda commented on #207
Looks and sounds correct @jessegreenberg. Thanks.

[2020-07-23 14:37] #207 closed

[2020-07-23 14:40] terracoda commented on #208
Sounds great! Thanks @jessegreenberg.

[2020-07-23 14:40] #208 closed

[2020-07-23 14:41] terracoda commented on #209
Much better, thanks!

[2020-07-24 17:08] jessegreenberg commented on #209
Hmm, this is still happening in a much more broken way now, a recent commit probably broke this.

[2020-07-24 17:15] jessegreenberg commented on #209
It looks like the issue is specific to Safari, the `end` event on the utterance does not fire and so the speaking highlight stays forever.

[2020-07-24 17:18] terracoda commented on #209
I will re-test.

[2020-07-24 17:19] jessegreenberg opened #215 "(self voicing) Utterance "end" event does't fire in Safari"
The result is that the speaking highlight doesn't disappear when talking finishes on that platform. The end event is supported on Safari according to MDN but I just tested it and confirmed that it is not firing.

I will see if there are conditions that are making it break in safari so that we can work around it.

[2020-07-24 17:20] jessegreenberg commented on #209
I think this may be a differnt issue, and was probably present in all versions thus far. THe cause is https://github.com/phetsims/gravity-force-lab-basics/issues/215.

[2020-07-24 17:22] jessegreenberg commented on #209
Re-closing this issue, moving to #215.

[2020-07-24 17:22] #209 closed

[2020-07-24 17:29] jessegreenberg commented on #214
Fixed in the above commit. Behavior is good, but I don't think this is a long term fix. Definitely sufficient for this one-off prototype but ultimately the ShapeHitDetector needs to be smarter to handle this case.

[2020-07-24 17:29] #214 closed

[2020-07-24 17:29] jessegreenberg commented on #213
This was fixed with changes for #213

[2020-07-24 17:29] #213 closed

[2020-07-24 17:47] terracoda commented on #209
I said on slack:

But the issue is indeed because of #215

[2020-07-25 00:08] jessegreenberg commented on #215
OK, I found two ways to improve the buggy behavior in Safari as there are two issues going on -

First, apparently Safari collects the SpeechSynthesisUtterance as garbage before it is finished being spoken and so the `end` event will never fire. See https://stackoverflow.com/questions/23483990/speechsynthesis-api-onend-callback-not-working and https://bugs.chromium.org/p/chromium/issues/detail?id=

[2020-07-25 00:08] #215 closed

[2020-07-25 00:34] jessegreenberg opened #216 "(Self Voicing) Possible for highlight to indicate wrong thing is being described"
Steps:

- Put focus on mass 2
- Quickly shift tab back to Mass 1 **force arrow**
- We will read about the Mass 1, even thought the reading highlihgt is on the arrow. And the reading highlight will be incorrectly yellow.

[2020-07-26 09:49] terracoda commented on #216
Nice catch.

[2020-07-27 15:29] jessegreenberg commented on #216
OK, I believe this is fixed, closing.

[2020-07-27 15:29] #216 closed

[2020-07-27 15:38] jessegreenberg opened #217 "(Self Voicing) Name of mass spinner is not read on focus"
Doing a review, I am seeing that the name of the mass spinner is not being read upon keyboard focus. It should be according to the design document.

[2020-07-27 15:42] jessegreenberg commented on #217
Ah, this is caused by changes made for #213 and #214.

[2020-07-27 15:53] jessegreenberg commented on #217
Fixed in the above commit.

[2020-07-27 15:53] #217 closed

[2020-07-29 16:48] terracoda opened #218 "(Self-Voicing) Quick Menu? Design Help Needed"
@amanda-phet or @arouinfar, do you know of any quick menu - type design components
![Screen Shot 2020-07-29 at 12 40 06 PM](https://user-images.githubusercontent.com/1902116/88824820-643ed280-d1a1-11ea-8916-1d6f82c16fa9.png)

I am thinking that it would be a nice that when Self-Voicing is enabled by a leaner, that a small quick menu could appear on the sim screen with a few read-to-me options and

[2020-07-29 16:56] terracoda commented on #218
Based on Amanda's lovely icon, I put a very rough sketch in the last slide of this google slide stack
https://docs.google.com/presentation/d/1Koh72FrkzbCbhPdByvDFcRaMpc6iwZpa41b-ni7CGKA/edit#slide=id.g8d353e931b_0_0

[2020-07-29 21:00] arouinfar commented on #218
Is the proposal to include this icon/AccordionBox in the sim itself?
<img src="https://user-images.githubusercontent.com/8419308/88852579-b5ec5a80-d1ab-11ea-81d4-9c24a8ba2ae4.png" width=300>

Sims often have space constraints, and we generally wouldn't put this sort of control in the sim. I think the navbar or PhET menu would be the more appropriate place.

The controls for Self-Voicing are alread

[2020-07-29 21:15] terracoda commented on #218
The Options Menu is temporary. We need a fuller discussion, yes, I agree.

[2020-07-29 21:16] terracoda commented on #218
I'll try an accordion box for now.

[2020-07-29 21:18] terracoda commented on #218
Something like this for now :-)
![Screen Shot 2020-07-29 at 6 47 27 PM](https://user-images.githubusercontent.com/1902116/88854560-083d7380-d1cc-11ea-939c-4b37fe33ea14.png)

[2020-07-29 21:19] terracoda commented on #218
Closing this issue for now. Jesse and I will try an accordionbox for the time being.

[2020-07-29 21:20] #218 closed

[2020-07-29 21:23] terracoda opened #219 "(Self-Voicing) Read Me Buttons Accordion Box"
As discussed in today's Self-Voicing Research and Design Meeting.

![Screen Shot 2020-07-29 at 6 47 27 PM](https://user-images.githubusercontent.com/1902116/88854801-6bc7a100-d1cc-11ea-84d7-daadc419f221.png)

Please replace speech bubble with an X, like in the Mute Sound Button when "Stop Speech" button is pressed.

[2020-07-29 21:24] terracoda commented on #219
@jessegreenberg, I'll sort out the accessible version asap.

[2020-07-29 22:02] jessegreenberg commented on #219
Nice! @terracoda do you have a preference for where this should be placed in the sim? How exact-to-mockup should this be, is it OK if I use default PhET RectangularPushButtons instead of blue rectangle style in this image?

[2020-07-30 15:51] terracoda commented on #219
@jessegreenberg, great questions. I'll get today:
- Yes on RectangularPushButtons
- making it draggable might complicate the interaction, depending on type of input, so maybe let's not do that.
- will it fit to the left of the Reset All button? And maybe open up rather than down?
- can you make the box go over (obscure) other content like the PhET Menu does? I don't think that is the normal way an

[2020-07-30 22:47] jessegreenberg commented on #219
What is the behavior of this button, will it stop all speech  until pressed again or will it just silence the current utterance that is being spoken?

[2020-07-30 22:53] jessegreenberg commented on #219
It looks like ComboBox doesn't support this, but what is shown here is more of a Panel that becomes visible with an ExpandCollapse button, especially since it has no title. I can do something more custom for now that doesn't use AccordionBox.

Yes, it can obscure other content.

[2020-07-30 22:59] jessegreenberg commented on #219
@terracoda are there assets for the T and speech bubble icon I can use? Where did those come from?

[2020-08-03 21:23] jessegreenberg commented on #219
OK, boilerplate has been added for this. We have a temp icon, panel with buttons, control over enabling/disabling speech, visibility changes with self-voicing selection. Ready for design of button behavior or other assets/changes.

[2020-08-06 16:56] terracoda opened #220 "(Self-Voicing) Keyboard focus & reading blocks - design change to read automatically on focus"
In an interview, highlighting and reading of reading blocks was a little buggy. On initial keyboard focus of the force block information, the block read aloud automatically on focus. The reading focus highlight appeared, but the highlighting did not.

Automatic reading on focus was not unexpected for the learner, and on subsequent visits on this block the leaner was surprised that the content did

[2020-08-06 19:32] terracoda commented on #220
I discussed this idea of self-voicing all content on keyboard focus with @emily-phet today, and we agreed that this change would make desirable alignments in the design and potentially be expected and beneficial for learners. This would also be very good for eventual non-visual access.

So, instead of figuring out why the current behavior is a little inconsistent, let's change the design so the re

[2020-08-06 19:35] terracoda commented on #220
@jessegreenberg, assigning to you. Please re-assign if you have questions or if you need examples.

I am hoping this will make the keyboard interactions much less complicated, and even address the original concerns you had about handling content differently on keyboard focus.

The mouse and touch interactions remain the same - no change.

[2020-08-06 19:48] terracoda opened #221 "(Self-Voicing) Option for pink focus outline on mouse over (mouse hover)"
@jessegreenberg is it possible to create an option that can turn on the pink focus outline for interactive objects that do not have an already designed in hover style?

For GFLB, this means would it be possible to have an option to turn on the pink focus outline when a learner mouses over and interacts with either of the mass spheres and any of the checkboxes.

The mass controls and the reset all

[2020-08-06 19:56] terracoda opened #222 "(Self-Voicing) Options menu - make description text larger"
In an interview, the descriptive text in the options menu was too small for a participant to read. The participant used magnification software to red the text.

We may need to consider making the text a little bigger when we make design  changes to the Options Menu, or naturally leave this to handled with the zoom and magnification feature, once available for this simulation.

[2020-08-06 19:59] terracoda commented on #222
@jessegreenberg, do you agree that the best way forward for this issue is to wait for zoom and magnification to be available on this sim?

[2020-08-06 20:06] terracoda opened #223 "Consider bigger arrow heads"
@arouinfar, in a recent interview, a participant with low vision commented that it would be helpful if the arrow heads on the force arrows was larger. For this participant, the arrow heads just looked like a small dot.

While I think adding the zoom and magnification feature to this sim could address this issue, I also wanted to ask if there was any harm in making the arrow heads a little bigger b

[2020-08-06 20:18] terracoda opened #224 "(Self-Voicing) Content still accessible to hovers and clicks when Options dialog menu open"
Hover of content underneath shows through Options Menu
<img width="976" alt="Screen Shot 2020-08-06 at 5 41 20 PM" src="https://user-images.githubusercontent.com/1902116/89578063-2dedfc80-d80c-11ea-9a13-c5938ff9ad45.png">
<img width="968" alt="Screen Shot 2020-08-06 at 5 41 58 PM" src="https://user-images.githubusercontent.com/1902116/89578070-2fb7c000-d80c-11ea-99b5-97f950edb82a.png">

And when t

[2020-08-06 20:27] terracoda opened #225 "(Self-Voicing) Clickable area on hoverable area on reading block are different"
In a recent interview with self-voicing feature, the participant commented that there was a big discrepancy between the clickable area that makes the readable block (for distance) self-voice and the hoverable area that makes the reading highlight appear.

In screenshot below, the reading highlight only shows up when hovering over the letter "m", where the participant can make the content self-voic

[2020-08-06 20:38] terracoda commented on #219
This is really cool @jessegreenberg.

Here are some images for the actual icon
![self-voicing-BW](https://user-images.githubusercontent.com/1902116/89580214-94c0e500-d80f-11ea-8c7a-ca980f507d1e.png)
![self-voicing-GS](https://user-images.githubusercontent.com/1902116/89580220-97233f00-d80f-11ea-93e4-fa7415765a83.png)
![self-voicing-black](https://user-images.githubusercontent.com/1902116/89580264-

[2020-08-06 20:48] terracoda commented on #219
As for content for the buttons, here's what we can do:
- Hint Please! - Voice: "Change position and mass of spheres to explore."

- Sim Overview - Voice the static part of the screen summary. This may be challenging because of the separate paragraphs:
    - "Gravity Force Lab: Basics is an interactive sim. It changes as you play with it. It has a Play Area and a Control Area.
The Play Area has two

[2020-08-06 23:10] arouinfar commented on #223
Thanks for the feedback @terracoda. I think we can certainly increase the size a bit, though I think we should do it for all ISLC sims.

@zepumph let's increase the size of the arrow head by 30%.

Here's a mockup showing the original arrowhead size (left) vs. the proposed increase (right).
![image](https://user-images.githubusercontent.com/8419308/89591484-840c7100-d807-11ea-8f25-a9d163fe172f.png)

[2020-08-07 01:03] terracoda commented on #223
@arouinfar, I agree, for all ISLC sims.

[2020-08-10 15:44] terracoda commented on #223
30% increase in size seems like a good number. Let's go with that and see if it helps.

[2020-08-10 15:52] terracoda commented on #211
There was feedback from the Team Survey that they wanted to hear "Closer" and "Farther" rather than a described distance (very close to, very far from, etc.)

@jessegreenberg, is it possible to incorporate some of the progress responses into a mouse interaction? Could we increase the distance threshold for the "Closer"/"Farther" responses fire?

Would this cause issues for touch. The same threshol

[2020-08-10 19:07] terracoda opened #226 "(Self-Voicing) - Tweak to Options Menu"
Change level 1 from:
- Voice Screen Text & Object Changes
to:
- Voice Object Changes & Screen Text

[2020-08-10 19:08] terracoda commented on #226
Based on feedback from Team Survey.

[2020-08-10 20:13] terracoda commented on #221
@jessegreenberg, I should first ask if it is possible to turn on the pink focus outline for mouse hover? This would be an opt-in visual option. It was suggested during a recent interview with some one who has low vision.

Some interactive controls, like the number spinners in GFLB already have a hover style, so I was firs thinking that it made sense to add a the pink outline to interactive objects

[2020-08-11 19:36] jessegreenberg commented on #223
I am working in this sim now so this is something I can do.

[2020-08-11 19:38] terracoda commented on #223
@jessegreenberg, are you able to make arrow heads bigger for all the ISLC sims, as @arouinfar noted?

[2020-08-11 21:56] jessegreenberg commented on #226
Done in the commit, back to @terracoda to verify.

[2020-08-11 22:32] jessegreenberg commented on #225
In the above commit I made it so that a down event anywhere in the bounds of the target hit node will trigger speech.  I am not sure what happened in the interview because the highlight should show up any time the mouse is within the bounds (not just over the text/Node content). But hopefully this change will make it easier to hear speech. @terracoda can you please review?

[2020-08-12 15:59] jessegreenberg commented on #224
@terracoda I am afraid this one could be a bit tricky to resolve with the current implementation. Can you comment on how important this is to resolve for this prototype? If not critical it may be best to come back to this when we are ready to move beyond prototype phase and invest in a more robust solution.

[2020-08-12 16:01] terracoda commented on #224
It's critical for publication, but not critical for prototype.

[2020-08-12 16:13] jessegreenberg commented on #224
OK thanks - I am going to put this on hold relative to the other self-voicing issues since it will likely take a substantial amount of time.

[2020-08-12 16:17] jessegreenberg commented on #223
Indeed, arrow heads are larger in all ISLC sims after above commit. @terracoda or @arouinfar can you review?

[2020-08-12 16:23] jessegreenberg commented on #221
@terracoda yes this is possible. I agree it would be best in the long run if we can do this for all interactive elements, rather than those that do not have a hover style already.

Would the option be for prototyping or is this something that would be in the final version?

[2020-08-12 16:29] jessegreenberg commented on #222
I agree the current text is a bit small, we could certainly make it bigger.

Alternatively, we could enable zoom in this sim for prototyping. Zoom works in this sim already, thought the self-voicing prototype may not work well in combination with it yet.

[2020-08-12 16:30] terracoda opened #227 "New help text for Hand Interactions on both screens (State Descriptions)"
We are trying to add intrigue to the scaffolding, so we changing the help text for the sliders:

**Screen 1**
Current help text for sliders:
- "Move the hand positions to explore this challenge."

Please change to:
- "Move hands up and down to maintain the mystery challenge ratio."

Current help text for Both Hands:
- "Use W and S keys to move left hand and Up and Down Arrow keys to move right han

[2020-08-12 16:31] terracoda commented on #222
Let's make a little bigger by default, and leave the rest to the Zoom feature.

[2020-08-12 18:05] terracoda commented on #222
@jessegreenberg, we can also defer this issue because the design of the Options Menu will change when we generalize it.

[2020-08-12 18:27] terracoda commented on #225
@jessegreenberg, this is better, and I think the clickable area need to extend to include the edge of the R speech bubble.

From teh PhET Team feedback some people tried to click on the R and nothing happened. I assume they clicked the part of the R speech bubble that is outside the box.

[2020-08-12 19:29] jessegreenberg commented on #221
Discussed briefly in meeting 8/12/19 - we talked about having the pink focus highlight surround interactive components as a potential option separate from the self-voicing feature. But for rapid prototyping, we are going to put these in the existing settings that currently live in the "Options" Dialog.

[2020-08-12 19:33] jessegreenberg commented on #221
In the long run, I would like to think about how this feature will build into scenery and the existing FocusOverlay. But to add this quickly I am going to use the existing prototype SpeakerHighlighter and ShapeHitDetector to implement this.

[2020-08-12 19:35] jessegreenberg commented on #225
@terracoda that "R" is just a visual overlay on top of the interactive component and so it isn't clickable. For now would it be OK to move the "R" so that it is totally within the box so that there isn't a desire to click outside of it? The look and feel of this highlight is likely to change quite a bit anyway.

[2020-08-12 19:55] jessegreenberg commented on #225
Discussed with @terracoda - OK to move the "R" inside of the rectangle for now.

[2020-08-12 19:57] jessegreenberg commented on #223
Discussed today - the DistanceArrow should also have a larger head.

[2020-08-12 20:21] terracoda commented on #219
@jessegreenberg, the read me buttons sound good. One problem is that the Sim Overview, m1 and m2 are mentioned instead of mass 1 and mass 2.

This used to happen a lot in this sim because of the shared code between all the GFL regular and all the ISLC sims.

If you could check how the Sim Overview is pulling in strings, you might find you need to do something special to get "mass 1" and "mass 2" i

[2020-08-12 20:23] terracoda commented on #219
I'll leave navigation of the buttons to a seperate issue.

[2020-08-12 21:21] jessegreenberg commented on #222
OK sounds good @terracoda - can this be closed then?

[2020-08-12 21:25] jessegreenberg commented on #223
Distance arrow heads also 30% larger with above commit. Ready for review again.

[2020-08-12 21:26] jessegreenberg commented on #227
This was intended for ratio-and-proportion, moving to that repo.

[2020-08-12 21:32] jessegreenberg commented on #225
The "R" was moved inside of the rectangular highlight bounds. @terracoda is there anything else to do for this issue?

[2020-08-12 21:42] jessegreenberg commented on #219
I see, I was using GFL strings instead of GFLB strings for this content. Should be fixed with the above commits.

[2020-08-12 22:09] jessegreenberg commented on #219
Both done in the above commits. I think this is ready or review @terracoda.

[2020-08-12 22:14] jessegreenberg commented on #219
@terracoda I also made it so that wen the speaker is disabled, the other buttons in the panel become disabled and the speaker highlights do not appear.

[2020-08-12 22:16] jessegreenberg commented on #196
@terracoda I am curious about your thoughts on this issue at the moment. Should we do any more to improve this prototype or is this one phasing out?

[2020-08-12 23:39] arouinfar commented on #223
Looks great across the ISLC suite. Thanks @jessegreenberg.

[2020-08-13 00:20] jessegreenberg commented on #220
OK this is done in the above commits @terracoda. On slack I asked whether focus was now the ONLY way to reach this with keyboard or if enter/spacebar could still activate this content. I went with leaving spacebar and enter. So on initial focus you hear the content. Then you can hear the content again if you want to with keyboard commands.

The only thing I noticed was redundant content for the Ma

[2020-08-13 00:22] jessegreenberg commented on #220
I also noticed a visual issue with teh "R" icon. It becomes visible quickly as focus lands on things because the order of events is
- focus lands on object (so show the "speakable" rectangle with its "R" icon.
- Speaking starts after a delay from the browser (so show the yellow highlight around the content)
- Speaking ends (so the yellow highlight goes away and the "speakable" rectangle with its "

[2020-08-13 13:37] terracoda commented on #220
@jessegreenberg, we definitely should keep re-reading capability with enter/space interaction. Thanks for thinking of this!

Regarding what to do with the reading highlight. I need to investigate more.

[2020-08-13 14:01] emily-phet commented on #196
@jessegreenberg This version is an "artifact". One we want to be able to refer to, share with colleagues as a contrasting example, etc. but not move forward with for further design iterations or to move towards publication.

[2020-08-15 01:13] terracoda commented on #222
Sure, closing.

[2020-08-15 01:13] #222 closed

[2020-08-19 18:16] terracoda commented on #226
Verified and closing. Thanks @jessegreenberg.

[2020-08-19 18:16] #226 closed

[2020-08-19 18:27] terracoda commented on #219
@jessegreenberg, this is working great.
When we had our "menu meeting", the team talked about have this kind of sub menu on the left edge of the sim.

Can you move it over to the left of the screen?
Also, wondering if the buttons can slide out horizontally, rather than vertically.

Kind of like this - ignore label changes:
![sketch-submenu](https://user-images.githubusercontent.com/1902116/9067513

[2020-08-19 18:28] terracoda commented on #219
Keep it at the same level vertically, but move it to the far left of the sim.

[2020-08-19 18:36] jessegreenberg commented on #221
An initial commit for this was made above. It is working pretty well, though there are a couple of issues. It is always enabled at the moment, next step will be to add a setting for it.

[2020-08-19 21:41] jessegreenberg commented on #221
OK, the highlights are enabled through options dialog, default is off. #224 is a bigger problem now because it happens that dialog options are right on top of a readable block in the sim. Ill see about a short term fix.

[2020-08-19 23:16] jessegreenberg commented on #224
I came back to this again after #221 because it is getting much more annoying. It is apparent that we need to leverage scenery hit detection more for this feature. But there are many things that need different mouse/touch areas for self-voicing content than for interaction 'normal' user input. And we want hits to be detected on areas that were previously not hittable. If we have to use Nodes for h

[2020-08-19 23:16] jessegreenberg commented on #221
Over slack @terracoda requested that the default be to have the highlights on.

[2020-09-02 17:26] terracoda commented on #225
This is good @jessegreenberg! Closing.

[2020-09-02 17:26] #225 closed

[2020-09-02 17:30] terracoda commented on #223
@jessegreenberg, the arrow heads look good to me, too.
I am not sure what the next step is for this issue?
I see it has the label fixed and awaiting deploy, so I will un-assign myself.

[2020-09-02 17:48] terracoda commented on #221
The pink hover style works great for me.
We have the known issue of the content and interactions bleeding through dialogs and menus, see #224 .
Other than that looks good to me.

[2020-09-02 17:48] #221 closed

[2020-09-02 17:49] arouinfar commented on #223
@terracoda these changes will sit around until the sim is republished off of master. For GFLB, that will probably happen when we republish with Self-Voicing. It will probably be longer for GFL and CL. I created tracking issues in those repos so we remember that this is an unpublished change.

[2020-09-02 18:02] terracoda commented on #220
@jessegreenberg, hmm the highlights are a little inconsistent.
If I use the keyboard to access a reading block, then use the mouse and click to re-read the force arrow information, all visual highlights disappear.

This also happens if I am using the keyboard to access interactive objects and then use the mouse to read some content.
I am wondering if keyboard focus might be on something else and a

[2020-09-02 18:02] terracoda commented on #220
The reading automatically ion focus s working great, though.

[2020-09-02 19:41] terracoda commented on #220
Discussed at Sep 2 meeting. @jessegreenberg to see if he can make some improvements to the consistency of when the highlights appear.

[2020-09-02 19:45] terracoda commented on #196
@jessegreenberg, this version might be a good candidate for a build that we can save to share in papers - something we can freeze in time and refer back to. I don't think we would need to return to the code to work on this version nay more.