[2016-08-25 16:26] pixelzoom opened #1 "sim name doesn't match "Basics" convention"
Current sim title is "Gravity Force Lab Basics".  Shouldn't it be "Gravity Force Lab: Basics", to be consistent with other "Basics" sims?  I.e. "Forces and Motion: Basics", "Energy Skate Park: Basics", "Molecule Shapes: Basics", ...

[2016-08-25 16:36] pixelzoom commented on #1
Assigning to @jbphet since he created the entry in gravity-force-lab-basics-strings_en.json.

[2016-08-25 16:36] pixelzoom commented on #1
I went ahead and fixed this. @jbphet please review.

[2016-08-25 16:44] jbphet commented on #1
Looks good to me - thanks. Closing.

[2016-08-25 16:44] #1 closed

[2016-12-15 16:22] jessegreenberg opened #2 "Density and scaling"
The radii of the bodies are calculated by

[code]

With a density of ~150 kg/m^3, the radii are much smaller (relative to their 4km gap in between them) than they appear in the mockup:

![capture2](https://cloud.githubusercontent.com/assets/6396244/21231992/630411ee-c2a7-11e6-9b88-7d63c6127d4c.PNG)

The radius of each body in the above is ~150 m.  In order to look like the mockup, the density need

[2016-12-15 16:23] jessegreenberg opened #3 "Add labels"
@mattpen would you mind adding the usual labels to this repo?

[2016-12-15 18:14] arouinfar commented on #2
@jessegreenberg looks like my original calculations were off by one order of magnitude. For the masses to remain the same size as they are in GFL, the density needs to be ~1.5kg/m^3 which is roughly the density of air.

In earlier discussions, @ariel-phet and I weren't too keen on having such a low density. However, we've also removed the ruler, which makes it unlikely that the density would be me

[2016-12-15 19:17] mattpen commented on #3
Labels have been added.

[2016-12-15 19:25] jessegreenberg commented on #3
Thanks @mattpen!

[2016-12-15 19:25] #3 closed

[2016-12-21 03:17] ariel-phet commented on #2
@arouinfar @jessegreenberg I actually think in this case a density on the order of air is not too big a deal. We are now talking about objects on the km range, that are km apart, so big balls of gas are pretty common out there in the universe (comets and such), and I don't think people will be very focused on the density of the objects for the basics version.

[2016-12-24 21:04] arouinfar commented on #2
Thanks @ariel-phet!  We'll be going with the low density option @jessegreenberg. The mix/max sizes will match those used in GFL.

[2017-01-05 21:31] jonathanolson opened #4 "Failure to build"
[code]

[2017-01-07 00:01] jessegreenberg commented on #4
Thanks, I fixed the build errors in the above commit.  Sorry about that.

[2017-01-07 00:01] #4 closed

[2017-01-07 02:47] jessegreenberg commented on #2
Sounds good, I put 1.5 kg/m^3 in there now, and it looks very similar to the mockups, but we can tweak this value if needed.   Closing.

[2017-01-07 02:47] #2 closed

[2017-02-06 23:30] jessegreenberg opened #5 "Distance control change of 1 km"
From the design doc:

@arouinfar just so I am sure, what should happen when the slider is moved from 4km to 5km?  Would each mass move 0.5 km  so they are in between the grey lines?

[2017-02-07 00:12] arouinfar commented on #5
Great question @jessegreenberg. Distance is discretized to the 0.1 km level, so I think the masses would need to move asymmetrically -- one mass would move 0.2 km, and the other mass would move 0.3 km. I'm not sure what would be the best way to decide which mass moves more, however.

[2017-02-07 04:28] arouinfar commented on #5
We can talk about this more during design meeting. There are still a few things to flesh out in regards to the distance controls.

[2017-02-09 22:20] jessegreenberg commented on #5
We decided to remove the distance slider from the UI.  The masses can be dragged, and through the dragging the positions will snap to the nearest 0.1 km/0.01 km (to be decided). Closing.

[2017-02-09 22:20] #5 closed

[2017-02-09 22:21] jessegreenberg opened #6 "remove the distance control slider"
2/9/16 - It should be removed, it is sufficient to control dragging with the masses.

[2017-02-09 22:25] jessegreenberg commented on #6
It has been removed.

[2017-02-09 22:25] #6 closed

[2017-03-09 17:07] jessegreenberg opened #7 "implement snap grid"
This is one of the main feature distinction from gravity-force-lab, masses should snap to the nearest 0.1 km.

[2017-03-16 06:32] jonathanolson opened #8 "Automated testing error"
[code]

[2017-05-02 23:31] jessegreenberg commented on #8
Unable to reproduce locally, and I don't see this on continuous testing. Closing.

[2017-05-02 23:31] #8 closed

[2017-05-02 23:33] jessegreenberg opened #9 "Right mass disappears when dev tools are open"
When the dev tools are open and the masses get too close together, the right mass disappears from the screen.

[2017-05-02 23:34] jessegreenberg commented on #9
Force arrows are not visible anywhere, is it related to large bounds?

[2017-05-02 23:37] jessegreenberg opened #10 "Use common types from inverse-square-law-common"
The sim should use new common types from InverseSquareLawCommon.

[2017-05-03 01:47] jessegreenberg opened #11 "Force arrows pointing wrong direction"
After switching to the view types in inverse-square-law-common, the arrows are pointing the wrong direction.

[2017-05-03 19:03] jessegreenberg commented on #11
Fixed by https://github.com/phetsims/inverse-square-law-common/issues/5

[2017-05-03 19:03] #11 closed

[2017-05-03 19:13] jessegreenberg commented on #9
This is no longer happening now that we are using ISLForceArrowNode in inverse-square-law-common.

[2017-05-03 19:13] #9 closed

[2017-05-03 23:47] jessegreenberg commented on #7
This is complete, closing.

[2017-05-03 23:47] #7 closed

[2017-05-04 06:02] samreid opened #12 "Fatal error: Missing string: INVERSE_SQUARE_LAW_COMMON/constantRadius in inverse-square-law-common for fallback locale: en"
Reported by Bayes:
Fatal error: Missing string: INVERSE_SQUARE_LAW_COMMON/constantRadius in inverse-square-law-common for fallback locale: en

[2017-05-04 06:03] samreid commented on #12
I'm not sure if the constantRadius string should be in INVERSE_SQUARE_LAW_COMMON or GRAVITY_FORCE_LAB, @jessegreenberg can you comment?

[2017-05-04 16:58] jessegreenberg opened #13 "Distance label should be in km"
It is currently in meters though labelled as km, making the distance look 1000 times larger than it is.

[2017-05-04 17:15] jessegreenberg commented on #12
Sorry about that, forgot to commit a change to inverse-square-law-common.  Should be using that string.

[2017-05-04 17:15] #12 closed

[2017-06-28 23:24] jessegreenberg commented on #13
Fixed in above commit.

[2017-06-28 23:24] #13 closed

[2017-06-28 23:46] jessegreenberg opened #14 "Review Sim"
@arouinfar @ariel-phet this sim is pretty much feature complete.  We still need to make sure that #10 is done, along with some other cleanup.  But @arouinfar can you please review

http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.4/gravity-force-lab-basics_en.html

Does anything need to change?  Are we ready for some pixel polishing?

Potential helpful query param:

[2017-06-29 16:37] jessegreenberg opened #15 "Add keyboard navigation to this sim"
@emily-phet suggested that it would be great to include keyboard navigation in this sim as part of its initial deployment.

[2017-06-29 16:40] jessegreenberg commented on #15
Here is the latest version with keyboard navigation:
http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.4/gravity-force-lab-basics_en.html?accessibility

The items missing keyboard nav are the masses and the spin boxes.

[2017-06-29 17:11] arouinfar commented on #14
Change requests discussed after status:

- [ ] Make distance line gray and give it a thinner stroke so it's less vector-y
- [ ] Reduce size of checkboxes to roughly match height of first letter
- [ ] Increase size of spinners to be more like Proportion Playground
- [ ] Add black shadow to "mass 1" and "mass 2" labels
- [ ] Unbold "billion kg" labels
- [ ] Move Mass 2 panel slightly to the left so

[2017-06-29 20:41] emily-phet commented on #15
@jessegreenberg, great! Do you have an idea of how the masses and spin boxes may be implemented? Is the approach we had discussed before (and I think you started the implementation on) still seem feasible, or are there open questions/issues?

[2017-06-29 21:06] jessegreenberg commented on #14
Should

Be applied to gravity-force-lab as well?

[2017-06-29 21:18] jessegreenberg commented on #14
@arouinfar @ariel-phet here is a new version with these changes:

http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.5/gravity-force-lab-basics_en.html

[2017-06-29 23:02] jessegreenberg commented on #14
In the above link, I think the labels are a little small with the increase in size to the number picker.

[2017-06-29 23:44] jessegreenberg commented on #15
Implementation does seem relatively straight forward, but there are a few questions:

- What should the focus highlights look like for the spin boxes and masses?  Should focus highlights on spin boxes include labels? Is a box around the puller and sphere OK for the mass? Or do we want a unique shape that contours around the sphere and the puller robot?

- Typical HTML spin boxes allow user to ente

[2017-06-30 16:16] jessegreenberg commented on #15
To clarify, my reasoning for this is that our number pickers don't have a cursor (HTML number inputs do), so entering values won't be the expected interaction.

[2017-06-30 16:31] jessegreenberg commented on #15
I have been assuming that we would use the arrow keys to change NumberSpinner values.  But maybe we want to to tab to the up/down arrows and activate with enter/spacebar?

[2017-06-30 19:25] ariel-phet commented on #14
@jessegreenberg

1. Agreed the mass labels of "billion kg" probably need to be larger
2. I think the distance readout can be even vertically closer to the distance line
3. There are a few layering issues shown in the screenshot below
- I think the force arrows show be on top of the distance dashed leader lines
- I think the force value readout should also be layered on top of the dashed leader lin

[2017-06-30 19:55] arouinfar commented on #14
Ditto everything @ariel-phet said. I would add that the mass and "billion kg" labels could be bumped up a pt or two, but their relative size should stay about the same.

@jessegreenberg I really like the new checkbox size, so I would go ahead and apply it to all `inverse-square-law` sims.

[2017-06-30 20:57] ariel-phet commented on #14
@jessegreenberg @arouinfar to clarify I did not think that the "Mass 1" and "Mass 2" labels needed to be changed in size....just the size of the "billion kg" text

[2017-06-30 21:23] arouinfar commented on #14
Thanks for the clarification @ariel-phet! Increasing the spinner size made the "Mass 1" and "Mass 2" seem a bit smaller to me, but looking at it again, I realize it's the same size as the checkbox text, which seems appropriate.

@jessegreenberg let's increase the "billion kg" labels a bit and see how things look.

[2017-07-01 00:26] jessegreenberg commented on #15
@emily-phet here is an initial version of the sim with keyboard navigation for the number spinners and the masses.  I tested on Chrome, Firefox, and Safari it seems to be working on those platforms.

http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.6/gravity-force-lab-basics_en.html?accessibility

Any thoughts on this version or on the comments in https://github.com

[2017-07-01 00:28] jessegreenberg commented on #15
The navigation order is probably very wrong, could definitely be changed, but the masses should be working with the keyboard.

[2017-07-05 16:24] emily-phet commented on #15
@jessegreenberg
- Order: Mass1, Mass2, mass1 spin box, mass2 spin box, control panel, reset all
- Focus highlight:
      Masses - I like the focus as you have it now
      Spin boxes - make focus rectangle go around spin box only (just outside the little arrows on the top/bottom) and not including the units. Would be nice if the focus rectangle had rounded corners, to mimic the shape of the spin b

[2017-07-06 16:45] emily-phet commented on #15
@jessegreenberg - sorry, I missed some of your questions yesterday.
- I think it's fine to disable entering numbers for the spin boxes
- Moving the masses seems to work fine for me in Safari, can you describe what isn't working outside of Chrome?

[2017-07-18 22:47] jessegreenberg commented on #15
Thanks @emily-phet, assigning back to me.

[2017-07-18 23:12] jessegreenberg commented on #15
@emily-phet I think I have addressed these things, here is a new version, would you mind reviewing?

http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.7/gravity-force-lab-basics_en.html?accessibility

Regarding:

This time things seem to be working in all browsers!  When we first explored this in February, it wasn't working as well.

[2017-07-18 23:39] jessegreenberg commented on #14
Good catch.  Actually I am seeing this in gravity-force-lab too, this will be a fix in inverse-square-law-common.

[2017-07-20 16:34] emily-phet commented on #15
@jessegreenberg - Looks great to me!

[2017-07-20 16:54] ariel-phet opened #16 "Gravity Force Lab: Basics Master Checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 08/18/16)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Sim suggestions doc reviewed**
- [x] **Learning goals and standards identified** (Date: 07/07/16)
- [x] **Design concept complete**

[2017-08-03 18:14] jessegreenberg commented on #15
Great, sounds like we are done here then!  Closing this issue, others will be created if there are requests for additional improvements.

[2017-08-03 18:14] #15 closed

[2017-08-04 16:02] jessegreenberg opened #17 "continuous testing error"
[code]

[2017-08-04 16:17] jessegreenberg commented on #17
fixed, closing.

[2017-08-04 16:58] jessegreenberg opened #18 "pullers hit zero force case and drop the rope"
Now that we are using inverse-square-law-common, the pullers occasionally drop the rope when they aren't supposed to.

[2017-08-04 17:19] jessegreenberg commented on #18
Will be fixed by https://github.com/phetsims/inverse-square-law-common/issues/14

[2017-08-07 21:54] jessegreenberg commented on #17
Still an issue? Reopenning

[2017-08-07 21:57] jessegreenberg commented on #17
Looks like nothing was committed?  Anyway, definitly fixed in https://github.com/phetsims/gravity-force-lab-basics/commit/b7dd5fd67a43adbc2cd7677581a44026dbcbc2c5.

[2017-08-07 21:57] #17 closed

[2017-08-28 21:38] jessegreenberg commented on #18
phetisms/inverse-square-law-common was resolved, this issue can be as well.

[2017-08-28 21:42] #18 closed

[2017-08-28 21:42] jessegreenberg opened #19 "Space between pullers and rope"
When force is large there is some force between pullers and rope.

[2017-08-28 21:43] jessegreenberg commented on #19
![rope](https://user-images.githubusercontent.com/6396244/29795004-94d4a196-8c07-11e7-8821-ad1130881728.PNG)

[2017-08-28 22:06] jessegreenberg commented on #19
Increasing  the rope length also pushes the puller away. Wondering why this isn't an issue in coulombs-law.

[2017-08-28 22:09] jessegreenberg commented on #19
In ISLCPullerNode, this code
[code]
fixes this issue in coulombs-law, but i/5 is not enough for gravity-force-lab-basics.

[2017-08-28 22:15] jessegreenberg commented on #19
Instead of i / 5, could it be a proportion of the image's width?

[2017-08-28 22:20] jessegreenberg commented on #19
That seems to work better, but Ill create an issue in inverse-square-law-common.

[2017-08-28 22:25] jessegreenberg commented on #19
Fixed in phetsims/inverse-square-law-common#18, closing
![capture](https://user-images.githubusercontent.com/6396244/29796286-85030c66-8c0d-11e7-8c62-5788ffc065c1.PNG)

[2017-08-28 22:25] #19 closed

[2017-08-28 22:26] jessegreenberg opened #20 "Masses push too far away"
If the mass is increased such that the masses need to adjust their positions, one of the mass is pushed to far away. After adjusting its position, it can be dragged closer to the other mass.

[2017-08-28 22:27] jessegreenberg commented on #20
Looks like the same is true in gravity-force-lab.

[2017-08-28 22:27] jessegreenberg commented on #20
Not noticable in coulombs-law because radii don't change.

[2017-08-28 23:21] jessegreenberg commented on #20
Discussed with @mbarlow12, the reason this is happening is because both masses push apart when the radius grows, so it pushes apart by two grid positions.  @mbarlow12 suggested that one solution could be to tack which mass grew and make the other one move.

[2017-08-30 17:50] #20 closed

[2017-08-30 17:52] mbarlow12 commented on #20
Behavior is fixed; however, I'm not overly excited about the convoluted series of if statements. May require another review.

[2017-09-10 23:04] samreid opened #21 "Range is incorrect"
From https://github.com/phetsims/axon/issues/137 the initial position is being set to -2000 but the range is -5 to 5.  Assigned to @jessegreenberg.

![image](https://user-images.githubusercontent.com/679486/30253826-22e237fe-964a-11e7-8d0d-038b1645eac8.png)

[2017-09-11 17:51] jessegreenberg commented on #21
Thanks @samreid, fixed in the above commit. Closing.

[2017-09-11 17:51] #21 closed

[2017-12-02 00:51] zepumph opened #22 "Instrument for PhET-iO"
This was mentioned as a possible sim for a11y work and sonification. So I'll create an issue to track any instrumentation. It already has a pretty good harness (root tandem passed to model/view).

[2017-12-02 01:21] zepumph commented on #22
Initial instrumentation is done to make sure that the sim runs. I didn't do much to it.

We need to make sure:

- [ ] NumberPicker is instrumented as we like it ( I passed tandem to many properties and the state looks good)
- [ ] FireOnHoldListener needs to be instrumented.

[2018-01-05 21:39] samreid commented on #22
@kathy-phet said:

[2018-01-05 21:41] samreid opened #23 "Code Review"
I'm looking into PhET-iO instrumentation as part of #22 and wondering if there has been a code review yet, or if one has been scheduled.  Note this code review should include new common code that the simulation uses.

[2018-01-05 21:51] samreid commented on #22
I can see that @zepumph already worked on this.  There are 136 instances in instance proxies.  I'll look through status, cleanup what's here and see what other work is necessary, if any.

[2018-01-05 21:52] samreid commented on #22
@kathy-phet and @emily-phet do you want to do a full QA test cycle on this?  Do you want it to be published on the PhET-iO website?  Do you need a full code review before it can be used?

[2018-01-05 21:58] kathy-phet commented on #22
Sam, Priorities right now would be to bring the PhET-iO pieces up to current code approaches (except for not doing the design step), and then having Steele do some sanity testing on the phet-io pieces.

We won't want to publish it for PhET-iO clients until Jesse the entire sim has been code reviewed and tested through normal rc channels. But when that does come to pass and we are publishing it to

[2018-01-05 22:00] samreid commented on #22
Understood, thanks!  It looks like one of the main steps in moving forward will be to extend PhetioObject instead of tandem.addInstance directly.

[2018-01-05 22:30] samreid opened #24 "Add a screenshot"
In attempt to work around https://github.com/phetsims/perennial/issues/64 I'm copying the gravity force lab screenshot to assets/ for a build.  But we will need to generate an accurate screenshot for this sim.  I'm not sure if the sim is ready for that yet, so I'll mark this as high priority (so it isn't neglected) but leave unassigned for now.

[2018-01-05 22:32] jessegreenberg commented on #23
A code review has not happened yet. This sim is using code from inverse-square-law-common, which should also be code reviewed. There is still some active work going on for inverse-square-law-common, for instance
https://github.com/phetsims/inverse-square-law-common/issues/23 and  https://github.com/phetsims/inverse-square-law-common/issues/21. Once those are complete, it will be time for dev testi

[2018-01-05 22:38] samreid commented on #23
@kathy-phet commented on the schedule with respect to code review in . https://github.com/phetsims/gravity-force-lab-basics/issues/22#issuecomment-355676563

[2018-01-05 22:42] samreid commented on #24
We can remove the placeholder image if/when https://github.com/phetsims/perennial/issues/64 is resolved

[2018-01-05 22:44] jessegreenberg commented on #23
Thanks! Does a code review need to happen before #22 can proceed?

[2018-01-05 22:45] samreid commented on #23
No, we can begin on #22 and start leveraging PhET-iO instrumentation before the code review.

[2018-01-06 23:35] samreid opened #25 "Exceptions in instance proxies + launch"
It doesn't crash, but we should understand the exceptions.

[2018-01-07 04:10] samreid commented on #25
Even faradays law has this problem.

[2018-01-07 04:14] samreid commented on #25
Something is trying to set `"faradaysLaw.navigationBar.titleTextNode"` `setPickable` null.  That may need to change to OptionIO(BooleanIO)

[2018-01-07 04:21] samreid commented on #25
Fixed in preceding commit, bug no longer observed in Faraday's Law or Gravity Force Lab: Basics, closing.

[2018-01-07 04:21] #25 closed

[2018-01-07 04:31] samreid opened #26 "Unify text for "show values" vs "force values""
Coulomb's Law and Gravity Force Lab have a "Show Values" checkbox whereas Gravity Force Lab: Basics has a "Force Values" checkbox.  While different strings are supplied by the different sims, the same tandem is hard coded in common code (and would be unconventional to pass in).  I recommend unifying the naming for this property, either as "Force Values" or "Show Values".  I suspect that having sim

[2018-01-07 04:47] samreid opened #27 "Remove mock-up and code"
Can we remove the mock-up and mock-up code (in GravityForceLabBasicsScreenView) now?

Discovered in #22

[2018-01-07 04:53] samreid commented on #22
There are a number of things in the view which I am not sure should be instrumented, I'm inclined to leave them as they are until we have a design phase.

[2018-01-07 04:56] samreid commented on #22
The sim's PhET-iO instrumentation was in good shape when I got here thanks to @zepumph.  After the additional above commits, I briefly reviewed the state, instance-proxies and console wrappers and everything seems reasonable.  I'd like to hear back from @jessegreenberg on the four issues linked above before creating a version for @phet-steele to take a closer look at.

Also, it would help if @emil

[2018-01-07 13:11] emily-phet commented on #22
Thanks @samreid! We'll be creating a sonification wrapper for this sim soon, and having folks at Georgia Tech work on the sound design. I will ask @jbphet to have a discussion with Mike at GT to see if anything stands out as being needed at this point.

[2018-01-08 19:38] mikewinters10 commented on #22
Hi! First time posting -- I'm Mike from GaTech working on the sonification / sound design.

@jbphet requested a list of the parameters that I think we would need for sonification and audio interaction. So here they are, in three categories:

**Relating to Concepts**
- Amount of mass of each ball
- Distance in between balls
- Amount of force between balls

**Relating to Sim Objects**
- Position of

[2018-01-08 19:40] ariel-phet commented on #22
@mikewinters10 could you put up a unique avatar instead of the default github one? It helps I sort through the many people on the project!

[2018-01-08 21:14] samreid commented on #22
Available directly from PhET-iO

Can be derived from position

Available directly from PhET-iO

Available directly from PhET-iO

Can be derived

@jessegreenberg can you help me address this?

Can observe mass changes

Provided by PhET-iO

[2018-01-08 21:34] emily-phet commented on #22
@jbphet Since you're aware of both the PhET-iO side of things, sonification, and how Mike/Ashton have been doing their design work, can you comment if any of these derived quantities might need something more direct created?
I'm just imagining that if it's simple to make those derived quantities readily available in PhET-iO, it may save a lot of downstream work for sonification and/or other users

[2018-01-08 21:47] samreid commented on #22
@mikewinters10 do you need to distinguish between (a) when the user drags one mass into the other mass vs (b) when the masses collide and push back due to increased radius vs (c) when the user drags one mass to the edge of the screen?

[2018-01-08 21:55] samreid commented on #22
@jessegreenberg and I determined that there is already an instrumented property `enabledRangeProperty` used for accessibility which would likely provide the needed information to know when the masses reach the end of their range.  We will try to move it from the view to the model.

[2018-01-08 22:02] emily-phet commented on #22
@samreid When user drags puller/mass and bumps into edge of screen the user will feel like they've bumped the "puller" into edge of screen, not the mass. This should definitely be distinct in phet-io from masses bumping into each other.

I don't think it's necessary to distinguish between masses bumping into each other by dragging versus change in size. Conceptually the outcome is the same, so I t

[2018-01-08 22:05] emily-phet commented on #22
@samreid Wait, I'm changing my mind on one thing. I think a, b, and c, are all unique cases. C is unique as described in my last comment. A and B are distinct because in B you can actually push back the opposite mass but you cannot do that in A, so there is something conceptually distinct about these two scenarios that we might need to cue in different ways with sound.

[2018-01-08 22:17] samreid commented on #22
@jessegreenberg and I moved the `enabledRange` to the model and it seems to be working properly.  We also discussed tradeoffs between coding logic in the sim vs wrapper for detecting collision with the other mass vs wall and based on movement vs radius changing, and we agreed it seems simple enough (and superior) to distinguish between these on the wrapper side.  Here is wrapper pseudocode:

[code

[2018-01-08 22:17] samreid commented on #27
@jessegreenberg said that can be removed

[2018-01-08 22:23] jessegreenberg commented on #26
Checking mockups, it looks like the string in the strings.json file is just wrong. It should be "Show values" not "Show Forces".

[2018-01-08 22:29] samreid commented on #22
@jessegreenberg and I determined the simulation is sufficiently PhET-iO instrumented for a first dev test.  @jessegreenberg said there are a few issues in inverse-square-law-common to tackle before first dev test, but that he can start working on those and create a dev version when ready.  A reminder that the dev test should include phet-io testing.  Over to you @jessegreenberg

[2018-01-08 22:38] emily-phet commented on #22
So fast! Thanks @samreid

[2018-01-08 22:38] jessegreenberg commented on #26
We are going to manage how to  share strings between sims using the inverse-square-law-common repo in  https://github.com/phetsims/inverse-square-law-common/issues/26.

[2018-01-08 22:49] jessegreenberg commented on #26
I changed the string in gravity-force-lab-basics-strings_en.json to be 'Show Values' for now, but this string should be maintained in inverse-square-law-common, see https://github.com/phetsims/inverse-square-law-common/issues/26. Hey this issue and the one in inverse-square-law-common have the same number :D

This one can be closed.

[2018-01-08 22:49] #26 closed

[2018-01-08 23:19] jessegreenberg commented on #27
I went ahead and removed code related to the mockup image.

[2018-01-08 23:19] #27 closed

[2018-01-09 01:00] jessegreenberg commented on #22
This sim is ready for a dev test. I ran into an issue with instance-proxies with the phet-io build, documented in the above issue. Once that is resolved we can start testing the phet-io version.

[2018-01-09 17:29] jbphet commented on #22
@emily-phet said, "Since you're aware of both the PhET-iO side of things, sonification, and how Mike/Ashton have been doing their design work, can you comment if any of these derived quantities might need something more direct created?"

The main I would be concerned about would be the velocity of the ball, since deriving the value will require time-based repeated actions in the wrapper.  However,

[2018-01-09 17:43] samreid commented on #22
Good point about the velocity @jbphet, I'd also be concerned about how that would be represented in a wrapper.  @jessegreenberg and I commented on the boundaries in https://github.com/phetsims/gravity-force-lab-basics/issues/22#issuecomment-356114459

[2018-01-09 20:45] mikewinters10 commented on #22
As for velocity, @samreid & @jbphet -- I'm planning on using velocity to
convey the sound of the balls dragging on the ground. The sound would
change in volume depending on the velocity of the ball, like the sound of
everyday kinetic friction.

In BASE, we derived velocity from position, and we could do it again here.
As a user, my preference would be that it would just be available without
deriva

[2018-01-10 18:29] samreid commented on #22
While reworking VerticalCheckBoxGroup for Capacitor Lab Basics https://github.com/phetsims/capacitor-lab-basics/issues/220 I noticed the checkboxes are not instrumented.  I don't think it's essential for the first dev version, but I'll let you know when I've added instrumentation for the checkboxes.

[2018-01-10 18:34] jessegreenberg commented on #22
Thanks @samreid. Initial dev test created here: https://github.com/phetsims/QA/issues/83

[2018-01-10 21:22] lmulhall-phet opened #28 "up/down keys do not increase/decrease mass in Edge"
**Test device:**

Hanson

**Operating System:**

Windows 10

**Browser:**

Microsoft Edge 41.16299.15.0

**Problem description:**

See title. This is for phetsims/QA/issues/83.

**Steps to reproduce:**

Use query parameter ?accessibility and tab to the mass adjuster things.

**Troubleshooting information (do not edit):**

Name: ‪Gravity Force Lab: Basics‬
URL: https://www.colorado.edu/physics/phet

[2018-01-11 00:05] jessegreenberg commented on #10
@mbarlow12 and I verified that common types in this sim are now coming from inverse-square-law-common. The only dependency on gravity-force-lab now are the mass label strings, which should be moved to inverse-square-law-common.

[2018-01-11 00:08] jessegreenberg commented on #10
Strings now pulled from inverse-square-law-common and gravity-force-lab-basics is no longer a dependency for this sim. Closing.

[2018-01-11 00:08] #10 closed

[2018-01-11 00:09] jessegreenberg commented on #14
The layering issue was closed with phetsims/inverse-square-law#9. Since this sim is now being dev tested this can be closed and final polishes can come from new issues. Closing.

[2018-01-11 00:09] #14 closed

[2018-01-11 00:20] jessegreenberg opened #29 "Create a keyboard help dialog for this sim"
Since this sim has keyboard navigation, it will need a keyboard help dialog before deployment. @emily-phet @terracoda @arouinfar can you please coordinate or prioritize this issue?

[2018-01-11 17:19] phet-steele opened #30 "Two PhETiO entries and inconsistent case handling"
@jessegreenberg @samreid @zepumph hard to say where this issue is stemming from, so I'm making the issue in this repo.

There are two things of note in instance proxies: https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.12/phet-io/wrappers/instance-proxies/instance-proxies.html?link&relativeSimPath

<img width="428" alt="screen shot 2018-01-11 at 10 11 49 am" src="h

[2018-01-11 17:21] samreid commented on #30
Elevating priority to match the sim priority.

[2018-01-11 17:46] jessegreenberg commented on #30
Thanks @phet-steele, since this seems like more of a phet-io issue removing my assignment, but let me know if I can help.

[2018-01-11 18:54] phet-steele opened #31 "IDs are written as scientificNotation, should be distance (typo)"
These ids are named incorrectly:

`gravityForceLabBasics.gravityForceLabBasicsScreen.view.scientificNotationCheckbox`
`gravityForceLabBasics.gravityForceLabBasicsScreen.view.scientificNotationCheckbox.labelNode`

GFLB does not have a scientific notation checkbox. These ids actually control the "Distance" checkbox at https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.

[2018-01-11 19:13] mbarlow12 commented on #31
Looks like the tandem string from GFL was used here. Fixed in above commit.

[2018-01-11 20:19] arouinfar commented on #29
@terracoda @jessegreenberg @emily-phet there doesn't appear to be much content for this one, so I took a stab at it. Please let me know if you have any suggestions, and then I'll mock up the dialog.

**Mass Controls**
Move mass [arrow keys]  (Since motion is 2D could do [left] [right] instead)
Change mass [up] [down]  (Alternatively: Increase or decrease mass [up] [down])

**General Navigation**
M

[2018-01-11 20:30] jessegreenberg commented on #29
Thanks @arouinfar! The only think I can think of is that the masses have all the controls of HSlider (so home/end move to min/max, page up/page down/ move in larger increments). At the moment shift does nothing special for moving masses in this sim.

[2018-01-11 21:01] arouinfar commented on #29
Thanks @jessegreenberg! I tested the shift modifier, and saw it wasn't working, so I wrongly assumed the masses weren't sliders.

[2018-01-11 21:20] phet-steele opened #32 "Force arrow is not instrumented"
Cannot be disabled in instance proxies:

<img width="808" alt="screen shot 2018-01-11 at 2 08 06 pm" src="https://user-images.githubusercontent.com/5863899/34847954-498276f8-f6da-11e7-963e-202d93b43c18.png">

Seen on macOS 10.13.2 Chrome. For phetsims/QA#83.

[2018-01-11 21:20] phet-steele opened #33 "Distance arrow text is not instrumented"
I cannot edit this AND there is no knowledge of it in the event stream:

<img width="808" alt="screen shot 2018-01-11 at 2 08 06 pm" src="https://user-images.githubusercontent.com/5863899/34847557-f8b14fc0-f6d8-11e7-90b6-73ebfa12237d.png">

Seen on macOS 10.13.2 Chrome. For phetsims/QA#83.

[2018-01-11 21:20] phet-steele opened #34 "Puller shadow is not instrumented"
I cannot disable it in instance proxies. Disabling the puller leaves the shadow behind:

<img width="254" alt="screen shot 2018-01-11 at 2 19 07 pm" src="https://user-images.githubusercontent.com/5863899/34847989-6ea29c9c-f6da-11e7-8cf3-576f6a20767d.png">

Seen on macOS 10.13.2 Chrome. For phetsims/QA#83.

[2018-01-11 21:20] phet-steele opened #35 "Mass not instrumented"
I cannot disable the mass by itself. The best I can do is disable the entire group with `gravityForceLabBasics.gravityForceLabBasicsScreen.view.mass1Node`. But again, it looks like the mass is not instrumented separately.

Seen on macOS 10.13.2 Chrome. For phetsims/QA#83.

[2018-01-11 21:20] phet-steele opened #36 "Mass control panel strings are not instrumented"
These strings are without instrumentation (title and units):

<img width="281" alt="screen shot 2018-01-11 at 12 05 38 pm" src="https://user-images.githubusercontent.com/5863899/34842148-db2f5d4a-f6c7-11e7-9049-d2f26c75e526.png">

Seen on macOS 10.13.2 Chrome. For phetsims/QA#83.

[2018-01-12 04:25] samreid commented on #30
Proposed fixes are above.  The duplicate PhET-iO registration may cause unexpected ramifications--I tapped through the wrappers and didn't see anything obvious but we should be vigilant and keep our eyes peeled.

[2018-01-12 04:27] samreid commented on #30
Proposed fix is here:
https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.14/phet-io/wrappers/index

[2018-01-16 19:35] arouinfar commented on #29
Based on today's discussion, I've tweaked the dialog content a bit.

**Mass Controls**
Move mass [left] [right]
Move in larger steps [pg up] [pg down]
Jump to left [home]
Jump to right [end]
Increase mass [up]
Decrease mass [down]

**General Navigation**
Move to next item [tab]
Move to previous item [shift] + [tab]
Exit a dialog [esc]

A few thoughts:
* Grouping the slider and spinner controls und

[2018-01-18 18:27] mbarlow12 commented on #34
@samreid and I discussed. We'll instrument the entire puller, shadow, and rope in a single tandem.

[2018-01-19 18:18] brroberts1231 opened #37 "Events:Recording playback not showing anything"
When trying to play a recording of this sim at https://phet-io.colorado.edu/metacog/playback/ , no motion happened in the playback, and the following error showed up in the console. There were over 1900 of these errors for a roughly 30 second playback.
 `SimIFrameAPI Invocation Error:
Error: invalid number of parameters
Stack trace:
invoke@https://www.colorado.edu/physics/phet/dev/html/gravity-for

[2018-01-19 18:27] brroberts1231 commented on #37
Seeing the same on Chrome 63.0.3239.132 and Edge 41.16299.15.0, and

[2018-01-19 18:35] jessegreenberg commented on #37
Thanks @brroberts1231. I am unfamiliar with the recording/playback wrapper, @samreid would you be able to help?

[2018-01-19 18:38] samreid commented on #37
Thanks @brroberts1231, can you please try playing it back with this playback wrapper?
https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.13/phet-io/wrappers/playback/playback.html

For future deploys, we are planning to publish a playback wrapper with each version of the sim instead of having a centralized one.  Can you also give me a reference to the testing instruc

[2018-01-19 18:42] lmulhall-phet commented on #37
Playback wrapper Ben is using gives this when given CLB recording.

`SimIFrameAPI Invocation Error: Error: invalid number of parameters
    at e.invoke (capacitor-lab-basics_all_phet-io.html?showPointers&phetioEmitStates=false&link&relativeSimPath&localFile:1060)
    at e.handleSingleInvoke (capacitor-lab-basics_all_phet-io.html?showPointers&phetioEmitStates=false&link&relativeSimPath&localFile:10

[2018-01-19 18:46] phet-steele commented on #37
@samreid QA was unaware of this change and this wrapper's existence. Can this wrapper be listed in wrappers/index please?

There is no centralized location for these instructions, it is sim by sim in their phet-io rc matrix. @samreid I can update the appropriate spots and let QA know about this change.

[2018-01-19 18:46] brroberts1231 commented on #37
I went to https://phet-io.colorado.edu/metacog/playback/ because that is where I remember going when doing previous phetio-rc tests because it was linked to in the testing spreadsheets like this one: https://docs.google.com/spreadsheets/d/1gTOrMepJm5-fnNVWc81_dC4AqB1GMsrQHzv8cIHRF60/edit#gid=1613863951 in the Events: record column "Then click here for playback."
This was the only place that I was

[2018-01-19 19:00] samreid commented on #37
It's a very new change, I'll create a link for it in the index.

[2018-01-19 19:01] samreid commented on #37
I'll address that in https://github.com/phetsims/phet-io-wrappers/issues/48, anything else to do for this issue?

[2018-01-19 19:10] phet-steele commented on #37
Negative, thanks.

[2018-01-19 19:10] #37 closed

[2018-01-19 19:13] mbarlow12 commented on #36
Instrumented in above commit. Closing.

[2018-01-19 19:13] #34 closed

[2018-01-19 19:49] mbarlow12 opened #38 "moving constantRadiusProperty to ISLCModel"
@samreid I noticed your TODO in GFLBModel.js regarding moving the constant radius to ISLCModel. I agree that this (along with the baseColors) would simplify a lot of the code in all the ISLC sims. My concern is that, since it's instrumented or PhetIO, offering that API in Coulomb's Law doesn't really make any sense as there's no way to update the radius were that property set to true.

Is there a

[2018-01-19 20:17] samreid commented on #38
Sure, you can pass `phetioReadOnly` as an option to the Property.  But I noticed the general flow is:

[code]

So it wouldn't be a trivial change to move this Property to ISLCModel, because the Property is needed before creating the masses, and the masses are needed before creating the ISLCModel.  So we may wish to leave this as it is (or it would require a more invasive change).

[2018-01-19 20:26] mbarlow12 commented on #33
Changes made in master.

[2018-01-19 20:38] mbarlow12 commented on #38
Good point—I'd forgotten about that element. I think I'll opt for leaving as is. Closing.

[2018-01-19 22:16] lmulhall-phet opened #39 "Not able to move masses to 1.2 km after checking constant radius"
**Test device:**

MacBook Air

**Operating System:**

macOS 10.13.2

**Browser:**

Chrome, Firefox, Safari

**Problem description:**

The closest distance possible for the masses is 1.2 km. This distance is only achievable when the constant radius box is checked. Read the steps for more information. This is for phetsims/QA/issues/83.

**Steps to reproduce:**

1. Reduce masses to 1 billion kg.
2. M

[2018-01-19 22:24] #38 closed

[2018-01-19 22:50] mbarlow12 commented on #32
Fixed in master.

[2018-01-22 19:29] phet-steele opened #40 "Spinner value changes in the wrong direction after Reset All (rounding error?)"
All of the following is specific to keyboard interaction. Doing any of these steps with a mouse does not cause an issue (except for step 2, you can use a mouse there).

1. Increment a mass spinner above its default value (3+ for m1, 5+ for m2).
2. Reset All
3. Navigate back to the same mass spinner you incremented.
4. Attempt to decrement the spinner.

Instead, the number will increase on the firs

[2018-01-22 19:37] phet-steele commented on #39
@jessegreenberg this is true of any mass values, given that the masses were at the min distance apart at the time of step 3. I mention this since performing this bug when both masses are at 10 bkg sets the masses 2.5 km apart, which is very visually obvious that they should be able to get closer.

[2018-01-22 20:03] phet-steele opened #41 "Spinner keyboard shortcuts"
@jessegreenberg @terracoda @emily-phet any reason that the pg up/pg down and home/end behaviour used for sliders could not also be used for spinners?

So:
pg up/pg down - increments/decrements by a case by case amount. Maybe more useful in sims with larger spinner ranges.
home/end - Goes to min/max value.

In Equality Explorer (still in development), there is a spinner with a range of [-40, 40]. I

[2018-01-22 21:00] arouinfar commented on #24
Let's go with something like this @phet-steele
![image](https://user-images.githubusercontent.com/8419308/35244047-0fe69820-ff7c-11e7-9eb5-baf54629350a.png)

Alternates:
![image](https://user-images.githubusercontent.com/8419308/35244186-9242f8b8-ff7c-11e7-8a7b-86341781ac0b.png)

<img width="1091" alt="screen shot 2018-01-22 at 1 57 49 pm" src="https://user-images.githubusercontent.com/8419308/352

[2018-01-22 21:42] jessegreenberg commented on #41
Thanks @phet-steele added to keyboard nav meeting agenda.

[2018-01-22 22:13] jessegreenberg commented on #28
Thanks @lmulhall-phet, it appears that Edge and IE11 do not trigger `change` or  `input` events when numbers are incremented with arrow keys. We will need to go entirely through keydown and make sure that the input still works when AT are enabled.

[2018-01-23 01:06] jessegreenberg commented on #28
Fixed with the above commit and https://github.com/phetsims/scenery-phet/commit/a22423523a62116681bf175de32ca8705a9d60ab. Closing.

[2018-01-23 01:06] #28 closed

[2018-01-23 01:08] jessegreenberg commented on #40
Verified in https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.13/phet/gravity-force-lab-basics_all_phet.html?accessibility, but this is no longer happening in master. I think that change fixed this bug as well. @phet-steele could you please verify?

[2018-01-23 01:37] jessegreenberg commented on #39
The enabled range updates when force changes, and when we drag with a mouse which is why it doesn't update with constant radius.

[2018-01-23 01:39] jessegreenberg commented on #39
Should be fixed with https://github.com/phetsims/inverse-square-law-common/commit/c43d77805a4e30bceb259b1a81be53ca1da51198, @lmulhall-phet or @phet-steele could you please verify?

[2018-01-23 01:44] jessegreenberg commented on #29
I agree this could be confusing.

I agree.

Not sure what is best since max/min are so dynamic! But that also seems  more accurate since they are jumping to max/min allowable range from the sim state.

[2018-01-23 04:59] emily-phet opened #42 "Sonification wrapper"
Need wrapper created as soon as phet-io testing complete.

[2018-01-23 05:03] emily-phet commented on #41
Just wanted to add a note here - pg up/pg down increments/decrements by 1/10th the span (@jessegreenberg correct me if I'm wrong). In cases where the slider span has been small, I think the pg up/pg down behavior just acts like home/end then.

In general, this idea sounds fine to me. Will just want to check with @terracoda to see if there is some convention this may be counter to. I doubt it, but

[2018-01-23 05:06] emily-phet opened #43 "Check in with Prakriti and Siyan re description"

[2018-01-23 14:21] terracoda commented on #29
@arouinfar, awesome stab at this tricky two-thumbed slider.

**Question:**
The Pusher/Puller figures represent force, correct? Sorry for asking, but I still haven't played with this sim enough to fully grasp what it all means.

If so, I think, we need the heading "Mass Controls" to include something about "Force". I'm not sure of the best wording yet. I am trying to think about what might lead to

[2018-01-23 14:53] terracoda commented on #41
For large ranges this is totally a good idea and is what is recommended in ARIA Best Practices for Spinbutton role (see [Spinbutton section]( https://www.w3.org/TR/wai-aria-practices-1.1/#spinbutton)).

For small ranges bigger steps and jumping to min and max may be less important. Not sure if it is useful to have two examples available in common code, or to just go with one and let the user decid

[2018-01-23 17:30] phet-steele commented on #40
I do not see this in master. Will wait for next dev!

[2018-01-23 17:34] jessegreenberg commented on #41
Discussed in 1/23/18 a11y  meeting:

- For all NumberPickers and NumberSpinners, we would like to add
- Page up/Page down, home and end functionality
- Up/down/left/right arrow keys will increment/decrement the value.

This issue will require changes in NumberPicker, so implementation will be tracked in a new issue in scenery-phet.

[2018-01-24 05:08] samreid opened #44 "Studio sliders should support dynamic range"
See https://github.com/phetsims/phet-io-wrappers/issues/45.  We'll work on this when we do the stable PhET-iO redesign for the sim.

[2018-01-24 18:56] emily-phet commented on #29
@terracoda @arouinfar

I think it makes sense to me to keep the heading simple for moving the mass. Let's stick with "Move Mass". Ultimately that's what the user is trying to do. I thought through some of @terracoda  suggestions, but I think simpler is best here. I looked at the teacher tips doc, and the interaction in the play area is referred to as "drag the masses apart or together". I think th

[2018-01-24 19:04] terracoda commented on #29
I like your suggestions @emily-phet. I think "Move Mass" and "Change Mass" work well together.

[2018-01-24 19:26] phet-steele commented on #39
Looks great on master.

[2018-01-24 19:26] #39 closed

[2018-01-26 17:21] emily-phet commented on #22
@jessegreenberg can you comment on the status of dev testing? It looks like a first round was complete...what are the next steps?

[2018-01-26 17:56] emily-phet commented on #22
meeting notes:
Consider using aria-controls attribute to define the scope
Examples: https://www.w3.org/TR/wai-aria-practices/examples/accordion/accordion.html
http://www.oaa-accessibility.org/example/22/
“Aria Controls is Poop” http://www.heydonworks.com/article/aria-controls-is-poop
Consider labeled-by instead of described-by

[2018-01-29 17:28] jbphet commented on #42
Assigning to @phet-steele so that he can let me know when testing is complete.

[2018-01-29 20:24] jessegreenberg commented on #41
Done in the above commit. Changes were committed against https://github.com/phetsims/sun/issues/318. Marking as 'pending-testing' so it is flagged in the next dev test. @mbarlow12 when you prepare the next test can  you include this isssue?

[2018-01-29 20:29] jessegreenberg commented on #22
It looks like all issues that came out of the dev  test have been fixed and are pending testing. @mbarlow12 is going to prepare a new dev test for this sim and the QA team will verify that issues have been fixed. Then this repo and inverse-square-law-common will get  a code review. Once review issues have been resolved this sim will be ready for release candidate testing prior to deployment.

Sinc

[2018-01-30 21:54] mbarlow12 commented on #22
New dev test issue created: https://github.com/phetsims/QA/issues/88.

[2018-01-31 20:26] phet-steele commented on #36
Instrumented indeed!

[2018-01-31 20:26] #36 closed

[2018-01-31 20:29] phet-steele commented on #32
Fixed indeed.

[2018-01-31 20:29] #32 closed

[2018-01-31 20:32] phet-steele commented on #33
Instrumented and in the data stream, nice!

[2018-01-31 20:32] #33 closed

[2018-02-05 20:37] BryceAG opened #45 "Constant Radius option is not clickable through whole area"
The Constant Radius option will only be interactive if the mouse or touch is in the top half of its pointer area. All other options are interactive through whole area.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/15327201/35827475-6fb4122a-0a79-11e8-9a7f-436ff336ca3a.gif)

Present on Windows 10, Chrome, Firefox, and Edge. Related to phetsims/QA#88

[2018-02-06 17:56] lmulhall-phet commented on #45
@BryceAG I'm not able to reproduce the issue on any of the browsers.

[2018-02-06 21:17] arouinfar commented on #29
Looks great @emily-phet! I think "adjust mass" could imply that the mass's position is being adjusted, but "change mass" doesn't carry the same baggage.

@DianaTavares can you mock up a dialog with this content?

**Move Mass**
Move mass [left] [right]
Move in larger steps [pg up] [pg down]
Jump to left [home]
Jump to right [end]

**Change Mass**
Increase mass [up]
Decrease mass [down]

**General N

[2018-02-06 23:27] phet-steele commented on #41
Working well, thanks everyone!

[2018-02-06 23:27] #41 closed

[2018-02-07 00:08] DianaTavares commented on #29
here is!
![screen shot 2018-02-06 at 5 07 44 pm](https://user-images.githubusercontent.com/26031501/35891203-4f87c78e-0b60-11e8-95fb-121a0b5216cb.png)

[2018-02-07 15:58] terracoda commented on #29
@DianaTavares, nice job! Just one change in wording...

Please change "Adjust in large steps" to "Move in large steps"

[2018-02-07 16:35] terracoda commented on #29
@DianaTavares, @arouinfar, and @emily-phet, I just tested the sim and all the slider interactions work, which means [up] moves masses tot he right and [down] moves masses to the left.

Also for the number spinners, [left] decreases the value, and [right] increases the value. [Pg Up] and [Pg Down] also move the spinners in larger steps.

Should these interactions also be reflected? And if so given

[2018-02-07 16:38] terracoda commented on #29
Please re-assign to me when you need the text-based HTML version. It's ready to go once we finalize the actual items that will be spelled out.

[2018-02-07 16:58] arouinfar commented on #29
Good catch @terracoda!

Also for the number spinners, [left] decreases the value, and [right] increases the value.

I purposefully left out up/down for moving masses and left/right for the number pickers, since these elements have strong direction associations -- the masses move horizontally, and the number pickers have an up/down arrow. I think the dialog is more succinct and easier to interpret

[2018-02-07 17:30] terracoda commented on #29
@emily-phet, do you think we should leave the less intuitive directional interactions out for pedagogical reasons?

I realize we are not trying to teach students about all keyboard navigation possibilities.

[2018-02-07 22:06] mbarlow12 commented on #45
@BryceAG same here—can't reproduce. Could you give some more details on your configuration?

[2018-02-07 22:42] lmulhall-phet commented on #45
@BryceAG @mbarlow12 Just to be clear, I can't reproduce the issue on Windows in any browser.

[2018-02-08 13:40] terracoda commented on #41
@emily-phet, @jessegreenberg, @mbarlow12, @phet-steele, sorry for my late reply. This issue was not assigned to me. I think we talked about some of this interaction in a meeting, though.

PhET's spinners are similar to the spinbutton widget role described in the WAI-ARIA with one key difference, the box that shows the current value is not text-editable. A further difference is that visually, in a

[2018-02-08 13:44] terracoda commented on #41
Ignore my last comment. Sorry, I didn't read the issue carefully enough. I already commented.

[2018-02-09 18:40] jessegreenberg commented on #45
@phet-steele can this issue be closed or do you recommend spending more time trying to reproduce?

[2018-02-12 13:27] emily-phet commented on #29
@terracoda @arouinfar @DianaTavares
In this simulation, when moving the masses, I think we want to emphasize the left/right nature of the interaction. The masses are getting closer or farther away along a horizontal plane. For this reason, I think we don't need to indicate in the keyboard help that 'up/down' also change their positions. If users find that and need/like that interaction, that's fin

[2018-02-12 14:16] terracoda commented on #29
@emily-phet, as long as users can still use the Up arrow key and the Down arrow to move the masses left and right, I don't see any harm in choosing to focus the interaction horizontally in the Keyboard Shortcuts.

That said, it would be an interesting question to ask non-visual students, if the actual arrows they use to move left and right affect their mental model of the interaction.

Goring with

[2018-02-12 17:03] DianaTavares commented on #29
![screen shot 2018-02-12 at 10 03 11 am](https://user-images.githubusercontent.com/26031501/36109226-0230677c-0fdc-11e8-87a7-81ff18bc8145.png)

[2018-02-12 17:08] terracoda commented on #29
@DianaTavares, nice. Looks good to me.

[2018-02-12 17:42] arouinfar commented on #29
Looks good to me too @DianaTavares!

[2018-02-12 18:17] mbarlow12 commented on #45
@phet-steele any suggestions as to @jessegreenberg 's above comment?

[2018-02-13 01:53] lmulhall-phet commented on #45
@mbarlow12 @jessegreenberg I’ll give this one more shot tomorrow morning. If I can’t reproduce it, I think we should go ahead and close the issue.

[2018-02-13 18:49] BryceAG commented on #45
I was testing on Hanson, I have no idea why it can't be reproduced. I will try to reproduce it and include more testing information.

[2018-02-13 19:26] BryceAG commented on #45
No longer reproducible, have no idea why it was happening on Hanson on all browsers before, but it seems good now. Sorry for the inconvenience. Closing

[2018-02-13 19:26] #45 closed

[2018-02-15 17:20] mbarlow12 commented on #22
@samreid @phet-steele is there a reason I shouldn't close this issue? If not, I think we can create a new dev release. Thanks.

[2018-02-15 19:04] phet-steele opened #46 "Fullscreen button fails to initialize from generated HTML"
For whatever reason, the Fullscreen button in the PhET Menu is failing to appear. It will fail only when loading a customized sim with Generate HTML (in instance-proxies).

I did not customize the state of this menu item before generating the file, yet you will notice that the item will not appear and you will receive the below error. There are zero errors when Launching from instance-proxies or s

[2018-02-15 19:09] #22 closed

[2018-02-16 18:23] emily-phet commented on #42
@jbphet looks like this sim's testing is nearing completion.

[2018-02-18 02:09] samreid commented on #46
Here is the pertinent part from the HTML (escaped):

[code]

[2018-02-18 02:10] samreid commented on #46
Unescaped it reads like so:
[code]

[2018-02-19 03:19] samreid commented on #46
I cannot reproduce the problem with a locally built simulation.  But one possible explanation is that one of these conditions for showing the fullscreen button is failing, and hence it cannot have its state set:

[code]

Perhaps the detectPrefix or one of the other flags is somehow buggy for this case?

[2018-02-19 03:41] samreid commented on #46
MDN says:

https://developer.mozilla.org/en-US/docs/Web/API/Document/fullscreenEnabled

I tried putting `allowfullscreen` as an iframe attribute and this problem went away.  I'll update the template.

[2018-02-19 03:46] samreid commented on #46
I committed a fix for the template, and it is working OK in local testing.  Can you please coordinate with @mbarlow12 to get a new dev version for testing?  (I'm not sure of the status of dev.19 or if other issues need to be addressed).

[2018-02-19 17:29] jbphet commented on #42
I just checked in with @phet-steele on this, and there is a little left to do on it, so he will assign it to me when it's ready.

[2018-02-19 23:28] samreid commented on #46
Steele requested an RC for testing.

[2018-02-19 23:32] samreid opened #47 "Credits are missing"
Noted while I was deploying an RC for #46

[2018-02-19 23:33] samreid commented on #46
Deployed: https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-rc.1/phet/gravity-force-lab-basics_en_phet.html
Deployed: https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-rc.1/phet-io/wrappers/index

[2018-02-19 23:40] arouinfar commented on #47
Lead Designer: Amy Rouinfar
Team: Ariel Paul, Kathy Perkins
Devs: Michael Barlow, Jesse Greenberg
Graphic Arts: Mariah Hermsmeyer

[2018-02-19 23:41] phet-steele commented on #40
Fixed.

[2018-02-19 23:41] #40 closed

[2018-02-19 23:45] phet-steele commented on #29
This sim has entered RC without this content. @emily-phet @DianaTavares what's the reason this isn't ready to be put it the sim?

[2018-02-20 13:12] emily-phet commented on #29
@phet-steele Looks to me like this was finalized. @mbarlow12 Can you implement this?

[2018-02-20 19:05] mbarlow12 opened #48 "Rollback 1.1.0 dev and 1.0.0 RC releases"
A little mixup over the last day has led to an RC release prior to code review:

For the dev version (1.1.0-dev.1) we'll need to remove the directories on SPOT and revert the package.json's version number.

https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.1.0-dev.1/phet/gravity-force-lab-basics_en_phet.html

- [x] SPOT directories deleted
- [x] package.json update

The sam

[2018-02-20 19:23] mbarlow12 commented on #48
@samreid and I paired for a little bit on this and completed the above tasks. There's a new dev deploymet at

 https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.20/phet/gravity-force-lab-basics_en_phet.html

Version numbers are back to their proper state and the RC release and branch are gone.

[2018-02-20 19:23] #48 closed

[2018-02-20 19:25] mbarlow12 commented on #48
New dev release at https://github.com/phetsims/QA/issues/97

[2018-02-20 19:58] mbarlow12 commented on #29
@emily-phet  Will do.

[2018-02-20 20:04] jessegreenberg commented on #29
@mbarlow12 feel free to use ResistanceInAWireKeyboardHelpContent.js as an example.

This dialog requires alignment of the "Move Mass" and "Change Mass" icons, which is not currently supported by HelpContent.js.  They could be aligned with inspection but in the long term it would be nice to think of a way to do that more generally. Let me know if you have questions.

[2018-02-20 20:15] arouinfar commented on #29
Slack Discussion in #accessibility channel:

@jessegreenberg

Particularly the "Change Mass" section - those  keys describe how to use a NumberPicker,  but all descriptions include "mass", and some keys were left out for the purposes of this sim. Totally fine if that is necessary but it would be more scalable if we had one set of instructions that we can use for all NumberPickers

@arouinfar

@jes

[2018-02-20 20:23] mbarlow12 commented on #47
I have the initial credits as @arouinfar noted above. @samreid should I include you as well? @phet-steele, should I include just you on QA or the other QA team as well?

[2018-02-20 20:49] phet-steele commented on #47
@mbarlow12 I will update QA credits myself once RC testing is complete.

[2018-02-20 21:01] samreid commented on #47
No thanks, but thanks for asking!

[2018-02-20 22:10] phet-steele commented on #46
Working in https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.20/phet-io/wrappers/instance-proxies/instance-proxies.html?link&relativeSimPath

[2018-02-20 22:10] #46 closed

[2018-02-20 22:35] mbarlow12 commented on #23
@samreid do you mind if I close this issue and remake a new one for Code Review?

[2018-02-20 22:44] mbarlow12 opened #49 "Code Review"
#### **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter `ea`)
- [x] Does the sim pass a scenery fuzz test? (run with query parameters `fuzzMouse&ea`)

##

[2018-02-20 22:44] mbarlow12 commented on #49
Assigning to @ariel-phet for prioritization.

[2018-02-21 01:49] samreid commented on #23
@mbarlow12 a new issue sounds great, close at your convenience.

[2018-02-21 02:13] ariel-phet commented on #49
@jessegreenberg is this something you have time to handle?

[2018-02-21 19:41] #23 closed

[2018-02-22 13:35] terracoda commented on #29
@jessegreenberg and @arouinfar, I do agree that consistent approach is ideal. We do not yet have a lot of information on how these standard instructions are used or how much they are needed yet.

For any given PhET Sim, there could be a pedagogical reason for changing the wording as was decided for the Move Mass and Change Mass above. It is possible that leaving the word "mass" off in the "Change

[2018-02-22 19:57] arouinfar opened #50 "Items for Teacher Tips"

[2018-02-22 19:58] arouinfar commented on #50
On hold until RC testing.

[2018-02-23 17:29] jessegreenberg commented on #49
Yes, I will start this review.

[2018-02-23 23:59] jessegreenberg commented on #29
@mbarlow12 I ended up needing a way to align groups of help content in https://github.com/phetsims/balloons-and-static-electricity/issues/320 so I added a helper function `HelpContent.alignHelpContentIcons` that can hopefully also be used here.

[2018-02-27 03:03] mbarlow12 commented on #29
I added a helper method on HelpContent to creat pg up and down icons. @jessegreenberg it also may be useful to review some of what I did tomorrow (Tues) or Wed.

[2018-02-27 23:10] jessegreenberg commented on #29
Thanks @mbarlow12, changes look good, thanks for the helper function in HelpContent. Only two thoughts:

- [ ] Could you please fill in the type documentation for `constructRow`?
- [ ] I find `ICON_OPTIONS` name to be a little confusing since it isn't a set of options like `DEFAULT_LABEL_OPTIONS`. Could we name it something like `ICON_CREATOR` (or something)?

[2018-02-28 18:37] jessegreenberg commented on #49
Im working on this now. I will start with inverse-square-law-common, and copy the checklist to an issue in that repo.

[2018-02-28 20:35] jessegreenberg commented on #49
Re

I took heap snapshots every 10 seconds or so and observed the following:
![capture](https://user-images.githubusercontent.com/6396244/36811771-3162a08e-1c8c-11e8-9373-3cb485d27900.PNG)

We can see the heap stabilize at around 26 MB

[2018-03-01 23:40] jessegreenberg opened #51 "Checkboxes are scaled down with long strings"
It looks like the check boxes themselves (not just the text) are being scaled for i18n.
![capture](https://user-images.githubusercontent.com/6396244/36875432-23892fb4-1d6d-11e8-8d72-b0418ceb8e25.PNG)

I did a little searching, and it looks like maxWidth is only set on the text so I am not sure why this is happening.

UI looks good for doubled strings.

![capture](https://user-images.githubusercont

[2018-03-02 16:41] jessegreenberg opened #52 "Enable a11y by default"
This sim is ready for default a11y! @mbarlow12 can you please enable this? Can be enabled with accessibility: true in sim options in gravity-force-lab-basics-main.js.

[2018-03-02 18:12] jessegreenberg opened #53 "Enable a11y by default"
This sim is ready for default a11y! @mbarlow12 can you please enable this? Can be enabled with accessibility: true in sim options in gravity-force-lab-basics-main.js.

[2018-03-02 20:04] mbarlow12 commented on #53
I think this is a duplicate from https://github.com/phetsims/gravity-force-lab-basics/issues/52. Closing.

[2018-03-02 20:04] #53 closed

[2018-03-02 20:05] #52 closed

[2018-03-02 20:20] mbarlow12 commented on #51
In ISLCCheckboxPanel.js, ln 36:
[code]
@samreid added that height adjustment in https://github.com/phetsims/inverse-square-law-common/commit/6e161bd653193819df55b28da4a7895769751805#diff-db12b6e22fef977bb5446a345cdd0223. That same feature is done in Projectile Motion on the PhET website. I'm ok with the change.

[2018-03-03 00:02] jessegreenberg commented on #51
Thanks @mbarlow12,  good to know. I looked through translations of Projectile Motion, strings generally don't get long enough for this to be a problem. It seems unnecessary to me but I don't feel strongly. Closing.

[2018-03-03 00:02] #51 closed

[2018-03-03 00:03] jessegreenberg commented on #49
Additional testing for memory leak done for this sim here: https://github.com/phetsims/inverse-square-law-common/issues/30#issuecomment-369756564. It proves  there is no leak at this time.

[2018-03-03 00:08] jessegreenberg opened #54 "Type prefixes should be consistent"
For #49.

Most types in this repo have the full "GravityForceLab*" name. GFLBMassNode and GFLBA11yStrings are the two that do not conform. They should either be renamed to `GravityForceLabBasicsMassNode` and `GravityForceLabBasicsA11yStrings` respectively, or the other types should be renamed to use the acronym.

Renaming the two would be less work, but renaming the rest would produce more managea

[2018-03-03 00:21] jessegreenberg opened #55 "add a doc directory with model.md and implementation-notes.md"
From #49.

Shouldn't need much since majority of implementation is in inverse-square-law-common, but this sim should have a doc directory. @mbarlow12 and you please add one?

[2018-03-03 00:30] jessegreenberg opened #56 "Keyboard help dialog strings should be translatable"
Even though they are a11y strings, they strings in the keyboard help dialog are visible so they need to be translatable. @mbarlow12 can you please do this?

For #49.

[2018-03-03 00:30] jessegreenberg commented on #56
![capture](https://user-images.githubusercontent.com/6396244/36928066-74efcd54-1e3f-11e8-9ac5-c8340447ea04.PNG)

[2018-03-03 00:33] jessegreenberg opened #57 "Long strings aren't centered on startup"
For #49.

On startup with stringTest=double long the label string on mass2 isn't centered on the arrow.
![capture](https://user-images.githubusercontent.com/6396244/36928088-b59d47a0-1e3f-11e8-965a-ac8c75dd241e.PNG)

[2018-03-03 00:35] jessegreenberg opened #58 "Can showGrid query pram be removed from GravityForceLabBasicsQueryParameters?"
inverse-square-law-common supports showGrid, and I think the grid is implemented there. I think this querey  param can be removed from GravityForceLabBasicsQuereyParameters.js.

[2018-03-03 00:45] jessegreenberg opened #59 "Options extension without setting options"
For #49. I saw this code in DistanceArrowNode.
[code]

I think this was added for PhET-iO instrumentation. @mbarlow12 @samreid should this be
[code]

[2018-03-03 00:58] jessegreenberg commented on #29
Now somewhat related to #49.

[2018-03-03 01:05] jessegreenberg commented on #58
Likewise can GridNode be deleted and replaced with ISLCGridNode?

[2018-03-03 01:26] jessegreenberg opened #60 "Move setting of accessible slider attributes to ISLCObjectNode"
For #49. In GravityForceLabBasicsScreenView:

[code]

I think it would be nice to address this, this will be necessary for the other ISLCObjectNodes. @mbarlow12 would you mind working on this?

[2018-03-03 01:28] jessegreenberg commented on #60
Wait... maybe this can be deleted entirely. In AccessibleSlider.js
[code]

@mbarlow12 can you see if the code in GravityForceLabBasicsScreenView can safely be removed and make sure the accessible attributes are being set correctly in the a11y slider trait?

[2018-03-03 21:43] samreid commented on #59
The options was incorrect, but I don't think we need to require a tandem for the DistanceArrowNode.  I'm inclined to eliminate that statement altogether.

[2018-03-05 20:26] jessegreenberg commented on #59
Sounds good to me, thanks @samreid.

[2018-03-05 21:55] #60 closed

[2018-03-05 22:45] mbarlow12 commented on #59
It looks like we're setting a tandem for the label text at the moment. @samreid are you thinking that we don't need any tandems for the DistanceArrowNode, or that we simply don't want to require it.

[2018-03-05 23:06] samreid commented on #59
I'm thinking that we don't need to require the tandem (though we may supply it anyways).

[2018-03-05 23:18] mbarlow12 commented on #59
Requirement removed, but we're still passing the tandem through the options.

[2018-03-05 23:18] #59 closed

[2018-03-05 23:45] mbarlow12 commented on #58
Completed in the above commit. Furthermore, I moved the showDragBounds parameter to ISLC to remove the need for sim specific query parameters.

We'll also consolidate the displays in https://github.com/phetsims/inverse-square-law-common/issues/46.

[2018-03-05 23:45] #58 closed

[2018-03-06 23:02] jessegreenberg commented on #49
Running `grunt find-duplicates` returns

[code]

Nice job @mbarlow12.

[2018-03-06 23:05] jessegreenberg commented on #49
Code review complete. Issues have been created for the checks that did not pass so I am going to  close this issue. This sim is in very good shape @mbarlow12, nice work.

[2018-03-06 23:05] #49 closed

[2018-03-06 23:43] jessegreenberg opened #61 "Add static descriptions to this sim"
@emily-phet @terracoda @arouinfar this sim is about a week away from an RC. This sim has a keyboard help dialog and keyboard navigation. Could we design and add labels for this simulation?

[2018-03-07 00:13] arouinfar commented on #61
Exciting news @jessegreenberg!

@terracoda are the labels a bare-bones description for screen reader users? For example, if a user tabs to a slider that changes an object's mass, would the screen reader read out the corresponding label (eg. "Mass Slider")? Would the labels include any information about the value? Sorry for all the questions, I haven't created any labels before!

[2018-03-07 14:48] terracoda commented on #61
Great questions @arouinfar, the value and units are part of the slider information. That info is read out automatically.

Labels are what you want all users to understand about what the interactive sim object is meant to ne and do and hopefully cue how to interact with it. Imagine if all the objects were just plain buttons, what text do you want on each button to identify and distinguish each inte

[2018-03-07 18:00] jessegreenberg commented on #61
Units are actually not included automatically. Do they need to be for these releases?

IMO help text is not necessary for a keyboard navigation release, but maybe we have begun to include it.

[2018-03-07 18:15] arouinfar commented on #61
Thanks @terracoda!

Some of these may be more like help text, but here are some drafted labels:

* Mass 1/2 Slider: Move mass 1/2
* Mass 1/2 Number Picker: Change (value of) mass 1/2
* Show Values Checkbox: Show force values
* Distance Checkbox: Show distance between masses
* Constant Radius Checkbox: Keep radius constant when changing mass

I think this would be helpful to discuss during next wee

[2018-03-07 19:22] terracoda commented on #61
@arouinfar, I'm not clear about which thing is putting force on the other, but here's a quick stab. Not e that commas separate the actual label text from what the sim object's role. The role is readout automatically by the screen reader software.

Mass 1, slider
1. Help text: Move to change force on Mass 1 by Mass 2.
2. Help text: Move to play with force on Mass 1 by Mass 2.

Mass 2, slider
1. Hel

[2018-03-07 19:33] terracoda commented on #61
@jessegreenberg, sorry, I assumed units were read out automatically because they are read out in OL and RIAW.

[2018-03-07 20:19] terracoda opened #62 "How are the number tweakers represented in HTML?"
@jessegreenberg, how are the number tweakers represented in HTML. Are they un-editable spinboxes?

And, I notieced that when I listen with the GFLB sim on phetest right now, I get something very strange.

Instead of hearing about an input or an un-editable input, I get a whole list of the controls that follow (checkboxes and reset).

Just wondering if there might be a code error or a missing closi

[2018-03-07 20:20] terracoda commented on #61
@arouinfar, I started https://github.com/phetsims/gravity-force-lab-basics/issues/62 to find out about how the Mass tweakers are represented.

[2018-03-07 20:33] jessegreenberg commented on #62
@terracoda the NumberPickers are represented with
[code]

When  I listen to this with NVDA, I hear
"Spin button, edit, selected 6 billion."

@terracoda is this just on initial readthrough?

[2018-03-07 20:42] terracoda commented on #62
What you hear in NVDA sounds correct, but I am not hearing anything like that in VoiceOver with Safari.

Can you validate the code in the PDOM to see if there are any missing closing tags?

[2018-03-07 20:47] terracoda commented on #62
@jessegreenberg , I was tabbing through, just to hear the interactive items when I got the funny read out.

[2018-03-07 21:35] jessegreenberg commented on #62
@terracoda I just verified it sounds very weird on Safari. Perhaps it is because the number inputs currently have no label?

I did verify the HTML - All I see are warnings that our number inputs should have aria-valuemax and aria-valuemin...but I am not sure if I trust that since we are using a native input element with min and max values already.

[2018-03-07 22:05] jessegreenberg commented on #62
Adding labels fixes the problem...mostly. I have each a label of "Mass Control". Now I am hearing something very weird  in VoiceOver. When NumberPicker receives focus, VoiceOver says:

", Mass (misspelled) Contr contents selected, Mass Control, incrementable edit text."

[2018-03-07 22:06] jessegreenberg commented on #62
Here is the HTML
[code]

[2018-03-07 22:08] jessegreenberg commented on #62
While playing with other examples online,  I see that the input number text receives selection on focus. I think this is where "selection" is coming from, but we don't want this because direct number input will not be supported by this UI element.

Maybe we should do something more like:
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-valuemin_attribu

[2018-03-07 22:11] jessegreenberg commented on #62
Or maybe ARIA spinbutton?
https://www.w3.org/TR/wai-aria-1.1/#spinbutton

[2018-03-07 22:26] jessegreenberg commented on #62
spinbutton role would be perfect. When focus lands on a spinbutton, I hear
"4 billion, Mass control, stepper"

...but VoiceOver doesn't read the new value when aria-valuenow changes. I tried to use aria-valuetext because apparently aria-valuetext is supposed to be read instead of aria-valuenow when specified (according to https://www.w3.org/TR/wai-aria-1.1/#aria-valuenow). But still  no luck. I ve

[2018-03-07 23:14] zepumph opened #63 "Fix a11y strings"
From https://github.com/phetsims/a11y-research/issues/65:

- [x] Make sure that the a11yStrings file uses `{{key}}: { "value": '{{string}} }` notation
- [x] declare strings as vars at the top of the page (like with the `string!` plugin

[2018-03-08 00:59] terracoda commented on #62
@jessegreenberg re "having no label" in https://github.com/phetsims/gravity-force-lab-basics/issues/62#issuecomment-371293296. Yes, that could easily be the problem. With no label there is no accessible name for the sim control.

@jessegreenberg, yes, we definitely want to use the role "spinbutton". I couldn't remember if it was role "spinbox" or something else. I was going to look it. Thanks for

[2018-03-08 01:03] terracoda commented on #61
@arouinfar, actually, maybe we need the word "Size" in the label for the spinbuttons?
I am going to add a second label option to https://github.com/phetsims/gravity-force-lab-basics/issues/61#issuecomment-371253769

[2018-03-08 05:01] jessegreenberg commented on #62
Sounds good @terracoda, Ill give that a try tomorrow when I have access to VoiceOver.

[2018-03-08 13:21] terracoda commented on #62
Thanks @jessegreenberg.
I can also test with VoiceOver if the code is available on phet test or in a dev link.

[2018-03-08 23:20] jessegreenberg commented on #62
We tried the example @terracoda  provided in https://github.com/phetsims/gravity-force-lab-basics/issues/62#issuecomment-371353990.

VoiceOver *does* read the value with that HTML. But aria-valuetext is not supported,  so  it just reads the value with no units.

[2018-03-08 23:21] jessegreenberg commented on #62
We verified that VoiceOver does not support aria-valuetext with input type=number and role=spinbutton in https://jsfiddle.net/0zo1mp6v/3/.

[2018-03-08 23:29] jessegreenberg commented on #62
We also just verified that aria-valuetext is still broken with VoiceOver when we remove the spinbutton role.

@terracoda based on this, what HTML do you think we should use? If we cannot use input type=number, and we cannot use role=spinbutton, does that leave us with something custom that uses aria-live?

[2018-03-09 02:58] terracoda commented on #62
On first thought, yes, but does it work in NVDA and JAWS?

Could you add aria-orientation="vertical" to see if that helps at all?

I'm going to email the wai-w3c ig group mailing list to see if anyone has any advice.

[2018-03-09 03:35] terracoda commented on #62
@jessegreenberg, I am reassigning to you to for comment and/or iteration.

[2018-03-09 16:39] jessegreenberg commented on #62
@terracoda this is what I observed as well in https://github.com/phetsims/gravity-force-lab-basics/issues/62#issuecomment-371658907. I assumed that for a science sim, it was not acceptable for VoiceOver to not read the units when the value changes. But maybe that is OK and a lesser evil than creating our own thing. Maybe we should discuss at a11y meeting today?

[2018-03-09 17:10] terracoda commented on #62
@jessegreenberg, the numbers are long, so it might be ok not to repeat the unit. In this sim, there is only one unit for the spinbuttons. It is not like there are 3 spinbuttons with different units like there are sliders with different units in RIAW and OL.

I think you are right, we should ask what people think at the IDRC meeting, and also a content expert.

The unit is announced upon focus, whi

[2018-03-09 17:48] jessegreenberg commented on #62
3/9/18:

We need to understand what JAWS does. But if the units are there on initial focus and can be easily found in help text, we are OK with using the semantics provided by ARIA (or native HTML), even though there is this VoiceOver issue.

[2018-03-09 20:46] terracoda commented on #61
@arouinfar, keep in mind the alerts are not part of label implementation, but I added them there for some context.

[2018-03-10 00:03] jessegreenberg commented on #62
Sounds great in JAWS, JAWS calls it a "spinbox" and always reads the units from aria-valuetext. But JAWS tells the user

"To set the value use the arrow keys  or type the value."

...which is not supported by our spinbox. @terracoda thoughts on what to do?

[2018-03-10 00:08] jessegreenberg commented on #62
I think the ARIA specification clearly marks this as optional

IMO we shouldn't care too much about this, if user tries to type a value and nothing happens, they would probably try to use the arrow keys?

[2018-03-10 00:09] jessegreenberg commented on #62
Another problem...JAWS reads all the 0s in the billions of kg. @terracoda do we need to modify the aria-valuetext to read "5 billion kilograms" instead of "5000000000" kilograms?

[2018-03-10 11:59] terracoda commented on #62
Great that JAWS reads the control properly.
We can provide our own helptext, so hopefully, that will take care of JAWS's default helptext.
Re the zeros, we should likely remove them. Hopefully Voice Over still reads out billion??

[2018-03-12 12:48] emily-phet commented on #61
@arouinfar Please put the latest draft of labels in the A11y design doc for this sim, similar to how it is done in Rutherford Scattering's A11y design doc.
Rather than thinking about these as a list - I think it would help to think of them as content in a document that is being navigated, and putting them in the design doc in that format will help.

[2018-03-13 16:21] #63 closed

[2018-03-13 18:32] #57 closed

[2018-03-13 19:19] mbarlow12 commented on #56
Is it possible that this issue is related to https://github.com/phetsims/a11y-research/issues/65?  In [SliderControlsHelpContent.js](https://github.com/phetsims/scenery-phet/blob/666a80bbff3d4ddf6060e33e57e2c90f60a18faf/js/keyboard/help/SliderControlsHelpContent.js), we're including a11y strings in the same fashion as normal strings.

I'm not really sure how to proceed on this one. Maybe table for

[2018-03-13 19:24] jessegreenberg commented on #56
We want to keep visible strings are translatable, but keep invisible strings that are purely there for screen reader access non-translatable. [SliderControlsHelpContent](https://github.com/phetsims/scenery-phet/blob/666a80bbff3d4ddf6060e33e57e2c90f60a18faf/js/keyboard/help/SliderControlsHelpContent.js) adheres to this. The dialog in GFL:B doesn't have screen reader text yet, but the visual strings

[2018-03-13 20:09] #56 closed

[2018-03-15 00:58] zepumph opened #64 "Cleanup GFLBA11yStrings"
I see no usages of any of these strings, is it because they are all now translatable and in the string json file? Am I missing something?

[2018-03-15 06:40] jessegreenberg commented on #62
I didn't realize this was possible, is there an aria attribute for this?

I believe it should, we will end up replacing the number with the actual word "billion".

[2018-03-15 13:08] terracoda commented on #62
By our own help text I just mean our own on-demand help text description in the PDOM. I didn't mean to imply that we can over-write JAWS's auto help text. A user would likely get both.

Screen reader help text can be turned off. I turn it off in Voice Over as I find it very annoying.

It's possible that aria-describedby or aria-role description could be used to over-ride auto screen reader help te

[2018-03-15 16:35] mbarlow12 commented on #64
It is not—I just forgot to delete it! Thanks!

[2018-03-15 16:36] #64 closed

[2018-03-15 17:00] #54 closed

[2018-03-15 17:26] #55 closed

[2018-03-15 17:37] jessegreenberg commented on #62
Ok, thanks @terracoda that sounds great.

[2018-03-19 17:27] jessegreenberg commented on #62
Assigning to myself to review and see if any further changes are necessary.

[2018-03-19 18:07] jessegreenberg commented on #62
It sounds like the only remaining thing to do is convert "5000000000" kilograms to "5 billion killigrams" for the AT readout.

[2018-03-19 22:16] jessegreenberg commented on #62
JAWS still reads "4 zero zero zero zero zero zero zero......" instead of "4 billion", even after the change. Similarly, VoiceOver reads "4000000000" instead of "4 billion kg" when the value changes. So JAWS and VoiceOver do not read aria-valuetext on input type number (or text) with aria-role=spinbutton.

[2018-03-19 22:28] jessegreenberg commented on #62
@terracoda @emily-phet is it OK that JAWS reads all the zeros every change?

If that is OK, we are done with this issue.

If not, we could try a custom solution that uses aria-live to read the values at the right time with units, at least until AT can handle this.

I am starting to wonder if we should start using a custom approach for anything more than the most basic HTML/ARIA. It am realizing it

[2018-03-20 12:25] emily-phet commented on #62
@terracoda @jessegreenberg

Let's see if I'm understanding this correctly:

The spinboxes are implemeted with the slider input range spanning 1,000,000-10,000,000. The units are "billion kg".

In VoiceOver: you hear the slider value, but no units.

In JAWS: you hear the units (billion kg), and the slider value (1,000,000-10,000,000 - reading all zeros), but also some automatic help text that indic

[2018-03-20 19:42] arouinfar commented on #61
@emily-phet @terracoda I've drafted headings, labels, and help text in the GFLB a11y doc. We an review it in an upcoming keyboard nav meeting. Unassigning myself for now.

[2018-03-22 17:33] jessegreenberg commented on #62
@emily-phet, mostly correct. We are already trying to make it say "1 billion kg", not "1,000,000,000 billion kg". There is also a difference between initial focus and first interaction. Here is a rundown of what it (mostly) sounds like.

- JAWS:
  - On focus: "1 billion kg, Mass 1 spin button, value selected"
  - On value change: "2 zero zero zero zero zero zero zero zero zero, value unselected""

[2018-03-22 18:37] jessegreenberg commented on #62
I went ahead and added something custom. It sounds great on VO and JAWS. For both:
On focus: "Mass 1, spin button, 1 billion kg"
On value change: "2 billion kg"

Will update comment after testing with VO.

[2018-03-27 20:28] mbarlow12 commented on #29
@jessegreenberg @emily-phet is there any further review necessary before closing this issue?

[2018-03-27 20:39] arouinfar commented on #50
Tips have been uploaded to Drive.

[2018-03-27 20:39] #50 closed

[2018-03-29 15:03] terracoda commented on #62
@jessegreenberg by "custom" do you mean you are using a `div role="spinbutton"` element  instead of an `input role="spinbutton"`?

I asked Bryan Garaventa for adnice on our non-editable spinbutton, and he suggested the following:
- use a non-editable element like a `div` or `span`
- with `tabindex="0"`
- plus `aria-readonly=”true”`
- plus `role=”spinbutton”` and all the other required ARIA attribu

[2018-03-29 15:15] terracoda commented on #62
Taking a stab in the dark here:
[code]
I'm not sure of the best method to label this control? Using aria-labeledby might be better?

[code]

[2018-04-03 13:49] terracoda commented on #29
@emily-phet and @arouinfar, once we finalize the design for the static descriptions, we should re-look at the keyboard dialog to make sure language used in the sim is still aligned with language used in the dialog. For example, headings might need to be tweaked to:

- Move Mass's Position
- Change Mass's Size/Magnitude

[2018-04-03 16:32] jessegreenberg commented on #62
https://github.com/phetsims/gravity-force-lab-basics/issues/62#issuecomment-377265007 is almost exactly what we are doing, with just two differences.
- We are using a `button` instead of a `div` because NVDA and maybe others don't focus the 'div role=spinbutton' when reading with the virtual cursor. `div role=spinbutton` only works with tab key.
- I am not using `aria-readonly` because I thought t

[2018-04-03 17:33] jessegreenberg opened #65 "Constant radius doesn't reset"
@jbphet and @arnabp were working and noticed that constant radius didn't reset after pressing "Reset All". @mbarlow12 can you please investigate?

[2018-04-03 20:52] emily-phet commented on #29
@mbarlow12 As @terracoda mentioned above, we'll want to double check that the wording from the static descriptions, and the wording in the keyboard help dialog match. The static descriptions are getting close, so it shouldn't be too much longer. Probably next week?

[2018-04-04 14:03] terracoda commented on #62
@jessegreenberg, I think the specs language is not clear.

It first says, "is not editable, but is otherwise operable" and then is says, "can read but not set the value."

Its possible that you/we are reading it too narrowly.

One may need to consider the actual element that is being set to be readonly. There are two ways to edit and operate a `spinbutton`.  In the case of a typical `spinbutton` i

[2018-04-04 14:54] terracoda commented on #62
@jessegreenberg, I just set-up two static examples for `spinbutton`, I get code error for the `button` example:
- Bad value spinbutton for attribute role on element button.
- Attribute aria-valuemin, aria-valuemax, aria-valuenow, aria-valuetext  not allowed on element button at this point.

Using invalid HTML to get the visual keyboard focus highlight when the cursor keys move virtual focus to a c

[2018-04-04 15:06] terracoda commented on #62
@jessegreenberg, here are the two examples I tested over in the a11y-research repo: [spinbutton examples](https://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/spinbutton/spinbutton-examples.html).

[2018-04-04 15:10] terracoda commented on #62
@jessegreenberg, I added the label type:bug, but I am not sure that's the best label.

Please re-assign to me if you have more questions.

[2018-04-04 15:47] jessegreenberg commented on #62
@terracoda yes I can do this, but just to clarify, this will make it impossible to discover the element with the virtual cursor (at least on NVDA). In this case, valid HTML is not supported by the AT. Are you OK with this?

[2018-04-04 16:20] terracoda commented on #62
@jessegreenberg, do you mean that

1. `<div role="spinbutton">Mass 1</div> is not discoverable and perceivable with the Arrow keys at all?, or
2. the `spinbutton` is not operable and therefore not editable with arrow keys when `aria-readonly="true"` is added to the element?

For case 1, this has to be an NVDA bug.

[2018-04-04 16:33] terracoda commented on #62
That is the weirdest bug, and I would think it would be high-priorty.
I just got an email from Quentin from NVDA today.

How do you normally submit bugs?

And regarding your question, since this sim is slated for release asap, it might be better to go with a button, but we need to make it clear that this is not a solution we can rely on, and that we have to watch it and do a maintenance release as

[2018-04-04 16:51] jessegreenberg commented on #62
Ahh, @terracoda it looks like this was a problem in NVDA 2017.4, but not in NVDA 2018.1.1, which was released last week! Latest NVDA does support this! In that case it is definitely best to use a `div`.

[2018-04-04 16:52] terracoda commented on #62
@jessegreenberg , awesome news!

[2018-04-04 16:57] terracoda commented on #62
Would you mind trying out the` aria-readonly` attribute if you haven't already. If it only prevents text-editing capabilities, I think it is worth implementing.

If it causes any other headaches, I can get clarification from an ARIA expert.

[2018-04-04 17:02] jessegreenberg commented on #62
Sure Ill give it a try! I am running into an issue with VoiceOver now, VoiceOver doesn't read the inner content on the `<div role="spinbutton">Mass 1 Control</div>`. @terracoda should we have a duplicate accessible name for VoiceOver? Actually,  I think that is what you were suggesting above:

[code]

[2018-04-04 17:05] jessegreenberg commented on #62
Using `aria-labelledby` makes it sounds nice in VoiceOver @terracoda.

[2018-04-04 17:17] jessegreenberg commented on #62
I tried aria-readonly with NVDA and Firefox. the attribute doesn't change how the element is announced, but it **does** change how the AT enters forms mode. With `aria-readonly` the only way to change the value is by pressing insert+n+spacebar to force forms mode. Without `aria-readonly`, NVDA enters forms mode on tab focus, and after pressing "enter" if navigating with the virtual cursor.

@terra

[2018-04-06 16:08] #65 closed

[2018-04-06 17:32] terracoda commented on #62
@jessegreenberg, this required forcing of forms mode does not seem so user friendly. I think it is likely better for users if we leave that off for now, and see what users do with the `spinbutton`. We'll have to keep an eye on how JAWS users interpret the default JAWS help text about editing the text. Hopefully, that information will not get in the way of their interaction. If and when it does we

[2018-04-09 19:30] arouinfar commented on #61
@terracoda and I met today to work on the static descriptions. The latest iteration can be found in the [GFLB a11y doc](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.8105qxybjgyi). Discussion should continue in the keyboard nav meeting, so I've added this issue to the agenda.

[2018-04-10 16:54] arouinfar commented on #29
As predicted by @emily-phet and @terracoda, we will need to make some adjustments to the wording in the keyboard dialog.
- [ ] Move Mass -> Moves Spheres (heading)
- [ ] Move mass -> Move sphere (item)

[2018-04-10 17:00] arouinfar opened #66 "Update strings in control panel"
While working on the static descriptions, we decided to make some changes to the checkbox strings. Show Values is a bit vague, because it toggles the magnitude of the forces only. Constant Radius may not be appropriate for younger learners, so we instead chose to describe it as constant size.

@mbarlow12 can you update the following strings?
- [ ] Show Values -> Force Values
- [ ] Constant Radius

[2018-04-11 20:29] arouinfar commented on #66
Great question @mbarlow12.

"Force Values" definitely works for all ISLC sims. We had considered keeping "Constant Radius" in GFL, as it targets an older audience, but I think "Constant Size" would work there too. For consistency, let's go ahead and apply these changes to all ISLC sims.

[2018-04-11 20:38] mbarlow12 commented on #66
Thanks! Will do.

[2018-04-30 17:44] arouinfar commented on #29
Looks great @mbarlow12!  I think we can go ahead and close this one. 😄

[2018-04-30 17:44] #29 closed

[2018-05-03 23:10] arouinfar opened #67 "Create sim primer"
For #16

- [x] Draft script - 6/5/18
- [x] Record rough version for script verification - 6/7/18
- [x] Review script verification draft, and adjust script as necessary - 6/7/18
<s>Record another draft</s>
<s>Review 2nd draft</s>
- [x] Produce primer and upload 6/13/18
- [x] Caption primer 6/13/18

[2018-05-03 23:11] arouinfar commented on #67
Should be done in conjunction with https://github.com/phetsims/gravity-force-lab/issues/97 and https://github.com/phetsims/coulombs-law/issues/56.

[2018-05-24 18:05] jessegreenberg commented on #61
Today @arouinfar mentioned that static descriptions for this sim are ready to implement. @arouinfar are the latest descriptions still in [GFLB a11y doc](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.8105qxybjgyi)?

[2018-05-24 21:54] jessegreenberg commented on #62
@terracoda working on this now, going to test it everywhere just to make sure. I think that sounds good (minus the use of aria-readonly).

[2018-05-24 22:30] jessegreenberg commented on #62
Got the above working,  sounds excellent in VO with Safari, NVDA and JAWS with FF 60! No longer using aria-live as a workaround. Great work @terracoda! I am going to commit it here soon.

[2018-05-24 22:39] jessegreenberg commented on #62
@terracoda can you please give it a listen? If all sounds well I think this issue can be closed.

[2018-05-25 00:56] terracoda commented on #62
@jessegreenberg thanks! I'll test and report back tomorrow.

[2018-05-29 20:46] arouinfar opened #68 "Create LoL Icons & Descriptions"
For #16

[2018-06-01 22:31] arouinfar commented on #61
In working on the static descriptions for Coulomb's Law https://github.com/phetsims/coulombs-law/issues/43, we made a few decisions that would also apply to GFLB. I've updated the GFLB a11y design doc to reflect these changes. @mbarlow12 no further changes are anticipated at this time.

[2018-06-04 19:42] arouinfar opened #69 "Constant Size on by default?"
Mass and size can be conflated by some students, which was (part of) the [original motivation](https://github.com/phetsims/gravity-force-lab/issues/36) for adding the Constant Size feature to GFL.

When reviewing the interview with an 8th grader, I noticed that the student initially cited "size" as one of the variables which affects the force. While I'm a bit hesitant to read much into N=1, I do w

[2018-06-05 19:42] ariel-phet commented on #69
@arouinfar my personal opinion goes something like this....

I do think it is OK if at first a young student thinks of "size" as being a variable that affects the force. In this case, I think size is a proxy for mass. Students are generally familiar with the idea that as similar objects grow larger, they get "heavier". So I actually think it is a good starting point.

I think the beauty of having

[2018-06-05 22:05] arouinfar commented on #69
@ariel-phet you make some great points, particularly:

Rather than making Constant Size on by default, I can instead make some adjustments to the teacher materials I've been working on.

[2018-06-05 22:05] #69 closed

[2018-06-05 22:44] arouinfar commented on #67
@CWilson4960 the script for GFLB is ready for recording.

Here's a dev version you can use for recording.
https://bayes.colorado.edu/dev/html/gravity-force-lab-basics/1.0.0-dev.22/phet/gravity-force-lab-basics_en_phet.html

[2018-06-13 20:37] arouinfar commented on #67
The primer has been recorded and uploaded to Vimeo, but is awaiting sim publication.

[2018-06-13 20:38] arouinfar commented on #67
Since the sim primer is in the master checklist, I'll go ahead and close this issue.

[2018-06-15 16:55] arouinfar commented on #68
Icons and descriptions have been created.

[2018-06-15 16:55] #68 closed

[2018-07-02 12:10] emily-phet commented on #42
@lmulhall-phet can you give me an update on this asap?

[2018-07-02 15:30] lmulhall-phet commented on #42
@emily-phet, I was under the impression that QA was going to get another issue to test GFLB, but I talked to @jbphet this morning, and it seems like the testing was done in phetsims/QA/issues/97.

If this is not correct, let me know. @phet-steele might be more familiar with GFLB and whether it requires further testing.

[2018-07-17 20:06] jessegreenberg commented on #62
Number tweakers have been generally implemented and fixed up  in https://github.com/phetsims/area-model-common/issues/150, I think this issue can be closed.

[2018-07-17 20:06] #62 closed

[2018-07-17 20:07] jessegreenberg commented on #61
7/17/18 - this sim will get redeployed without a11y initially, a later version of the sim will include description and keyboard navigation.

[2018-07-17 20:09] jessegreenberg commented on #24
@phet-steele @lmulhall-phet do you know why this is on hold? Maybe because the mass colors have changed since https://github.com/phetsims/gravity-force-lab-basics/issues/24#issuecomment-359563000?

[2018-07-17 20:10] arouinfar commented on #24
@jessegreenberg my guess is that screenshot issues are generally put `on-hold` until a sim reaches RC, at which point there aren't likely to be any further design tweaks.

That said, I would still go with these screenshots, albeit taken from the latest version.

[2018-07-17 20:11] jessegreenberg opened #70 "What else is needed to deploy this simulation?"
On 7/17/18, it was discussed that this 1.0 version of this sim is not going to include a11y. @ariel-phet @arouinfar @mbarlow12 is anything else needed to deploy this sim? gravity-force-lab-basics received a code review.

[2018-07-17 20:14] lmulhall-phet commented on #24
Yeah, we usually try to take screenshots right after we're done with the last round of RC.

[2018-07-17 20:16] arouinfar commented on #70
@jessegreenberg I'd like to a review of the latest dev and give it my final sign-off before moving forward with QA testing.

[2018-07-17 20:17] jessegreenberg commented on #70
Thanks @arouinfar, here is the latest dev version (built 7/16/18).
https://bayes.colorado.edu/dev/html/gravity-force-lab-basics/1.0.0-dev.24/phet/gravity-force-lab-basics_all_phet.html

The last dev test of gravity-force-lab-basics was dev.20 - we are now up to dev.24. I also think we should review commits between the two versions and determine if we should do another dev test.

[2018-07-17 20:20] arouinfar commented on #70
Thanks for the link @jessegreenberg.

I think most of the changes between dev.20 and dev.24 were pixel-polishing, but it would be good idea to take a look at the commits just to be sure.

[2018-07-17 21:17] arouinfar commented on #70
@jessegreenberg dev.24 looks good to me! I think it's ready for QA.

Is the plan to publish the sim with keyboard nav enabled? It seems to be working properly, and the dialog is up-to-date, so I don't see why not.

[2018-07-17 21:20] arouinfar commented on #70
The only caveat for the keyboard dialog is that we plan to make some general changes, as described in https://github.com/phetsims/a11y-research/issues/113, but the current dialog is formatted consistently with already-published keyboard navigable sims so I don't think it's an issue.

[2018-07-18 20:42] arouinfar commented on #70
That's a really good point @ariel-phet. It probably makes the most sense to disable the keyboard nav until the descriptions are being worked on, but let's see what @emily-phet recommends.

[2018-07-24 05:51] mbarlow12 commented on #70
@ariel-phet @jessegreenberg was the decision that GFLB would also get another code review prior to RC testing?

[2018-07-24 18:52] jessegreenberg commented on #70
We discussed this in a 7/24/18 a11y meeting. @emily-phet said that if there is nothing known that would block keyboard navigation for this sim, then there is no reason to not publish it with keyboard nav. We should go ahead and include keyboard navigation in the QA testing for this simulations release. There is more work to be done for coulombs-law keyboard navigation so we will not include it in

[2018-07-24 20:45] emily-phet commented on #70
Let me know if there are questions about this decision.

[2018-07-28 00:18] zepumph opened #71 "innerContent needed for items in the keyboard help dialog"
I updated HelpContent.labelWithIcon so that it requires innerContent (to help catch bugs like this). Here is what the PDOM looks like when I use just a place holder for the innerContent:

![image](https://user-images.githubusercontent.com/6856943/43350974-8cf7211c-91b8-11e8-90b1-2d6e0c0e5bc1.png)

@emily-phet I'm not sure who to assign this to, so it's coming to you. This would need to be done bef

[2018-07-28 00:18] zepumph commented on #71
Found from https://github.com/phetsims/scenery-phet/issues/391

[2018-08-20 16:55] jessegreenberg commented on #71
While reviewing https://github.com/phetsims/scenery-phet/issues/391 I found this content in https://github.com/phetsims/gravity-force-lab-basics/issues/29#issuecomment-364934762 from https://github.com/phetsims/gravity-force-lab-basics/issues/29.

[code]

Ill add it quickly so we can continue in https://github.com/phetsims/scenery-phet/issues/391.

[2018-08-20 17:18] jessegreenberg commented on #71
Done in the above commit.

[2018-08-20 17:18] #71 closed

[2018-08-29 22:17] arouinfar commented on #70
Seeing CL make some progress this week has gotten me curious about the status of GFLB.

It sounds like this sim doesn't require another code review, so are we ready to move forward with QA testing @mbarlow12 @jessegreenberg?

[2018-09-20 18:59] jessegreenberg commented on #70
Sorry for the delay @arouinfar, I think that this sim is ready. But I would recommend a dev test first, there have been common code changes to ISLC and ACcessibleSlider (at least).

[2018-09-20 19:04] arouinfar commented on #70
Excellent, thanks @jessegreenberg! I think QA is relatively quiet, so I'm sure they'd appreciate seeing this come up for a dev test -- I know I would! :)

[2018-09-20 19:11] jessegreenberg commented on #70
OK great! @mbarlow12 could you please create a dev test for this sim? I think the QA team has a new template for dev tests we can give it a test drive here.

https://github.com/phetsims/QA/blob/master/issue-templates/dev-test-template.md

[2018-10-03 18:05] mbarlow12 commented on #70
New dev test issue created at:
https://github.com/phetsims/QA/issues/199

There's also a fresh dev version:

https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.0.0-dev.26/phet/gravity-force-lab-basics_en_phet.html

[2018-10-03 21:07] arouinfar opened #72 "[Keyboard Nav] Change default step size for position sliders to 0.2 km"
For https://github.com/phetsims/QA/issues/199

@mbarlow12 for GFL, @terracoda suggested a default step size for the sphere position sliders to be 0.2 m, with the shift increment being 0.1 m.  I quite like that suggestion, and think it should also apply to GFLB, with the default step size being 0.2 km.

Additionally, a step of 0.2 km would correspond to the tick marks on the ruler, and would still

[2018-10-05 14:53] KatieWoe opened #73 "Enter doesn't select check boxes"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/199.
Mostly a question.  I have noticed that, while you can select and unselect checkboxes using keyboard nav with the space bar, you can't use the enter key.  This seems odd to me as you can use enter for the reset all button and I believe you can use it

[2018-10-05 20:03] KatieWoe opened #74 "Mouse over behavior remains when mouse disappears"
**Device**
MacBook Air
**OS**
10.14
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/QA/issues/199 likely shows up in other sims as well.
Certain elements change visually when moused over.  In this sim mousing over the mass controls causes half of the number to look red or blue, depending on the control.  If this occurs and the control method shifts in a way that makes t

[2018-10-05 23:24] KatieWoe opened #75 "Person goes slightly off screen on iPad"
**Device**
iPad Air 2
**OS**
iOS 12
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/199
When the person pushing/pulling an orb is on the very side of the screen, it is possible to make them lean off screen.  This does not affect the performance or usability of the sim.
**Steps to Reproduce**
1. Enter sim on an iPad
2. Pull both orbs as far left as they will go.

[2018-10-05 23:55] arouinfar commented on #75
Nice find @KatieWoe. While this is not strictly a usability issue, I do find it a bit odd.

Comparing to other ISLC sims, GFLB appears to be the outlier.

![image](https://user-images.githubusercontent.com/8419308/46564909-a9588d00-c8c7-11e8-9b36-96174218edea.png)
![image](https://user-images.githubusercontent.com/8419308/46564911-b07f9b00-c8c7-11e8-8813-c501603bc796.png)

Is it possible that the

[2018-10-10 19:04] mbarlow12 commented on #74
This is a little tricky as its handled within `NumberPicker` by `updateColors()` internally, so I'm not sure how we'd access the blue/red highlights from a `blur` event in the sim. I _think_ that the mouse is still technically 'over' the number picker.

I was tinkering within number picker with a blur event, and what results is that the styling is removed; however, when the mouse moves again, it h

[2018-10-10 19:11] arouinfar commented on #74
For the first method (mouse + keyboard), this sounds correct, but is this true even for the alternative method described by @KatieWoe? Shouldn't the touch event move the cursor?

@KatieWoe can you reproduce the alternative method for a sim with a `NumberPicker` (e.g. Proportion Playground)?

[2018-10-10 19:33] KatieWoe commented on #74
@arouinfar just checked on published Proportion Playground and the multitouch method of producing this effect happens there too.

[2018-10-10 19:42] mbarlow12 commented on #74
@arouinfar @KatieWoe the second situation does seem more problematic, but I'm pretty unfamiliar with touch screen + mouse interaction. Can we confirm whether the touch event moves the cursor?

[2018-10-10 19:50] arouinfar commented on #74
I had that exact same question @mbarlow12, so I followed up with @KatieWoe. It appears that a touch event doesn't actually move the cursor position.

For example:
* Use the mouse to press `ResetAllButton`
* Use touchscreen to interact with some other UI element elsewhere in the sim
* Moving the mouse, the cursor is still located near `ResetAllButton`

Given that touch and keyboard events do not mo

[2018-10-10 19:50] #74 closed

[2018-10-10 19:59] mbarlow12 commented on #74
Thanks @arouinfar @KatieWoe!

[2018-10-10 22:01] mbarlow12 commented on #72
@arouinfar default keyboard step size updated. May require some tweaks to GFL & CL (but they appear ok at the moment). Feel free to review and close.

[2018-10-10 22:02] mbarlow12 commented on #73
Appears to be the same as phetsims/coulombs-law#69. Closing.

[2018-10-10 22:02] #73 closed

[2018-10-10 22:30] mbarlow12 commented on #75
Good point. I noticed in GLF it's set to 4.8, so this adjustment makes sense. Thanks!

[2018-10-10 23:01] arouinfar commented on #72
@mbarlow12 the step size can apply to all ISLC sims. Generally speaking, the shift increment should move to the adjacent gridline, while arrows would skip over a gridline.

I tested master after https://github.com/phetsims/gravity-force-lab-basics/commit/b5209a002ea7c2572b10e2c4155f1c4f2a6bcd14, but I'm still noticing a few strange issues.

## Case A

If the distance between the masses is odd (bec

[2018-10-11 11:06] terracoda commented on #72
If I am understanding this right, I think the default step size (no shift key) should always be 0.2 km unless 0.1 kilometers from an edge in which case the next step will go 0.1 km as that is all that is possible in that step.

And when using the shift key, the step is always 0.1 km.

[2018-10-11 15:38] arouinfar commented on #72
That's correct @terracoda. Currently, the shift modifier is working exactly as it should.

If the mass is at an edge (approaching edge of screen or the other mass), then it's acceptable for the arrow key to move 0.1 km instead of 0.2 km. However, there are just a few strange cases where an arrow key only moves 0.1 km, even though there is room for the mass to move 0.2 km.

[2018-10-11 16:55] mbarlow12 commented on #72
This is an artifact of the way we implement accessible sliders. Note that in Ohm's law, if you increment with shift from 4.5V to 4.4V then press down again, you jump to 4.0V not 3.9V. This is effectively the same behavior.

@jessegreenberg would you like to pair on this later today or discuss at our a11y meeting tomorrow? One option might be to make a more generic unconstrained slider type that do

[2018-10-11 17:39] arouinfar commented on #72
Thanks for the clarification @mbarlow12.

It might be worthwhile to have a general conversation about accessible sliders, because the behavior in https://github.com/phetsims/gravity-force-lab-basics/issues/72#issuecomment-428761885 seems a bit odd to me.

That said, I don't think it's particularly harmful, so I don't think it's worth representing the masses as some other element.

[2018-10-11 17:57] jessegreenberg commented on #72
@mbarlow12 I agree with https://github.com/phetsims/gravity-force-lab-basics/issues/72#issuecomment-429033850, this is the behavior for accessible sliders right now. The step size is not only the delta for the value, but the value will always be rounded to the nearest step size on change.

Maybe `roundValue` could just be optional, set to false here?  Maybe that option should default to false, bec

[2018-10-11 18:47] mbarlow12 commented on #72
@jessegreenberg I actually think this is pretty straightforward to update, but I'd want to to double check the desired behavior for the common code elements. Right now the direct usages are in: FaucetNode, NumberControl, SpectrumSlider, and Slider.

Aside from that, it's only used in john-travoltage, area-model-common, and inverse-square-law-common.

[2018-10-11 19:02] mbarlow12 commented on #75
I believe this is fixed. @arouinfar @KatieWoe can we close this issue?

[2018-10-11 19:12] arouinfar commented on #75
@mbarlow12 I am unable to reproduce the original issue.

The figure's shadow does get slightly clipped, but I would prefer to keep `MAX_DISTANCE_FROM_CENTER` as large as possible.

![image](https://user-images.githubusercontent.com/8419308/46827842-ed7bdf80-cd56-11e8-93f6-5b5d4ae084a4.png)

@KatieWoe can you check this on iPad?  If the situation looks like the screenshot above, please close.

[2018-10-11 19:19] jessegreenberg commented on #72
Sounds great! I almost think that the default should be false. Normal sliders that will have shift + non shift steps probably wouldn't want rounding for the same reasons as this sim. Then we would just need to have roundValue: true in OL and RIAW SliderUnits. Thoughts?

[2018-10-11 19:21] KatieWoe commented on #75
Looks about right on master.

[2018-10-11 19:21] #75 closed

[2018-10-11 19:46] mbarlow12 commented on #72
I had assumed that since the existing implementations are using the rounding, they should all be passed true. Definitely not sure for FaucetNode and Area Model Common.

Some questions that might help determine when rounding is necessary:
1. Are the specific values pedagogically significant?
2. Is the slider essentially a freely moving object with restricted movement (e.g. JT & CL/GFL:B)?
3. Is/are

[2018-10-11 20:33] mbarlow12 commented on #75
@arouinfar I added a little tweaking to the shadows so they sit a little more directly underneath the pullers.

[2018-10-11 21:34] arouinfar commented on #75
Looks good @mbarlow12, thanks!

[2018-10-12 17:28] jessegreenberg commented on #72
Discussed during an a11y dev meeting, we agree that the default should be false, but existing implementations should remain as they are to avoid disruption.

[2018-10-16 17:06] mbarlow12 commented on #72
@jessegreenberg I've added the option in the above updates. All existing uses of AccessibleSlider are setting `roundToStepSize` to true to maintain the current functionality. Would you be willing to review?

[2018-10-16 20:42] arouinfar opened #76 "Add shift modifier to keyboard dialog"
Similar to the request in https://github.com/phetsims/coulombs-law/issues/58#issuecomment-430391839

Now that the shift modifier is no longer redundant (see #72), the keyboard dialog should include this command (just after `Move sphere`).

* Move in smaller steps [Shift] + [left][right]

[2018-10-23 14:18] arouinfar commented on #72
I believe this is the only remaining issue before GFLB moves into RC. @jessegreenberg do you think this is something you'll be able to review?

[2018-10-23 14:35] jessegreenberg commented on #72
Sure thing, Ill take a look now.

[2018-10-23 15:11] jessegreenberg commented on #72
Commits looks great, the only thing I did was move the roundToStepSize option to the options block for things in scenery-phet. I am still not sure whether this should be enabled by default for things like FaucetNode and SpectrumSlider, I could imagine those sliders having issues like this one. But we can discuss that at meeting today, and I don't think there is anything left to do for gravity-forc

[2018-10-23 16:12] mbarlow12 commented on #72
Thanks @jessegreenberg. I think the commit was referenced in a different issue; linking here for record keeping: https://github.com/phetsims/scenery-phet/commit/6ab271b54ba0b97ad2601fecbd6ab88b17a296f6.

I'll review the dev test issues and release a new dev version today.

[2018-10-23 16:17] jessegreenberg commented on #72
Discussed in a11y meeting today. Ill go ahead and remove the snapping from all things in scenery-phet (everything else mixing in AccessibleSlider is sim specific, and should be investigated on a case by case basis).

[2018-10-23 16:21] arouinfar commented on #76
Tagging https://github.com/phetsims/QA/issues/199

[2018-11-01 17:53] mbarlow12 commented on #72
New dev version to confirm the issues are fixed:

https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.0.0-dev.28/phet/gravity-force-lab-basics_en_phet.html?ea&a11y

[2018-11-01 18:00] mbarlow12 commented on #76
New dev release for review:

https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.0.0-dev.28/phet/gravity-force-lab-basics_en_phet.html?ea&a11y

[2018-11-02 00:28] arouinfar commented on #72
Looks great!

[2018-11-02 00:28] #72 closed

[2018-11-02 14:27] terracoda opened #77 "Content changes for GFLB's PDOM (e.g. deviations from GFL's PDOM)"
PDOM implementation of static and dynamic descriptions has begun for GFLB based on work completed for GFL. In an email we discussed some needed changes that are in progress. Here's a list of things I noticed on master November 2, 2019.

**Edited screen summary from the GFLB design document:**

- [x] names of masses should be: mass 1 blue sphere and mass 2 red sphere
- [x] remove the sentence about

[2018-11-02 14:28] terracoda commented on #77
@mbarlow12, check items off as you go, and I'll verify when you are ready.

[2018-11-04 20:34] terracoda commented on #77
@mbarlow12, thanks for getting this updated. Sounds really good. I'll go ahead close this issue.

[2018-11-04 20:34] #77 closed

[2018-11-06 12:40] #43 closed

[2018-11-06 12:41] emily-phet commented on #42
this issue is old - phet-io and wrapper was complete awhile back.

[2018-11-06 12:41] #42 closed

[2018-11-06 12:43] emily-phet commented on #61
This sim is getting full description and sound. Closing this issue, as full description work will be tracked in other issues.

[2018-11-06 12:43] #61 closed

[2018-11-06 14:16] terracoda opened #78 "Where should distance go in the PDOM?"
The description for the distance between the center of the spheres is currently out of place.

I'm not sure exactly where to put it, so marking this as discussion point for today's Design Meeting.
<img width="460" alt="screen shot 2018-11-06 at 3 07 01 pm" src="https://user-images.githubusercontent.com/1902116/48069764-8971fd00-e1d6-11e8-8e6a-6215520cc105.png">

[2018-11-07 20:57] terracoda commented on #78
@terracoda will make sure design doc for this is clear.

[2018-11-14 23:10] terracoda opened #79 "What should be the range for Mass 1 position slider?"
@arouinfar is it ok to have a zero kilometer mark in this simualtion? I think in gravity-firce-lab the actual range is a little less than 10 meters 0.2 meters to 9.8 meters.

Not specifically for this issue, but in other circumstances @emily-phet mentioned to me that PhET sims generally avoid zero values. Since this is a kilometer mark (a position value) and not the actual distance value used in t

[2018-11-14 23:54] arouinfar commented on #79
@terracoda due to https://github.com/phetsims/gravity-force-lab-basics/issues/75, the maximum distance between the masses was reduced to 9.6 km in GFLB and 9.6 m in GFL. The max distance remains 10 cm/pm in Coulomb's Law because the the charges do not change radius, so the figures don't end up getting pushed off-screen.

For all of these sims, the underlying gridlines are equally spaced, in the se

[2018-11-15 09:21] terracoda commented on #79
@arouinfar, great. I agree, let's start positions at zero, that does indeed seem like the most natural way to do it.

So the position ranges in GFL will be  0 meters to 9.6 meters, in GFL:B 0 km to 9.6 km (no change needed), and 0 cm to 10 cm in CL when we get there.

And the distance between the objects, which is the meaningful value for these equations, is never a zero value.

Thanks @arouinfar!

[2018-11-15 09:34] terracoda commented on #79
@mbarlow12, no need to change range of mass 1 sphere's position as it is correct at 0 km to 9.6 km. I will close this issue and open a new issue for https://github.com/phetsims/gravity-force-lab/issues repo.

[2018-11-15 09:34] #79 closed

[2018-12-12 21:15] terracoda opened #80 "Dynamic help text for Mass slider controls is backward"
The help text is correct in Gravity Force Lab, but in Gravity Force Lab Basics, the strings are the wrong way around.

The help text should say "change density" when Constant Size is checked and "change mass" when Constant size is unchecked.

Likely just a little copy and paste error. Please re-arrange like it is in GFL.
<img width="861" alt="screen shot 2018-12-12 at 10 08 43 pm" src="https://use

[2018-12-14 16:16] terracoda commented on #80
@mbarlow12, I should have referenced the issue over in GFL. Here is the related issue
https://github.com/phetsims/gravity-force-lab/issues/123

[2019-01-08 11:32] emily-phet commented on #70
This sim will be published with full description, alternative input, and sound. Closing this issue, as it seems to be mostly about publishing with alternative input only.

[2019-01-08 11:32] #70 closed

[2019-01-08 15:09] terracoda commented on #78
I think the paragraph describing distance should come right after the H3 heading for Sphere Positions.

And it could also be an alert when the Distance checkbox is checked.

[2019-01-11 11:54] terracoda opened #81 "Change m1 and m2 to mass 1 and mass 2"
@zepumph, I just noticed that m1 and m2 are being used in the h3 headings that describe the spheres.
Please change the content of the h3 headings to:
- mass 1, Blue Sphere
- mass 2, Red Sphere

<img width="967" alt="incorrect-h3-heading-content" src="https://user-images.githubusercontent.com/1902116/51031615-6defed80-159d-11e9-9cfd-8d8447b2296c.png">

Note that there are other places where m1 and

[2019-01-11 12:02] terracoda commented on #78
A dynamic paragraph containing the distance between the two spheres is to go under the Sphere Positions h3 heading in the PDOM, and before the paragraph containing the help text for the sphere position sliders.

I have updated the design document, see [Sphere Positions in PDOM section](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.7pi83hpdmyxw).

As

[2019-01-11 12:05] terracoda commented on #78
The rough HTML goes like this:
H3: Sphere Positions
P: Centers of spheres are {{4}} kilometers apart.
P: Move spheres closer or farther from each other.
Input type range: mass 1 position, slider
Input type range: mass 1 position, slider

[2019-01-11 12:15] terracoda opened #82 "Remove stray pair of UL tags around sphere position sliders"
Just noticed a stray set of UL tags which is likely a left over from when the 2 sliders were actually housed within a list structure.

Please remove the `<ul>` and the `</ul>`.

<img width="706" alt="stray-ul-sphere-positions" src="https://user-images.githubusercontent.com/1902116/51033233-fae97580-15a2-11e9-998e-d8d93cbe0678.png">

[2019-01-11 12:20] terracoda opened #83 "All instances of "further" should be "farther""
Apologies that I miss-spelled "farther" in several places in the design document.

Please change all instances of "further" to "farther".

This is of course, the same for both GFL:Basics and GFL regular. I think I have already noted the changes in an issue in the GFL repo.

[2019-01-11 15:12] terracoda opened #84 "Progress on description implementaion for this sim"
On October 25, 2019 this sim was published with Alternative Input, Sonification, Interactive Description, and Interactive Description on Mobile

This sim is being outfitted for the following accessibility features:
- [x] Keyboard Navigation - Alternative Input
- [x] Simple Description - Minimal Static State Descriptions
- [x] Full Description - All State & Responsive Descriptions
- [x] Sonificatio

[2019-01-11 15:13] terracoda commented on #84
@zepumph, I am still working on this check list and will be making sure it is up to date for our meeting next week.

[2019-01-14 14:48] terracoda opened #85 "Update UI interaction alerts for the Distance checkbox"
Please update the alerts that describe the state change when the Distance checkbox is unchecked and checked:
- When unchecked replace: “Distance arrow removed.” with "Distance hidden."
- When checked replace “Distance arrow visible." with "Distance shown in kilometers."

Change also noted in design document.

[2019-01-15 14:52] terracoda opened #86 "Implement wording simplications for Gravity Force Lab:Basics"
@kathy-phet and @ariel-phet, I laid out side-by-side examples for wording simplifications between GFL Basics and GFL in the GFL Basics A11y Design Document.

I have the following design questions regarding wording simplifications. Please answer the 4 questions, or let me know if I should request design time?

If you go to the design document to see the examples, please try to focus on the 4 questi

[2019-01-16 01:08] zepumph commented on #84
Sounds good. Unassigning for now, let's talk more about it tonight.

[2019-01-16 01:17] zepumph commented on #85
Implemented above.

[2019-01-16 05:05] zepumph commented on #47
Demoting priority for now.

[2019-01-16 05:16] zepumph commented on #81
After speaking with @terracoda, she will note any more cases she finds in this issue.

[2019-01-16 05:37] zepumph commented on #78
1. Move `masses are 4 km apart` in between "Sphere Positions" and the help text (Move spheres, closer or further from each other). It will also need rewording (in the design document).
2. "‪mass 1‬ and ‪mass 2‬ are extremely close each other, centers exactly 4 kilometers apart." Remove ", centers exactly 4 kilometers apart"

@terracoda will add more nuances as she encounters them.

[2019-01-16 06:33] terracoda commented on #85
@zepumph, I have verified the new alert strings. Sounds great! Thanks. Closing issue.

[2019-01-16 06:33] #85 closed

[2019-01-16 07:15] terracoda commented on #86
@arouinfar, thanks for self-assigning! In retrospect I should have assigned to you first.

[2019-01-16 14:30] mbarlow12 commented on #80
@zepumph I agree this is an easy switch. I used a lot of ternary ops in the sims, so I think this will be a very quick fix.

[2019-01-16 17:03] ariel-phet commented on #86
@terracoda

1. Force arrow is reasonable terminology

2. Strength is OK. Size might also work. Value would also be appropriate terminology.

3. Again, I think this simplification would be OK.  I probably lean towards size or value more than strength.

[2019-01-17 00:57] arouinfar commented on #86
No worries! I saw this issue pop up in my inbox, and self-assigned so I wouldn't forget about it. The tables were super handy for comparing the two sims too.

In general, I agree with @ariel-phet's https://github.com/phetsims/gravity-force-lab-basics/issues/86#issuecomment-454857724.

I slightly prefer "size" to "strength", but I'm not much of a fan of "value".

These are the phrases currently sho

[2019-01-17 10:00] terracoda commented on #86
@ariel-phet and @arouinfar thanks for the comments!

[2019-01-18 13:58] terracoda commented on #81
@zepumph, I found another place where the m1/m2 mass1/mass 2 change needs to happen:

When the alert that fires when the Constant Size checkbox is checked, see screenshot. The alert content is correct when Constant size is unchecked. The alert content in the case of the Constant Size checkbox is dynamic. This may be the reason. There might be something connecting both Regular and Basics here?
<img

[2019-01-18 14:07] terracoda commented on #81
@zepumph, I was mistaken, the alert that actually has dynamic content (unchecked state) is correct, but the checked state which is not dynamic is incorrect. Perhaps it is because it is static that it is the same in both sims?

[2019-01-21 10:46] terracoda opened #87 "Remove described qualitative size of sphere in mass spheres' dynamic descriptions"
@zepumph, in issue https://github.com/phetsims/gravity-force-lab/issues/128 qualitative size was correctly removed from the `aria-valuetext`, however, I would also like it removed from dynamic descriptions in the PDOM for both simulations, BASICS and REGULAR.

I am adding screen shots for both sims, red lines strike out the size information that I would like removed.

**GFL BASICS**
<img width="10

[2019-01-21 10:47] terracoda commented on #87
@zepumph, because this change is the same for both sims, I think it might be an easy one to implement.

[2019-01-21 12:17] terracoda opened #88 "Distance Ranges: Add new ranges for described distance (changed title)"
I have already identified several places in PDOM where the distance value will be hidden when the Distance checkbox is not checked (@terracoda to add a list here)

I still need to work out, however, how the Distance checkbox will affect the `aria-valuetext` of the position/distance sliders.

I will work this out in the design doc and then update this issue. Mentioning you, @zepumph, as heads-up as

[2019-01-21 12:34] terracoda commented on #82
@zepumph, likely directly unrelated, but I thought it was worth mentioning here that there is a code clean-up issue in REGULAR as well (see issue https://github.com/phetsims/gravity-force-lab/issues/132#issuecomment-454675666), but it that issue the mass sliders are missing the parent `ul`.

[2019-01-21 12:50] terracoda opened #89 "Adjust slider/spinbutton values and alerts to jump to latest value (prevent pile up of stale alerts)"
This sim will benefit from timing adjustments when reading out the slider values and spinbutton values. The adjustments should limit the number of values and alerts that pile up in the utterance queu when a person is using the keyboard and changing position or changing mass quickly.

I think we made similar adjustments in John Travoltage & Resistance in a Wire.

I think these are possible related

[2019-01-22 11:25] terracoda opened #90 "Edge case alerts when changing mass need some corrections"
As I mentioned in https://github.com/phetsims/gravity-force-lab/issues/135#issuecomment-456363119, these edge case alerts have been correctly implemented in REGULAR, but are not always correct over here in BASICS. This might be due to lack of time for @mbarlow12 to finish these edge cases for both sims.

Here are screen shots of BASICS showing where the alerts are correct and incorrect.

@zepumph,

[2019-01-22 14:29] terracoda opened #91 "Sphere movement described when no movement occurs"
This issue is related to #90 and perhaps https://github.com/phetsims/gravity-force-lab/issues/135, too.

Earlier today I noticed this, and I accidentally deleted my issue without realizing it.

I noticed that movement was being described in the alert when movement was not not happening (see screen shot of a11y view). I am now having trouble reproducing this issue, though I was able to reproduce it

[2019-01-25 22:07] zepumph opened #92 "convert repo to es6"
This is for the best, but it is definitely a chip away issue

[2019-01-25 22:10] zepumph commented on #78
RE number 1:

In the code it was easiest to put the help text and this distance description into the same paragraph, like
![image](https://user-images.githubusercontent.com/6856943/51775128-23906580-20a1-11e9-93ab-6b4fee972c8e.png)

The reasoning is that right now it is all one node, from top to bottom it is the label sibling, the description sibling, and then the primary sibling:

![image](https:

[2019-01-25 22:13] zepumph commented on #78
RE number 2:

@terracoda I didn't know if you wanted that piece completely removed, or just removed in GFLB. Can you disambiguate for me please?

[2019-01-25 22:21] zepumph commented on #80
simple swap, please review @terracoda.

[2019-01-25 23:42] zepumph opened #93 "{{changeDirection}} leaking to alerts"
Notice in this setting: ![image](https://user-images.githubusercontent.com/6856943/51778641-580b1e00-20af-11e9-8e04-ebfba2dff7a6.png)

`As mass gets smaller, vectors {{changeDirection}}.`

I'm not sure if there is another issue for this, and I'm also not sure if this effects REGULAR. I'll investigate more in the future, but for now I don't want to get to side tracked.

[2019-01-25 23:46] zepumph commented on #81
I hope that there are no more version of m1 and m2 in GFLB. Please double check for me and review @terracoda.

[2019-01-25 23:56] zepumph commented on #83
I saw three instances in the suite, changed above. Over to you @terracoda.

[2019-01-26 00:38] zepumph opened #94 "Distance: Update Dynamic Description of the Mass Spheres"
From https://github.com/phetsims/gravity-force-lab-basics/issues/86

**The Dynamic Description of the Mass Spheres**
Note that in the default state, the list in REGULAR has 3 bullets and in BASICS the list has 4 bullets. Different states of this list are explained in the design document. Here's one example for the default state with 3 bullets for REGULAR:
- Change the following 3 bullets in REGULA

[2019-01-26 00:38] zepumph commented on #94
needs to be done before interview start

[2019-01-26 00:45] zepumph commented on #86
@terracoda please review everything that won't be handled by #94. It should all be done at this point.

I did see one more usage of "vecors"

![image](https://user-images.githubusercontent.com/6856943/51780078-116df180-20b8-11e9-9bd7-6bdba4a85658.png)

It occurs from an alert that is triggered when you stop dragging a mass slider, but the position hasn't changed

(note to self `regionForceClausePa

[2019-01-26 00:45] zepumph commented on #94
I didn't have time to tackle this today, but will look at it first thing next week.

[2019-01-27 09:12] terracoda commented on #78
@zepumph, great question.

We can keep the distance phrases in GFL REGULAR as there is no checkbox to remove distance in that sim, and we want the use of the ruler to be completely optional for non-visual users.

In GFL BASICS, I would like the quantitative distance phrase removed from the PDOM (here at the front of the sphere positions help text), when the Distance checkbox is not checked. This r

[2019-01-28 12:50] terracoda commented on #80
The swap is perfect. Thanks @mbarlow12 and @zepumph!
Closing.

[2019-01-28 12:50] #80 closed

[2019-01-28 13:12] terracoda commented on #81
@zepumph, did you push your changes?
I still see and hear "m1 and m2 set to same size." when toggling the Constant Size to a checked state. See a11y view and voice over:
<img width="874" alt="screen shot 2019-01-28 at 2 03 24 pm" src="https://user-images.githubusercontent.com/1902116/51838324-41aacf80-2306-11e9-838f-187fb601fed6.png">

<img width="603" alt="screen shot 2019-01-28 at 1 58 57 pm" sr

[2019-01-28 13:42] terracoda commented on #81
As I just said, I think you got everything except the _Constant-Size-checked_ alert.

The only other possible place where "m1" or "m2" might show up is in the Mass edge-case alerts where an increase in the mass of one sphere moves the opposite sphere left or right. These Mass edge-case alerts are not yet working in GFL:BASICS. Here is an example from GFL REGULAR for reference.

**Interaction:** As

[2019-01-28 13:54] terracoda commented on #83
@zepumph, I think you got all the "furthers" in both REGUKLAR and BASICS! Thanks for correcting this for me!
Closing.

[2019-01-28 13:54] #83 closed

[2019-01-28 14:00] terracoda commented on #93
Just an FYI, @zepumph, I saw/heard that phrase on Friday (or Satuday) when I was testing, but I haven't heard {{changeDirection}} come through when testing today.

[2019-01-28 14:14] terracoda commented on #86
@zepumph, I have to review the position alerts, including the one you mention above in https://github.com/phetsims/gravity-force-lab-basics/issues/86#issuecomment-457782990 which is triggered when there is a key press on a position slider, but the position does not change (e.g. situation: sphere is at edge, or against the other sphere). I'm not sure we will keep that alert, but if we do, the word

[2019-01-28 14:32] terracoda commented on #86
**In terms of the other simplifications you implemented all are good except one.** And I don't think I explicitly mentioned this one above (apologies).

The force alerts that happen when changing mass, still contain, "vectors" instead of "force arrows"
<img width="1056" alt="changing-mass-alert-not-simplified" src="https://user-images.githubusercontent.com/1902116/51842052-4f655280-2310-11e9-876c-

[2019-01-28 15:32] terracoda opened #95 "Ensure km and kg are read out as kilometers and kilograms"
The abbreviations km and kg are read out correctly in the the following browser/AT combos:
- [ ] Windows 10 + Latest Chrome + Latest JAWS
- [ ] Windows 10 + Latest Firefox + Latest NVDA
- [x] macOS + Safari + VoiceOver

[2019-01-29 12:18] terracoda commented on #93
In case this screen shot helps. I just heard {{changeDirection}} when I hid the Force values.
<img width="947" alt="change-direction-bug" src="https://user-images.githubusercontent.com/1902116/51907822-4a63da00-23c8-11e9-8f4d-595fbb714f74.png">

[2019-01-29 12:20] terracoda commented on #93
This bug is also in GFL REGULAR
<img width="811" alt="gfl-changedrirection" src="https://user-images.githubusercontent.com/1902116/51907965-a7f82680-23c8-11e9-916b-a3b2e9d3d26c.png">

[2019-01-30 05:49] zepumph commented on #89
Alerts like "Force arrows get bigger, forces now 21.4 ‪newtons‬"

We want to make sure these don't pile up. I'll take a look1

[2019-01-30 05:49] zepumph commented on #89
This would be good to work on before interviews, marking priority as such.

[2019-02-02 00:47] zepumph commented on #81
fixed constant size checkbox alert above. I'll keep a look out for the mass alert edge cases. Ready to close?

[2019-02-02 01:05] zepumph commented on #86
I found another case, when you move the slider to the edge, and then end the drag, then START the drag again toward the edge. That no-op will now say "force arrows" instead of "vectors"

[2019-02-02 01:14] zepumph commented on #86
And above is the fix for @terracoda's screenshots above. Note that there are two different strings that had to be changed, one each depending on whether the force arrows are showing. Back to you @terracoda.

[2019-02-02 01:51] zepumph commented on #78
I removed the "centers exactly" just for BASICS in the above commit. I see two more things left for this issue before review. @terracoda please let me know if anything I'm doing doesn't match what you asked for above:

* While working on the above commit, I noticed that `qualitativeDistance` in `PositionDescriber.getObjectDistanceSummary()` wasn't working correctly for GFLB. I didn't check in REGU

[2019-02-02 18:44] terracoda commented on #81
Looks good! Will re-open if I find anything, but I think we are good!

[2019-02-02 18:44] #81 closed

[2019-02-02 19:04] terracoda commented on #86
The alerts all look good.
However, I missed the mass 1, Blue Sphere and mass1, Red Sphere dynamic descriptions where "vector" should be "force arrow" (singular).
<img width="959" alt="screen shot 2019-02-02 at 7 59 57 pm" src="https://user-images.githubusercontent.com/1902116/52168087-bd9d8100-2725-11e9-93da-eb3915d01594.png">

[2019-02-05 21:38] zepumph commented on #86
I thought the above will be covered by https://github.com/phetsims/gravity-force-lab-basics/issues/94. I'll see you over in that issue. Anything else here?

[2019-02-05 23:40] zepumph commented on #94
@terracoda this is ready for review. At this point I would expect to see zero uses of "vector" or "m1" in basics.

[2019-02-06 13:47] terracoda commented on #86
Ok great. Closing!

[2019-02-06 13:47] #86 closed

[2019-02-13 02:33] zepumph commented on #88
In the above commits I hopefully added the qualitative value text alert changes when the distances are not shown. Please review.

[2019-02-13 06:05] zepumph commented on #88
Thoughts about current version that @terracoda and I discussed this evening morning:

- [ ] On the last step when you move a mass so they are touching, you hear "Vector" instead of force arrow. Something like "Vectors very small, forces N newtons"
- [ ] Farthest from and closest to alerts should be added. That can likely be tacked on to the other qualitative distance regions.
- [ ] Update the rang

[2019-02-13 06:17] terracoda commented on #89
@zepumph, we can wait until after interviews to optimize slider  and alerts.

[2019-02-14 10:09] terracoda commented on #88
The qualitative distance sounds really good!

I identified 4 issues over in the GFL REGULAR repo which also exist in BASICS:
- Please see:  http://phettest.colorado.edu/gravity-force-lab-basics/gravity-force-lab-basics_en.html?ea&brand=phet
- As noted in REGULAR, the first 2 are the most important for interviews.

In addition there are 1 more issue that only exist in BASICS for the qualitative dis

[2019-02-14 10:18] terracoda commented on #88
@zepumph, I verified `aria-valuetext` and alerts for both sims. I still need to update the ranges for the regions.

[2019-02-14 12:20] terracoda commented on #88
@zepumph, I have updated the ranges in [Table Distance Regions Names](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.8ma6c1dtp9oc) in the BASICS design document.

While testing, I notices we have an extra region name, "not so far from".

When you implement the new ranges can you remove "not so far from"?

[2019-02-14 12:29] terracoda commented on #88
Just adding a visual of the table in case it is helpful. I'll replace the screen shot if anything changes.
<img width="694" alt="distance-ranges" src="https://user-images.githubusercontent.com/1902116/52786906-8059bd00-305c-11e9-8196-8f5d3d2c78ee.png">

[2019-02-19 08:37] terracoda commented on #94
@zepumph, sounds good! Closing.

[2019-02-19 08:45] terracoda opened #96 "Mass descriptions: Comparative mass descriptions for BASICS - size & density"
Comparative description of the size of the sphere is provided in the REGULAR sim, see https://github.com/phetsims/gravity-force-lab/issues/146.

This description is only provided in dynamic `aria-valuetext` on focus of one of the mass sliders.

I think a similar comparative description in BASICS will be useful, but the comparative scale needs adjusting due to the huge scales (billions of kilograms

[2019-02-19 11:49] terracoda commented on #88
@zepumph, top priority for interviews, please address the 2 remaining checkboxes in comment
https://github.com/phetsims/gravity-force-lab-basics/issues/88#issuecomment-463071815

- change "Vectors" to "Force arrows" in the force alert when a sphere reaches the last stop.
- add in the new single-value regions and adjust the region ranges according to the updated table

I checked off the third check

[2019-02-19 12:13] terracoda commented on #89
@zepumph, if you can do this today, great! If this too hard to fix by end of day, I will let the interviewers know that the participant may need to go down.

[2019-02-19 12:18] terracoda commented on #90
@zepumph, if you can get the description going in the correctly, great if not - do not worry.
Things are pretty good, at least movement is being described, just not quite the right direction yet.

[2019-02-19 22:31] zepumph commented on #88
The two checkboxes above have been implemented now.

[2019-02-20 01:43] zepumph commented on #90
This was a pretty big change. It seems to be working as expected now. Please review.

[2019-02-20 01:44] zepumph commented on #90
Sometimes it seems like there is a key press delay, where the "pushed mass" value text is one key press behind. But I can't get that to occur consistently, and it doesn't seem too distracting for right now. Let me know what you think.

[2019-02-20 01:52] zepumph opened #97 "new sonification version for interviews"
we need a new sonification wrapper for interviews starting tomorrow.

[2019-02-20 02:03] zepumph commented on #97
Here is the current sound design:

https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.101/phet-io-wrapper-sonification/gravity-force-lab-basics/html/gravity-force-lab-basics-sonification.html?sonificationFile=sonificationOptions&massSound=0&forceSound=3&massBoundaryLimitSound=2&accessibility

Taken from https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-de

[2019-02-20 05:46] zepumph commented on #91
From meeting, @terracoda will try reproduce.

[2019-02-20 05:50] zepumph commented on #87
Assigning to @terracoda to work on further. At our meeting we were not totally sure if we want to remove them in both, or just BASICS.

[2019-02-20 05:52] zepumph commented on #78
@terracoda ready for review!

[2019-02-20 06:08] zepumph commented on #95
We should determine not only if the abbreviations work in GFL(B), we should determine if they work in aria valuetext, other basic html (like `<p>`), and alerts, or just in aria-valuetext attributes.

The goal is to be consistent across this sim, and future ones.

[2019-02-20 06:33] terracoda opened #98 "Still hear "Vectors" in force alert on last stop"
Creating an issue for this straggling occurrence of "vectors". It seems kind of persistent.

It seems to only happen in the force alert when a sphere reaches the last stop.
<img width="621" alt="screen shot 2019-02-20 at 7 31 02 am" src="https://user-images.githubusercontent.com/1902116/53071124-92ff4680-34e1-11e9-9b18-96e6632139cb.png">
<img width="618" alt="screen shot 2019-02-20 at 7 26 33 am"

[2019-02-20 12:45] terracoda commented on #91
I cannot reproduce this issue.
Closing and will re-open if it pops up again.

[2019-02-20 12:50] terracoda commented on #90
@zepumph, I verified that all the alerts are firing correctly.
Shall we close this issue and start a new one to optimize the visual movement and better synchronizing the alerts about which mass is moving?

[2019-02-20 12:51] terracoda commented on #90
Actually, I will go ahead and do just that - start a new issue.

[2019-02-20 12:51] #90 closed

[2019-02-20 12:56] terracoda opened #99 "Optimize visual movement when a mass change causes sphere movement"
The edge case alerts were verified in #90, but @zepumph mentioned there is some work to optimize when and how the spheres move in the visual sim. Their movement is somewhat restricted by the snap-to behavior of the slider.

This sometimes creates some visual inconsistencies with the alerts that say it a mass moved when it visually didn't or vice-versa.

This might be a big issue to tackle.

[2019-02-20 13:01] terracoda commented on #98
This issue was original listed in issue #88.

[2019-02-20 13:19] terracoda commented on #88
Note, I posted a new issue for the first checkbox about "vectors".

[2019-02-20 15:56] terracoda opened #100 "Distance: Add quantitative distanace to dynamic-state-of-sim & update the phrase with qualitative distance when distance is not checked."
I just noticed that we are missing the quantitative distance information from the dynamic state-of-the-sim list. See bolded text at the end of the second bullet:

The second bullet is dynamic should always have qualitative distance and when Distance is checked it should also include quantitative distance in kilometers. Please use the following phrases depending on whether or not Distance is checke

[2019-02-20 16:06] terracoda opened #101 "Distance: Toggle quantitatve/qualitative distance description infront of helptext with toggle of Distance checkbox (title changed))"
In addition to #100, please update the first sentence of the Sphere Position help text paragraph. The first sentence is a dynamic distance description of distance and I'd like it to include the word "centers" toggle with the Distance check box.

This first sentence needs to toggle between quantitative (distance checked) and qualitative (distance not checked) descriptions for distance. This is work

[2019-02-20 16:24] terracoda commented on #100
@zepumph, I just noticed in the A11y View that the prepositions, "to" and "from" are missing  in that second bullet that provides the qualitative distance descriptions.

Would it stream-line things if we just put the propositions in as part of the region name?

[2019-02-20 17:30] jessegreenberg commented on #95
Here is a JSFiddle to test with a number of contexts: https://jsfiddle.net/068hje1w/3/

[2019-02-20 17:35] jessegreenberg commented on #95
For all of the tests in that JSFiddle, JAWS says "kg" and never kilograms. I tested in both Chrome and FF. I also tested the sim and JAWS says 'kg' there too like "4 billion kg".

[2019-02-20 17:38] jessegreenberg commented on #95
Here is a test with everything swapped to km, and JAWS also read 'km' eveywehre instead of 'kilometers' https://jsfiddle.net/krnofdj2

[2019-02-20 17:52] jessegreenberg commented on #95
But interesting notes:

JAWS has "Expand Abbreviations" and "Expand Acronyms" settings. I enabled both but it still just read "km" and "kg".

JAWS has a dictionary where you can define words and how they are read. I added `km=kilometers`, and it read all usages of "km" in the above JSFiddle as "kilometers". I don't think that asking our users to modify the JAWS dictionary is acceptable, but it cou

[2019-02-20 19:50] terracoda commented on #95
@jessegreenberg  for that "Expand Abbreviations" setting to work, JAWS might need the abbreviation coded as an abbreviation like so: `<abbr>km</abbr>`

I think the other tag,  <acronym>,  was deprecated.

If JAWS can't read "km" as "kilometers" without having a user updates its dictionary, I think we should stick with words in the sim's content.

[2019-02-20 20:12] jessegreenberg commented on #95
Oh thanks @terracoda , Ill try that in a test.

[2019-02-20 20:17] jessegreenberg commented on #95
I tried with this markup and still only received "km" from JAWS in all contexts https://jsfiddle.net/71zqfgmp

[2019-02-20 20:21] terracoda commented on #95
@jessegreenberg, I think that JAWS might be notoriously bad at reading abbreviations.
I seem to remember examples from other folks, a periodic table comes to mind.

For this GFL Regular and Basics, I think we should stick with the spelled out words for now.

[2019-02-20 20:27] terracoda commented on #94
@zepumph, apologies I may want to revisit this dynamic list. I am keeping this assigned to myself for now, but this is what I am thinking:
Will 3 bullets in BASICS work like this

**With Distance checked**
- Force arrow is {{tiny}}, and points directly at mass 2.
- Size of force on mass 1 by mass 2 is {{33.4 Newtons}}.
- **Mass 1 is {{2 billion kilograms}} and {{4 kilometers}} from mass 2}}.**

**

[2019-02-21 08:39] terracoda commented on #100
@zepumph, there are 3 issues all related to the dynamic distance phrases in the PDOM of BASICS:
- this one issue #100 - dynamic state of the sim list item 2
- #101 - the dynamic distance phrase in front of position help text
- and I re-opened #94 about the Mass Spheres' dynamic description list

I'm including a screen of A11y View as to where these issues point to.

**When Distance is checked, the

[2019-02-21 11:33] terracoda commented on #100
@zepumph, the titles of each of the related issues has "Distance" at the front.

[2019-02-21 12:39] terracoda commented on #100
@zepumph, with the slightly changed phrasing I think I can leave "from each other" off the comparative descriptions in the intro and the help text. That might it all much more stream-lined.

[2019-02-25 09:57] terracoda commented on #95
@zepumph, can you do a search and replace for all the abbreviations?

For REGULAR:
- Any instance of `m` should be `meters`
- Any instances `kg` should be `kilograms`

For BASICS:
- Any instance of `km` should be `kilometers`
- Any instances `kg` should be `kilograms`
- Any instances of `billions of kg` should be `billions of kilograms`

[2019-02-25 10:33] terracoda commented on #97
@zepumph, these are good for today's interview, rescheduled from last Thursday.

[2019-02-25 10:45] terracoda commented on #91
@

[2019-02-25 10:50] terracoda commented on #91
@zepumph, I just heard this bug again, so I am re-opening.
It seems to only happen on Mass is changed first - after page load or after a reset with the Reset All button. Hopefully, that narrows things down.

**To reproduce:**
1. Load the sim
2. Tab to one of the Mass controls
3. Make mass 1 or mass 2 bigger

<img width="852" alt="screen shot 2019-02-25 at 11 12 57 am" src="https://user-images.gith

[2019-02-25 10:54] terracoda commented on #91
Adding for clarity, this bug does not seem to happen if the position of a either mass sphere is changed before the mass of a mass sphere is change.

[2019-02-25 10:57] terracoda commented on #95
@zepumph, I think this one is easy, so I am marking it as top priority just to get it out of the way ;-)

[2019-02-25 11:08] terracoda commented on #88
@zepumph, this issue will is somewhat related to issues #94, #100, #101 which toggle quantitative distance with qualitative distance descriptions in the PDOM.

I think it is best to implement the new ranges for the described qualitative distance, and then work on the how the quantitative and qualitative values toggle in the PDOM  when the Distance checkbox is checked and unchecked which is covered

[2019-02-25 11:18] terracoda commented on #101
@zepumph, I updating the previous comment and the issue title to be match the screenshots shown in issue #100.

[2019-02-25 11:39] terracoda commented on #100
@zepumph, please note that once the new ranges for described qualitative distance are implemented in #88, the described distance for a distance of 4 kilometers will be "close to" rather than "not so close to".

[2019-02-25 11:44] terracoda commented on #94
There are 2 screen shots in issue #101 that show all the distance descriptions changes that happen in the PDOM when Distance is checked and unchecked.

Issue #100 links together three issues: this one (#94), #100, and #101.

[2019-02-25 11:46] terracoda commented on #100
The screen shots in this issue (#100) link together three issues: this one (#100), #94, and #101.

[2019-02-25 11:47] terracoda commented on #101
Screen shot showing this change is in #100.

[2019-02-25 11:52] terracoda commented on #95
@zepumph, apologies for the multiple re-arrangement of priorities.
Do the Distance issues first, then this one.

[2019-02-25 12:01] terracoda commented on #87
@zepumph, yes, the actual described size of the spheres is not needed, and it has already been removed.

Only the comparative size is needed and that will be looked after in issue #96.

Closing this issue.

[2019-02-25 12:01] #87 closed

[2019-02-25 12:02] terracoda commented on #98
@zepumph, I don't think this gets in the way too much. Please fix if there is time after the distance issues are implemented.

[2019-02-26 02:06] zepumph commented on #88
@terracoda I'm a little confused, I thought that these had already been done. Is there something more you want here? Currently the ranges are implemented as follows (matching what I see currently in the design doc):

[code]

with index values returned accessing these lists (0 indexed so 0 is the first item).
[code]

[2019-02-26 02:19] zepumph commented on #98
Ugh! Sorry for your patience, I think this is the last one. I looked through all usages of "Vector" in the common ISLC code and didn't see any more. How about that?

[2019-02-26 08:45] terracoda commented on #88
@zepumph, you are absolutely correct the new ranges are implemented, apologies. They are perfect in BASICS! A range has no more than 3 default key presses which I find super nice.

Could you clarify the difference between the 2 sets of distance strings above. Assuming they are literal representations, you need to use the full string including the preposition "to" or "from" in the scene summary.

A

[2019-02-26 08:46] terracoda commented on #88
The new ranges for distance are implemented beautifully, closing!

[2019-02-26 08:46] #88 closed

[2019-02-26 08:59] terracoda commented on #100
In https://github.com/phetsims/gravity-force-lab-basics/issues/88#issuecomment-467263264, @zepumph shared two sets of distance strings:
- RELATIVE_DISTANCE_STRINGS
- DISTANCE_STRINGS

Assuming they are literal representations of the strings, I think we need the full strings, the ones including the preposition "to" or "from" when describing the qualitative distance in the actual PDOM. That is to sa

[2019-02-26 09:15] terracoda commented on #78
@zepumph, this distance string is in the right place - just before the help text. Exact wording and changes to the strong when the Distance checkbox is checked or notchecked are now being tracked in #101.

Thus, closing this issue.

[2019-02-26 09:15] #78 closed

[2019-02-26 10:07] terracoda commented on #98
No apologies necessary. It was a slippery fish! I think you finally hooked it.

[2019-02-26 10:07] #98 closed

[2019-02-26 20:59] zepumph commented on #100
In the above commits I fixed the distance/position related screen summary bullet, I.E.
![image](https://user-images.githubusercontent.com/6856943/53445812-e67c0380-39bd-11e9-9c5b-ec45a9d52803.png)

[2019-02-26 21:10] zepumph opened #102 "use GFLB{{TypeName}} instead of GravityForceLabBasics{{TypeName}}"
Currently we are using both, and I think the shorter name is nicer.

[2019-02-26 21:26] #102 closed

[2019-02-26 23:18] zepumph commented on #94
I implemented this above. In the photos, there were commas between the mass/size and the distance/position sections. I noticed above there wasn't a comma, so I removed the comma. Let me know what you think.

[2019-02-26 23:51] zepumph opened #103 "qualitative distance when farthest apart sometimes says "extremely far from""
Found while working on (or because of work from) #94. This is a bug where the MassPDOM bullet that describes the distance between the two mass says that they are "extremely far from" each other, when really they are the farthest from each other. Then when I check the distance checkbox and uncheck it again, it is correct. This makes me think that we aren't updating this often enough. I don't think

[2019-02-27 00:31] zepumph commented on #103
This was fixed by linking not just to the forceProperty, but also the the positions of each object.

[2019-02-27 00:31] #103 closed

[2019-02-27 01:10] zepumph commented on #101
Implemented above. I updated the code so the REGULAR and BASICS were using the same PDOM Node for the `ul` that help the sphere position sliders in the PDOM.

I then updated the BASICS help text to toggle qualitative/quantitative descriptions depending on if distance values are showing.

There was also a bit more refactoring to reuse a string piece that looks like `{{close to}} each other` within

[2019-02-27 01:47] zepumph commented on #95
I updated all the usages in a11y strings. I wanted to double check with you about the scope you were recommending. Currently there is displayed text with the abbreviations, and to this point a11y may have used these strings.

We could either update the visual text to use the full word, or we could go through and make sure that a11y related units are totally separate from the visual ones. Honestly

[2019-02-27 02:02] zepumph opened #104 "new sonification link needed for interviews"
This will use GFLB dev.33

This will include work done in #94 #101 #100 #103 #98 and #95.

[2019-02-27 02:22] zepumph commented on #104
https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.104/phet-io-wrapper-sonification/sonification.html

https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.104/phet-io-wrapper-sonification/gravity-force-lab-basics/html/gravity-force-lab-basics-sonification.html?sonificationFile=sonificationOptions&massSound=0&forceSound=3&massBoundaryLimitSound=2&accessi

[2019-02-27 02:23] #97 closed

[2019-02-27 02:23] zepumph commented on #97
see #104 for latest.

[2019-02-27 12:26] terracoda commented on #104
Taggin @kainip to see if I can.

[2019-03-04 13:14] terracoda commented on #96
@zepumph, as we discussed last Tuesday/Wednesday, I have re-worked the scale for qualitative comparative size, and also created a matching scale for qualitative comparative density.

- Comparative size descriptions are used in relevant places when Constant Size checkbox is not checked.
- Comparative density descriptions are used in the same relevant places when Constant Size check box is checked.

[2019-03-04 13:48] terracoda commented on #96
@zepumph, I realize I have not highlighted the relevant places in the PDOM and alerts that are affected by these descriptions

The first order of business is dynamic `aria-valuetext` for the mass sliders on focus as you succeeded in doing here https://github.com/phetsims/gravity-force-lab/issues/146#issuecomment-464966560 for REGULAR.

[2019-03-04 13:58] terracoda commented on #96
With an effort to keep issues short and focused. I'll make other issues for the other descriptions and alerts related to toggling the Constant Size checkbox.

[2019-03-04 14:08] terracoda commented on #96
@zepumph, I am adding an example from the design doc for the values read out on focus of a mass stepper.
**Currently implemented we have no described comparison of mass:**
- {{2}} billion kilograms, mass 1 stepper. Force arrows {{tiny}}.

Adding a dynamic comparative description in the `aria-valuetext` on focus only for the mass stepper. The comparison (size or density) would sound like this:
**Wi

[2019-03-04 18:41] zepumph commented on #82
@terracoda, I couldn't find the commit, but this has already been taken care of.

[2019-03-04 18:41] #82 closed

[2019-03-04 21:11] zepumph commented on #96
I was not able to implement https://github.com/phetsims/gravity-force-lab-basics/issues/96#issuecomment-469265259 just yet. I will look into https://github.com/phetsims/sun/issues/482 to support this, as well as to improve the slight workaround/hack in GFL/MassControl that is very related to this.

[2019-03-05 22:43] terracoda commented on #95
@zepumph looks good closing.

[2019-03-05 22:43] #95 closed

[2019-03-05 22:53] terracoda commented on #100
Awesome. Distance in help text looks good in both views. Closing.

[2019-03-05 22:55] terracoda commented on #100
Oops verified incorrect change.

[2019-03-05 22:57] terracoda commented on #101
Awesome. Distance in help text looks good in both views. Closing.

[2019-03-05 22:57] #101 closed

[2019-03-05 23:01] terracoda commented on #100
Awesome. The the second bullet in the state of the sim describing distance between centers looks good in both views. Closing.

[2019-03-05 23:03] #100 closed

[2019-03-05 23:08] terracoda commented on #94
Oops, sorry, the photos were correct. I would like the commas between mass and distance descriptions.

**Also note**, please add a period at end of third bullet.

I updated the examples in comment https://github.com/phetsims/gravity-force-lab-basics/issues/94#issuecomment-465741105

[2019-03-05 23:10] terracoda commented on #94
@zepumph back to you for these minor changes.

[2019-03-05 23:26] terracoda opened #105 "Mass Alerts: Toggle parameters in mass alert when Constant Size checked"
Related to the new values for size and density in #96, the changing mass alerts will describe density of mass rather than size of mass when the Constant Size check box is checked.

Examples are straight from design doc: [Changing mass alerts](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.ce5d7rlnapb8)
Mass increases to 3 billion kg:
- With Constant

[2019-03-05 23:27] terracoda commented on #105
@zepumph, let me know if you need more examples.

[2019-03-05 23:37] terracoda opened #106 "Mass descriptions: Toggle to comparative density descriptions when Constant Size is checked"
Related to new scales in #96,  Mass descriptions in the PDOM will need to toggle from comparative mass size to comparative density when the Constant Size checkbox is checked.

@terracoda to add screen shot of A11y View with necessary changes.

[2019-03-05 23:41] zepumph commented on #94
comma and period added above.

[2019-03-06 06:34] terracoda commented on #94
That was quick! Verified and closing.

[2019-03-06 06:34] #94 closed

[2019-03-06 06:40] terracoda commented on #106
@zepumph, as discussed in our meeting Mar 5th/6th here is a screen shot of the A11y View where size descriptions need to toggle to density when the Constant Size checkbox is checked.

Note the help text for the mass stepper controls is already toggling, so there are just 2 updates. And the `aria-valuetext` for the mass steppers will be handled by other issues (#96 and https://github.com/phetsims/s

[2019-03-06 07:56] terracoda opened #107 "Position slider's verbose aria-valuetext: describe position instead of providing a kilometer mark"
With some indication from interviews...Providing both the kilometer mark and distance from other sphere on focus of a mass position slider may not be super helpful.

The values together seem to be a bit of information/number overload, and it is not clear to @terracoda if the kilometer mark value is of much importance to the the learning goals of the simulation. Initial thinking was that the kilome

[2019-03-06 08:04] terracoda commented on #107
@emily-phet, do you see what I am trying to do with these descriptions?
1. Do you think we need to provide position at all?
2. If so, do you think any of the drafted example values might be better than using "kilometer mark"?
3. Do you have a preference any of the phrases that describe the centers between the spheres?

[2019-03-06 08:23] terracoda opened #108 "Scene summary missing a period."
@zepumph, I noticed we are missing a period at the end of a sentence in the introductory paragraph (scene summary).
<img width="467" alt="scen-summary-missing-period" src="https://user-images.githubusercontent.com/1902116/53866204-493e5200-3ff1-11e9-87b2-1a111b4792a5.png">

[2019-03-06 20:23] terracoda commented on #47
When we are ready to publish the accessible version of this sim we will need to add more people to the credits:
- Team: Emily Moore and Taliesin Smith
- Devs: Michael Kauzmann
- Sound Design: Ashton Morris, anyone else??

[2019-03-06 20:45] KatieWoe commented on #47
QA: Megan Lai, Liam Mulhall, Laura Rea, Jacob Romero, and Kathryn Woessner should all be there.

[2019-03-07 23:35] #108 closed

[2019-03-12 15:28] terracoda commented on #107
Feedback from March 12th Design Meeting:

1. Do you think we need to provide position at all?
- Note ready to drop position all together, so go with describe position.
2. If so, do you think any of the drafted example values might be better than using "kilometer mark"?
- Do not need to include center.
3. Do you have a preference any of the phrases that describe the centers between the spheres?
- D

[2019-03-13 06:28] terracoda commented on #107
@terracoda to update design document examples and walkthrough with new phrases for position and distance.
- [ ] examples updated
- [ ] walkthrough updated

**Note** that having different (more versbose) `aria-valuetext` on focus is dependent on phetsims/scenery#951.

[2019-03-19 20:03] terracoda commented on #104
Closing since interviews have happened. Hopefully, we will have anew version ready soon for a next round of interviews.

[2019-03-19 20:03] #104 closed

[2019-03-19 20:13] terracoda opened #109 "Mass descriptions: Not hearing value in billions of kilograms (aria-valuetext) on a mass change"
@zepumph, I hear the mass alert on a mass change with no new mass value.

I would expect to hear both the new mass value and the mass alert.

I am wondering if this a bug, or perhaps it is related to your comment https://github.com/phetsims/gravity-force-lab-basics/issues/96#issuecomment-469423271 in issue #96.

I am marking this issue as a question.

[2019-03-20 20:09] terracoda opened #110 "Screen reader saying "clickable" on PDOM text?"
As of maybe a week or 2 ago, I started hearing "clickable 1of 4" when reading through the dynamic state-of-the-sim list.

I am using Safari and VoiceOver. I never heard this before. I would not describe the text as clickable. I am not sure why VoiceOver is suddenly describing the text as clickable.

Is the dynamic list different than before a couple of weeks ago?

I'm going to check GFL Regular an

[2019-03-20 20:17] terracoda commented on #110
@zepumph, do you know why we need `data-focusable="false"` attribute on everything?

I don't hear "clickable" on the paragraphs, but I do on the list items. Not sure why? And this is new behaviour.

[2019-03-20 20:25] terracoda commented on #110
I lied I am hearing "clickable" on most paragraphs, too. I do not hear "clickable" on the paragraphs that come right before a `ul`. I do not hear "clickable" on headings.

I am wondering if NVDA is doing something similar?

[2019-03-20 20:31] terracoda commented on #109
For reference, the pattern for changing mass/density is found in the [Changing mass alerts](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.ce5d7rlnapb8) section in the design doc.

[2019-03-20 20:33] terracoda commented on #107
@zepumph, I removed "describe center explicitly" from title as we decided not to consider doing that.

[2019-03-20 20:35] terracoda commented on #107
I have a couple options for the phrasing to discuss at Tuesday's GFLB design meeting, so marking as a meeting issue one last time before implementation.

[2019-03-21 22:08] terracoda commented on #107
@zepumph, I've got all position/distance changes updated in the design document and will be assigning things over to you after Tuesday's design meeting when I clarify the wording on a couple of phrases.

[2019-03-21 22:44] terracoda commented on #109
@zepumph FYI, this issue is related to #105.

[2019-03-22 17:18] terracoda commented on #110
@zepumph, I found some discussion about this on the WebAim email archive:
- [https://webaim.org/discussion/mail_thread?thread=6876](https://webaim.org/discussion/mail_thread?thread=6876)
- [https://webaim.org/discussion/mail_thread?thread=7559](https://webaim.org/discussion/mail_thread?thread=7559)

@zepumph, can you verify if an `OnClick event handler is added to the body element so that the scri

[2019-03-25 11:32] terracoda commented on #109
@zepumph, more specifically this issue is related to https://github.com/phetsims/gravity-force-lab-basics/issues/105#issue-417549739 and Changing mass alerts in the design doc.

I have just marked #105 as high priority, so I will mark this one the same. I think you might work on these 2 issues together.

[2019-03-25 11:45] terracoda commented on #96
@zepumph, it is ok that we might not have comparative mass and comparative density descriptions (on focus of the stepper) until you address https://github.com/phetsims/sun/issues/482

We hope to have interviews again in early April, so it would be great to get the values for mass/density values working (see #109) and then we can deal with the comparative mass/density descriptions on focus later.

[2019-03-25 22:42] Ashton-Morris opened #111 "Feedback on sound for GFL:B"
@kathy-phet @ariel-phet @emily-phet @arouinfar

The sound for GFL:B is at a good stage and we are looking for feedback on the current prototype.

Please take a look at [this version](https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.107/phet-io-wrapper-sonification/gravity-force-lab-basics/html/gravity-force-lab-basics-sonification.html?sonificationFile=sonificationOptions&

[2019-03-26 23:36] zepumph commented on #96
Once this issue is finished, we will be ready to review https://github.com/phetsims/scenery/issues/951.

[2019-03-27 00:00] zepumph commented on #96
I was able to tackle. https://github.com/phetsims/sun/issues/482 (aka phetsims/scenery#951) today. After doing that this issue was very straight forward (as expected since that was the reason for the common code work!). @terracoda will you please review the "on focus" valuetext changes for both REGULAR and BASICS, and let me know if there is anything else here.

Note that the constant size checkbo

[2019-03-27 00:09] zepumph commented on #96
Sorry, It is actually this issue where I will add the density comparisons now.

[2019-03-27 00:23] zepumph commented on #96
Here is a patch that almost adds the relative density descriptions, but it isn't totally working, so I don't want to commit just yet. I hope to work on this again before the week is over though.

<details>

[code]

</details>

[2019-03-27 19:03] zepumph commented on #96
Alright I think this is all working now. The mass control aria-valuetext attributes update correctly, and other pieces of the PDOM seem to be updating as expected too. @terracoda will you please review now.

[2019-03-27 19:07] zepumph commented on #106
#96 covered everything except the first item in the screenshot:

"Currently, force on mass1 by mass 2 is of equal size . . . . "

I'll look at that first.

[2019-03-27 19:11] zepumph commented on #106
@terracoda, I totally trust your design, but I wonder if this isn't a mistake. To me here "equal size" is referring to the size of the force arrows, not the size of the masses. Are we sure that when the constant radius checkbox is checked we want it to read

"Currently, force on mass 1 by mass 2 is of equal density and pointing directly opposite to the force on mass 2 by mass 1."

[2019-03-27 19:20] zepumph commented on #109
To make sure we are on the same page, I understand it as the "mass value" being delivered with aria-valuetext, and the "mass alert" through aria-live.

You said you get and alert and no value "on a mass change"

The only way I can reproduce this is if I use a mouse to adjust the mass controls. I would expect aria-valuetext to not be read out when using a mouse, since the PDOM element won't have fo

[2019-03-27 19:28] terracoda commented on #106
@zepumph good catch - that is indeed a mistake. I just saw the word size and flagged it. Apologies. That is indeed the force and does not toggle with the checkbox!! :-P

[2019-03-27 20:05] zepumph commented on #105
In the above commits I added support for "density increases/decreases" alerts to replace the "mass gets bigger/smaller" alerts. For the most part it was straight forward.

Side note about the implementation:
I updated the central function for getting "gets bigger" or "gets smaller" to support "mass gets bigger" and the other. This then made it easy to check there and swap out the whole phrase, inc

[2019-03-27 20:06] zepumph commented on #106
Not a worry! In that case I think these were all implemented by #96 or prior to my work in the repo. Is there anything else left to change here in the PDOM?

[2019-03-28 09:24] terracoda commented on #106
@zepumph, I'll close this issue when I verify #96, thanks!

[2019-03-28 14:28] arouinfar commented on #111
Thanks @Ashton-Morris! I downloaded the dev version to review on my flight back home tomorrow.

[2019-03-29 11:30] terracoda commented on #110
Wondering if this issue is related to https://github.com/phetsims/a11y-research/issues/133

[2019-03-29 12:39] jessegreenberg commented on #110
Indeed @terracoda, the reading of "clickable" everywhere is being caused by https://github.com/phetsims/a11y-research/issues/133 sorry about that.

[2019-03-29 14:29] terracoda commented on #110
This seems to have been fixed by https://github.com/phetsims/a11y-research/issues/133#issuecomment-478011466

For VoiceOver.

Is it safe to close this issue for now, @zepumph?

[2019-03-29 19:39] zepumph commented on #110
Sounds good!

[2019-03-29 19:39] #110 closed

[2019-04-01 14:08] #106 closed

[2019-04-01 14:10] terracoda commented on #96
Looks and sounds good @zepumph! Closing this issue and already closed #106.

[2019-04-01 14:15] terracoda commented on #105
@zepumph, I am about to verify your implementation.

I just had a thought, is it possible to check for edge cases only if Constant Size is not check, in other words stop checking for edge cases when Constant Size is indeed checked?

[2019-04-01 14:24] terracoda commented on #105
@zepumph, the implementation seems to be working well. I am happy to close this issue, but before I do, I just want to ask, do you think it would be more robust to split up the main function to handle edge mass-moving edge cases into a separate function, one where the model would

[2019-04-01 14:37] terracoda commented on #109
@zepumph, yes, using VoiceOver, Safari and either my bluethooth keyboard or my laptop keyboard I do not hear the value changes in `aria-valuetext` on the steppers. I only hear the aria-live force alerts.

I would expect to hear the new value in the `aria-valuetext` for billions of kilograms before the force alert each time I press the up or down arrow keys and the left or right arrow keys.

Could

[2019-04-01 14:38] #96 closed

[2019-04-01 14:44] terracoda commented on #91
@zepumph, this bug seems to be gone.
I started changing mass after page load and I did not hear the bug any more.

[2019-04-01 14:44] #91 closed

[2019-04-01 15:08] terracoda opened #112 "Change label of position slider"
Please change labels for mass position sliders
FROM:
- mass 1, position
- mass 2, position

TO:
- Move mass 1
- Move mass 2

They will be read out as:
- Move mass 1, slider
- Move mass 2, slider

[2019-04-01 20:33] terracoda commented on #107
Marking as high priority in case it is possible to get these changes in for interviews in the later half of next week.

[2019-04-02 14:07] terracoda commented on #107
@zepumph, https://github.com/phetsims/gravity-force-lab-basics/issues/107#issuecomment-478736118 is basically contains three tasks that all intermingled:

Task 1: Replace all strings that contain kilometer marks (position value) with one of the new described position regions or landmarks. All together there are about 6 described position values which are laid out the [Table: Position Regions & Lan

[2019-04-02 14:11] terracoda commented on #112
This issue is design-related changes that will take place in issue #107.

@zepumph, if it's easy, you could just change the label of the position sliders first, and then work on #107.

[2019-04-02 22:10] zepumph commented on #105
@terracoda this is sorta happening already, but it is a bit more complicated. We have a methods like:

[code]

The key weirdness is that all three of these massDescriber functions end up using the same shared approach for getting the mass/density wording, but in the bottom two cases, it will always return the mass piece because the parameters are being checked here before calling the function. Clo

[2019-04-02 22:10] #105 closed

[2019-04-02 22:11] zepumph commented on #105
In the above commits, also note that I renamed a function for clarity, and removed a bunch of duplicated logic between GFLBAlertManager and GravityForceLabAlertManager by making the BASICS one extend from REGULAR.

[2019-04-03 01:52] zepumph commented on #107
@terracoda hopefully a lot/most of this is accomplished. Like you predicted, I was able to simplify quite a bit of logic in PositionDescriber, because the "edge cases" are built into the main value text generating function. I don't think this is without quirks and bugs, but I walked through the walkthrough, only looking at the white rows (with distance checked), and things are looking pretty nice!

[2019-04-03 05:32] terracoda commented on #107
@zepumph, the white rows work perfectly!
aria-valuetextFocus values

The grey rows where we are to get described regions for position rather than actual distance in kilometers are working a bit erratically.

I do not get the region name on every step.

What I would like is:
Step 1: Progress
**Issues:**

[2019-04-03 05:32] terracoda commented on #107
Oops did not mean to post - will edit previous comment.

[2019-04-03 06:15] terracoda commented on #107
@zepumph, I significantly updated https://github.com/phetsims/gravity-force-lab-basics/issues/107#issuecomment-479346050.

[2019-04-03 06:16] terracoda commented on #107
And will start a new issue for Task 3 (with Distance not checked).

[2019-04-03 06:16] #107 closed

[2019-04-03 07:02] terracoda opened #113 "Position sliders: When Distance not checked aria-valuetext not spoken consistantly"
A new strategy for described position was implemented in #107.

It all works perfectly when Distance is checked. And the on-screen values in the A11y View for `aria-valuetext` are correct with or without Distance checked.

**In this issue we need to investigate:**
1. why the `aria-valuetext` is not being read out as expected when Distance is not checked,
2. determine if it is a VoiceOver-only issu

[2019-04-03 07:06] terracoda commented on #113
@zepumph, I'll unassign myself once I have the tables in the design doc updated.

[2019-04-03 09:16] terracoda opened #114 "Related to position & mass: adjust the range of values that describe the size of the arrows"
The size descriptions for the force arrows seem a bit off to me.

When everything is working properly, we may need to tweak the ranges in the model that are producing the size descriptions for the arrows.

My understanding is that force changes affected by position are more dramatic - like in the PLOTTED curve in the GFL Regular design doc in the [Sim Model](https://docs.google.com/document/d/1-37

[2019-04-03 10:13] terracoda commented on #113
@zepumph, I have updated tables, but haven't split them up yet. Will do that before Monday.

[2019-04-05 12:44] terracoda opened #115 "For interviews Wed. April 10th"
@zepumph, 2 interviews are schedule for Wednesday April 10th.

At end of day Tuesday (April 9th), please port best version of sim to sonification wrapper and provide Dev links for interviews.

[2019-04-08 17:47] zepumph commented on #112
This sounds very nice. Good design!

[2019-04-09 08:33] terracoda commented on #113
@zepumph, agreed that the this isssue is understandable without me splitting the table mentioned in https://github.com/phetsims/gravity-force-lab-basics/issues/113#issuecomment-479427805.

So I am going to not do that unless it is needed for more clarity later.

[2019-04-09 19:16] zepumph opened #116 "resetting sim does not reset all descriptions"
In particular the aria-valuetext for the position sliders. On sim start it looks like "Left side of the track, close to mass 2." And on restart it could look like "Farther away, close to mass 2."

This is because on reset we move the slider from closer to the center back to the starting point, which is "farther away" than where it was. We need to go through much of this logic and make the the rese

[2019-04-09 20:03] zepumph commented on #113
When I had a listen with distance not checked, here is what I found based on the above bullets. Tested with NVDA on firefox.

To me this is working well, the "closer/farther" piece was always provided to me as expected.

Here is I think the root of this github issue's problem. The value text for each subsequent movement is the same until the region change. So even though it is being reset on each

[2019-04-09 20:31] zepumph commented on #113
I was able to work around this by adding code to the algorithm that detects this case, and adds an extra space to the end of the string, so the alerts oscillate between "close to mass 1" and "close to mass 1 "

This feels just fine, and I think I will keep it in here for now. This isn't a general piece for all aria value text setting, just in this particular position value text. The code looks bas

[2019-04-09 20:57] terracoda commented on #113
Thanks @zepumph for confirming that the `aria-valuetext` was not updating due to the lack of a change in the text. I was pretty sure that was the reason as the _quantitative distance_ `aria-valuetext` was working beautifully.

And very cool! I was wondering if you would do something slick like add a space to trick the browser into to thinking like there was a change!

I'll do my verification in th

[2019-04-09 21:03] zepumph commented on #113
I also can't seem to find an issue with this bullet, perhaps the above issue was causing problems here too. @terracoda please confirm that this single fix has solved all the issues you were encountering with this bug.

[2019-04-09 21:11] terracoda commented on #113
@zepumph, re https://github.com/phetsims/gravity-force-lab-basics/issues/113#issuecomment-481437969, it's probably fixed. I'll verify in morning :-)

[2019-04-09 21:21] terracoda commented on #116
A refresh is a reasonable work around for interviews.

[2019-04-09 22:23] zepumph commented on #109
@KatieWoe agreed to take a look with me on a mac device. We were able to reproduce the issue from master. Then I committed a potential fix above, and found that things didn't work any better. Thanks for your help @KatieWoe.

The above commit seems like a good change even if it doesn't fix this. Before this the REGULAR and BASICS mass controls had different ways of setting the on value change aria

[2019-04-10 00:27] zepumph commented on #109
@chrisklus also agreed to help out with some pairing. We messed around with his working copy for about 90 minutes and settled on https://github.com/phetsims/sun/issues/497 as the culprit. Here are all the factors we looked into that didn't have any effect on voiceover speaking the value text on value change:

* changing the label
* omitting the valuenow attribute
* short circuiting the mass descri

[2019-04-10 00:52] zepumph commented on #115
I think everything is set up for this now. I couldn't get https://github.com/phetsims/gravity-force-lab-basics/issues/109 figured out, but did get some investigation on it.

Here is the link to the sonification wrapper for tomorrow.
https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.111/phet-io-wrapper-sonification/sonification.html

[2019-04-10 05:29] terracoda commented on #116
@zepumph, I cannot reproduce this issue with Safari & VoiceOver on MacOS 10.13.6 (High Sierra). Hmm, I thought I upgraded to Mohave. Apparently, not so - just a security update.

[2019-04-10 07:05] terracoda commented on #109
@zepumph, if my memory is correct, I think that once the once the force alerts were added (As mass gets bigger, force arrows get bigger), that the billions of kilograms stopped working. That was quite a few versions ago, and I am not 100% sure exactly when the mass amounts stopped.

I'll look at this more as soon as possible. Thanks for all the hard work investigating the issue.

[2019-04-10 08:05] terracoda commented on #112
Thanks :-) Nice implementation!

[2019-04-10 08:05] #112 closed

[2019-04-10 08:50] terracoda commented on #113
Described position and described distance are working beautifully in Master!
In the sonification wrapper, it works well, too, but due to a KNOWN issue that might be a VoiceOver-only issue (no need to investigate here) I get duplicate force alerts (on everything), so sometimes the alerts drown out the `aria-valuetext`.

I'm closing this issue. Great work @zepumph!

[2019-04-10 11:38] terracoda commented on #115
Thanks @zepumph. I'll close this issue after interviews this week.

[2019-04-10 12:00] terracoda commented on #99
The alerts for the edge cases (described movement caused by a mass change) work correctly on mass changes.

@zepumph, this issue is purely about visuals. Sometime there's movement and sometimes not. I am not sure what priority I should put on this issue.

[2019-04-10 19:26] terracoda commented on #115
Interviews completed, so closing this issue.

[2019-04-10 19:26] #115 closed

[2019-04-10 19:53] jessegreenberg opened #117 "GFLBAlertManager may be getting initialized more than once"
From https://github.com/phetsims/inverse-square-law-common/issues/61 I noticed duplications of some of the alerts when clicking checkboxes. I think it may be because the alert manager is getting initialized more than once.

[2019-04-11 17:26] zepumph commented on #116
The original bug reported in this issue wasn't actually changing the screen reader output, one issue is in the PDOM. On reset, the aria-valuetexts for position sliders have outdated values, but on focus they are updated again to be correct. It is this discrepancy that caused me to make this issue more as a way to audit the behavior of the reset all button, and to make sure it was always working as

[2019-04-11 18:30] terracoda commented on #116
@zepumph, when you put it that way, yes, in the A11y View I think I have seen this. I'll try to verify.

[2019-04-13 22:24] arouinfar commented on #111
Sorry for the delayed response! It's been a crazy few weeks for me.

@Ashton-Morris @jbphet @emily-phet these sounds are so fun! I think the meaning of the sounds was immediately clear, and students will have a lot of fun with them. I even found myself trying to compose a tune or two. :)

I tested with over-the-ear headphones, and these are the sounds I observed:
* Hum representing force: higher p

[2019-04-13 22:30] arouinfar commented on #111
Just to add -- I wouldn't make a standard/enhanced distinction here. I think all of these sounds should be included by default.

[2019-04-15 09:00] terracoda opened #118 "Keyboard Shortcuts Dialog adjustments & additions"
There are no small steps in this sim, but there are in GFL Regular. If it is possible and not too tedious due to shared resources between the 2 sims (3 if you include Coulomb's Law):
- Please remove the line about small steps under Change Mass (but only if this is not a big pain)

Also, this sim and GFL Regular have checkboxes, so
- Under Basic Actions, please add the instructions for checkboxes a

[2019-04-15 09:13] terracoda commented on #116
@zepumph, yes this is only an issue for the `aria-valuetext` for the Mass Sphere position sliders. Everything else seems to reset fine.

I suppose if the user read through the PDOM after a reset they might get stale information, so I agree this is an issue.

Here's a screen shot of the A11y View just where the `aria-valuetext` on the position sliders is stale.
<img width="1124" alt="Screen Shot 20

[2019-04-15 09:18] terracoda commented on #89
@zepumph, the piling up of alerts might only be happening with VoiceOver. It is very consistent in VoiceOver, but in interviews it has been less problematic.

I have a feeling, yours and @jessegreenberg work on optimizing the utterance queue might resolve this issue.

[2019-04-15 09:35] terracoda commented on #117
Thanks @jessegreenberg, I verified this issue in GFL BASICS with VoiceOver. I hear the alerts three times after checking or unchecking any of the checkboxes.

[2019-04-15 09:51] terracoda commented on #114
@zepumph, could you tell me how the model is handling the size of the force arrows?
For example, what are the relationships between Force and Position and Force and Mass.

For implementation should I just decide what force value range maps to the visual size I think should be described as :
- tiny
- very small
- small
- medium size
- large
- very large
- huge

This is a 7-point scale whereas descr

[2019-04-15 18:02] zepumph commented on #114
@terracoda here is what the logic looks like in REGULAR:
![image](https://user-images.githubusercontent.com/6856943/56152427-1b3d1d80-5f60-11e9-87a2-68e89df152c3.png)

In BASICS it uses a linear function based on the range of the force:
[code]

That maps the range into the indices from 0-6. My guess is that the `0.6` multiplier was empirically determined such that everything above that value is th

[2019-04-15 19:55] ariel-phet commented on #111
@Ashton-Morris @arouinfar @emily-phet

All seems pretty good...it took me a little while to verify that the drum beat related to mass changing was distinct from the force value changing.

My personal opinion would be to leave the sound related to force value for the "enhanced" sound. My reason is that the other sounds (like the drum beat, or the check box/reset all sounds) are less sustained than

[2019-04-15 20:05] emily-phet commented on #111
@arouinfar @ariel-phet
Thanks for your thoughts! Just jumping in here - @Ashton-Morris will probably respond as well - to ask for a little more elaboration on @ariel-phet's comment above.

Are you saying that the short continuation of the force sound after interaction is the 'sustain' that you feel could interfere with the mapping of that sound to the force value/concept? Just wanted to clarify be

[2019-04-15 20:26] zepumph commented on #117
@jessegreenberg and I saw this in OL, I think this may have to do with more general UtteranceQueue work.

[2019-04-15 20:37] terracoda commented on #114
Thanks @zepumph.

[2019-04-15 22:00] zepumph commented on #109
this should be fixed by work in https://github.com/phetsims/sun/issues/497. Marking on hold to confirm once that issue is taken care of.

[2019-04-15 22:19] Ashton-Morris commented on #111
@arouinfar We did discuss changing the volumes of the reset and the checkbox sounds and will look into that in the next meeting, thanks.

[2019-04-15 22:52] zepumph commented on #109
@terracoda I'm curious if this is fixed now. Can you confirm? In https://github.com/phetsims/sun/issues/497 we redesigned the number spinner HTML. There is still work to do to make sure that we have the best component possible, but does the current version have working aria-valuetext and does the other logic still work?

[2019-04-15 22:55] zepumph opened #119 "Make sure that this sim works with mobile"
I'm unsure about the priority of this, but I know that we don't currently support number pickers in a11y, and that should be solved by https://github.com/phetsims/sun/issues/499, but we should make sure to test this in general. Not sure what the priority is, but it should block publication.

[2019-04-16 00:18] jessegreenberg commented on #117
There were duplicates in the a11y view caused by changes in https://github.com/phetsims/scenery-phet/issues/490. We are still seeing check box related alerts get announced three times.

I noticed that `GFLBAlertManager.initialize()` is called in GFLBMassNode and in GFLBScreenView. Since there are two masses, that could explain why we are seeing three alerts.  When I change
[code]
to
[code]
in GFLB

[2019-04-16 22:01] terracoda commented on #109
I'll check as soon as I can.

Sent from my iPhone

[2019-04-18 02:22] ariel-phet commented on #111
@emily-phet said

Yes, that is correct. I don't necessarily think you need to change the force sound, but that would be my impetus for keeping it in the "enhanced" category. I think shortening it would make the bass sound of changing Mass and the force sound harder to distinguish. I can see why it was done the way it was, but I think it might be a little overwhelming for the casual user (or the on

[2019-04-20 20:05] terracoda commented on #109
A value is being read out, but the value is not `aria-valuetext`.
I hear the verbose `aria-valuetext` on focus and then I hear "3000000000", "4000000000", etc when I change the value. VoiceOver is reading out the value by digit, "three zero zero zero zero zero..."

Short answer, no, it's not working.

I GFL Regular, it works fine, but the mass control there is a slider, not a number spinner.

[2019-04-22 23:25] zepumph commented on #117
In https://github.com/phetsims/inverse-square-law-common/issues/63 I fixed the pattern so that alert managers are only created once. This should now be fixed. @jessegreenberg please review

[2019-04-23 13:17] terracoda commented on #118
@zepumph, do you need a visual for this?

[2019-04-23 15:33] jessegreenberg commented on #117
https://github.com/phetsims/inverse-square-law-common/issues/63 looks great @zepumph, and duplicate alerts are gone. Closing.

[2019-04-23 15:33] #117 closed

[2019-04-24 01:14] zepumph commented on #118
No visual needed, implemented both of them (as it was simple in the way it was set up).  Let me know what you think

[2019-04-24 05:26] zepumph opened #120 "min force arrows go below GFLBConstants.PULL_FORCE_RANGE.min"
@terracoda and I found a potential bug where the visual min force is .7N, but the min force outlined in the constants in 35. It seems like those should be the same. I wonder if this is a bug.

[2019-04-24 05:41] terracoda commented on #120
@zepumph I didn't see anything about a minimum force in the main design doc, just minimum mass and minimum distance.

minimum mass = 1 billion kg on each
minimum distance = 2.2 km (originally it was 2.5 km, but I think that was changed to 2.2 in our work and further refinement)

[2019-04-24 06:42] terracoda commented on #109
Just adding my GFLB comment here from phetsims/sun#497.
Once phetsims/sun#497 is implemented, we can choose the best label for this sim's Mass control:

[2019-04-24 15:26] terracoda commented on #120
Ooops, the minimum force would be a combo of min mass and max distance!

minimum mass = 1 billion kg on each
maximum distance = 9.6 km

With those numbers, is the min force 0.7 N?

[2019-04-25 08:21] terracoda commented on #118
@zepumph, sounds and looks great, but could you please put the "Toggle checkboxes" line just after the Press buttons and just before the Escape to exit dialog.

Apologies for not being explicit about the order in the original post.

[2019-04-26 12:02] terracoda opened #121 "I hear no alerts with VoiceOver, and random alerts heard in A11y View with VoiceOver"
Not sure what happened, I am no longer hearing any alerts using master and Voice Over, though when I use the A11y View with a screen reader, alerts are triggered very randomly. The alerts are firing, I can see them in the orange box, but they are not always being read out.

Is this related to recent work in phetsims/scenery-phet/issues/491?

Should I re-open that issue?

[2019-04-26 12:03] terracoda commented on #121
Tagging @jessegreenberg in case you have some insights.

[2019-04-26 12:07] terracoda opened #122 "Next interview Tuesday May 7"
Just an FYI, that I will need a working sim ported to sonification wrapper by end of day Friday May 3rd or end of Day Monday May 6th.

Interview is with a consultant to check about force focus alerts and qualitative distance.

[2019-04-26 12:09] terracoda commented on #122
I should have another consultant interview later in the week of May 6th as well.

[2019-04-26 12:15] terracoda commented on #121
Or could this issue be related to recent work in hphetsims/scenery-phet/issues/490?

[2019-04-26 12:16] terracoda commented on #121
Ooops, I didn't mean to close.

[2019-04-26 12:17] terracoda commented on #119
@terracoda is reviewing content changes that rely on Focus and Blur events :-)

[2019-04-26 12:36] jessegreenberg commented on #121
Hmm, thanks for reporting @terracoda, likely related to recent recent changes in https://github.com/phetsims/scenery-phet/issues/490.

[2019-04-26 14:22] terracoda commented on #114
@zepumph and @emily-phet I made a table that shows the ranges visually and descriptively here:
[https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.xv1hj7hfnqi8](https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit#heading=h.xv1hj7hfnqi8)

Do they seem right to both of you?

[2019-04-26 14:23] terracoda commented on #114
Notice I do not have the exact mathematical ranges as I can't reach them with the visual sim.

[2019-04-26 17:16] emily-phet commented on #114
This looks reasonable to me. You might check with @kathy-phet and @ariel-phet to see if they have any suggestions for the wording. Specifically "tiny" stands out to me as being reasonable, but perhaps they might be able to weigh on whether or not their might be a discrepancy with how they would talk about that range of magnitude for force.

I know the wording for those ranges have been around for

[2019-04-29 17:41] zepumph commented on #121
It also may be linked to https://github.com/phetsims/scenery-phet/issues/491

[2019-04-29 19:57] zepumph opened #123 "Factor out gravitation constant to common code"
GFLB and Gravity and Orbits both use the gravitational constant, but it is different in both, and neither are what most of the top google searches seem to dictate as `6.674(08) x 10-11`. After talking on slack with @samreid and @pixelzoom, I'm going to make `PHET_CORE/PhysicalConstants.js` to house numbers like these in the future. and move this use there.